@import "../../../../../theme/theme.scss";

.confluenceStatistics {
  display: flex;
  height: 100px;
  justify-content: space-between;

  .confluenceInfo {
    display: flex;
  }

  .deviceIcon {
    width: 170px;
    text-align: center;
    line-height: 100px;

    :global {
      .iconfont {
        font-size: 24px;
      }
    }
  }

  .line {
    height: 48px;
    width: 1px;
    margin-top: 30px;
    margin-left: 12px;
  }

  .elecInfo,
  .statisticsInfo {
    margin-top: 18px;
  }

  .eachRecord {
    display: flex;
    line-height: 36px;
    height: 36px;

    .text {
      display: inline-block;
      width: 68px;
      padding-left: 12px;
      margin-top: 4px;
    }
    
    .specialColor{
      color: #a22c30 !important;
    }

    .unit {
      margin-left: 4px;
      margin-top: 4px;
    }
    .tooltipName{
      margin-top: -5px;
      margin-left: 4px;
      color: #999;
      &:hover{
        color: #f9b600;
      }
    }
  }

  .elecInfo .eachRecord .text {
    width: 54px;
  }

  .seriesCurrent {
    display: flex;
    width: 400px;
    flex-wrap: wrap;

    &:before {
      // 利用伪元素实现高度居中适配。
      content: "";
      width: 400px;
      display: block;
    }

    .eachCurrent {
      width: 40px;
      height: 24px;
      line-height: 21px;
      text-align: center;
      border-radius: 2px;
      margin-right: 6px;
      user-select: none;

      &:nth-child(4n) {
        margin-right: 20px;
      }
    }
  }
}

.confluenceStatistics.light {
  // border-top: solid 1px $promptColor;
  border-bottom: solid 1px $promptColor;

  .deviceIcon {
    :global {
      .iconfont {
        color: $themeColor;
      }
    }
  }

  .line {
    background-color: $promptColor;
  }

  .eachRecord {
    color: $darkColor;
  }

  .seriesCurrent {
    .eachCurrent {
      background: #ceebe0;
      color: $themeColor;
    }
  }
}

.confluenceStatistics.dark {
  @import "../../../../../theme/darkTheme.scss";
  border: 1px solid $border-color;
  background: $light-background;
  margin-top: 10px;

  .deviceIcon {
    :global {
      .iconfont {
        color: $fontColor-hover;
      }
    }
  }

  .line {
    background-color: $border-color;
  }

  .eachRecord {
    color: $fontColor;
  }

  .seriesCurrent {
    .eachCurrent {
      background: #ceebe0;
      color: $themeColor;
    }
  }
}
