
@import '../../../../../theme/theme.scss';
.deviceMonitorHeader {
  height: 65px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .deviceChange{
    position: absolute;
    background-color: #fff;
    border: 1px solid $promptColor;
    z-index: 9999;
    left: 0px;
    top: 0px;
    width: 300px;
    max-height: calc(100vh - 83px);
    overflow: auto;
    .deviceTitle{
      color: $darkColor;
      font-size: 18px;
      height: 65px;
      line-height: 65px;
      margin-bottom: 0px;
      .titleIcon{
        cursor: pointer;
        margin-left: 32px;
        margin-right: 12px;
      }
    }
    .deviceList{
      display: flex;
      flex-wrap: wrap;
      .eachDevice{
        width: 50%;
        padding-left: 40px;
        cursor: pointer;
        color: $darkColor;
        height: 28px;
        line-height: 28px;
        &:hover{
          background-color: #eee;
        }
      }
    }
  }
  .deviceName{
    line-height: 65px;
    .swap{
      font-size: 18px;
      margin-left: 32px;
      color: $darkColor;
      cursor: pointer;
    }
    .name{
      font-size: 18px;
      margin-left: 12px;
      color: $darkColor;
    }
    .status{
      font-size: 14px;
      margin-left: 24px;
      color: $lightColor;
    }
  }
  .linkTo{
    margin-right: 36px;
    .eachLink{
      line-height: 65px;
      margin-right: 40px;
      .linkName{
        color: $darkColor;
      }
      .linkIcon{
        color: $lightColor;
      }
    }
  }
}

.alarmTable{
  border-top: solid 1px $promptColor;
  padding: 16px 68px 48px 68px;
  .alarmTip{
    height: 48px;
    line-height: 48px;
    i{
      border-radius: 50%;
      background-color: $promptColor;
      color: #fff;
    }
  }
  .tableHeader{
    display: flex;
    justify-content: space-between;
    height: 36px;
    line-height: 36px;
    .historyButton{
      height: 26px;
    }
  }
}

.pointData{
  background-color: #f8f8f8;
  padding: 20px 60px 80px 60px;
  .pointTitle{
    color: $darkColor;
  }
  .pointDataList{
    display: flex;
    flex-wrap: wrap;
    .eachGroup{
      min-width: 20%;
      padding-left: 20px;
      margin: 16px 0;
      border-right: dotted 1px $promptColor;
      .eachData{
        margin-bottom: 4px;
        p{
          color: $lightColor;
          margin-bottom: 0;
        }
      }
    }
    .eachGroup:last-child{
      border-right: none;
    }
  }
}