@import "../../../../theme/theme.scss";
.cleanoutRecordBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .cleanoutRecordContainer {
    @include contentBoxStyle();
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
}
