
@import '../../../../theme/theme.scss';

.warehouseManage{
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  .manageContainer{
    display: flex;
    flex: 1;
  }
  .listPage, .sidePage{
    @include contentBoxStyle();
    .listContent{
      background-color: #fff;
      flex: 1;
    }
  }
  .listPage .tabs{
    background:#f8f8f8;
    padding-left: 4px;
    display: flex;
    .active, .inactive{
      text-align: center;
      flex-basis: 120px;
      line-height: 34px;
    }
    .active{
      color: $themeColor;
      border-bottom: 2px solid $themeColor;
    }
    .inactive{
      cursor: pointer;
      color: $lightColor;
      border: none;
    }
  }
  .sidePage{
    z-index: 99;
  }
  .listContent, .sideContent{

  }
}
