@import "../../../../theme/theme.scss";

.searchStyle {
  display: flex;
  padding: 16px 0 14px 20px;
  border-bottom: 1px dashed $borderColor;

  .stationBox {
    display: flex;
    @include lineheight(32px);

    > span {
      margin-right: 4px;
    }

    .selectModalIcon {
      top: 0;
    }

    :global {
      .ant-select-selection {
        box-shadow: none;
        border: 1px solid $borderColor;
      }

      .ant-select-selection__placeholder {
        color: #999999 !important;
      }
    }

  }

  .workType {
    margin-left: 20px;
    display: flex;
    @include lineheight(32px);

    > span {
      margin-right: 4px;
    }

    :global {
      .ant-select-selection {
        border: 1px solid $borderColor;

        .ant-select-arrow {
          color: $lightColor;
        }
      }
    }
  }

  .creatTime {
    margin-left: 20px;
    display: flex;
    @include lineheight(32px);

    > span {
      margin-right: 4px;
    }

    :global {
      .ant-select-selection {
        border: 1px solid $borderColor;

        .ant-select-arrow {
          color: $lightColor;
        }
      }
    }
  }

  .otherTime {
    margin-left: 10px;

    :global {
      .ant-input {
        border: 1px solid $borderColor;

        input::-webkit-input-placeholder {
          color: $lightColor;
        }

        .ant-calendar-range-picker-separator {
          color: $lightColor;
        }

        .ant-calendar-picker-icon {
          color: $lightColor;
        }
      }
    }
  }
}

//常复用代码块：最大宽度+padding：30 = 500px
@mixin maxWidth() {
  width: max-content;
  max-width: 470px;
}

.searchTable {
  display: flex;
  flex-direction: column;
  flex: 1;

  .searchPage {
    display: flex;
    justify-content: flex-end;
    padding: 9px 0 11px;
  }

  .tableStyles {

    :global {
      .ant-table .ant-table-tbody > tr > td {
        padding: 0 20px 0 10px;
      }

      .ant-table .ant-table-thead > tr:last-child > th {
        border-bottom: none;
        position: sticky;
        z-index: 1;
        top: 0;
      }
    }
  }

  .tableScrollStyles {
    :global {
      .ant-table .ant-table-tbody > tr > td {
        padding: 0 20px 0 10px;
      }

      .ant-table .ant-table-thead > tr:last-child > th {
        border-bottom: none;
        position: sticky;
        z-index: 1;
        top: 0;

        &::after {
          content: "";
          position: absolute;
          left: 1px;
          top: calc(100% - 1px);
          width: calc(100% - 2px);
          height: 1px;
          background-color: $themeColor;
          box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.30);
        }
      }
    }
  }

  .projectCompany,
  .childName,
  .mainName,
  .workMajor {
    word-break: break-all;
    min-width: 70px;
    @include maxWidth();
  }

  .stationName {
    word-break: break-all;
    min-width: 130px;
    @include maxWidth();
  }

  .workCode {
    word-break: break-all;
    color: $themeColor;
    cursor: pointer;
    min-width: 150px;
    @include maxWidth();

    &:hover {
      color: #f9b600;
    }
  }

  .workDesc {
    word-break: break-all;
    width: 470px;
    @include overflowText();
  }

  .deviceCode {
    word-break: break-all;
    min-width: 120px;
    @include maxWidth();
  }

  .deviceName {
    word-break: break-all;
    min-width: 190px;
    @include maxWidth();
  }

  .workProcessType {
    word-break: break-all;
    min-width: 56px;
    @include maxWidth();
  }

  .creatName {
    word-break: break-all;
    min-width: 45px;
    @include maxWidth();
  }

  .statusName {
    word-break: break-all;
    min-width: 60px;
    @include maxWidth();
  }

  .dutyName {
    word-break: break-all;
    min-width: 95px;
    @include maxWidth();
  }

  .isGetName {
    width: 70px;
  }

  .creatTimeName,
  .closeTime {
    width: max-content;
    min-width: 150px;
    padding: 0 10px;
  }

  .noPaddingBox {
    padding: 0 !important;
  }
}
