

.contentLayout{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  background-color: #f0f2f5;
  .contentBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding:15px 24px 0;
    z-index: 2;
  }
}
