@import '../../../../../../theme/theme.scss';

:global {
  .ant-modal-close{
    display: none;
  }
}

.cancelContent {
  width: 100%;
  i{
    color: #f9b600;
    font-size: 16px;
  }
  span{
    padding-left: 10px;
  }
}

