.UnhandleBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .unhandleMain,.unhandleSide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    padding: 15px 24px 0;
  }
  .unhandleMain {
    
    .selectCondition {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0 15px;
      .pagination{
        margin-right: 0;
      }
    }
    :global {
      .ant-table-selection{
        width:50px;
      }
    }
    .iconDetail {
      span {
        display: block;
        cursor: pointer;
      }
    }

    .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
       @include overflowText();
    }

    .stationName,.belongMatrix,.parentDeviceName,.deviceName,.lostGenPercent{
      width:14%;
    }
    .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
      max-width: calc((100vw - 230px) * 0.15 - 20px);
    }
    .happenTime,.iconDetail{
      width:14%;
    }
    .icon{
      width:30px;
      height: 30px;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .unhandleSide {
    .tempWrap{
      display: flex;
      flex-direction: column;
      flex:1;
    }
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 64px;
      line-height: 64px;
      padding-left: 41px;
      align-items: center;
      font-size: 18px;
      .warnButton {
        margin-left: 30px;
        font-size: 14px;
      }
      .backIcon {
        @include backIcon();
      }
    }
    .detail {
      display: flex;
      height: 53px;
      align-items: center;
      line-height: 53px;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      p {
        margin-bottom: 0;
      }
    }
    .chartTop {
      margin: 0 20px;
      display: flex;
      padding: 0 20px;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      :global {
        .ant-input {
          width: 210px;
        }
      }
    }
    .chartCont {
      display: flex;
      flex: 1;
      height: 500px;
      padding: 0 20px;
      > div {
        display: flex;
        flex: 1;
      }
    }
  }
}

.stationModal {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
  .reasonItem {
    display: flex;
    flex-direction: column;
    .title {
      line-height: 52px;
      padding-left: 31px;
    }
    .label {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 31px;
      .timeline {
        display: flex;
        flex: 1;
        flex-direction: row;
        .labels {
          margin-right: 4px;
          line-height: 30px;
          margin-bottom: 0;
        }
      }
      .ignoreReason {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 20px;
        .ignoreReasonTop {
          display: flex;
          flex: 1;
          .labels {
            display: flex;
            margin-right: 4px;
            line-height: 30px;
            margin-bottom: 0;
          }
        }
      }
      .handlerBtn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        line-height: 50px;
        padding-right: 20px;

        >span{
          cursor: pointer;
          margin-right: 10px;
          color: var(--themeColor);

          &:hover{
            color: #f9b600;
          }
        }
      }
    }
    .reasonName {
      display: flex;
      flex-wrap: wrap;
    }
    .descripe {
      margin-left: 68px;
      margin-top: 16px;
      margin-bottom: 20px;
    }
  }
  :global{
    .ant-radio-group .ant-radio-button-wrapper{
      margin: 5px 2px;
      &:not(:first-child)::before{
         background: var(--themeColor);
      }
    }
  }
}
