@import "../../../../theme/theme";
@import "./layout.scss";
.light {
  .unhandleMain {
    background: #f0f2f5;
    .filterCondition{
      background:#ffffff;
      box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    }
    .wrap {
      background: #fff;
      box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    }
    .selectCondition {
      border-top: 1px solid var(--promptColor);
    }
    .icon {
       color: var(--themeColor);
       &:hover{
          color: #ff9900;
      }
    }
  }
  .unhandleSide {
    .tempWrap{
       box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
       background: #fff;
    }
    .top {
      border-bottom: 1px solid var(--promptColor);
     
      .warnButton {
        border-color: var(--themeColor);
        color: var(--themeColor);
        &:hover {
          background: var(--themeColor);
          color: #fff;
        }
      }
    }
    .chartTop {
      background: var(--promptColor);
    }
  }
  .stationModal {
    :global {
      .ant-modal-footer {
        background: #f1f1f1;
      }
    }
    .reasonItem {
      .title {
        border-bottom: 1px solid var(--promptColor);
      }
      .label {
        .labels {
          span {
            color: red;
          }
        }
      }
    }
  }
}

