@import '../../../../theme/theme';
.UnhandleBox{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  background: #fff;
  .selectCondition{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 26px 28px 20px;
    border-top:1px solid $promptColor;
  }
}