@import '../../../../../theme/theme.scss';
.pvStation {
    background: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    .headStation {
        border-bottom: 1px dashed #dfdfdf;
        height: 108px;
        display: flex;
        color: $darkColor;
        flex-direction: row;
        padding: 20px;
        .leftIcon {
            width: 31px;
            height: 60px;
            background: url('/img/pv01.png') no-repeat center;
        }
        .allStaionStatic{
            :global {
                .ant-popover-inner-content {
                    background: #f8f8f8;
                    box-shadow:0 0 6px 0 rgba(0,0,0,0.30);
                }
            }
            .poverItem{
                display: flex;
                flex: 1;
                justify-content: space-between;
                color:#666666;
                min-width: 180px;
                padding-right: 20px;
                i{
                    font-style: normal;
                    text-align: right;
                    display: inline-block;
                }
                p{
                    text-align: right;
                    margin-bottom: 0;
                }
                span{
                    color: $themeColor;
                }
                .unit{
                    width: 27px;
                    display: inline-block;
                    margin-left: 4px;
                    text-align: left;
                    color:#666666;
                }
            }
        }

        .dataColumn {
            display: flex;
            flex-direction: column;
            // line-height: 36px;
            padding: 0 12px;
            border-right: 1px solid #dfdfdf;
            min-width: 175px;
            >span{
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                border: none
            }

            .dataValue {
                color: $themeColor;
                font-size: 24px;
                text-align: left;
                padding: 0 4px;
                line-height: 30px;
            }

            .radiation {
                color: #f9b600;
            }

            .stationPower {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                min-width: 230px;
                line-height: 30px;
                >div {
                    margin-right: 10
                }
            }
        }

        .typeIcon {
            width: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .StationTitle{
        display: flex;
        // flex: 1;
        align-items: center;
        justify-content: space-between;
        line-height: 48px;
        border:1px dashed #dfdfdf;
        :global{
            .iconTab{
               height: 48px;
               width: 55px; 
               background: #f1f1f1;
               color: #666;
               display:inline-block;
               text-align: center;
               font-size: 16px; 
               cursor: pointer;
               &:hover{
                background:$themeColor;
                color: #fff;
               }
            }
            .ant-switch {
                vertical-align: -5px;
            }
            .ant-radio-button-wrapper {
                height: 24px;
                line-height: 24px;
                padding: 0 8px;
            }
            .ant-radio-button-wrapper:hover,
            .ant-radio-button-wrapper-focused {
                color: #199475;
            }
        }
        .activeCard{
            background:$themeColor;
            color: #fff;
        }
    }
    .stationCardContainer{
        margin-bottom: 40px;
        .filterCondition{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 17px 31px 0 21px;
            border:1px solid #dfdfdf;
            padding: 4px 10px 4px 4px;
            .sortCondition{
                display: flex;
                .sortStatus{
                    line-height: 30px;
                    padding: 0 12px;
                    cursor: pointer;
                }
                .activeSortStatus{
                    color: $themeColor;
                    position: relative;
                    :global{
                        .iconfont{
                            display: inline-block;
                            color: $themeColor;
                            font-size: 14px;
                            position: absolute;
                            right:-5px;
                            top:0;
                        }
                    }
                    .ascend{
                        transform: rotate(90deg)
                    }
                    .descend{
                        transform: rotate(-90deg)
                    }
                }
            }
        }
        .staionsListBox{
            .staionsList{
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                align-self: flex-start;
            }
            .regionName{
                margin: 12px 0 -8px 39px;
                color:#000000;
            }
            .staionCard{
                margin: 20px 0 0 39px;
                width: 339px;
                height: 319px;
                border-radius: 4px;
                color: $darkColor;
                background: #ffffff;
                border:1px solid #dfdfdf;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                &:hover{
                    box-shadow:0 0 6px 2px rgba(0,0,0,0.20);
                }
                a{
                    text-decoration: none;
                    color: $darkColor;
                }
                .linkBox{
                    flex: 1;
                }
                .stationTop{
                    line-height: 34px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 12px;
                    .stationName{
                        width:100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .staionCapacity{
                        display: flex;
                        justify-content: space-around;
                    }
                    .stationUnitCount{
                        margin-left: 8px;
                    }
                }
                .changeNum{
                    color: $themeColor;
                }
                .staionCenter{
                    display: flex;
                    justify-content: space-between;
                    margin: 4px 8px;
                    line-height: 30px;
                    border-bottom: 1px solid #dfdfdf;
                    .column{
                        display: flex;
                    }
                    .staionCenterLeft{
                        .dataName{
                            width:60px;
                            margin-right: 6px;
                        }
                    }
                    .staionCenterRight{
                        .dataName{
                            width:70px;
                            margin-right: 6px;
                        }
                    }
                }
                .chart{
                    height:176px;
                    display: flex;
                    // background: pink;                   
                }
                .bottom{
                    display: flex;
                    align-items: center;
                    flex: 1;
                    border-top: 1px solid #dfdfdf;
                    margin: 0 12px;
                    .dataColumn{
                        flex: 1 auto;
                        justify-content: center;
                        border-right: 1px solid #dfdfdf;
                        display: flex;
                        &:last-child{
                            border: none;
                        }
                    }
                    
                    
                }
            }
            .normal,.interrupt{
                cursor: pointer;
                .stationTop{
                    background:#f0f2f5;
                }
                .bottom{
                    .red{
                        color:#a42b2c;  
                        margin-left: 4px;
                    }
                    .grey{
                        color:#666666;
                        margin-left: 4px;
                    }
                }
            }
           
            .normal{ // 正常的状态
                .stationTop{
                    background:#ceebe0;
                }
                .stationName{
                    color: $themeColor;
                }

            }
      
            .alarm{
                .stationTop{
                    background:#d01b31;
                    color: #fff;
                    .changeNum{
                        color: #fff;
                    }
                }
                .stationName{
                    color: #fff;
                }
                :global{
                    .iconfont{
                        margin-left: 4px;
                    }
                }
            }

            .interrupt { // 通讯中断
                .stationTop{
                    background:#e08031;
                    color: #fff;
                    .changeNum{
                        color: #fff;
                    }
                }
                .stationName{
                    color: #fff;
                }
                :global{
                    .iconfont{
                        margin-left: 4px;
                    }
                }
            }
            
            
            .notConnected { //  通讯中断
                background: #f8f8f8;
                cursor: default;
                opacity: 0.6;
                pointer-events: none;
                
            }

        }
    }
    .pvStationList {
        flex: 1;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: underline;
            color: rgba(0, 0, 0, 0.65);

            &:hover {
                color: $themeColor;
            }
        }

        .pagination {
            a {
                text-decoration: none;
            }

            height: 45px;
            display: flex;
            justify-content: flex-end;
            line-height: 45px;
        }

        .stationName {
            width: 70px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $themeColor;
            }
        }

        .stationrovince {
            width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .numberStyle {
            text-align: right
        }
        @mixin statusBox {
            width: 5px;
            height: 20px;
            border-radius: 2px;
        }
        .currentStation{
            display: flex;
            justify-content: center;
        }
        .normal{background: $themeColor;@include statusBox();}
        .interrupt{background: #f9b600;@include statusBox()}
        .notConnected{background: #f8f8f8;@include statusBox()}
    }
    .pvStationCont{
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        .detailShow{
            position: absolute;
            right: 0;
            top: 90px;
            background:#199475;
            border-radius:4px;
            width:40px;
            height:158px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 12px 0;
            cursor: pointer;
            .detailShowfont{
                color: #fff;
                width: 14px;
                line-height: 20px;
                z-index: 66;
            }
            .show{
                transform: translate(-180deg)
            }
            :global{
                .iconfont{
                    width: 14px;
                    height: 18px;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 13px;
                }
            }
        }
    }

    .pvContainer{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex: 1;
    }
    
    :global{
        .ant-table .ant-table-thead>tr>th,
        .ant-table .ant-table-tbody>tr>td {
            padding: 0px 5px;
            height: 40px;
            line-height: 30px;
        }
        .ant-table-placeholder {
            border: none;
        }
    }
  
    @mixin propContainer() {

        // 卡片样式
        .popover {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            .name {
                text-align: center;
                color: #000;
            }

            .poNomal,
            .poInterrupt {
                color: $themeColor;
                text-align: center;
                line-height: 33px;
            }

            .poInterrupt {
                color: #f9b600;
            }

            .value {
                color: $themeColor;
            }

            & .popColumn:nth-child(2n-1) {
                background: #fff;
            }

            & .popColumn:nth-child(2n) {
                background: #f8f8f8;
            }

            .popContainer {
                background: pink
            }

            .popColumn {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 16px;
            }

            .unit {
                width: 27px;
                display: inline-block;
                margin-left: 6px;
            }
        }
    }
    
    .pvStationMap{  // 地图
        position: relative;
        .mapChart {
            display: flex;
            flex: 1;
            height: 855px;
            @include propContainer();
            z-index: 1;
            .popover {
                width: 235px;
                margin-bottom: 20px;
                color: #666;
            }
        }
        .backChina{
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 20px;
            z-index: 10;
        }
    }

    .tooltipBox { // 提示框
        width: 150px;
        .axisValue {
            border-bottom: 1px solid #dfdfdf;
            padding: 0 30px 0 10px;
            line-height: 26px;
        }
        .tooltipContainer {
            padding: 10px 0;
        }
        .tooltipCont {
            span {
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                vertical-align: 2px;
                margin: 0 4px 0 8px;
            }
        }
    }

    .noData {
        flex: 1;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
     
}