@import "../../../../../theme/theme.scss";
@import "./pvStationLayout.scss";

.light {
  background: #fff;
  .headStation {
    border-bottom: 1px dashed #dfdfdf;
    color: $darkColor;
    .leftIcon {
      color: $themeColor;
    }

    .dataColumn {
      border-right: 1px solid #dfdfdf;
      &:last-child {
        border: none;
      }
      .dataValue {
        color: $themeColor;
      }
      // .radiation {
      //   color: #f9b600;
      // }
    }
  }
  .StationTitle {
    border: 1px dashed #dfdfdf;
    :global {
      .iconTab {
        background: #f1f1f1;
        color: #666;
        &:hover {
          background: $themeColor;
          color: #fff;
        }
      }
      .ant-switch {
        vertical-align: -5px;
      }
      .ant-radio-button-wrapper {
        height: 24px;
        line-height: 24px;
        padding: 0 8px;
      }
      .ant-radio-button-wrapper:hover,
      .ant-radio-button-wrapper-focused {
        color: $themeColor;
      }
    }
    .activeCard {
      background: $themeColor;
      color: #fff;
    }
  }
  .stationCardContainer {
    .filterCondition {
      border: 1px solid #dfdfdf;
      .sortCondition {
        display: flex;
        .activeSortStatus {
          color: $themeColor;
          :global {
            .iconfont {
              color: $themeColor;
            }
          }
        }
      }
    }
    .staionsListBox {
      .regionName {
        color: #000000;
      }
      .staionCard {
        color: $darkColor;
        background: #ffffff;
        border: 1px solid #dfdfdf;
        &:hover {
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
        }
        a {
          color: $darkColor;
        }
        .changeNum {
          color: $themeColor;
        }
        .staionCenter {
          border-bottom: 1px solid #dfdfdf;
        }
        .bottom {
          border-top: 1px solid #dfdfdf;
          .dataColumn {
            border-right: 1px solid #dfdfdf;
            &:last-child {
              border: none;
            }
          }
        }
      }

      .normal,
      .interrupt {
        .stationTop {
          background: #f0f2f5;
        }
        .bottom {
          .red {
            color: #a42b2c;
          }
          .grey {
            color: #666666;
          }
        }
      }

      .normal {
        // 正常的状态
        .stationTop {
          background: #ceebe0;
        }
        .stationName {
          color: $themeColor;
        }
      }

      .alarm {
        .stationTop {
          background: #d01b31;
          color: #fff;
          .changeNum {
            color: #fff;
          }
        }
        .stationName {
          color: #fff;
        }
      }

      .interrupt {
        // 通讯中断
        .stationTop {
          background: #e08031;
          color: #fff;
          .changeNum {
            color: #fff;
          }
        }
        .stationName {
          color: #fff;
        }
      }

      .notConnected {
        background: #f8f8f8;
      }
    }
  }

  .pvStationList {
    flex: 1;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.65);

      &:hover {
        color: $themeColor;
      }
    }

    .pagination {
      a {
        text-decoration: none;
      }

      height: 45px;
      display: flex;
      justify-content: flex-end;
      line-height: 45px;
    }

    .stationName {
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $themeColor;
      }
    }

    .stationrovince {
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .numberStyle {
      text-align: right;
    }
    @mixin statusBox {
      width: 5px;
      height: 20px;
      border-radius: 2px;
    }
    .currentStation {
      display: flex;
      justify-content: center;
    }
    .normal {
      background: $themeColor;
      @include statusBox();
    }
    .interrupt {
      background: #f9b600;
      @include statusBox();
    }
    .notConnected {
      background: #f8f8f8;
      @include statusBox();
    }
  }

  .pvStationCont {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    .detailShow {
      background: $themeColor;
      .detailShowfont {
        color: #fff;
      }
      :global {
        .iconfont {
          color: #fff;
        }
      }
    }
  }

  .pvContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
  }
  :global {
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td {
      padding: 0px 5px;
      height: 40px;
      line-height: 30px;
    }
    .ant-table-placeholder {
      border: none;
    }
  }
  @mixin propContainer() {
    // 卡片样式
    .popover {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .name {
        text-align: center;
        color: #000;
      }

      .poNomal,
      .poInterrupt {
        color: $themeColor;
        text-align: center;
        line-height: 33px;
      }

      .poInterrupt {
        color: #f9b600;
      }

      .value {
        color: $themeColor;
      }

      & .popColumn:nth-child(2n-1) {
        background: #fff;
      }

      & .popColumn:nth-child(2n) {
        background: #f8f8f8;
      }

      .popContainer {
        background: pink;
      }

      .popColumn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
      }

      .unit {
        width: 27px;
        display: inline-block;
        margin-left: 6px;
      }
    }
  }

  .pvStationMap {
    // 地图
    position: relative;
    .mapChart {
      display: flex;
      flex: 1;
      height: 855px;
      @include propContainer();
      z-index: 1;
      .popover {
        width: 235px;
        margin-bottom: 20px;
        color: #666;
      }
    }
    .backChina {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 20px;
      z-index: 10;
    }
  }

  .tooltipBox {
    // 提示框
    width: 150px;
    .axisValue {
      border-bottom: 1px solid #dfdfdf;
      padding: 0 30px 0 10px;
      line-height: 26px;
    }
    .tooltipContainer {
      padding: 10px 0;
    }
    .tooltipCont {
      span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        vertical-align: 2px;
        margin: 0 4px 0 8px;
      }
    }
  }

  .noData {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  background: $background;
  .headStation {
    border: 1px solid $border-color;
    color: $fontColor;
    background: $light-background;
    border-top: none;
    .leftIcon {
      color: $fontColor-hover;
    }
    .dataColumn {
      border-right: 1px solid $border-color;
      &:last-child {
        border: none;
      }
      .dataValue {
        color: $fontColor-hover;
      }
      // .radiation {
      //   color: #f8b14e;
      // }
    }
  }

  .StationTitle {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    color: $fontColor;
    .tabs {
      margin-left: 25px;
    }
    :global {
      .iconTab {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: $button-primary;
        color: $fontColor-invert;
        &:hover {
          background: $button-active;
          color: $button-primary;
        }
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }
    .activeCard {
      background: $button-active;
      color: $button-primary;
    }
  }

  .pvContainer {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    color: $fontColor;
  }

  // 卡片
  .stationCardContainer {
    .filterCondition {
      border: none;
      .activeSortStatus {
        color: $fontColor-hover;
        :global {
          .iconfont {
            color: $fontColor-hover;
          }
        }
      }
    }
    .staionsListBox {
      .regionName {
        margin: 12px 0 -8px 39px;
        color: $fontColor;
      }

      .staionCard {
        color: $fontColor;
        background: $light-background;
        border: 1px solid $border-color;
        &:hover {
          box-shadow: inset 0 0 5px 2px #5368f1;
        }
        a {
          color: $fontColor;
        }
        .changeNum {
          color: $fontColor-invert;
        }
        .staionCenter {
          border-bottom: 1px solid $border-color;
        }
        .chart {
          padding: 0 5px;
        }
        .bottom {
          color: $fontColor;
          border-top: 1px solid $border-color;
          .dataColumn {
            border-right: 1px solid $border-color;
          }
        }
      }

      .normal,
      .interrupt {
        .stationTop {
          background: #f0f2f5;
        }
        .red {
          color: #f8e71c;
        }
        .grey {
          color: $fontColor;
        }
      }

      .normal {
        // 正常的状态
        .stationTop {
          background: #205bac;
        }
        .stationName {
          color: $themeColor;
        }
      }

      .alarm {
        color: $fontColor-invert;
        background: rgba(145, 44, 65, 0.8);
        border: 1px solid #ffa1ac;
        &:hover {
          box-shadow: inset 0 0 5px 2px #ffa1ac;
        }
        // 通讯中断
        .stationTop {
          background: #fd6e8f;
          color: $fontColor-invert;
          .changeNum {
            color: $fontColor-hover;
          }
        }
        .stationName {
          color: $fontColor-invert;
        }
        .staionCenter {
          color: $fontColor-invert;
          border-bottom: 1px solid #fd6e8f;
          .changeNum {
            color: $fontColor-hover;
          }
        }

        .bottom {
          border-top: 1px solid #fd6e8f;
          a {
            color: $fontColor-invert;
          }
          .dataColumn {
            border-right: 1px solid #fd6e8f;
          }
        }
        .grey {
          color: $fontColor-invert;
        }
      }

      .interrupt {
        color: $fontColor-invert;
        background: #4a4343;
        border: 1px solid #4a4343;
        &:hover {
          box-shadow: inset 0 0 5px 2px #f8b14e;
        }
        // 通讯中断
        .stationTop {
          background: #f8b14e;
          color: $fontColor-invert;
          .changeNum {
            color: $fontColor-hover;
          }
        }
        .stationName {
          color: $fontColor-invert;
        }
        .staionCenter {
          color: $fontColor-invert;
          border-bottom: 1px solid #af9a40;
          .changeNum {
            color: $fontColor-hover;
          }
        }

        .bottom {
          border-top: 1px solid #af9a40;
          a {
            color: $fontColor-invert;
          }
          .dataColumn {
            border-right: 1px solid #af9a40;
          }
        }
        .grey {
          color: $fontColor-invert;
        }
      }

      .notConnected {
        opacity: 0.6;
        background: #181a4e;
        border: 1px solid #7088c3;
        color: #bbcef7;
        .changeNum {
          color: #bbcef7;
        }
        a {
          color: #bbcef7;
        }
      }
    }
  }

  .pvStationList {
    .stationName {
      color: $fontColor;
      &:hover {
        color: $fontColor-hover;
      }
      a {
        text-decoration: underline;
      }
    }

    .normal {
      background: $themeColor;
    }
    .interrupt {
      background: #f9b600;
    }
    .notConnected {
      background: #f8f8f8;
    }
  }

  .pvStationCont {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
    .detailShow {
      background: $button-primary;
      .detailShowfont {
        color: $fontColor-invert;
      }
      :global {
        .iconfont {
          color: $fontColor-invert;
        }
      }
    }
  }
  .pvContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
  }
  :global {
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td {
      padding: 0px 5px;
      height: 40px;
      line-height: 30px;
    }
    .ant-table-placeholder {
      border: none;
    }
  }
  @mixin propContainer() {
    // 卡片样式
    .popover {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .name {
        text-align: center;
        color: #000;
      }

      .poNomal,
      .poInterrupt {
        color: $themeColor;
        text-align: center;
        line-height: 33px;
      }

      .poInterrupt {
        color: #f9b600;
      }

      .value {
        color: $themeColor;
      }

      & .popColumn:nth-child(2n-1) {
        background: #fff;
      }

      & .popColumn:nth-child(2n) {
        background: #f8f8f8;
      }

      .popContainer {
        background: pink;
      }

      .popColumn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 16px;
      }

      .unit {
        width: 27px;
        display: inline-block;
        margin-left: 6px;
      }
    }
  }

  .pvStationMap {
    // 地图
    position: relative;
    .mapChart {
      display: flex;
      flex: 1;
      height: 855px;
      @include propContainer();
      z-index: 1;
      .popover {
        width: 235px;
        margin-bottom: 20px;
        color: #666;
      }
    }
    .backChina {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 20px;
      z-index: 10;
    }
  }

  .tooltipBox {
    color: #c1d4fc;
    font-size: 12px;
    .axisValue {
      border-bottom: 1px solid $border-color;
    }
  }
}
