@import "../../../../../theme/theme.scss";
// 复用代码块：
@mixin btnCommon() {
  width: 92px;
  // 按钮重复样式
  display: inline-block;
  vertical-align: top;
  height: 30px;
  margin-left: 8px;
  letter-spacing: 1px;
  padding: 0 15px 0 7px;
  transition: all .4s;
  position: relative;
  font-size: 14px;
  border-radius: 2px;
}

@mixin btnScale() {
  // 按钮动画重复样式
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  opacity: 0;
  transition: all .6s;
}

.meterTop {
  display: flex;
  justify-content: space-between;

  .meterTopTitle {
    display: flex;

    .titleBox {
      width: 25px;
      @include lineheight(25px);
      text-align: center;
      background-color: $themeColor;
      color: #fff;
      margin-right: 5px;
    }

    span {
      color: $themeColor;
      font-size: 18px;
      font-family: PingFangSC-Regular, serif;
    }
  }

  .meterTopBtn {
    display: flex;

    .btnBox {
      .btnGreen {
        @include btnCommon();
        color: $themeColor;
        background: rgba(206, 235, 224, 0.30);
        box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.50);
        border: 1px solid $themeColor;
      }

      .btnOrange {
        @include btnCommon();
        color: #ff9900;
        background: rgba(255, 218, 175, 0.30);
        box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.50);
        border: 1px solid #ff9900;
      }

      .disableBtnOrange {
        @include btnCommon();
        letter-spacing: 0;
        background: #f1f1f1;
        border: 1px solid #d4d4d4;
        box-shadow: inset 1px 1px 0 0 #ffffff;
        color: #999999;
        transition: all 0s;
        cursor: no-drop;

        span {
          font-family: PingFangSC-Regular, serif;
        }
      }

      .am {
        overflow: hidden;
      }

      .amGreenScale:before {
        @include btnScale();
        background: $slideSelectColor;

      }

      .amOrangeScale:before {
        @include btnScale();
        background: #fadbb5;
      }

      .am:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
      }

      .amGreenScale:hover:before {
        width: 120%;
        height: 200%;
        opacity: 1;
      }

      .amOrangeScale:hover:before {
        width: 120%;
        height: 200%;
        opacity: 1;
      }

      .am > span {
        letter-spacing: normal;
        position: relative;
        z-index: 2;
      }
    }

    .btnBack {
      margin-left: 28px;

      i {
        cursor: pointer;
        font-size: 18px;
        color: $themeColor;
        -webkit-background-clip: text;

        &:hover {
          background: linear-gradient(0deg, #00baff 1%, #5beda9 100%);
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
