
@import '../../../../../../theme/theme.scss';

.listDepartmentName{ // 顶部 icon 及部门名称
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  .parentName{
    margin: 0 8px;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.departmentStation{ // 负责电站栏目
  display: flex;
  padding: 6px 20px 6px 24px;
  .stationTips{
    flex: 0 0 auto;
  }
  .stationNames{
    flex: 1;
    word-break: break-all;
  }
  .editButton{
    flex: 0 0 auto;
    margin-left: 4px;
    text-align: right;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.listSearch{ // 条件搜索： 姓名， 电话， 负责电站
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 24px;
  .searchTitle{
    margin-right: 4px;
  }
  input{
    margin-right: 20px;
    &:last-of-type{
      margin-right: 10px;
    }
  }
  .reset{
    margin-left: 20px;
    cursor: pointer;
  }
}

.listHandle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 24px;
  .leftHandle{
    height: 56px;
    flex: 0 0 300px;
    display: flex;
    align-items: center;
  }
}

.listFooter{
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 30px;
  .footerValue{
    margin: 0 4px;
  }
  .cancel{
    margin-left: 24px;
    cursor: pointer;
  }
}

.icon{
  margin-right: 6px;
  font-size: 14px;
}

// 颜色部分
.listDepartmentName{
  .parentName{
    color: $lightColor;
  }
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.departmentStation{
  border-top: 1px solid $promptColor;
  border-bottom: 1px solid $promptColor;
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.listSearch{
  background:#f9f9f9;
  .reset{
    color: $themeColor;
  }
}

.listFooter{
  color: $lightColor;
  .footerValue{
    color: rgb(249, 182, 0);
  }
  .cancel{
    color: $themeColor;
  }
}

