
@import '../../../../../../theme/theme.scss';

.listDepartmentName{
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  .parentName{
    margin: 0 8px;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.departmentStation{
  display: flex;
  padding: 6px 20px 6px 24px;
  .stationTips{
    flex: 0 0 auto;
  }
  .stationNames{
    flex: 1;
    word-break: break-all;
  }
  .editButton{
    flex: 0 0 auto;
    margin-left: 4px;
    text-align: right;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.listFooter{
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 30px;
  .footerValue{
    margin: 0 4px;
  }
  .cancel{
    margin-left: 24px;
    cursor: pointer;
  }
}

.listDepartmentName{
  .parentName{
    color: $lightColor;
  }
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.departmentStation{
  border-top: 1px solid $promptColor;
  border-bottom: 1px solid $promptColor;
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.listFooter{
  color: $lightColor;
  .footerValue{
    color: rgb(249, 182, 0);
  }
  .cancel{
    color: $themeColor;
  }
}

