
@import '../../../../../../theme/theme.scss';

.listDepartmentName{ // 顶部 icon 及部门名称
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  .parentName{
    margin: 0 8px;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.departmentStation{ // 负责电站栏目
  display: flex;
  padding: 6px 20px 6px 24px;
  .stationTips{
    flex: 0 0 auto;
  }
  .stationNames{
    flex: 1;
    word-break: break-all;
  }
  .editButton{
    flex: 0 0 auto;
    margin-left: 4px;
    text-align: right;
  }
  :global{
    .iconfont{
      text-align: center;
      flex-basis:24px;
      height:24px;
      margin-right: 8px;
    }
  }
}

.listSearch{ // 条件搜索： 姓名， 电话， 负责电站
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 24px;
  min-width: 800px;
  .searchTitle{
    margin-right: 4px;
  }
  input{
    margin-right: 20px;
    &:last-of-type{
      margin-right: 10px;
    }
  }
  .reset{
    margin-left: 20px;
    cursor: pointer;
  }
}

.listHandle{ // 添加人员， 操作，分页器
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 24px;
  min-width: 800px;
  .leftHandle{
    height: 56px;
    flex: 0 0 300px;
    display: flex;
    align-items: center;
  }
}
.personnelMain {
.listMain{ // 表格部分
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-top: none;
  min-width: 840px;
  box-shadow: 0 -2px 4px 2px rgba(208, 208, 208, 0.6);
  :global {
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td {
      &:last-child {
        padding-right: 10px;
      }
    }
  }

  .username{
    cursor: pointer;
    // line-height: 40px;
    width: inherit;
    height: 30px;
    line-height: 30px;
    &:hover{
      text-decoration: underline;
      color: #60C060;
    }
  }
  .phoneNum {
    text-align: right;
  }
  .enterpriseStatus {
    text-align: center;
  }
  .handleBox {
    text-align: center;
    .handle{
      :global{
        .iconfont{
          margin-right: 12px;
          cursor: pointer;
          &:last-of-type{
            margin-right: 4px;
          }
        }
        .icon-examine1, .icon-bumenx{
          font-size: 14px;
        }
      }
    }
  }
}
}

.listFooter{ // 地步选中项，取消选择
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 0 30px;
  background-color: transparent;
  .footerValue{
    margin: 0 4px;
  }
  .cancel{
    margin-left: 24px;
    cursor: pointer;
  }
}

.icon{
  margin-right: 6px;
  font-size: 14px;
}

// 颜色部分
.listDepartmentName{
  .parentName{
    color: $lightColor;
  }
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.departmentStation{
  border-top: 1px solid $promptColor;
  border-bottom: 1px solid $promptColor;
  :global{
    .iconfont{
      background-color: $themeColor;
      color: #fff;
    }
  }
}

.listSearch{
  background:#f9f9f9;
  .reset{
    color: $themeColor;
  }
}

.listMain{
  .toExamine{
    color:#e08031;
  }
}

.listFooter{
  color: $lightColor;
  .footerValue{
    color: rgb(249, 182, 0);
  }
  .cancel{
    color: $themeColor;
  }
}