@import '../../../../../theme/theme.scss';
.inspectCreateForm{
  display: flex;
  flex-direction: column;
  flex: 1;
  .tipText {
    color: $promptColor;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    :global {
      .icon-filter{
        font-size: 14px;
        color: $promptColor;
      }
    }
  }
  :global {
    
    .ant-form-item {
      display: flex;
      .ant-form-item-label {
        width: 76px;
        margin-right: 12px;
        display: flex;
        justify-content: flex-end;
        label {
          color: $darkColor;
        }
      }
      .ant-select-auto-complete.ant-select:not(.ant-select-disabed) .ant-input:hover {
        border-color: $promptColor;
      }
      .ant-form-item-children {
        display: flex
      }
    }
    .ant-radio-button-wrapper {
      padding: 0 8px; 
      color: $darkColor;
    }
    .ant-radio-button-wrapper-checked {
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #fff;
    }
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
      color:$promptColor;
    }
    input:-moz-placeholder, textarea:-moz-placeholder { 
      color: $promptColor; 
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
      color: $promptColor; 
    } 
  }
  .actionBar {
    margin-left: 88px;
    .saveBtn {
      border-color: $themeColor;
      color: $themeColor;
      margin-right: 20px;
    }
    button {
      &:hover {
        background-color: $themeColor;
        box-shadow:0 2px 8px 0 rgba(0,0,0,0.20);
        color: #fff;
      }
    }
  }
  .addTips {
    margin-top: 10px;
    font-size: 12px;
    color: #d4d4d4;
    display: flex;
    margin-left: 88px;
    flex-direction: column;
    >span {
      display: inline-block;
      line-height: 24px;
    }
  }

}
.treeDeviceTypes{
  overflow-y: auto;
  height: 130px;
  :global{
    .ant-select-tree{
      padding: 0;
    }
    .ant-select-tree li {
      margin: 4px 0;
    }
    .ant-select-tree li:hover{
      background:#ceebe0;
    }
    .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    .ant-select-tree li span.ant-select-tree-switcher{
      width: 6px;
    }
  }
}