@import "../../../theme/theme";

.caseSearch {
  display: flex;
  flex-direction: column;

  .partSearch {
    display: flex;
    background-color: #f9f9f9;
    line-height: 50px;
    text-align: center;
    align-items: center;

    .textDesc {
      margin-left: 24px;
    }

    .searchBtn {
      margin: 0 16px;
      width: 90px;
    }

    .entryPerson {
      margin-left: 16px;
    }

    :global {
      // .ant-input {
      //   width: 198px;
      // }

      .ant-select-selection {
        width: 160px;
      }
    }

    .searchDesc {
      width: 375px;
      margin: 0 16px;
    }

    .searchFeedback {
      width: 160px;
      margin: 0 16px;
    }

    .reset {
      color: $themeColor;
      cursor: pointer;
      &:hover {
        color: #f9b600;
      }
    }
  }
}


.caseHandle {
  // 导出设备， 翻页器
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  padding-left: 20px;

  .leftHandler {
    display: flex;

    .addButton {
      display: flex;
      width: 90px;
      padding: 0 15px 0 10px;
      .icon {
        margin: 0 16px 0 0;
      }
    }

    .importInfo {
      margin-left: 36px;
    }

    .uploadBtn {
      padding: 0 15px 0 10px;
      .icon {
        margin: 0 16px 0 0;
      }
      // width: 150px;
      // margin: 24px 150px 0 150px;
      // color: $themeColor;
      // border-color: $themeColor;
    }

    .confireImport {
      width: 90px;
      margin: 0 150px 0 157px;

    }

    .intoFile,
    .alldel,
    .downloadStyle {
      margin-left: 12px;
      width: 90px;
    }

    .exportInfo {
      margin: 0 12px;
    }


    .clearPoint {}
  }
}

.caseList {
  .editPoint {
    cursor: pointer;
    color: $themeColor;
    margin-right: 4px;
    padding: 4px;
    &:last-child{
      margin-right: 0px;
    }
    &:hover{
      color: #f9b600;
    }
  }
  .selectKeyText {
    margin-top: 16px;
    margin-left: 20px;
    .num {
      color: #fab907;
      margin: 0 4px;
    }
    .cancelSelect {
      color: $themeColor;
      margin-left: 4px;
      cursor: pointer;
    }
  }

  .stationWidth, .tableTypeWidth, .questionType, .faultCode, .questionDes, .dealHandler{
    @include overflowText();
    width: calc(100% - 5px);
  }
}
