@import "../../../../../theme/theme.scss";

.stationMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  background: #ececec;
  .stationContent {
    background-color: #fff;
    flex: 1;
    border: 1px solid #e1e2e2;
    .stationSearch {
      // 电站类型+区域搜索区
      .typeSearch {
        height: 80px;
        line-height: 80px;
        .title {
          margin-left: 28px;
          margin-right: 12px;
          color: $darkColor;
        }
        :global {
          .ant-radio-group {
            .ant-radio-button-wrapper {
              color: $darkColor;
              padding: 0 12px;
            }
            .ant-radio-button-wrapper-checked {
              background-color: $themeColor;
              border-color: $themeColor;
              box-shadow: -1px 0 0 0 $themeColor;
              & > span {
                color: #fff;
              }
            }
          }
        }
      }
      .inputSearch {
        // input输入区
        background-color: #f9f9f9;
        height: 50px;
        display: flex;
        align-items: center;
        .area {
          letter-spacing: 25px;
          margin-left: 28px;
          margin-right: 16px;
          color: $darkColor;
        }
        .searchInput {
          width: 160px;
        }
        .name {
          margin-left: 24px;
          margin-right: 12px;
          color: $darkColor;
        }
        .searchButton {
          margin: 0 12px;
          color: $darkColor;
        }
        .searchReset {
          color: $themeColor;
          cursor: pointer;
        }
      }
    }
    .stationList {
      // 添加电站, 下载模板, 翻译, 电站列表。
      .topHandler {
        // 顶部操作区 添加电站，下载模板, 翻页
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftHandler {
          display: flex;
          .uploadStation {
            .plusButton {
              // 添加电站
              margin: 0 12px 0 32px;
              padding: 0;
              font-size: 0;
              i {
                vertical-align: top;
                font-size: 14px;
              }
              span {
                background-color: #fff;
                color: $themeColor;
                border-radius: 0 4px 4px 0;
                display: inline-block;
                font-size: 14px;
                width: 40px;
                line-height: 30px;
                margin: 0px;
              }
              &:hover {
                span {
                  background-color: $themeColor;
                  color: #fff;
                }
              }
            }
            .plusButton:hover {
              border-radius: 6px;
            }
            :global {
              .anticon-plus {
                color: #fff;
                height: 100%;
                border-radius: 4px 0 0 4px;
                width: 28px;
                text-align: center;
                line-height: 30px;
                background-color: $themeColor;
              }
              .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only)
                .anticon {
                margin-left: 0px;
                width: 28px;
                color: $darkColor;
              }
            }

            .addButton {
              display: flex;
              background: rgba(206, 235, 224, 0.3);
              border: 1px solid #199475;
              box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
              border-radius: 2px;
              color: $themeColor;
              width: 90px;
              height: 32px;
              line-height: 30px;
              cursor: pointer;
              .icon {
                margin: 0 14px 0 10px;
              }
            }
          }
        }
      }
      .stationTable {
        // 表格区
        .stationName {
          cursor: pointer;
          text-decoration: underline;
        }
        :global {
          .departmentSetting {
            .iconfont {
              font-size: 18px;
              cursor: pointer;
            }
          }
          // .ant-table-thead{
          //   th>div{
          //     height: 60px;
          //   }
          // }
          // .ant-table-column-sorter{
          //   top: 18px;
          // }
        }
        .notSet {
          color: $darkColor;
        }
        .editStation {
          cursor: pointer;
          margin-right: 12px;
        }
        .deleteStation {
          cursor: pointer;
        }
        .deleteDisable {
          color: $promptColor;
        }
        .centerFlex {
          text-align: center;
        }
        .rightFlex {
          text-align: right;
        }
      }
    }
  }
}

.departmentSetting {
  .footer {
    .cancel,
    .confirm {
      width: 82px;
      height: 32px;
      color: $darkColor;
      border: solid 1px $lightColor;
      &:hover,
      &:focus {
        color: $themeColor;
        border-color: $themeColor;
      }
    }
    .confirm {
      margin-right: 48px;
      margin-left: 20px;
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        .ant-modal-close-x {
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: $darkColor;
        }
        .ant-modal-header {
          height: 40px;
          padding: 0 20px 0 12px;
          color: $darkColor;
          .ant-modal-title {
            color: $darkColor;
            line-height: 40px;
          }
        }
        .ant-modal-body {
          height: 420px;
          overflow-y: auto;
          padding-left: 220px;
          .ant-checkbox-wrapper {
            color: $darkColor;
          }
          .ant-checkbox-wrapper:hover .ant-checkbox-inner,
          .ant-checkbox:hover .ant-checkbox-inner,
          .ant-checkbox-input:focus + .ant-checkbox-inner {
            border-color: $themeColor;
          }
          .ant-tree-title {
            color: $darkColor;
          }
        }
        .ant-modal-footer {
          height: 60px;
          line-height: 60px;
          padding: 0;
        }
      }
    }
  }
}
