
@import '../../../../../theme/theme.scss';

.stationMain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  background:#ececec;
  .stationContent{
    background-color: #fff;
    flex: 1;
    border: 1px solid #e1e2e2;
    .stationSearch{ // 电站搜索区
      .typeSearch{
        height: 80px;
        line-height: 80px;
        .title{
          margin-left: 28px;
          margin-right: 12px;
          color: $lightColor;
        }
        :global{
          .ant-radio-group{
            .ant-radio-button-wrapper{
              color: $darkColor;
              padding: 0 12px;
            }
            .ant-radio-button-wrapper-checked{
              background-color: $themeColor;
              border-color: $themeColor;
              box-shadow: -1px 0 0 0 $themeColor;
              &>span{
                color:#fff;
              }
            }
          }
        }
      }
      .inputSearch{
        background-color: #f9f9f9;
      }
    }
  }
}