@import "../../../../theme/theme.scss";
.warningBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    background-color: $pageBackground;
    .warningContainer {
        @include contentBoxStyle();
    }
    .warningContent {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: $pageGround;
        :global {
            .ant-tabs-tabpane {
                display: flex;
                justify-content: center;
            }
        }
        :global {
            .ant-tabs-nav-scroll {
                background-color: #f8f8f8;
                .ant-tabs-tab {
                    margin-right: 0;
                    min-width: 120px;
                    min-height: 41px;
                    text-align: center;
                    border: none;
                    border-radius: 0;
                }
                .ant-tabs-tab-active {
                    border-top: 2px solid $themeColor;
                }
            }
        }
    }
}