@import "../../../../theme/theme.scss";

.warningBox{
  display: flex;
  flex:1;
  flex-direction: column;
  min-height: 100%;
  .warningContainer{
    display: flex;
    flex: 1;
    .warningMain{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding:24px 24px 0;
      background-color: #ececec;
      .warningContent{
        flex: 1;
        background-color:#fff;
        border: 1px solid #e1e2e2;
        :global{
          .ant-tabs-tabpane{
            display: flex;
            justify-content: center;
          }
      }
        :global{
          .ant-tabs-nav-scroll{
            background-color: #f8f8f8;
            .ant-tabs-tab{
              margin-right: 0;
              min-width:120px;
              min-height: 41px; 
              text-align: center;
              border:none;
              border-radius: 0;
            }
            .ant-tabs-tab-active{
              border-top:2px solid $themeColor;
            }
          }
        }
      }
    }
  }
}