@import "../../../../theme/theme.scss";
.warningBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    background-color: $pageBackground;
    .warningContainer {
        @include contentBoxStyle();
    }
    .warningContent {
        display: flex;
        flex-direction: row;
        flex: 1;
        // background: $pageGround;
        min-height: 100%;
        overflow: hidden;
        .WarnCont {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            flex: 1 0 auto;
            width: 100%;

            .headerTabs{
                display: flex;
                flex: 0 0 30px;
                // z-index: 99;
                z-index:0;
                .leftHolder{
                    flex: 0 0 12px;
                }
                .tab{
                    cursor: pointer;
                    flex: 0 0 98px;
                    text-align: center;
                    line-height: 30px;
                }
                .tabHolder{
                    flex: 0 0 28px;
                }
                .rightHolder{
                    flex: 1;
                }
                    
                .leftHolder, .tabHolder, .rightHolder{
                    color: var(--themeColor);
                    border-bottom: 1px solid var(--themeColor);
                }
                .tab{
                    color: var(--themeColor);
                }
                .tab.active{
                    background-color: #fff;
                    border: 1px solid var(--themeColor);
                    border-top: 2px solid var(--themeColor);
                    border-bottom: none;
                }
                .tab.inactive{
                    border: 1px solid transparent;
                    border-top: 2px solid transparent;
                    border-bottom: 1px solid var(--themeColor);
                }
            }

            .contentBox {
                flex: 1;
                display: flex;
                flex-direction: column;
                .mainPageStyle {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: #fff;
                    margin: 0 4px 4px 0;
                    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
                }
            }
        }


        :global {
            .ant-tabs-tabpane {
                display: flex;
                justify-content: center;
            }
            .ant-tabs-nav-scroll {
                background-color: #f8f8f8;
                .ant-tabs-tab {
                    margin-right: 0;
                    min-width: 120px;
                    min-height: 42px;
                    text-align: center;
                    border: none;
                    border-radius: 0;
                }
                .ant-tabs-tab-active {
                    border-top: 2px solid $themeColor;
                }
            }
        }
    }
}