.allStationData {
  .textStyle {
    height: 50px;
    line-height: 50px;
    margin-left: 24px;
    font-size: 15px;
    :global {
      .ant-radio-button-wrapper {
        height: 19px;
        line-height: 16px;
        padding: 0 5px;
      }
    }
  }
  .allStationDataContainer {
    height: 160px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 20px;

    .leftPic {
      margin-left: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .powerGeneration {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      .stationTargetData {
        width: 250px;
      }
    }

    .dataSummary {
      display: flex;
      flex-wrap: wrap;
      margin-left: 24px;
    }

    .stationTargetData {
      width: 270px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 30px;
      margin-right: 50px;
    }

    .stationTargetValue {
      font-size: 20px;
      text-align: left;
      min-width: 135px;
      .unit {
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
}

.light {
  .allStationDataContainer {
    border-bottom: 1px solid #ececec;
    .leftPic {
      border-right: 1px solid #ececec;
    }
    .stationTargetName {
      color: #666;
    }

    .stationTargetValue {
      color: $themeColor;
      .unit {
        color: #666;
      }
    }
  }
}

.dark {
  @import "../../../../../../theme/darkTheme";
  background: $light-background;
  border: 1px solid $border-color;
  margin-top: 10px;
  .textStyle {
    color: $fontColor;
  }
  .allStationDataContainer {
    .leftPic {
      border-right: 1px solid $border-color;
    }
    .stationTargetName {
      color: $fontColor;
    }

    .stationTargetValue {
      color: $fontColor-hover;
      .unit {
        color: $fontColor;
      }
    }
  }
}
