.allStationData {
  .textStyle {
    height: 50px;
    line-height: 50px;
    margin-left: 24px;
    font-size: 15px;
    .selectButton{
      height: 19px;
      line-height: 18px;
      padding: 0 5px;
      border: 1px solid var(--themeColor);
      border-radius: 2px;
      margin: 0 5px;
      color:var(--themeColor);
    }
    .disabled{
      background: #f1f1f1;
      color:var(--lightColor);
      border:1px solid #d4d4d4;
      cursor: pointer;
      pointer-events: none;
    }

    :global{
      .ant-radio-button-wrapper:not(:first-child)::before{
        background-color:transparent
      }
      .ant-radio-button-wrapper-checked{
        color:#fff;
        background: var(--themeColor);
      }
    }

  }
  .allStationDataContainer {
    height: 160px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 20px;

    .leftPic {
      margin-left: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .powerGeneration {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      .stationTargetData {
        width: 250px;
      }
    }

    .dataSummary {
      display: flex;
      flex-wrap: wrap;
      margin-left: 24px;
      max-width: 900px;
    }

    .stationTargetData {
      width: 270px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 30px;
      margin-right: 50px;
    }

    .stationTargetValue {
      font-size: 20px;
      text-align: left;
      min-width: 135px;
      .unit {
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
}

.light {
  @import "../../../../../../theme/theme.scss";
  .allStationDataContainer {
    border-bottom: 1px solid $pageBackground;
    .leftPic {
      border-right: 1px solid $pageBackground;
    }
    .stationTargetName {
      color: $darkColor;
    }

    .stationTargetValue {
      color: $themeColor;
      .unit {
        color: $darkColor;
      }
    }
  }
}

.dark {
  @import "../../../../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  margin-top: 10px;
  .textStyle {
    color: $fontColor;
  }
  .allStationDataContainer {
    .leftPic {
      border-right: 1px solid $border-color;
    }
    .stationTargetName {
      color: $fontColor;
    }

    .stationTargetValue {
      color: $fontColor-hover;
      .unit {
        color: $fontColor;
      }
    }
  }
}
