.waterWave {
  display: inline-block;
  position: relative;
  transform-origin: left;
  .waterWaveText {
    position: absolute;
    left: 0;
    top: 32px;
    text-align: center;
    width: 100%;
    span {
      font-size: 14px;
      line-height: 22px;
    }
    h4 {
      line-height: 32px;
      font-size: 24px;
    }
  }
  .waterWaveCanvasWrapper {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}

.light {
  span {
    color: rgb(3, 195, 154);
  }
  h4 {
    color: $themeColor;
  }
}

.dark {
  span {
    color: #00f8ff;
  }
  h4 {
    color: #00f8ff;
  }
}
