@import "../../../../theme/theme.scss";
.alarmStatisticBox {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    .alarmStatistic {
        @include contentBoxStyle();
    }
}

.realTimeAlarmBox {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    .realTimeAlarmContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 24px 0;
        background-color: #ececec;

    }
}

.historyAlarmBox {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    .historyAlarmContainer {
        display: flex;
        flex: 1; // min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 24px 0;
        background-color: #ececec;
        .historyAlarm {
            display: flex;
            flex-direction: column;
            flex: 1;
            background: #fff;
        }
    }
}

.transferAlarmBox{
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    .transferColor{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 24px 0 24px;
        background-color: #ececec;
        overflow: hidden;
    }
    .transferAlarmContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        overflow: hidden;
    }
}
