@import "../../../../theme/theme.scss";

.searchStyle {
  margin-left: -6px;

}

.inspectTable {
  display: flex;
  flex-direction: column;

  :global {
    .ant-table .ant-table-tbody>tr>td {
      padding: 0 8px;
    }
  }

  .nameWidth,
  .textWidth,
  .inspectDesc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    max-width: 300px;
  }

  .nameWidth {
    max-width: 120px;
  }


  .cursorStyle {
    cursor: pointer;

    &:hover {
      color: #199475;
    }
  }

  .inspectStatus {
    display: flex;
    flex-direction: row;
    align-items: center;

    .warning {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      align-items: center;
      margin-left: 12px;

      .overTime {
        display: flex;
        align-items: center;
        border-radius: 4px;
        width: 32px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    margin-bottom: 20px;
    align-items: center;

    .buttonArea {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      :global {
        .icon-help {
          font-size: 12px;
          margin-left: 4px;
        }
      }


    }



    :global {
      .icon-help {
        font-size: 12px;
        margin-left: 4px;
      }
    }
  }

  .statusGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 28px 20px 22px;

    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;

      >span:first-child {
        margin-right: 28px;
      }
    }

    :global {
      .ant-radio-button-wrapper {
        padding: 0 8px;
      }
    }
  }

  .handleDropdown {
    :global {
      i.iconfont {
        margin-right: 7px;
      }
    }
  }

  // .tableFooter {
  //   margin-top: 8px;
  //   margin-left: 20px;
  // }
  .tableFooter {
    height: 45px;
    line-height: 45px;

    .info {
      margin-right: 22px;
      margin-left: 22px;

      .totalNum {
        margin: auto 4px;
      }
    }

    .cancel {
      cursor: pointer;
    }
  }
}



.light {
  :global {
    .ant-radio-button-wrapper-checked {
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #fff;
    }

    .icon-help {
      color: #dfdfdf;

      &:hover {
        color: #e08031;
      }
    }

    .ant-select-dropdown-menu-item:not(.ant-select-dropdown-menu-item-disabled) {
      background-color: #fff;
      color: $darkColor;

      &:hover {
        background-color: #ceebe0;
        color: $themeColor;
      }
    }

    .ant-select-dropdown-menu-item-disabled {
      color: $promptColor;
    }
  }

  .tableFooter {
    background-color: #fff;

    .info {
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }

    .cancel {
      color: $themeColor;
    }
  }

  .inspectStatus {
    .overTime {
      color: #a42b2c;
      border: 1px #a42b2c solid;
    }

    .coordinate {
      color: #f9b600;
      border: 1px #f9b600 solid;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $light-background;
  color: $fontColor;
  border: 1px solid $border-color;
  margin-top: 10px;
  padding: 20px 28px;

  :global {
    .icon-help {
      color: $fontColor;

      &:hover {
        color: $fontColor-hover;
      }
    }
  }

  .tableFooter {
    .info {
      .totalNum {
        color: #f9b600;
      }
    }

    .cancel {
      color: #f9b600;
    }
  }

  .defectStatus {
    .overTime {
      color: $fontColor-invert;
      background-image: linear-gradient(-180deg, #f95071 0%, #f47a37 98%);
    }

    .coordinate {
      color: $fontColor-invert;
      background-image: linear-gradient(-180deg, #6ebeff 0%, #2465c2 100%);
    }
  }
}