.allDeviceCurve{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex:1;
  .allDeviceCurveBox{
    display: flex;
    flex: 1;
    padding: 24px 24px 0;
    background-color: #f0f2f5;
  }
}
