@import '../../../../../../theme/theme.scss';

.integrateList, .boosterStation, .powerNet{ // 集电线路, 升压站，电网基本样式。
  margin-top: 16px;
  .top{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    border:1px dashed $promptColor;
  }
  .iconGrid{
    height: 54px;
    line-height: 54px;
    text-align: center;
    width: 54px;
    background-color: $themeColor;
    :global{
      .icon-grid{
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .warning{
    margin-right: 36px;
    display: flex;
    color: $darkColor;
    :global{
      .ant-switch{
        background-color: $promptColor;
        margin-right: 8px;
      }
      .ant-switch-checked{
        background-color: $themeColor;
      }
    }
  }
  .deviceList{ // 设备列表。
    display: flex;
    flex-wrap: wrap;
    margin: 24px 20px 56px;
    .eachDevice{
      margin: 0px 12px 12px 0px;
      box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
      border-radius:4px;
      width:222px;
    }
    .deviceName{
      display: flex;
      align-items: center;
      color: $darkColor;
    }
    .deviceValue{
      font-size: 12px;
      line-height: 21px;
      color: $lightColor;
    }
    .emptyData{
      width: 223px;
      margin: 30px auto;
    }
  }
}
$arlam:#ff8e9c;
.integrateList{ // 集电线路单独样式
  .eachDevice{
    height:102px;
    cursor: pointer;
    border:1px solid #dfdfdf;
    border-radius:4px;
    &:hover{
      box-shadow:0px 1px 4px 1px rgba(0,0,0,0.20);
      .deviceName{
        color: $themeColor;
      }
    }
  }
  .deviceName{
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    color: $promptColor;
    border-radius:4px 4px 0 0;
    :global{
      .icon-jidian{
        margin-left: 8px;
        font-size: 32px;
      }
      .icon-alarm{
        color: #a42b2c;
        position: relative;
        width: 14px;
        height: 14px;
        font-size: 14px;
        left: -14px;
        bottom: 8px;
      }
    }
  }
    .alarm{
      .deviceName{
        background: $arlam;
        color: #a42b2c;
      }
      &:hover{
        box-shadow:0px 1px 4px 1px $arlam;
        .deviceName{
          color: #a42b2c;
        }
      }
    }
  .deviceValue{
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    .eachValue{
      flex: 0 0 50%;
    }
  }
}

.boosterStation{ // 升压站单独样式
  .eachDevice{
    cursor: pointer;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      background-color: #f1f1f1;
    }
  }
  .deviceName{
    margin-left: 16px;
  }
  :global{
    .icon-alarm{
      color: #a42b2c;
      width: 14px;
      height: 14px;
      font-size: 14px;
      margin-right: 20px;
    }
  }
}

.powerNet{
  .deviceName{
    height: 40px;
    justify-content: space-between;
    margin:0 12px;
    :global{
      .icon-alarm{
        color: #a42b2c;
        width: 14px;
        font-size: 14px;
      }
    }
  }
  .eachDevice{
    height:140px;
  }
  .deviceValue{
    display: flex;
    margin: 0 12px;
    flex-direction: column;
  }
  .eachValue{
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}