@import "../../../../theme/theme";

.capabilityBox {
  display: flex;
  flex: 1;
  position: relative;

  .capabilityDiagram {
    display: flex;
    flex: 1;
  }

  .link {
    color: #666666;
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 16px;
    display: inline-block;
  }
}

.tooltipBox {
  width: 150px;

  .axisValue {
    border-bottom: 1px solid #dfdfdf;
    padding: 0 30px 0 10px;
    line-height: 26px;
  }

  .tooltipContainer {
    padding: 10px 0;
  }

  .tooltipCont {
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 4px;
    }
  }
}

.powerDiagramBox {
  display: flex;
  flex: 1;
  position: relative;

  .powerRadio {
    position: absolute;
    top: 11px;
    right: 28px;
    color: $darkColor;

    :global {
      .ant-radio-button-wrapper-checked:first-child {
        border-color: $themeColor;
      }

      .ant-radio-button-wrapper:hover,
      .ant-radio-button-wrapper-focused {
        color: $darkColor;
      }

      .ant-radio-button-wrapper-checked {
        border-color: $themeColor;
        -webkit-box-shadow: -1px 0 0 0 $themeColor;
        box-shadow: -1px 0 0 0 $themeColor;
        color: #fff;
        background: $themeColor;
      }

      .ant-radio-button-wrapper-checked:hover {
        color: #fff;
      }
    }
  }

  .link {
    color: #666666;
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 16px;
    display: inline-block;
  }
}

.SpeedScatterGraph {
  display: flex;
  flex: 1;
}

.operator {
  .newOperatorList {
    width: 290px;
    border-radius: 100px;
    line-height: 30px;
    overflow: hidden;
    .scrollAnmiate {
      display: inline-block;
      line-height: 30px;
      -webkit-animation: ant-progress-active 40s cubic-bezier(0, 0, 1, 1) infinite;
      animation: progress_active 40s cubic-bezier(0, 0, 1, 1) infinite;
      &:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
      }
      .spanLine {
        white-space: nowrap;
        // display: inline-block;
      }
    }

    @keyframes progress_active {
      0% {
        -webkit-transform: translateX(0px);
      }
      100% {
        -webkit-transform: translateX(-100%);
      }
    }
  }
}

.operator.light {
  .newOperatorList {
    background: #ececec;
  }
}

.operator.dark {
  @import "../../../../theme/darkTheme.scss";
  .newOperatorList {
    color: $fontColor-hover;
    background: #205bac;
    .scrollAnmiate {
      background: #205bac;
    }
  }
}
