.history {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .transferColor {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    overflow: hidden;
  }
  .transferAlarmContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}

.light {
  .transferColor {
    background-color: #ececec;
  }
}
.dark {
  @import "../../../../theme/antdResetDark.scss";
  .transferColor {
    background-color: $background;
  }
}
