@import '../../../theme/theme.scss';
.commonInput {
  .commonList {
    :global {
      .ant-btn-background-ghost.ant-btn-primary {
        color: $themeColor;
        border-color: $themeColor;
        margin-right: 12px;
        font-size: 12px;
        padding: 0 4px;
        height: 22px;
        border-radius: 2px;
      }
    }
  }
}