


@import '../../../theme/theme.scss';

.userMain{
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  .userStatus{//企业状态筛选
    height: 74px;
    line-height: 74px;
    background: #fff;
    .statusText{
      display: inline-block;
      height: 30px;
      width: 57px;
      text-align: justify;
      line-height: 30px;
      margin: 0 12px 0 24px;
      color: $lightColor;
    }
    .radioGroup{
      :global{
        .ant-radio-button-wrapper{
          height: 30px;
          padding: 0 10px;
          color: $darkColor;
        }
        .ant-radio-button-wrapper{
          height: 30px;
          border-left-width: 0;
          &:first-child{
            border-left: 1px solid #d9d9d9;
          }
        }
        .ant-radio-button-wrapper-checked{
          border: 1px solid #d9d9d9;
          border-left-width: 0;
          background-color: $themeColor;
          color: #fff;
          &:first-child{
            border-left: 1px solid #d9d9d9;
          }
        }
      }
    }
  }
  .userSearch{//企业搜索
    background:#f9f9f9;
    height: 50px;
    line-height: 50px;
    display: flex;
    .searchName,.seachPhone{
      color: $lightColor;
    }
    .searchName{
      margin: 0 12px 0 24px;
    }
    .seachPhone{
      margin-right: 12px;
    }
    .searchNameInput,.searchPhoneInput{
      margin-top: 9px;
      position: static;
      width: 160px;
      @include highLingt($themeColor);
    }
    .searchNameInput{
      margin-right: 40px;
    }
    .searchPhoneInput{
      margin-right: 12px;
    }
    .searchButton{
      width: 68px;
      margin-top: 9px;
      margin-right: 12px;
      color: $lightColor;
      border:1px solid $promptColor;
      @include highLingt($themeColor);
    }
    .clearButton{
      cursor: pointer;
      color: $darkColor;
    }
  }
  .userList{//用户列表
    .userListTop{
      background: #fff;
      display: flex;
      line-height: 72px;
      justify-content: space-between;
      .userInviteTip{
        display: flex;
        justify-content: space-around;
        background-color: rgba(255,255,255,0.90);
      }
      .handleUser{
        height: 72px;
        line-height: 72px;
        display: inline-block;
        :global{
          .ant-select{
            width: 78px;
            .ant-select-selection{
              .ant-select-selection__rendered{
                .ant-select-selection__placeholder{
                  color: $lightColor;
                }
              }
              .ant-select-arrow{
                color: $lightColor;
              }
              @include highLingt($themeColor);
            }
          }
        }
      }
    }
    .tableFooter{
      background-color: #fff;
      height: 45px;
      line-height: 45px;
      .info{
        color: $lightColor;
        margin-right: 20px;
        margin-left: 24px;
        .totalNum{
          color: rgb(250,185,7);
          margin: auto 4px;
        }
      }
      .cancel{
        color: $themeColor;
        cursor: pointer;
      }
    }
  }
}
.handleDropdown{
  width: 120px;
  :global{
    .ant-select-dropdown-menu-item{
      color:$themeColor;
    }
    .ant-select-dropdown-menu-item-disabled{
      color:$promptColor;
    }
  }
}
