.defectList {
  display: flex;
  flex: 1;
  flex-direction: column;
  .wrap {
    display: flex;
    flex-direction: column;
  }
}

.light {
  background-color: #fff;
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .wrap {
    background: $background;
  }
}
