@import "../../../../theme/theme.scss";
.stationScore {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  .scoreContainer {
    @include contentBoxStyle();
    .scoreContent {
      display: flex;
      flex: 1;
      flex-direction: column;
      background: $pageGround;
      min-height: 100%;
      overflow: hidden;
    }
  }

  .allStationTitle {
    display: flex;
    line-height: 40px;
    // overflow: hidden;
    p {
      width: 120px;
      margin-bottom: 0;
      text-align: center;
      cursor: pointer;
      margin-bottom: -2px;
    }
    .activeStation {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        top: 0;
        left: -1px;
      }
    }
  }
}
.light {
  .scoreContainer {
    @include contentBoxStyle();
    .scoreContent {
      box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
      background: #fff;
      :global {
        .ant-progress-bg {
          border-radius: 100px;
          background-color: #199475;
        }
      }
    }
  }
  .allStationTitle {
    background: #f0f2f5;
    p {
      border-right: 1px solid $borderColor;
      color: $lightColor;
    }
    .activeStation {
      background: $pageGround;
      color: $darkColor;
      &::before {
        background: $themeColor;
      }
    }
  }
}

.dark {
}
