@import "../../../../theme/theme.scss";
.stationScore {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    background-color: $pageBackground;
    .scoreContainer {
        @include contentBoxStyle();
        .scoreContent {
            display: flex;
            flex-direction: row;
            flex: 1;
            background: $pageGround;
            min-height: 100%;
            overflow: hidden;
            :global {
              .ant-switch-checked {
                  background-color: #199475;
              }
              .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                  background: #199475;
                  border-color: #199475;
                  color: #fff;
              }
              .ant-progress-bg {
                  border-radius: 100px;
                  background-color: #199475;
              }
              .ant-tabs-nav-scroll {
                  background: #f8f8f8;
              }
              .ant-tabs.ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
                  background: #fff;
                  border-color: #e8e8e8;
                  border-top: 2px solid #199475;
                  border-left: 0;
                  border-radius: 0;
                  color: #199475;
                  margin: 0;
              }
              .ant-tabs-nav .ant-tabs-tab {
                  display: inline-block;
                  text-align: center;
                  height: 100%;
                  margin: 0;
                  box-sizing: border-box;
                  position: relative;
                  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                  cursor: pointer;
                  text-decoration: none;
                  width: 120px;
                  border-top: 0px;
                  border-radius: 0;
              }
              .ant-tabs-bar {
                  margin-bottom: 0;
              }
              .ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-no-animation {
                  display: flex;
                  flex: 1;
                  flex-direction: column;
              }
              .ant-tabs-content {
                  display: flex;
                  flex: 1;
                  flex-direction: column;
                  .ant-tabs-tabpane-active {
                      display: flex;
                      flex: 1;
                  }
                  .ant-tabs-tabpane-inactive {
                      max-height: 0;
                  }
              }
          }
            
        }
    }
}

:global {
    .ant-popover-inner-content {
        padding: 12px 28px;
    }
}

.scoreTable {
    width: 872px;
    height: 435px;
    display: flex;
    flex-direction: column;
    .text {
        display: flex;
        justify-content: space-between;
        .stationScore {
            margin-top: 19px;
            font-size: 18px;
            color: #199475;
        }
        .scoreTime {
            margin-top: 19px;
            font-size: 16px;
            color: #232222;
        }
    }
}