@import "../../../../theme/theme.scss";
.stationScore {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  background: #fff;
  .scoreContainer {
    @include contentBoxStyle();
    .scoreContent {
      display: flex;
      flex: 1;
      flex-direction: column;
      background: $pageGround;
      min-height: 100%;
      overflow: hidden;
    }
  }

  .allStationTitle {
    display: flex;
    line-height: 40px;
    // overflow: hidden;
    p {
      width: 120px;
      margin-bottom: 0;
      text-align: center;
      cursor: pointer;
      margin-bottom: -2px;
    }
    .activeStation {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        top: 0;
        left: -1px;
      }
    }
  }
}
.light {
  background: #fff;
  .scoreContainer {
    @include contentBoxStyle();
    .scoreContent {
      background: $pageGround;
      :global {
        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
          background: #199475;
          border-color: #199475;
          color: #fff;
        }
        .ant-progress-bg {
          border-radius: 100px;
          background-color: #199475;
        }
      }
    }
  }
  .allStationTitle {
    background: #f8f8f8;
    border-bottom: 1px solid $borderColor;
    p {
      border-right: 1px solid $borderColor;
      color: $lightColor;
    }
    .activeStation {
      background: $pageGround;
      color: $darkColor;
      &::before {
        background: $themeColor;
      }
    }
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  background: $background;
  .scoreContainer {
    @include contentBoxStyle();
    background: $background;
    .scoreContent {
      background: $background;
      .allStationTitle {
        background: $background;
        border-bottom: 1px solid $border-color;
        height: 42px;
        p {
          border: 1px solid $tab-border-color;
          color: $fontColor-dark;
          background: $tab-background;
          margin-right: 4px;
          border-radius: 8px 8px 0 0;
          height: 40px;
        }
        .activeStation {
          background: $light-background;
          border: 1px solid $border-color;
          color: $fontColor-invert;
          border-bottom: 1px solid $tab-border-bottom;
          height: 42px;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
