@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  background: #fff;
  .realTimeWarningFilter {
    background-color: #fff;
  }
  .deviceNameSearch {
    background-color: #f9f9f9;
    color: $darkColor;
  }
  .realTimeWarningTable {
    background-color: #fff;
    .iconDetail {
      i {
        color: $themeColor;
      }
    }
    .deviceName {
      a {
        border-bottom: 1px $darkColor solid;
        color: $darkColor;
        text-decoration: none;
        &:hover {
          border-bottom: 1px $themeColor solid;
          color: $themeColor;
        }
      }
    }
  }
  .tableFooter {
    background-color: #fff;
    .info {
      color: $darkColor;
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
  .detailInfo {
    color: $darkColor;
  }
  :global {
    .icon-action {
      background-color: #ceebe0;
      color: $themeColor;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .realTimeWarningFilter {
    background-color: transparent;
    margin-top: 10px;
  }
  .deviceNameSearch {
    background-color: $light-background;
    margin-top: 10px;
    color: $fontColor;
  }

  .realTimeWarningTable {
    margin-top: 10px;
    background: $light-background;
    .deviceName {
      a {
        border-bottom: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid $fontColor-hover;
          color: $fontColor-hover;
        }
      }
    }
    .selected {
      .icon-action {
        background-color: $themeColor;
        color: $fontColor-invert;
      }
    }
  }

  .tableFooter {
    background-color: transparent;
    .info {
      color: $fontColor;
      .totalNum {
        color: #f8b14e;
      }
    }
    .cancel {
      color: #f8b14e;
    }
  }

  .detailInfo {
    color: $fontColor;
  }

  :global {
    .icon-action {
      background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
      color: $fontColor-invert;
      &:hover {
        background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
      }
    }
  }
}
