@import "../../../../theme/theme.scss";

.realTimeWarningTop {
  margin-bottom: 15px;
  .alarmInfo {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    a {
      text-decoration: none;
    }
    .alarmInfoLeft {
      display: flex;
      flex-direction: row;
    }
    .alarmInfoRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 56px;
      .updateTimeContainer {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin-right: 27px;
      }
      .refreshIcon {
        height: 32px;
        display: flex;
      }
    }
    .alarmInfoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 30px;
      .alarmNum {
        font-size: 24px;
        opacity: 0.74;
      }
      .alarmText {
        font-size: 14px;
      }
    }
    .alarmNumDetail {
      padding-left: 30px;
      margin-right: 22px;
      display: flex;
      flex-direction: row;
    }
    .alarmAction {
      margin-right: 24px;
      margin-top: 8px;
      display: flex;
      width: 73px;
      height: 57px;
      flex-direction: column;
      align-items: center;
      .alarmText {
        font-size: 14px;
      }
      &:hover {
        border-radius: 2px;
        cursor: pointer;
      }
    }
    :global {
      .icon-alarm {
        font-size: 30px;
        margin-left: 47px;
        margin-right: 35px;
        line-height: 56px;
      }
      .icon-action {
        font-size: 18px;
      }
      .icon-title {
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 47px;
        margin-right: 35px;
        margin-top: 15px;
      }
      .icon-refresh {
        width: 29px;
        height: 29px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon-help {
        font-size: 12px;
        margin-left: 4px;
        margin-top: -4px;
      }
    }
  }
}

.light {
   box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  .alarmInfo {
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    .alarmInfoRight {
      .updateTimeContainer {
        .updateTime {
          color: $themeColor;
        }
        .updateTimeText {
          color: $darkColor;
        }
      }
      .refreshIcon {
        &:hover {
          :global {
            .icon-refresh {
              border: 1px solid $themeColor;
              color: #fff;
              background: $themeColor;
            }
          }
        }
      }
    }
    .alarmInfoItem {
      .alarmNum {
        color: $themeColor;
        opacity: 0.74;
      }
      .alarmText {
        color: $darkColor;
      }
    }
    .alarmNumDetail {
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
    }
    .alarmAction {
      .alarmText {
        color: $darkColor;
      }
      &:hover {
        border: 1px solid $themeColor;
        cursor: pointer;
        .alarmText {
          color: $themeColor;
        }
      }
    }
    :global {
      .icon-alarm {
        color: #a42b2c;
      }
      .icon-action {
        color: $darkColor;
        &:hover {
          color: $themeColor;
        }
      }
      .icon-title {
        background-color: #ceebe0;
        color: $themeColor;
      }
      .icon-refresh {
        border: 1px solid $themeColor;
        color: $themeColor;
      }
      .icon-help {
        color: #f9b600;
      }
    }
  }
}

.dark {

}
