@import '../../../../../../theme/theme';
.timeLineWrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: flex-start;
    .border {
      display: flex;
      flex: 1;
      height: 16px;
      border-bottom: 1px #f1f1f1 solid;
    }
    .text {
      background:#f8f8f8;
      color: rgba(0,0,0,0.85);
      border:1px solid #f1f1f1;
      border-radius:4px;
      width:95px;
      height:30px;
      display: flex;
      font-weight: 700;
      align-items: center;
      justify-content: center;
    }
  }
  .timeLines {
    font-size: 14px;
    .processItem {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      .basic {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        .flowName {
          color: $darkColor;
          margin-right: 24px;
        }
        .operateTime {
          color: $darkColor;
          margin-right: 12px;
        }
        .operateUser {
          color: $darkColor;
        }
        .imgList {
          margin-left: 8px;
          border: 1px solid $themeColor;
          border-radius: 4px;
          width: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $themeColor;
        }
      }
      .advise {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .text {
          color: $darkColor;
          margin-right: 24px;
          flex-shrink: 0;
        }
        .status {
          border: 1px solid $lightColor;
          border-radius: 4px;
          width: 48px;
          height: 18px;
          line-height: 18px;
          margin-right: 4px;
          margin-top: 2px;
          color: $darkColor;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
        .defectProposal {
          display: flex;
          flex-wrap: wrap;
          color: $darkColor;
          flex-direction: column;
        }
      }
    }
    .processStatus span{
      color: $themeColor;
      margin-left: 8px;
      display: inline-block;
    }
  }
  :global {
    .icon-begin, .icon-review, .icon-doing {
      background-color:#d8d8d8;
      width:16px;
      height:16px;
      border-radius:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $darkColor;
    }
    .icon-doned, .icon-goon {
      color: $themeColor;
      font-size: 16px;
    }
    .ant-timeline-item {
      padding-bottom: 24px;
      .ant-timeline-item-head-custom {
        left: 8px;
      }
    }
    .ant-timeline-item-last {
      .ant-timeline-item-tail {
        height: 36px;
      }
    }
    .ant-timeline-item-pending {
      .ant-timeline-item-head-custom {
        display: none;
      }
    }
  }
}
