
$darkFontColor: #666;
$lightFontColor: #999;
$disableFontColor: #999;
$tableSelectedBackground: #f4f4f4;
.enterpriseMain{
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  .enterpriseStatus{//企业状态筛选
    height: 74px;
    line-height: 74px;
    background: #fff;
    .statusText{
      display: inline-block;
      height: 30px;
      width: 57px;
      text-align: justify;
      line-height: 30px;
      margin: 0 12px 0 24px;
      color: $lightFontColor;
    }
    .radioGroup{
      :global{
        .ant-radio-button-wrapper{
          height: 30px;
          padding: 0 10px;
          color: $darkFontColor;
        }
        .ant-radio-button-wrapper{
          height: 30px;
          border-left-width: 0;
          &:first-child{
            border-left: 1px solid #d9d9d9;
          }
        }
        .ant-radio-button-wrapper-checked{
          border: 1px solid #d9d9d9;
          border-left-width: 0;
          background-color: #199475;
          color: #fff;
          &:first-child{
            border-left: 1px solid #d9d9d9;
          }
        }
      }
    }
  }
  .enterpriseSearch{//企业搜索
    background:#f9f9f9;
    height: 50px;
    line-height: 50px;
    display: flex;
    .searchName,.seachPhone{
      color: $lightFontColor;
    }
    .searchName{
      margin: 0 12px 0 24px;
    }
    .seachPhone{
      margin-right: 12px;
    }
    .searchNameInput,.searchPhoneInput{
      margin-top: 9px;
      position: static;
      width: 160px;
      &:hover,&:focus,&::selection{
        border:1px solid #199475;
        box-shadow: 0 0 2px #199475;
      }
    }
    .searchNameInput{
      margin-right: 40px;
    }
    .searchPhoneInput{
      margin-right: 12px;
    }
    .searchButton{
      width: 68px;
      margin-top: 9px;
      margin-right: 12px;
      color: $lightFontColor;
      border:1px solid #dfdfdf;
      &:hover{
        border:1px solid #199475;
        color: #199475;
      }
    }
    .clearButton{
      cursor: pointer;
      color: $darkFontColor;
    }
  }
  .enterpriseList{//企业列表
    .enterpriseListTop{
      background: #fff;
      display: flex;
      line-height: 72px;
      justify-content: space-between;
      .addEnterprise{
        padding : 0;
        margin-left: 24px;
        margin-right: 12px;
        border: 1px solid #199475;
        i{
          display: inline-block;
          background:#199475;
          color: #fff;
          vertical-align: top;
          width: 28px;
          line-height: 30px;
          height: 100%;
          border-radius: 4px 0 0 4px;
        }
        .text{
          border-radius: 0 4px 4px 0;
          background:#fff;
          color:#199475;
          display: inline-block;
          height: 100%;
          width: 38px;
          line-height: 30px;
          margin: 0px;
          text-align: center;
        }
        &:hover{
          border: 1px solid #199475;
          .text{
            background:#199475;
            color: #fff;
          }
        }
        &:focus{
          border: 1px solid #199475;
        }
      }
      .handleEnterprise{
        height: 72px;
        line-height: 72px;
        display: inline-block;
        :global{
          .ant-select{
            width: 68px;
            .ant-select-selection{
              .ant-select-selection__rendered{
                .ant-select-selection__placeholder{
                  color: $lightFontColor;
                }
              }
              .ant-select-arrow{
                color: $lightFontColor;
              }
              &:focus,&:hover{
                border: 1px solid #199475;
                box-shadow: 0 0 1px #199475;
              }
            }
          }
        }
      }
    }
    :global{
      .ant-table{
        .ant-table-thead > tr > th{
          background: $tableSelectedBackground; 
        }
        .ant-table-tbody{
          background: #fff;
          &>tr:hover{
            td {
              background: $tableSelectedBackground; 
            }
          }
        }
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
          padding: 0 16px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
  
}
.handleDropdown{
  width: 120px;
  :global{
    .ant-select-dropdown-menu-item{
      color:#199475;
    }
    .ant-select-dropdown-menu-item-disabled{
      color:#dfdfdf;
    }
  }
}
.enterpriseSide {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
}
.enterpriseDetail{
  flex: 1;
  background-color: lightblue;
}
.enterpriseEdit{
  flex:1;
  background-color: lightblue;
}