/*请不要删除，展示企业列表时相关样式，后期开发恢复企业列表展示时可能会用。
.enterpriseSide {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
}
*/
@import '../../../theme/theme.scss';

.topHandler{//详情，编辑页通用顶部编辑栏
  @include lineheight(64px);
  padding-left: 32px;
  border-bottom: solid 1px $promptColor;  
  .editButton{
    &:hover{
      background-color: $themeColor;
      color: #fff;
    }
  }
  .text{
    font-size:18px;
    color: $darkColor;
    letter-spacing:4px;
  }
}

.enterpriseDetail{//详情页
  line-height: 30px;
  flex: 1;
  background-color: #fff;
  
  .enterpriseName{//企业名称栏
    background: #f1f1f1;
    color: $darkColor;
    letter-spacing:4px;
    @include lineheight(62px);
    .text{
      font-size: 18px;      
      margin-left: 30px;
    }
  }
  .enterpriseInfor{//企业主要信息展示区
    margin: 24px 32px 0;
    display: flex;
    color: $lightColor;
    .promptTitle{
      color: $darkColor;
      margin-right: 24px;
      display: inline-block;
      width: 28px;
    }
    .logoPart{
      margin-right: 48px;
      img{
        width: 240px;
        height: 240px;
      }
      .user,.time{
        height: 30px;
        span{
          display: inline-block;
          width: 56px;
          text-align: right;
          color: $darkColor;
          margin-right: 24px;
        }
      }
    }
    .textInfor{
      flex: 1;
      .buttonGroup{
        margin-left: 52px;
        button{
          margin-right: 12px;
        }
      }
    }
  }
}
.enterpriseEdit{//编辑页
  flex:1;
  background-color: #fff;
  .editPart{
    margin: 24px 32px 0;    
    display: flex;
    .logoPart{
      margin-right: 48px;
    }
    .editPart{
      flex:1;
    }
  }
}