@import '../../../../theme/theme.scss';
.faultSingleFan{
  width: 100%;
  .title{
    padding-left: 48px;
    @include lineheight(20px);
    background-color: $pageBackground;
  }
  .singleFanWrap{
    width: 100%;
    background-color: $pageBackground;
    display: flex;
    justify-content: center;
    padding: 0 24px;
  }
  .singleFanContent{
    width: 100%;
    background-color: $pageGround;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    margin-bottom: 3px;
    .singleFanContentCharts{
      width: 100%;
      padding: 0 20px 20px;
    }
  }
}
