@import '../../../../theme/theme.scss';
.faultSingleFan{
  width: 100%;
  .title{
    padding-left: 48px;
    @include lineheight(20px);
    background-color: $pageBackground;
  }
  .singleFanWrap{
    width: 100%;
    background-color: $pageBackground;
  }
  .singleFanContent{
    width: 1390px;
    background-color: $pageGround;
    margin: 0 auto;
    .singleFanContentCharts{
      width: 100%;
      padding: 0 20px 20px;
    }
  }
}
