@import '../../../../theme/theme.scss';

.cleanWarningMain{
  @include contentBoxStyle();
  .mainContent{
    flex: 1;
    background-color: #fff;
  }
  .pagination{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
 
  :global{
    .iconfont{
      font-size: 20px;
      &:hover{
        color:#199475
      }
    }
    .ant-table{
      .ant-table-thead{
        th>div{
          height: 60px;
        }
      }
      .ant-table-column-sorter{
        top: 18px;
      }
      .icon-look{
        cursor: pointer;
      }
    }
    .ant-table .ant-table-thead > tr > th{
      padding: 0 24px;
    }
    .ant-table .ant-table-tbody > tr > td{
      padding: 0 24px;
    }
  }
  
}

.clearWarningSide{
  @include contentBoxStyle();
  z-index: 99;
  .sideContent{
    flex: 1;
    background-color: #fff;
  }
}

.topStations{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $promptColor;
  position: relative;
  .leftPart{
    height: 100%;
    line-height: 60px;
    .stationName{
      color: $darkColor;
      font-size: 18px;
    }
    :global{
      .anticon{
        height: 100%;
        line-height: 60px;
        cursor: pointer;
        font-size: 16px;
        color: $themeColor;
        padding: 0 20px;
      }
    }
  }
  .rightPart{
    width: 60px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    // color: $themeColor;
    cursor: pointer;
    border-left: 1px solid $promptColor;
  }
  .stationList{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    width: 300px;
    max-height: calc(100vh - 123px);
    overflow: auto;
    .title{
      margin-bottom: 0;
      height: 60px;
      line-height: 60px;
      color: $darkColor;
      font-size: 18px;
      :global{
        .anticon{
          font-size: 16px;
          color: $themeColor;
          padding: 0 20px;
        }
      }
    }
    .eachProvince{
      padding-left: 40px;
    }
    .provinceName{
      color: $darkColor;
      background-color: #f8f8f8;
      height: 30px;
      line-height: 30px;
    }
    .stationContent{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .stationName{
        flex-basis: 50%;
        height: 30px;
        color: $darkColor;
        cursor: pointer;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
  }
}

.dustInfo{
  height: 124px;
  display: flex;
  border-bottom: 1px solid $promptColor;
  .effectGen, .effectDay{
    width: 140px;
    margin: 12px 0 24px 24px;
    border-right: 1px solid $promptColor;
    display: flex;
    flex-direction: column;
    .text{
      color: $darkColor;
    }
    .dustEffectValue, .lastCleanValue {
      height: 52px;
      line-height: 64px;
      font-size: 24px;
      color: $themeColor;
    }
  }
  .effectGen{
    width: 215px;
    .demicalValue{
      font-size: 16px;
    }
  }
  .weather{
    padding-left: 24px;
    display: flex;
    align-items: center;
    width: 300px;
    .eachWeather{
      margin-top: 6px;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      color: $darkColor;
    }
    img{
      height: 24px;
      margin: 4px 0;
    }
    .noWeather{
      font-size: 12px;
    }
  }
}

.effectCharts{
  position: relative;
  .eachChart{
    width: 100%;
    display: flex;
    padding: 0 24px;
    justify-content: center;
  }
  .effectChart{
    height: 400px;
    flex: 1;
    .chartTool{
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      .title{
        display: flex;
        height: 14px;
        padding: 10px 10px 12px;
        font-size: 12px;
        align-items: center;
        color: $darkColor;
        border-bottom: 1px solid $promptColor;
        margin-bottom: 8px;
      }
      .content{
        display: flex;
        height: 21px;
        padding: 0 10px;
        font-size: 12px;
        color: $darkColor;
        align-items: center;
        .darkRect, .lightRect, .round, .text, .value{
          margin-right: 4px;
        }
        .darkRect, .lightRect, .round{
          width: 6px;
          height: 6px;
          background-color: #199475,
        }
        .lightRect {
          background-color: #f9b600,
        }
        .round{
          border-radius: 50%;
          border: 1px solid #3e97d1;
        }
      }
    }
  }
  :global{
    .ant-tabs-nav-container{
      background-color: #f8f8f8;
    }
    .ant-calendar-picker{
      position: absolute;
      right: 24px;
      top: 56px;
      z-index: 99;
      .ant-calendar-picker-input .anticon{
        right: 8px;
      }
    }
  }
}