@import "../../../../theme/theme.scss";
@import "./layout.scss";

.cleanWarningMain.light {
  .mainContent {
    background-color: #fff;
  }
  .stationName, .influencePercent, .cleanDays, .warningTime, .handle{
    width: 20%;
  }
  .stationName{
    :global{
      .ant-table-column-sorter{
        top: 2px;
      }
    }
  }
  :global {
    .iconfont {
      padding: 0 4px;
      color: var(--themeColor);
      &:hover {
        color: #ff9900;
      }
    }
  }
}
.clearWarningSide.light {
  @include contentBoxStyle();
  color: $darkColor;
  .sideContent {
    background-color: #fff;
  }
  .topStations {
    border-bottom: 1px solid $promptColor;
    color: $darkColor;
    :global {
      .anticon {
        color: $themeColor;
      }
    }
    // .rightPart {
    //   border-left: 1px solid $promptColor;
    // }
    .stationList {
      background-color: #fff;
      .provinceName {
        background-color: #f8f8f8;
      }
    }
  }

  .dustInfo {
    border-bottom: 1px solid $promptColor;
    .effectGen,
    .effectDay {
      border-right: 1px solid $promptColor;
      .dustEffectValue,
      .lastCleanValue {
        color: $themeColor;
      }
    }
  }

  .effectCharts {
    .title {
      border-bottom: 1px solid $promptColor;
    }
    .darkRect {
      background-color: #199475;
    }
    .lightRect {
      background-color: #f9b600;
    }
    .round {
      border: 1px solid #3e97d1;
    }
    :global {
      .ant-tabs-nav-container {
        background-color: #f8f8f8;
      }
    }
  }
  .weather {
    padding-left: 24px;
    display: flex;
    align-items: center;
    width: 300px;
    .eachWeather {
      margin-top: 6px;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      color: $darkColor;
    }
    img {
      height: 24px;
      margin: 4px 0;
    }
    .noWeather {
      font-size: 12px;
    }
  }
}

@import "../../../../theme/darkTheme.scss";
.cleanWarningMain.dark {
  background: $background;
  .wrap {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
  }
}

.clearWarningSide.dark {
  background: $background;
  color: $fontColor;
  .topStations {
    border: 1px solid $border-color;
    background: $light-background;
    :global {
      .anticon {
        color: $fontColor-hover;
      }
    }
    .leftPart {
      .stationName {
        color: $fontColor-hover;
      }
    }
    .rightPart {
      border-left: 1px solid $border-color;
    }
    .stationList {
      background: $sideBar-background;
      border: 1px solid $border-color;
      box-shadow: 0 0 4px 0 $box-shadow-color;
      color: $fontColor;
      .title {
        color: $fontColor-hover;
      }
      .provinceName {
        color: $fontColor-hover;
      }
    }
  }

  .dustInfo {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    .effectGen,
    .effectDay {
      border-right: 1px solid $border-color;
      .dustEffectValue,
      .lastCleanValue {
        color: $fontColor-hover;
      }
    }
  }

  .effectCharts {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    .title {
      border-bottom: 1px solid $border-color;
    }
    .darkRect {
      background-color: #00f8ff;
    }
    .lightRect {
      background-color: #fd6e8f;
    }
    .round {
      border: 1px solid #f8e71c;
    }
    :global {
      .ant-tabs-nav-container {
        background-color: transparent;
      }
      .ant-tabs-bar {
        border: none;
      }
    }
  }
}
