@import '../../../../theme/theme.scss';

.cleanWarningMain{
  @include contentBoxStyle();
  .pagination{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  :global{
    .ant-table{
      .icon-look{
        cursor: pointer;
      }
    }
  }
}

.clearWarningSide{
  @include contentBoxStyle();
}