@import "../../../../../theme/theme.scss";

.inspectFilter {
  min-height: 80px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  .wrap {
    display: flex;
    flex-direction: column;
    padding: 26px 28px 10px;
  }
  .topSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    .text {
      margin-right: 16px;
    }
    button {
      margin-right: 16px;
    }
    > span {
      display: inline-block;
      margin-right: 16px;
    }
  }
  .filterBox {
    display: flex;
    flex-shrink: 0;
  }
  .statusGroup {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 28px 20px;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      > span:first-child {
        margin-right: 28px;
      }
    }
  }
}

.filteredItems {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  align-items: center;
  > span:first-child {
    font-size: 14px;
    margin-right: 16px;
  }
  > span:last-child {
    font-size: 14px;
    cursor: pointer;
  }
}

.inspectFilter.light {
  background-color: #fff;
  .statusGroup {
    :global {
      .ant-radio-button-wrapper {
        padding: 0 8px;
        color: $darkColor;
      }
      .ant-radio-button-wrapper-checked {
        background-color: $themeColor;
        border: 1px solid $themeColor;
        color: #fff;
      }
    }
  }
}
.filteredItems.light {
  > span:last-child {
    color: $themeColor;
  }
}

@import "../../../../../theme/darkTheme.scss";
.inspectFilter.dark {
  // background-color: $background;
  color: $fontColor;
  .wrap {
    background: $light-background;
    border: 1px solid $border-color;
    padding: 26px 28px 20px;
  }
  .statusGroup {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    padding: 20px 28px;
  }
}

.filteredItems.dark {
  color: $fontColor;
  :global {
    .ant-tag {
      background: transparent;
      color: $fontColor;
      border: 1px dashed $fontColor;
      .anticon-close {
        color: $fontColor;
      }
      &:hover {
        background: #fcffe5;
        border: 1px solid #f8b14e;
        color: #f8b14e;
        .anticon-close {
          color: #f8b14e;
        }
      }
    }
  }
}
