<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta name="referrer" content="no-referrer" /> -->
  <title>POWER+智慧能源运维平台</title>
  <link rel="stylesheet" href="/fonts/iconfont.css">
</head>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=rRskVTpDMq8L4dP6t0R7IyML6GC0BVyl"></script>
<body>

  <div id='app' style='height:100%'>

  </div>
  <script src='/vendors/reacts.dll.js'></script>
  <script src='/vendors/chartPlugin.dll.js'></script>
  <script src='/vendors/restPlugin.dll.js'></script>
  <script src='/vendors/uiPlugin.dll.js'></script>
</body>
</html>
