.targetTabs{
  display: flex;
  flex:1;
  flex-direction: column;
  :global{
    .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
      //width: 0ch;
      display: flex;
      justify-content:space-between;
    }
    .ant-tabs-nav-scroll {
    background-color: #f8f8f8;
    }
    
    .iconfont{
      color:#2d9e81;
      font-size: 14px;
  }
  }
  
  .chartsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .textStyle{
      background:#f8f8f8;
      border-radius:4px;
      height:60px;
      padding-left: 32px;

      
    }
    .chart{
      display: flex;
      flex:1;
      flex-direction: column;
      // background: #199475; 
      width: 100%;
      border-bottom: 1px solid #ececec;
      overflow: hidden;
      margin-right: 24px;
    }
    .chart>div{
      flex: 1;
      height: 320px;
    }
   
  }

}