@import "../../../../theme/theme.scss";
.performanceSearch {
  padding: 20px 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .conditionalQuery {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    line-height: 43px;
    .searchText {
      margin-right: 10px;
      line-height: 30px;
    }
    .switch {
      margin-left: 40px;
      margin-top: 4px;
    }
    .duration {
      margin: 0 10px;
    }
    .switchText {
      margin-left: 10px;
      line-height: 30px;
    }
  }
  .equipmentSelection {
    .equipmentText {
      margin-right: 10px;
    }
    .modelSelect {
      width: 198px;
      margin: 0 12px;
    }
  }
}

.performanceSearch.light {
  background-color: #fff;
  box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
}

.performanceSearch.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $light-background;
  color: $fontColor;
  border: 1px solid $border-color;
}

.filterBox {
  margin-top: -20px;
  margin-bottom: 10px;

  .datePicker {
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-shrink: 0;
    min-height: 40px;
    border-radius: 2px;
    background-color: #f0f2f5;
    align-items: center;
    padding: 5px 26px;
  }
  :global {
    //filterBox
    .ant-tabs-bar {
      background-color: #f0f2f5;
      margin-bottom: 0px;
    }
    .ant-input {
      width: 300px;
      &:hover {
        border-color: $themeColor;
      }
    }
    .ant-tabs-bar {
      border-bottom: 1px solid #e8e8e8;
      margin: 0 0 16px 0;
      outline: none;
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .ant-tabs-nav .ant-tabs-tab {
      display: inline-block;
      //height: 100%;
      margin: 0 32px 0 0;
      padding: 12px 16px;
      box-sizing: border-box;
      position: relative;
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
      text-decoration: none;
      width: 60px;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: $themeColor;
    }
    .ant-tabs-nav-scroll {
      background: #f0f2f5;
    }
  }
}
