@import '../../../../../theme/theme.scss';
.windStation {
    background: #fff;
    :global {
        .ant-progress-inner {
            background-color: #dfdfdf;
        }
    }
    .stationTop {
        display: flex;
        flex-direction: column;
        position: relative;
        .stationListBox{
            display: flex;
            position: relative;
            :global{
                .ant-drawer{
                    position: absolute;
                    display: flex;
                    width:300px;
                    position: absolute;
                    background-color: #fff;
                    border-right: 1px solid $promptColor;
                    border-bottom: 1px solid $promptColor;
                    z-index: 9999;
                    left: 0px;
                    top: 0px;
                    width: 300px;
                    max-height: calc(100vh - 83px);
                    overflow: auto;
                }
                .ant-drawer-left{
                    display: none;
                }
                .ant-drawer-open{
                    display: block;
                }
            }
            .stationTitle{
                color: $darkColor;
                font-size: 18px;
                height: 61px;
                line-height: 65px;
                margin-bottom: 0px;
                .titleIcon{
                  cursor: pointer;
                  margin-left: 32px;
                  margin-right: 12px;
                }
              }
              .stationList{
                display: flex;
                flex-direction: column;
                padding-left: 42px;
                height: 1000px;
                .provinceName{
                  color:$darkColor;
                  text-align:left;
                  line-height: 30px;
                  background: #f8f8f8;
                  height: 30px;
                  text-indent: 1em;
                  
                }
                .stationName{
                  display: block;
                  float: left;
                  width: 120px;
                  height: 30px;
                  line-height: 30px;
                  text-align: left;
                  text-indent: 1em;
                  cursor: pointer;
                  color:$darkColor;
                  max-width:120px;
                  word-break: break-all;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 14px;
                }
                .currentStationName{
                  display: block;
                  float: left;
                  width: 120px;
                  height: 30px;
                  line-height: 30px;
                  text-align: left;
                  text-indent: 1em;
                  cursor: pointer;
                  color: $themeColor;
                  max-width:120px;
                  word-break: break-all;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .stationName:hover,.stationName:focus{
                  color: $themeColor;
                }
                .eachStation{
                  width: 50%;
                  padding-left: 40px;
                  cursor: pointer;
                  color: $darkColor;
                  height: 28px;
                  line-height: 28px;
                  &:hover{
                    background-color: #eee;
                  }
                }
              }
        }
        .stationTitle{
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid #dfdfdf;
            display: flex;
            justify-content: space-between;
            .stationLeft{
                display: flex;
                .stationToggle {
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                }
                :global{
                    .anticon-swap {
                        color: $themeColor;
                        display: inline-block;
                        margin: 0 15px 0 20px;
                        font-size: 18px;
                    }
                }
                h3 {
                    font-size: 18px;
                    color: $darkColor;
                    margin: 0;
                    margin-right: 20px;
                    
                }
                span { 
                    color: $darkColor;
                    margin-right: 15px;
                }
            }
            .stationRight{
                display: flex;
                align-items: center;
                .backIcon{
                    border-left: 1px solid #dfdfdf;
                    width: 60px;
                    line-height: 60px;
                    text-align: center;
                    color: #666;
                    cursor: pointer;
                    font-size: 18px;
                    display: block;
                }
                .weather{
                    margin: 0 13px 0 19px;
                }
                .operatorList{
                    width:290px;
                    background: #ececec;
                    border-radius: 100px;
                    height: 30px;
                    .marquee{
                        display: flex;
                        flex: 1;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .headStation {
        // border-bottom: 1px dashed #dfdfdf;
        height: 108px;
        display: flex;
        color: $darkColor;
        flex-direction: row;
        padding: 20px;
        .leftIcon {
            width: 31px;
            height: 60px;
            background: url('/img/wind01.png') no-repeat center;
        }
        .allStaionStatic{
            :global {
                .ant-popover-inner-content {
                    background: #f8f8f8;
                    box-shadow:0 0 6px 0 rgba(0,0,0,0.30);
                }
            }
            .poverItem{
                display: flex;
                flex: 1;
                justify-content: space-between;
                color:#666666;
                min-width: 180px;
                padding-right: 20px;
                i{
                    font-style: normal;
                    text-align: right;
                    display: inline-block;
                }
                p{
                    text-align: right;
                    margin-bottom: 0;
                }
                span{
                    color: $themeColor;
                }
                .unit{
                    width: 27px;
                    display: inline-block;
                    margin-left: 4px;
                    text-align: left;
                    color:#666666;
                }
            }
        }
        .dataColumn {
            display: flex;
            flex-direction: column;
            // line-height: 36px;
            padding: 0 12px;
            border-right: 1px solid #dfdfdf;
            min-width: 175px;
            >span{
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                border: none
            }

            .dataValue {
                color: $themeColor;
                font-size: 24px;
                text-align: left;
                padding: 0 4px;
                line-height: 30px;
            }

            .speed {
                color: #3e97d1;
            }

            .stationPower {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                min-width: 230px;
                line-height: 30px;
                >div {
                    margin-right: 10
                }
            }
        }
        .typeIcon {
            width: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .windContainer{
        display: flex;
        flex: 1;
        .windList{
            flex: 1;
            display: flex;
            flex-direction: column;
            .threadAndDevice {
                display: flex;
                flex:1;
                flex-direction: row;
                // background:#f8f8f8;
                background:pink;
                height: 50px;
                align-items: center;
                .deviceTypeFlow {
                    display: flex;
                    text-align: center;
                    justify-content: space-between;
                    color: #dfdfdf;
                    .deviceTypeItem,
                    .elecnettingItem {
                        .deviceTypeIcon {
                           
                        }
                    }
                }
                :global {
                    .ant-radio-group {
                        display: flex;
                        align-items: center;
                    }
                    .ant-radio-button-wrapper {
                        background: #f8f8f8;
                        height: 50px;
                        line-height: 50px;
                        border: none;
                        &:first-child{
                            border-radius:0
                        }
                        &:last-child{
                            border-radius:0
                        }
                        &:hover{
                            border: none;
                            border-top:1px solid $themeColor;
                            color: $themeColor;
                            background: #fff;
                        }
                        
                    }
                   
                    .ant-radio-button-wrapper-focused {
                        color: $themeColor;
                        background: #fff;
                        box-shadow: none;
                        &:after{
                            border: none;
                        }
                    }
                   
                    .ant-radio-button-wrapper-checked {
                        background: #fff;
                        border: none;
                        border-top:1px solid $themeColor;
                        color: $themeColor;
                        box-shadow: none;
                        z-index: 1;
                    }
                    .ant-radio-button-wrapper:not(:first-child)::before {
                        width: 0px;
                    }
                    .iconfont {
                        font-size: 22px;
                        cursor: pointer;
                    }
                    .alarmIcon{
                        font-size: 14px;
                        color: #a42b2c;
                        margin-left: -8px;
                    }
                    .iconfont:hover {
                        color: $themeColor;
                    }

                    // .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-container {
                    //     height: 33px;
                    // }
                    // .ant-tabs-bar {
                    //     border-top: 1px dashed #dfdfdf;
                    //     border-bottom: 1px dashed #dfdfdf;
                    //     margin: 0;
                    // }
                    // .ant-tabs.ant-tabs-card>.ant-tabs-bar {
                    //     border-color: #fff;
                    // }
                    // .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
                    //     border: 1px solid #fff;
                    //     border-bottom: 0;
                    //     border-radius: 4px 4px 0 0;
                    //     background: #fff;
                    // }
                    // .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
                    //     width: 80px;
                    //     height: 33px;
                    //     text-align: center;
                    //     color: $darkColor;
                    // }
                    // .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
                    //     background: #f8f8f8;
                    //     border-radius: 4px 4px 0 0;
                    //     width: 80px;
                    //     height: 33px;
                    //     text-align: center;
                    //     color: $darkColor;
                    // }
                }
            } 
        }
        .charts{
            display: flex;
            width: 464px;
            background: #f8f8f8;
            padding: 0 12px 20px;
            flex-direction: column;
        }
    }
    .outputPowerDiagram {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        height: 300px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .windTabs {
        :global {
            .ant-tabs.ant-tabs-line>.ant-tabs-bar .ant-tabs-nav-container {
                height: 46px;
                background: #f8f8f8;
                line-height: 46px;
            }
            .ant-tabs-bar {
                margin: 0;
            }
            .ant-tabs-nav .ant-tabs-tab:hover {
                color: $themeColor;
            }
            .ant-tabs-nav .ant-tabs-tab-active {
                color: $themeColor;
            }
            .ant-tabs-nav .ant-tabs-tab {
                margin: 0 30px;
                padding: 0 16px;
            }
        }
        .outputPowerDiagram {
            border-top: none
        }
    }
   
    // 列表
    .fanList {
        .inverterTab {
            .inverterRight {
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .inverterBlockBox {
                padding: 20px 20px 60px;
                color: $darkColor;
                display: flex;
                flex-wrap: wrap;
                .parentDeviceName {
                    margin: 20px 0;
                }
                .nodata {
                    text-align: center;
                    margin: 30px auto;
                }
                .inverterItem {
                    display: inline-block;
                    margin-right: 18px;
                    margin-bottom: 20px;
                    width: 222px; // height: 76px;
                    padding: 5px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
                    border-radius: 4px;
                    font-size: 12px;
                    cursor: pointer;
                    .inverterItemIcon {
                        display: inline-block;
                        vertical-align: top;
                        margin: 5px;
                        position: relative;
                        :global {
                            .iconfont {
                                font-size: 22px;
                                color: #dfdfdf;
                            }
                            .icon-alarm {
                                position: absolute;
                                bottom: 10px;
                                right: 2px;
                                width: 10px;
                                height: 10px;
                                color: #a42b2c;
                                font-size: 14px;
                            }
                            a {
                                color: $darkColor;
                            }
                        }
                    }
                    .inverterItemR {
                        display: inline-block;
                        width: 165px;
                        color: $darkColor;
                        .hlBlockName {
                            display: flex;
                            justify-content: space-between;
                        }
                        .inverterItemPower {
                            display: flex;
                            flex-direction: column;
                            >div {
                                display: flex;
                                justify-content: space-between;
                                span:first-child {
                                    color: $themeColor;
                                }
                                span:last-child {
                                    color: $darkColor;
                                }
                            }
                        }
                        :global {
                            .ant-progress-success-bg,
                            .ant-progress-bg {
                                background-color: $themeColor;
                            }
                        }
                    }
                    .hlBlockFooter {
                        line-height: 22px;
                        margin-top: 10px;
                        padding-left: 3px;
                        >div {
                            display: inline-block;
                            width: 50%;
                            text-align: left;
                        }
                    }
                    .hlBlockLink:hover {
                        color: $darkColor;
                    }
                }
                .cutOverItem {
                    display: inline-block;
                    margin-right: 18px;
                    margin-bottom: 20px;
                    width: 222px; // height: 76px;
                    padding: 5px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
                    border-radius: 4px;
                    background: #f8f8f8;
                    pointer-events: none;
                    font-size: 12px;
                    a {
                        display: inline-block;
                    }
                    .inverterItemIcon {
                        display: inline-block;
                        vertical-align: top;
                        margin: 5px;
                        position: relative;
                        :global {
                            .iconfont {
                                font-size: 22px;
                                color: #dfdfdf;
                            }
                            .icon-alarm {
                                position: absolute;
                                bottom: 10px;
                                right: 2px;
                                width: 10px;
                                height: 10px;
                                color: #a42b2c;
                                font-size: 14px;
                            }
                            a {
                                color: $darkColor;
                            }
                        }
                    }
                    .inverterItemR {
                        display: inline-block;
                        width: 166px;
                        color: $darkColor;
                        .hlBlockName {
                            display: flex;
                            justify-content: space-between;
                        }
                        .inverterItemPower {
                            display: flex;
                            flex-direction: column;
                            color: $darkColor;
                            div {
                                display: flex;
                                justify-content: space-between;
                            }
                            .showDevicePower {
                                color: $themeColor;
                            }
                            .angle>i {
                                color: $themeColor;
                                display: inline-block;
                                font-size: 16px;
                            }
                        }
                        :global {
                            .ant-progress-success-bg,
                            .ant-progress-bg {
                                background-color: $themeColor;
                            }
                        }
                    }
                    .hlBlockFooter {
                        line-height: 22px;
                        margin-top: 10px;
                        padding-left: 3px;
                        >div {
                            display: inline-block;
                            width: 50%;
                            text-align: left;
                        }
                    }
                }
            }
            .inverterTableBox {
                .nodata {
                    text-align: center;
                    margin: 30px auto;
                }
                .pagination {
                    margin: 10px;
                    display: flex;
                    justify-content: flex-end;
                }
                .inverterTable {
                    .tableDeviceName {
                        text-decoration: underline;
                    }
                    .deviceCode {
                        pointer-events: none;
                    }
                    .devicePower {
                        .progressPower {
                            .deviceValue {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                    .statusColor {
                        background: #199475;
                        border-radius: 2px;
                        width: 3px;
                        height: 16px;
                        margin-right: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    margin-bottom: 60px;
                    :global {
                        .ant-table-placeholder {
                            z-index: 0;
                            border-bottom: 0;
                        }
                        .ant-progress-success-bg,
                        .ant-progress-bg {
                            background-color: $themeColor;
                        }
                        a {
                            color: #666666;
                        }
                        a:hover {
                            color: $themeColor;
                        }
                        .ant-table-column-sorter-up.on .anticon-caret-up,
                        .ant-table-column-sorter-down.on .anticon-caret-up,
                        .ant-table-column-sorter-up.on .anticon-caret-down,
                        .ant-table-column-sorter-down.on .anticon-caret-down {
                            color: $themeColor;
                        }
                        .ant-pagination-item-active {
                            border-color: $themeColor;
                        }
                        .ant-pagination.mini .ant-pagination-options-quick-jumper input {
                            border: 1px solid $themeColor;
                        }
                        .ant-table-pagination.ant-pagination {
                            margin: 16px;
                            float: right;
                        }
                        .ant-table .ant-table-tbody>tr>td {
                            line-height: 20px;
                        }
                        .ant-table-thead {
                            background: #f4f4f4;
                            color: $darkColor;
                        }
                    }
                }
            }
            .inverterMapBox {
                height: 526px;
                >div {
                    height: 526px;
                }
            }
        }
        :global {
            .ant-table .ant-table-thead{
                th>div{
                    height: 60px;
                }
            }
            .ant-table .ant-table-thead .ant-table-column-sorter{
                top: 18px;
            }
            .ant-spin-dot i {
                background-color: #199475;
            }
            .ant-tabs-extra-content {
                line-height: 46px;
            }
            .ant-radio-group {
                margin: 0 20px;
            }
            .ant-tabs {
                margin-top: 20px;
            }
            .ant-tabs-bar {
                border-top: 1px dashed #dfdfdf;
                border-bottom: 1px dashed #dfdfdf;
            }
            .ant-tabs-nav .ant-tabs-tab {
                margin: 0;
                background: #f1f1f1;
                color: $darkColor;
            }
            .ant-tabs-nav .ant-tabs-tab:hover {
                color: $themeColor;
            }
            .ant-tabs-nav .ant-tabs-tab-active {
                color: #fff;
                background: $themeColor;
            }
            .ant-tabs-nav .ant-tabs-tab-active:hover {
                color: #fff;
            }
            .ant-switch-checked {
                background-color: $themeColor;
            }
            .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
                background: $themeColor;
                border-color: $themeColor;
                color: #fff;
            }
            .ant-radio-button-wrapper {
                height: 24px;
                line-height: 24px;
            }
            .ant-radio-button-wrapper:hover,
            .ant-radio-button-wrapper-focused {
                color: $themeColor;
                position: relative;
            }
            .iconfont {
                font-size: 14px;
                cursor: pointer;
            }
            .iconfont:hover {
                color: $themeColor;
            }
        }
    }
}