@import '../../../../theme/theme.scss';

.historyWarn {
  width: 100%;

  .topSearch {
    width: 100%;
    padding: 20px 0 0 30px;

    button {
      margin-left: 5px;
    }
  }

  .topQuery {
    width: 100%;
    padding: 10px 0 10px 30px;
    margin-top: 20px;
    background-color: #f9f9f9;
    display: flex;

    > div {
      display: flex;
      line-height: 40px;

      > span {
        margin-right: 5px;
      }
    }

    > div:nth-of-type(2) {
      margin-left: 40px;
    }

    .check {
      padding-top: 4px;

      button {
        margin: 0 10px;
      }

      > span {
        cursor: pointer;
        color: $themeColor;
      }
    }
  }

  .topPage {
    width: 100%;
    padding-right: 20px;
    display: flex;
    @include lineheight(52px);
    justify-content: flex-end;
  }

  .filterWrap {
    padding-left: 30px;
  }

  .filterBox {
    display: flex;
    flex-shrink: 0;
  }
}
