@import "../../../../../../theme/theme.scss";
@import "./layout.scss";
@import "../../../Theme/monitorLight.scss";

.light {
  // 光伏组件
  .pvmodule {
    .pvmoduleListTop {
      .pvmoduleSelect {
        border: 1px solid #3e97d1;
      }
      .normal {
        color: #199475;
        border: 1px solid #199475;
      }
      .small {
        color: #f9b600;
        border: 1px solid #f9b600;
      }
      .abnormal {
        color: #a42b2c;
        border: 1px solid #a42b2c;
      }
      .big {
        color: #3e97d1;
        border: 1px solid #3e97d1;
      }
      .abnormal.active {
        background: #fbe6e3;
      }
      .normal.active {
        background: #ceebe0;
      }
      .small.active {
        background: #fcffe5;
      }
      .big.active {
        background: #ddebff;
      }
    }
    .pvmoduleItem {
      .deviceName {
        color: $darkColor;
        a {
          text-decoration: underline;
        }
      }
      .commonStyle {
        background: #f1f1f1;
        color: $themeColor;
      }
    }
  }

  .deviceList {
    .deviceListBlockBox {
      color: $darkColor;
      .parentDeviceName {
        a:hover {
          color: $themeColor;
        }
      }
      .singledeviceItem {
        border: 1px solid #dfdfdf;
        .statusBox {
          a {
            color: $darkColor;
          }
          .realDevicePower {
            color: $themeColor;
          }
        }
      }
      .normal {
        @include singleItem($normal, $normal_color, $normal_border, $normal_active);
      }
      .normal.alarm {
        @include singleItem($alarm, $alarm_color, $alarm_border, $alarm_active);
      }
      .moreThanTen {
        @include singleItem($moreThanTen, $moreThanTen_color, $moreThanTen_border, $moreThanTen_active);
        .dispersionRatio {
          color: $moreThanTen_color;
        }
      }
      .moreThanTwenty {
        @include singleItem($moreThanTwenty, $moreThanTwenty_color, $moreThanTwenty_border, $moreThanTwenty_active);
        .dispersionRatio {
          color: $moreThanTwenty_color;
        }
      }
      .noContact {
        @include singleItem($noContact, $noContact_color, $noContact_border, $noContact_active);
        :global {
          .icon-alarm {
            color: $noContact_color;
          }
        }
      }
      .noAccess {
        @include singleItem($noAccess, $noAccess_color, $noAccess_border, $noAccess_active);
        background: $noAccess;
        pointer-events: none;
        a {
          color: $noAccess_color;
        }
      }
    }
    .deviceTableBox {
      .deviceTable {
        .tableDeviceName {
          &:hover {
            color: $noContact_color;
          }
        }
        .tableDeviceName {
          &:hover {
            color: $normal_color;
          }
        }
        .normal {
          color: $normal_color;
        }
        .moreThanTen {
          color: $moreThanTen_color;
        }
        .moreThanTwenty {
          color: $moreThanTwenty_color;
        }
        .noContact {
          color: $alarm_color;
        }
        .noAccess {
          color: $noAccess_color;
        }
      }
    }
  }
  .integrateList,
  .powerNet,
  .pvboosterStation {
    // 集电线路, 升压站，电网基本样式。
    .top {
      border: 1px dashed $promptColor;
    }
    .iconGrid {
      background-color: $themeColor;
      :global {
        .icon-grid {
          font-size: 18px;
          color: #fff;
        }
      }
    }
    .warning {
      color: $darkColor;
      :global {
        .ant-switch {
          background-color: $promptColor;
          margin-right: 8px;
        }
        .ant-switch-checked {
          background-color: $themeColor;
        }
      }
    }
    .eachDevice {
      border: 1px solid #dfdfdf;
      &:hover {
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
        .deviceName {
          color: $themeColor;
        }
      }
    }
    .alarm {
      .deviceName {
        background: #ff8e9c;
        color: #a42b2c;
      }
      &:hover {
        box-shadow: 0px 1px 4px 1px #ff8e9c;
        .deviceName {
          color: #a42b2c;
        }
      }
    }
    .unconnect {
      .deviceName {
        background: #ff8e9c;
        color: #a42b2c;
      }
    }
    :global {
      .icon-alarm {
        color: #a42b2c;
      }
    }
  }
  .powerNet {
    // 电能表
    .vlue {
      color: #199475;
    }
  }
  .invertDeviceList {
    // 逆变器
    .deviceListTab {
      .deviceListBlockBox {
        color: $darkColor;
        .parentDeviceName {
          a:hover {
            color: $themeColor;
          }
        }

        .singledeviceItem {
          border: 1px solid #dfdfdf;
          &:hover {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          }
          color: $darkColor;
          .value {
            display: flex;
            color: $themeColor;
            .tooltipName{
              margin-top: -5px;
              margin-left: 3px;
              i{
                color: #999;
                &:hover{
                  color: #f9b600;
                }
              }
            }
          }
        }
        // .lowEfficiency {
        //   @include singleItem($moreThanTen, $moreThanTen_color, $moreThanTen_border, $moreThanTen_active);
        // }
        .alarm {
          @include singleItem($alarm, $alarm_color, $alarm_border, $alarm_active);
        }
        .unconnect {
          background: #ededed;
          .value {
            color: #999999;
          }
        }
      }
      .deviceTableBox {
        .equipmentHours,.transferRate{
          display: flex;
            .tooltipName{
              margin-top: -5px;
              margin-left: 3px;
              color: #999;
              &:hover{
                color: #f9b600;
              }
            }
          }
        .deviceTable {
          .deviceCode {
            .tableDeviceName {
              &:hover {
                color: $noContact_color;
              }
            }
          }
          .tableDeviceName {
            &:hover {
              color: $themeColor;
            }
          }
        }
      }
    }
  }

  .weatherStation {
    // 气象站
    .datailWrap {
      .detail {
        border: 1px solid #dfdfdf;
        .everyDetail {
          &:nth-child(2n) {
            background: #f8f8f8;
          }
          .detailId {
            color: #199475;
            display: flex;
          }
          .detailUnit {
            color: #666;
          }
          .tooltipName{
            margin-top: -5px;
            i{
              color: #999;
              &:hover{
                color: #f9b600;
              }
            }
          }
        }
      }

      .weatherList {
        border: 1px solid #dfdfdf;
        .weatherDay {
          border-right: 1px solid #dfdfdf;
          .weatherDate {
            background: #f8f8f8;
          }
        }
      }
    }
    .tooltipBox {
      .axisValue {
        border-bottom: 1px solid #dfdfdf;
      }
    }
  }
  :global {
    .icon-alarm {
      color: $alarm_color;
    }
    .icon-outage {
      color: $moreThanTwenty_color;
    }
    .ant-progress-inner {
      background-color: #dfdfdf;
    }
    .ant-progress-success-bg,
    .ant-progress-bg {
      background-color: $themeColor;
    }
    .ant-spin-dot i {
      background-color: #199475;
    }
    .ant-tabs-bar {
      border-top: 1px dashed #dfdfdf;
      border-bottom: 1px dashed #dfdfdf;
    }
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0;
      background: #f1f1f1;
      color: $darkColor;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $themeColor;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #fff;
      background: $themeColor;
    }
    .ant-tabs-nav .ant-tabs-tab-active:hover {
      color: #fff;
    }

    .ant-switch-checked {
      background-color: $themeColor;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background: $themeColor;
      border-color: $themeColor;
      color: #fff;
    }
    .ant-radio-button-wrapper {
      height: 24px;
      line-height: 24px;
    }
    .ant-radio-button-wrapper:hover,
    .ant-radio-button-wrapper-focused {
      color: $themeColor;
      position: relative;
    }
  }
}

.dark {
  @import "../../../../../../theme/antdResetDark.scss";
  @import "../../../Theme/monitorDark.scss";
  .pvmodule {
    .pvmoduleListTop {
      .pvmoduleSelect {
        border: 1px solid #00baff;
      }
      .normal {
        color: #00baff;
        border: 1px solid #00baff;
      }
      .small {
        color: #f8b14e;
        border: 1px solid #f8b14e;
      }
      .abnormal {
        color: #fd6e8f;
        border: 1px solid #fd6e8f;
      }
      .big {
        color: #4d5fe2;
        border: 1px solid #4d5fe2;
      }
      .normal.active {
        background: rgba(#00baff, 0.3);
      }
      .small.active {
        background: rgba(#f8b14e, 0.3);
      }
      .abnormal.active {
        background: rgba(#fd6e8f, 0.3);
      }
      .big.active {
        background: rgba(#4d5fe2, 0.3);
      }
    }
    .pvmoduleItem {
      .deviceName {
        color: #bbcef7;
        &:hover {
          a {
            color: #00f8ff;
          }
          color: #00f8ff;
        }
        a {
          color: #bbcef7;
        }
      }
      .commonStyle {
        background: #405080;
        color: $themeColor;
      }
    }
  }
  .deviceList {
    .deviceListBlockBox {
      .parentDeviceName {
        a {
          color: #bbcef7;
          &:hover {
            color: $fontColor-hover;
          }
        }
      }
      .singledeviceItem {
        border: 1px solid $normal-border;
        a {
          color: $fontColor;
        }
      }

      .normal {
        @include singleItem($normal, $normal_color, $normal-border, $normal-active);
        a {
          color: $fontColor;
        }
      }
      .normal.alarm {
        @include singleItem($alarm, $alarm_color, $alarm-border, $alarm-active);
      }
      .moreThanTen {
        @include singleItem($moreThanTen, $moreThanTen_color, $moreThanTen-border, $moreThanTen-active);
        .dispersionRatio {
          color: $moreThanTen_color;
        }
      }
      .moreThanTwenty {
        @include singleItem($moreThanTwenty, $moreThanTwenty_color, $moreThanTwenty-border, $moreThanTwenty-active);
        .dispersionRatio {
          color: $moreThanTwenty_color;
        }
      }
      .noContact {
        @include singleItem($noContact, $noContact_color, $noContact-border, $noContact-active);
      }

      .noAccess {
        pointer-events: none;
        @include singleItem($noAccess, $noAccess_color, $noAccess-border, $noAccess-active);
        a {
          color: $noAccess_color;
        }
      }
    }
    .deviceTableBox {
      .deviceTable {
        .tableDeviceName {
          &:hover {
            color: $noContact_color;
          }
        }
        .tableDeviceName {
          color: $fontColor;
        }
        .normal {
          color: $normal_color;
        }
        .moreThanTen {
          color: $moreThanTen_color;
        }
        .moreThanTwenty {
          color: $moreThanTwenty_color;
        }
        .noContact {
          color: $noContact_color;
        }
        .noAccess {
          color: $noAccess_color;
        }
      }
    }
  }
  .integrateList,
  .powerNet,
  .pvboosterStation {
    // 集电线路, 升压站，电网基本样式。
    .top {
      border: 1px dashed $border-color;
    }
    .iconGrid {
      background-color: $themeColor;
      :global {
        .icon-grid {
          color: #fff;
        }
      }
    }
    .warning {
      color: $fontColor;
    }
    :global {
      .icon-alarm {
        color: $noContact_color;
      }
    }
    .eachDevice {
      background: $normal;
      border: 1px solid $normal-border;
      color: $fontColor;
      &:hover {
        box-shadow: $normal-active;
      }
    }
    .alarm {
      background: $alarm;
      border: 1px solid $alarm-border;
      color: $fontColor-invert;
      &:hover {
        box-shadow: $alarm-active;
      }
    }
  }
  .powerNet {
    // 电能表
    .vlue {
      color: $fontColor-hover;
    }
    .alarm {
      .vlue {
        color: #fd6e8f;
      }
    }
  }
  .invertDeviceList {
    // 逆变器
    color: $fontColor;
    .deviceListTab {
      .deviceListBlockBox {
        .statusTips {
          color: $fontColor;
        }
        .parentDeviceName {
          a {
            color: #bbcef7;
            &:hover {
              color: $fontColor-hover;
            }
          }
        }
        .singledeviceItem {
          @include singleItem($normal, $normal_color, $normal-border, $normal-active);
          a {
            color: $fontColor;
          }
          .value {
            color: $fontColor-hover;
          }
        }
        // .lowEfficiency {
        //   @include singleItem($moreThanTwenty, $moreThanTen_color, $moreThanTwenty-border, $moreThanTwenty-active);
        // }
        .alarm {
          @include singleItem($alarm, $alarm_color, $alarm-border, $alarm-active);
        }
        .noAccess {
          pointer-events: none;
          @include singleItem($noAccess, $noAccess_color, $noAccess-border, $noAccess-active);
          a,
          .value {
            color: $noAccess_color;
          }
        }
      }
      .deviceTableBox {
        .deviceCode {
          .tableDeviceName {
            color: #bbcef7;
          }
        }
        .tableDeviceName {
          color: $fontColor;
          &:hover {
            color: $fontColor-hover;
          }
        }
      }
    }
  }

  .weatherStation {
    // 气象站
    .datailWrap {
      color: $fontColor;
      .detail {
        border: 1px solid $border-color;
        .everyDetail {
          &:nth-child(2n) {
            background: $light-background;
          }
          .detailId {
            color: $fontColor-hover;
            display: flex;
          }
          .detailUnit {
            color: $fontColor;
          }
          .tooltipName{
            margin-top: -5px;
            i{
              color: #999;
              &:hover{
                color: #f9b600;
              }
            }
          }
        }
      }

      .weatherList {
        border: 1px solid $border-color;
        .weatherDay {
          border-right: 1px solid $border-color;
          .weatherDate {
            background: $background;
          }
        }
      }
    }
    .tooltipBox {
      .axisValue {
        border-bottom: 1px solid #dfdfdf;
      }
    }
  }
  :global {
    .ant-spin-dot i {
      background-color: $fontColor;
    }
    .ant-tabs-bar {
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0;
      background: $button-primary;
      color: #fff;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: #fff;
      background: $themeColor;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #fff;
      background: $themeColor;
    }
    .ant-tabs .ant-tabs-nav .ant-tabs-tab-active:hover {
      color: #fff;
      background: $themeColor;
    }

    .ant-tabs-nav-scroll {
      background: transparent;
    }
    .ant-tabs-bar .ant-tabs-extra-content {
      background: transparent;
      color: $fontColor;
    }

    .icon-alarm {
      color: $noContact_color;
    }
    .icon-outage {
      color: $noContact_color;
    }
    .ant-progress-inner {
      background-color: #dfdfdf;
    }
    .ant-progress-success-bg,
    .ant-progress-bg {
      background-color: $themeColor;
    }
  }
}
