@import '../../../../../../theme/theme.scss';

.deviceListBox{
// 光伏组件
.pvmodule{
  .pvmoduleList{
    .nodata{
      text-align: center;
      margin: 89px auto;
    }
    .pvmoduleListTop{
      height: 49px;
      // border-top: 1px dashed #dfdfdf;
      // border-bottom: 1px dashed #dfdfdf;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 48px;
      .pvmoduleSelect{
        height: 24px;
        line-height: 24px;
        padding: 0 4px;
        border:1px solid #3e97d1;
        border-radius:4px;
        margin-left: 8px;
        cursor: pointer;
        i{
          font-size: 12px;
          margin-right: 4px;
        }
      }
      
      .normal{
        color: #199475;
        border:1px solid #199475;
      }
      .small{
        color: #f9b600;
        border:1px solid #f9b600;
      }
      .abnormal{
        color: #a42b2c;
        border:1px solid #a42b2c;
      }
      .big{
        color: #3e97d1;
        border:1px solid #3e97d1;
      }
      .abnormal.active{
        background: #FBE6E3;
      }
      .normal.active{
        background: #ceebe0;
      }
      .small.active{
        background: #FCFFE5;
      }
      .big.active{
        background: #DDEBFF;
      }
    }
    .pvmoduleCont{
      padding: 16px 25px;
      .pvmoduleItem{
        width: 295px;
        margin: 0 0 0 12px;
        display: inline-block;
        margin-bottom: 20px;
        .deviceName{
          font-size: 14px;
          color: $darkColor;
          a{
            text-decoration: underline;
          }
        }
        .singlePvmodule{
          display: flex;
          flex-wrap: wrap;
        }
        .commonStyle{
          background: #f1f1f1;
          width: 32px;
          height: 18px;
          display: block;
          float: left;
          font-size: 11px;
          color: $themeColor;
          margin: 1px;
          border-radius: 2px;
          text-align: center;
          &:nth-child(4n){
            margin-right: 12px;
          }
        }
        :global{
          .iconfont{
            width: 23px;
            height: 30px;
            margin-right: 5px;
            font-size: 23px;
          }
         
          .normalValue{
            background: #ceebe0;
          }
          .stopValue{
            background: #f9b600;
          }
          .breakValue{
            background: #a42b2c;
          }
          .noValue{
            background: #f1f1f1;
          }
          .abnormal{
            color: #fff;
            background: #a42b2c;
          }
          .normal{
            color: #199475;
            background: #ceebe0;
          }
          .small{
            color: #fff;
            background: #f9b600;
          }
          .big{
            color: #fff;
            background:#3e97d1;
          }
        }
        .sightValue{
          background: #ceebe0;
          width: 21px;
          height: 18px;
          display: inline-block;
          font-size: 11px;
          color: #fff;
          margin: 0 2px;
          border-radius: 2px;
        }
      }
  
    }
  }
} 
$normal:#fff;
$normal_color:#199475;
$normal_hover_color:rgba(0,0,0,0.20);
$moreThanTen:#fefad2;
$moreThanTen_color:#f9b600;
$moreThanTwenty:#ffce7f;
$moreThanTwenty_color:#e08031;
$noContact:#f0f2f5;
$noContact_color:#666666;
$noAccess:#ededed;
$noAccess_color:#999;
$noAccess_background_color:#ededed;
$arlam:#ff8e9c;
$arlam_color:#a42b2c;
.deviceList{
  .deviceListTab{
    .deviceRight{
      margin-right: 20px;
    }
    .deviceListBlockBox{
      padding: 0px 20px 20px 24px;
      color: $darkColor;
      display: flex;
      flex-wrap: wrap;
      .parentDeviceName{
        margin: 0 0 8px 0;
        .underlin{
          text-decoration: underline;
          i{
            display: inline-block;
            font-size: 20px;
            margin-left: 4px;
          }
        }
        a:hover{
          color: $themeColor
        }
      } 
      .nodata{
        text-align: center;
        margin: 30px auto;
      }
      .singledeviceItemBox{
        display: flex;
        flex-wrap: wrap;
      }
      .singledeviceItem{
        display: flex;
        margin-right: 18px; 
        margin-bottom: 20px;
        width: 222px;
        height: 121px;
        border-radius:4px;
        font-size: 12px;
        cursor: pointer;
        border:1px solid #dfdfdf;
        .statusBox{
          padding: 5px 5px 0px 5px;
          .deviceItemIcon{
            display: inline-block;
            vertical-align: top;
            margin: 5px;
            position: relative;
          }
          a{
            color: $darkColor;
          }
          :global{
            .iconfont{
              font-size: 22px;
            }
            .icon-alarm{
              position: absolute;
              bottom: 10px;
              right: 2px;
              width: 10px;
              height: 10px;
              color: #a42b2c;
              font-size: 14px;
            }
            .icon-outage{
              position: absolute;
              bottom: 9px;
              left: -5px;
              width: 10px;
              height: 10px;
              color: #e08031;
              font-size: 14px;
            }
            .ant-progress-inner{
              background-color: #dfdfdf;
            }
          }
          .deviceItemR{
            display: inline-block;
            width: 165px;
            color: $darkColor;
            .deviceBlockName{
              display: flex;
              justify-content: space-between;
              margin-bottom: -4px;
              margin-top: 7px;
            }
            .deviceItemPower{
              display: flex;
              justify-content: space-between;
              margin-top: -4px;
              .realDevicePower{
                color: $themeColor
              }
            }
            :global{
              .ant-progress{
                line-height: 3px;
              }
              .ant-progress-success-bg, .ant-progress-bg{
                background-color: $themeColor;
              }
            }
          }
        }
        .deviceBlockFooter{
          line-height: 22px;
          margin-top: 10px;
          padding-left: 3px;
          padding: 0 5px 5px 5px;
          >div{
            display: inline-block;
            width: 50%;
            text-align: left;
          }
          .dispersionRatio{
            color:#666666;
          }
        }
      }
        .normal{
          &:hover{
            box-shadow:0px 1px 4px 1px $normal_hover_color;
          }
          .statusBox{
            background: $normal;
            .deviceBlockName,.icon{
              color: $normal_color
            }
          }
        }
        .normal.alarm{
          .statusBox{
            background:  $arlam;
            .deviceBlockName,.iconHl{
              color: $arlam_color
            }
          }
          &:hover{
            box-shadow:0px 1px 4px 1px $arlam;
          }
        }
        .moreThanTen{
          &:hover{
            box-shadow:0px 1px 4px 1px $moreThanTen;
          }
          .statusBox{
            background: $moreThanTen;
            .deviceBlockName,.iconHl{
              color: $moreThanTen_color
            }
          }
          .deviceBlockFooter{
            .dispersionRatio{
              color:$moreThanTen_color;
            }
          }
        }
        .moreThanTwenty{
          &:hover{
            box-shadow:0px 1px 4px 1px  $moreThanTwenty;
          }
          .statusBox{
            background: $moreThanTwenty;
            .deviceBlockName,.iconHl{
              color: $moreThanTwenty_color;
            }
          }
          .deviceBlockFooter{
            .dispersionRatio{
              color:$moreThanTwenty_color;
            }
          }
          
        }
        .noContact{
          &:hover{
            box-shadow:0px 1px 4px 1px $noContact;
          }
          .statusBox{
            background: $noContact;
            .deviceBlockName,.iconHl{
              color: $noContact_color
            }
            :global{
              .icon-alarm{
                color: $noContact_color
              }
            }
          }
        }
        .noAccess{
          box-shadow:0 1px 4px 0  $noAccess;
          background: $noAccess_background_color;
          pointer-events: none;
          .deviceBlockName,.iconHl{
            color:$noAccess_color
          }
        }
    }
    .deviceTableBox{
      .nodata{
        text-align: center;
        margin: 30px auto;
      }
      .pagination{
        margin: 10px ;
        display: flex;
        justify-content: flex-end;
      }
      .deviceTable{
        .deviceCode{
          pointer-events: none;
          .tableDeviceName{
            text-decoration: none;
            &:hover{
              color: $noContact_color;
            }
          }
        }
        .tableDeviceName{
          text-decoration: underline;
          &:hover{
            color: $normal_color;
          }
        }
        .normal{color:$normal_color}
        .moreThanTen{color:$moreThanTen_color}
        .moreThanTwenty{color:$moreThanTwenty_color}
        .noContact{color:$arlam_color}
        .noAccess{color:$noAccess_color}
        margin-bottom: 60px;
        :global{
          .ant-table .ant-table-tbody > tr > td {
            line-height: 20px;
          }
        }
      }
    }
  }
}

.integrateList, .powerNet,.pvboosterStation{ // 集电线路, 升压站，电网基本样式。
  margin-top: 16px;
  .top{
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    border:1px dashed $promptColor;
  }
  .iconGrid{
    height: 54px;
    line-height: 54px;
    text-align: center;
    width: 54px;
    background-color: $themeColor;
    :global{
      .icon-grid{
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .warning{
    margin-right: 36px;
    display: flex;
    color: $darkColor;
    :global{
      .ant-switch{
        background-color: $promptColor;
        margin-right: 8px;
      }
      .ant-switch-checked{
        background-color: $themeColor;
      }
    }
  }
  .deviceList{ // 设备列表。
    display: flex;
    flex-wrap: wrap;
    margin: 24px 20px 56px;
    .eachDevice{
      margin: 0px 12px 12px 0px;
      // box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
      border:1px solid #dfdfdf;
      border-radius:4px;
      width:222px;
    }
    .deviceName{
      display: flex;
      align-items: center;
      color: $darkColor;
    }
    .deviceValue{
      font-size: 12px;
      line-height: 21px;
      color: $lightColor;
    }
    .emptyData{
      width: 223px;
      margin: 30px auto;
    }
  }
}
$arlam:#ff8e9c;
.pvboosterStation{ // 光伏升压站单独样式
  .eachDevice{
    height: 92px;
    cursor: pointer;
    border:1px solid #dfdfdf;
    border-radius:4px;
    &:hover{
      box-shadow:0px 1px 4px 1px rgba(0,0,0,0.20);
      .deviceName{
        color: $themeColor;
      }
    }
  }
  .alarm{
    .deviceName{
      background: $arlam;
      color: #a42b2c;
    }
    &:hover{
      box-shadow:0px 1px 4px 1px $arlam;
      .deviceName{
        color: #a42b2c;
      }
    }
  }

  .deviceName{
    height: 35px;
    margin-bottom: 0;
    color: $promptColor;
    border-radius:4px 4px 0 0;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }

  :global{
    .icon-alarm{
      color: #a42b2c;
      width: 14px;
      height: 14px;
      font-size: 14px;
      margin-right: 20px;
    }
  }

  .deviceValue{
    margin: 0 12px;
    display: flex;
    flex-wrap: wrap;
    .eachValue{
      flex: 0 0 50%;
    }
  }
}

.integrateList{ // 集电线路单独样式
  .eachDevice{
    height:102px;
    cursor: pointer;
    border:1px solid #dfdfdf;
    border-radius:4px;
    &:hover{
      box-shadow:0px 1px 4px 1px rgba(0,0,0,0.20);
      .deviceName{
        color: $themeColor;
      }
    }
  }
  .deviceName{
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    color: $promptColor;
    border-radius:4px 4px 0 0;
    :global{
      .icon-jidian{
        margin-left: 8px;
        font-size: 32px;
      }
      .icon-alarm{
        color: #a42b2c;
        position: relative;
        width: 14px;
        height: 14px;
        font-size: 14px;
        left: -14px;
        bottom: 8px;
      }
    }
  }
    .alarm{
      .deviceName{
        background: $arlam;
        color: #a42b2c;
      }
      &:hover{
        box-shadow:0px 1px 4px 1px $arlam;
        .deviceName{
          color: #a42b2c;
        }
      }
    }
  .deviceValue{
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    .eachValue{
      flex: 0 0 50%;
    }
  }
}

.powerNet{ // 电能表
  .eachDevice{
    height: 140px;
    border:1px solid #dfdfdf;
    border-radius:4px;
    &:hover{
      box-shadow:0px 1px 4px 1px rgba(0,0,0,0.20);
      .deviceName{
        color: $themeColor;
      }
    }
  }

  .alarm{
    .deviceName{
      background: $arlam;
      color: #a42b2c;
    }
    &:hover{
      box-shadow:0px 1px 4px 1px $arlam;
      .deviceName{
        color: #a42b2c;
      }
    }
  }
  .deviceName{
    height: 35px;
    margin-bottom: 0;
    color: $promptColor;
    border-radius:4px 4px 0 0;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }
  :global{
    .icon-alarm{
      color: #a42b2c;
      width: 14px;
      height: 14px;
      font-size: 14px;
    }
  }

  .deviceValue{
    display: flex;
    margin: 8px 12px;
    flex-direction: column;
  }
  .eachValue{
    display: flex;
    flex: 1;
    justify-content: space-between;
    line-height: 22px;
    .vlue{
      color: #199475;
      margin-right: 4px;
      display: inline-block;
    }
    .unit{
      width: 33px;
      text-align: left;
      display: inline-block;
    }
  }
}

.invertDeviceList{ // 逆变器
  .deviceListTab{
      .deviceRight{
        margin-right: 20px;
      }
      .deviceListBlockBox{
        padding: 0px 20px 20px 24px;
        color: $darkColor;
        display: flex;
        flex-direction: column;
        .statusTipsWrap{
          display: flex;
          justify-content: flex-end;
          .statusTips{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;
          }
          .rect{
            width: 5px;
            height: 15px;
            margin: 0px 4px 4px 0;
          }
          .round {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: 0px 4px 4px 0;
          }
        }
        .parentDeviceName{
          margin: 0 0 8px 0;
          .underlin{
            text-decoration: underline;
            i{
              display: inline-block;
              font-size: 20px;
              margin-left: 4px;
            }
          }
          a:hover{
            color: $themeColor
          }
        } 
        .nodata{
          text-align: center;
          margin: 30px auto;
        }
        .singledeviceItemBox{
          display: flex;
          flex-wrap: wrap;
        }
        .singledeviceItem{
          margin-right: 18px; 
          margin-bottom: 20px;
          width: 230px;
          height: 151px;
          border-radius:4px;
          border:1px solid #dfdfdf;
          .statusBox{
            display: flex;
            align-items: center;
            padding: 0 12px;
          }
          .deviceItemIcon{
            align-self: flex-start;
            margin-top: 5px;
            flex-basis: 28px;
            position: relative;
          }
          .deviceItemR{
            flex: 1;
            display: flex;
            flex-direction: column;
            .deviceBlockName, .deviceItemPower{
              color: $darkColor;
              display: flex;
              justify-content: space-between;
            }
            .deviceBlockName {
              height: 33px;
              line-height: 33px;
              margin-bottom: -4px;
            }
            .deviceItemPower {
              height: 25px;
              line-height: 25px;
            }
          }
          .deviceBlockFooter{
            display: flex;
            padding: 0 12px;
            .eachInfo{
              flex-basis: 50%;
              text-align: center;
              color: $darkColor;
              line-height: 24px;
            }
            .value{
              color: $themeColor;
            }
          }
          .allStatus{
            display: flex;
            justify-content: space-between;
            height: 28px;
            padding: 4px 12px;
            align-items: center;
            .branchStatus{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 146px;
            }
            .rect{
              width: 5px;
              height: 15px;
              margin: 0px 4px 4px 0;
            }
            .round {
              width: 10px;
              height: 10px;
              border-radius: 10px;
              margin: 0px 4px 4px 0;
            }
          }
          :global{
            .icon-nb{
              font-size: 22px;
            }
            .icon-alarm{
              position: absolute;
              bottom: 10px;
              left: 11px;
              width: 10px;
              height: 10px;
              color: #a42b2c;
              font-size: 14px;
            }
            .ant-progress{
              line-height: 8px;
              height: 8px;
            }
            .ant-progress-inner{
              background-color: #dfdfdf;
            }
            .ant-progress-success-bg, .ant-progress-bg{
              background-color: $themeColor;
            }
          }
        }

        .unconnect{
          pointer-events: none;
          background: #ededed;
          .value{
            color: #999999;
          }
        }
        .stopShadow, .planShadow, .normalShadow{
          &:hover{
            box-shadow: 0px 1px 4px 1px rgba($color: #000000, $alpha: 0.4);
          }
          
        }
        .faultShadow, .breakShadow, .limitShadow {
          &:hover{
            box-shadow: 0px 1px 4px 1px rgba($color: #000000, $alpha: 0.4);
          }
        }
      }
      .deviceTableBox{
        .nodata{
          text-align: center;
          margin: 30px auto;
        }
        .pagination{
          margin: 10px ;
          display: flex;
          justify-content: flex-end;
        }
        .deviceTable{
          .deviceCode{
            pointer-events: none;
            .tableDeviceName{
              text-decoration: none;
              &:hover{
                color: $noContact_color;
              }
            }
          }
          .tableDeviceName{
            text-decoration: underline;
            &:hover{
              color: $normal_color;
            }
          }
          .normal{color:$normal_color}
          .moreThanTen{color:$moreThanTen_color}
          .moreThanTwenty{color:$moreThanTwenty_color}
          .noContact{color:$arlam_color}
          .noAccess{color:$noAccess_color}
          margin-bottom: 60px;
          :global{
            .ant-table .ant-table-tbody > tr > td {
              line-height: 20px;
            }
          }
        }
      }
    }
}

.weatherStation{ // 气象站
  display: flex;
  flex-direction: column;
  .datailWrap{
    display: flex;
    // height: 238px;
    justify-content: space-between;
    padding: 0 29px 0 21px; 
    margin: 20px 0;

    .detail{
      border:1px solid #dfdfdf;
      width:237px;
      height:236px;
      .everyDetail{
        line-height: 28px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        &:nth-child(2n){
          background:#f8f8f8;
        }
        .detailId{
          color: #199475;
        }
        .detailUnit{
          width:47px;
          text-align: left;
          color: #666;
          display: inline-block;
          margin-left:8px;
        }
        
      }
    }

    .weatherList{
      border:1px solid #dfdfdf;
      border-right:none; 
      height:236px;
      display: flex;
      flex-direction: row;
      margin-right: -1px;
      flex: 1;
      margin-left: 21px;
      line-height: 28px;
      .weatherDay{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        border-right: 1px solid #dfdfdf;
        .weatherDate{
            line-height: 32px;
            background:#f8f8f8;
            width: 100%;
            text-align: center;
        }
        .weatherIcon{
          margin: 16px;
        }
        .weatherNoData{
          display: flex;
          justify-content: center;
        }
      }
      
    }
  }
  .charts{
    height: 270px;
    display: flex;
  }
  .tooltipBox {
    width: 150px;
    .axisValue {
        border-bottom: 1px solid #dfdfdf;
        padding: 0 30px 0 10px;
        line-height: 26px;
    }
    .tooltipContainer {
        padding: 10px 0;
    }
    .tooltipCont {
        span {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            vertical-align: 2px;
            margin: 0 4px 0 8px;
        }
    }
}
}
:global{
  .ant-table .ant-table-thead{
    th>div{
      height: 60px;
    }
  }
  .ant-table-placeholder{
    border: none
  }
  .ant-table .ant-table-thead .ant-table-column-sorter{
    top: 18px;
  }
  .ant-spin-dot i {
    background-color: #199475;
  }
  .ant-tabs-extra-content {
    line-height: 46px;
  }
  .ant-radio-group{
    margin: 0 20px;
  }
  .ant-tabs{
    margin-top: 20px;
  }
  .ant-tabs-bar{
    border-top: 1px dashed #dfdfdf;
    border-bottom: 1px dashed #dfdfdf;
  }
  .ant-tabs-nav .ant-tabs-tab{
    margin: 0;
    background: #f1f1f1;
    color: $darkColor;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $themeColor;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
    background: $themeColor;
  }
  .ant-tabs-nav .ant-tabs-tab-active:hover {
    color: #fff;
  }

  .ant-switch-checked {
    background-color: $themeColor;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: $themeColor;
    border-color: $themeColor;
    color: #fff;
  }
  .ant-radio-button-wrapper{
    height: 24px;
    line-height: 24px;
  }
  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
    color: $themeColor;
    position: relative;
  }
}

}


