.planContainerBox{
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
}

.planContainer{
  display: flex;
  min-height: 100%;
  flex: 1;
  overflow: hidden;
  background:#ececec;
}
