@import "../../../../theme/theme.scss";

.planContainerBox {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
}

.planContainer {
  @include contentBoxStyle();
  flex-direction: row;
}