@import '../../../../theme/theme.scss';
.faultAllFan{
  width: 100%;
  .title{
    padding-left: 48px;
    @include lineheight(20px);
    background-color: $pageBackground;
  }
  .allFanWrap{
    width: 100%;
    background-color: $pageBackground;
  }
  .allFanContent{
    width: 1390px;
    background-color: $pageGround;
    margin: 0 auto;
    .allFanContentCharts{
      width: 100%;
      padding: 0 20px 20px;
    }
    .noData{
      width: 100%;
      height: 268px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
