    
    
    
    .CleanoutPlanRecord{
      display: flex;
      flex: 1 0 auto;
      width: 100%;
      flex-direction: column;
      background-color: #fff;
      padding: 24px 24px 0;
      z-index: 2;
      .detailTop{
        display: flex;
        justify-content:space-between;
        height: 48px;
        border-bottom: 1px solid #ececec;
        .topInfoShow{
          font-size: 20px;
        }
       .handleArea{
         i{ font-size: 24px;}
        
       }
       .backIcon{
         border-left: 1px soild #ececec ;
        font-size: 24px;
       }

      }
      .statisticData{
        display: flex;
        height: 116px;
        padding: 20px;
        border-bottom: 1px solid #ececec;
        .statisticTarget{
          display: flex;
          border-right: 1px solid #ececec;
          flex-direction: column;
          justify-content: center;
          padding: 0 20px 0 20px;
          .numberColor{
            color:#199475;
            font-size: 24px;
            line-height: 40px;
          }
        }
      }
      .filterData{
        display: flex;
        justify-content: space-between;
        height: 60px;
        line-height: 60px;
        align-content: center;
        .plusButton { // 添加电站 
          margin: 16px 12px 0 0;
          padding: 0;
          font-size: 0;
          i{
            vertical-align: top;
            font-size: 14px;
          }
          span{
            background-color: #fff;
            color:#199475;
            border-radius: 0 4px 4px 0;
            display: inline-block;
           font-size: 14px;
            width: 40px;
            line-height: 30px; 
            margin: 0px;
          }
          &:hover{
            span{
              background-color: #199475;
              color:#fff;
            }
          }
        }
        .plusButton:hover{
          border-radius: 6px;
        }
        :global{
          .anticon-plus{
            color: #fff;
            height: 100%;
            border-radius: 4px 0 0 4px;
            width: 28px;
            text-align: center;
            line-height: 30px;
            background-color: #199475;
          }
          .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) .anticon {
            margin-left: 0px;
            width: 28px;
            color: #666;
          }
        }
      }
    }
   