@import "../../../../../theme/theme.scss";

.sidePage {
  z-index: 2;
  @include contentBoxStyle();
  padding: 0;
}
.CleanoutPlanRecord {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  .testBackground {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    flex-direction: column;
  }

  .detailTop {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    .topInfoShow {
      font-size: 20px;
      padding-left: 16px;
    }
    .handleArea {
      height: 100%;
      display: flex;
      align-items: center;
      :global {
        .icon-last,.icon-next {
          font-size: 20px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
      .previous,
      .next {
        font-size: 20px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .previous,
      .next {
        width: 40px;
      }
    }
    .backIcon{
      @include backIcon();
    }
  }
  .statisticData {
    display: flex;
    height: 116px;
    padding: 20px;
    .statisticTarget {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px 0 20px;
      .numberColor {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .filterData {
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    height: 60px;
    line-height: 60px;
    align-content: center;

    .plusButton {
      margin: 16px 12px 0 0;
    }
  }
}
.handle {
  display: flex;
  justify-content: center;
  margin-left: 44px;
  button {
    margin-right: 16px;
  }
}
.treeDeviceTypes {
  overflow-y: auto;
  height: 130px;
  :global {
    .ant-select-tree {
      padding: 0;
    }
    .ant-select-tree li {
      margin: 4px 0;
    }
    // .ant-select-tree li:hover {
    //   background: #ceebe0;
    // }
    .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    .ant-select-tree li span.ant-select-tree-switcher {
      width: 6px;
    }
  }
}

.light {
  color: $darkColor;
  .CleanoutPlanRecord {
    background-color: #f0f2f5;
    .testBackground {
      background-color: #fff;
    }
    .detailTop {
      border-bottom: 1px solid #f0f2f5;
    }
    .statisticData {
      border-bottom: 1px solid #f0f2f5;
      .statisticTarget {
        border-right: 1px solid #f0f2f5;
        .numberColor {
          color: #199475;
        }
      }
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  background: $background;
  .CleanoutPlanRecord {
    .detailTop {
      border: 1px solid $border-color;
      background: $light-background;
      .backIcon {
        border-left: solid 1px $border-color;
        color: $fontColor-hover;
      }
    }
    .statisticData {
      border: 1px solid $border-color;
      background: $light-background;
      margin-top: 10px;
      .statisticTarget {
        border-right: 1px solid $border-color;
        .numberColor {
          color: $fontColor-hover;
        }
      }
    }
    .wrap {
      border: 1px solid $border-color;
      background: $light-background;
      margin-top: 10px;
    }
  }
}
