@import '../../../../../theme/theme.scss';


.stationTable {
  //table字体图表样式
  .cleanTime{
    width: 20%;
  }
  .matrix{
    width: 35%;
  }
  .remark{
    width: 23%;
  }
  .pr{
    width: 12%;
  }
  .check{
    width: 10%;
  }
  .matrixText, .remarkText{
    display: table-cell;
    @include overflowText();
  }
  .matrixText{
    max-width: calc((100vw - 240px) * 0.35 - 10px);
  }
  .remarkText{
    max-width: calc((100vw - 240px) * 0.23 - 10px);
  }
  :global {
    .icon-edit, .icon-del{
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.light {
  .stationTable {
    :global {
      .icon-edit, .icon-del{
        padding: 0 4px;
        color: var(--themeColor);
        &:hover {
          color: #ff9900;
        }
      }
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .stationTable {
    :global {
      .icon-addto, .icon-viewplan, .icon-edit, .icon-del{
        color: $fontColor;
        &:hover {
          color: $fontColor-hover;
        }
      }
    }
  }
}
