@import '../../../../../theme/theme.scss';

.handle {
  display: flex;
  justify-content: center;
  margin-left: 44px;
  button {
    margin-right: 16px;
  }
}
.stationTable {
  //table字体图表样式
  .cleanType, .cleanCost{
    width: 8%;
  }
  .actualCleanTime, .cleanProfit, .addRecord{
    width: 12%;
  }
  .estimateStartTime, .estimateEndTime, .company{
    width: 14%;
  }
  .companyText{
    display: table-cell;
    max-width: calc((100vw - 240px) * 0.14 - 10px);
    @include overflowText();
  }
  .editAndDelet{ // 操作 最窄
    width: 6%;
  }
  :global {
    .icon-addto, .icon-viewplan, .icon-edit, .icon-del{
      cursor: pointer;
      font-size: 20px;
    }
  }
}
.iconStyles {
  display: flex;
  justify-content: center;
}

.light {
  .stationTable {
    :global {
      .icon-addto, .icon-viewplan, .icon-edit, .icon-del{
        padding: 0 4px;
        color: var(--themeColor);
        &:hover {
          color: #ff9900;
        }
      }
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .stationTable {
    :global {
      .icon-addto, .icon-viewplan, .icon-edit, .icon-del{
        color: $fontColor;
        &:hover {
          color: $fontColor-hover;
        }
      }
    }
  }
}
