.handle {
  display: flex;
  justify-content: center;
  margin-left: 44px;
  button {
    margin-right: 16px;
  }
}
.stationTable {
  //table字体图表样式
  :global {
    .ant-table .ant-table-thead > tr > th {
      padding: 0 24px;
    }
    .ant-table .ant-table-tbody > tr > td {
      padding: 0 24px;
    }
    .ant-table-thead {
      th > div {
        height: 60px;
      }
    }
    .ant-table-column-sorter {
      top: 18px;
    }
    .iconfont {
      font-size: 20px;
      &:hover {
        color: #199475;
      }
    }
    .icon-edit,
    .icon-del {
      color: #199475;
    }
  }
}
.iconStyles {
  display: flex;
  justify-content: center;
}

.light {
  .stationTable {
    :global {
      .iconfont {
        &:hover {
          color: #199475;
        }
      }
      .icon-edit,
      .icon-del {
        color: #199475;
      }
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .stationTable {
    :global {
      .iconfont {
        &:hover {
          color: $fontColor-hover;
        }
      }
      .icon-edit,
      .icon-del {
        color: $fontColor;
      }
      .ant-table .ant-table-tbody > tr > td {
        padding: 0 12px;
      }
    }
  }
}
