@import '../../../../../theme/theme.scss';

.cleanoutRecordMain {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  .cleanoutcontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .topFilter {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .paginationStyle {
    display: flex;
    justify-content: flex-end;
    height: 48px;
  }
  .iconStyles {
    display: flex;
    justify-content: center;
  }
}
.handle {
  //modal的取消确认按钮样式
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 44px;

  span{
    cursor: pointer;
    color: $themeColor;

    &:hover{
      color: #f9b600;
    }
  }

  button{
    margin-left: 14px;
  }
}
.radioStyle {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.stationTable {
  //table字体图表样式
  .stationName, .cleanProfit{
    width: 17%;
  }
  .cleanPlanNum, .cleanCycle, .cleanTime, .addplan{
    width: 14%;
  }
  .check{
    width: 10%;
  }
  :global {
    .iconfont {
      color: var(--themeColor);
      padding: 0 4px;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        color: #ff9900;
      }
    }
  }
}

.cleanoutRecordMain.light {
  .topFilter{
    background:#ffffff;
    border:1px solid #d4d4d4;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
  .wrap{
    background:#ffffff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
}

