.cleanoutRecordMain {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  flex-direction: column;
  .cleanoutcontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .topFilter {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .paginationStyle {
    display: flex;
    justify-content: flex-end;
    height: 48px;
  }
  .iconStyles {
    display: flex;
    justify-content: center;
  }
}
.handle {
  //modal的取消确认按钮样式
  display: flex;
  justify-content: center;
  margin-left: 44px;
  button {
    margin-right: 16px;
  }
}
.radioStyle {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.stationTable {
  //table字体图表样式
  :global {
    .ant-table .ant-table-thead > tr > th {
      padding: 0 24px;
    }
    .ant-table .ant-table-tbody > tr > td {
      padding: 0 24px;
    }
    .ant-table-thead {
      th > div {
        height: 60px;
      }
    }
    .ant-table-column-sorter {
      top: 18px;
    }
    .iconfont {
      font-size: 20px;
      &:hover {
        color: #199475;
      }
    }
  }
}

.cleanoutRecordMain.light {
  background: #f0f2f5;
  .cleanoutcontainer {
    background-color: #fff;
  }
}

@import "../../../../../theme/darkTheme.scss";
.cleanoutRecordMain.dark {
  background: $background;
  .wrap {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
  }
}
