@import "../../../../theme/theme";
.ignoreBox {
  @include contentBoxStyle();
  .ignoreMain {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .wrap {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .selectCondition {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 26px 0 20px 28px;
    }
    :global {
      .ant-table-placeholder {
        border-bottom: none;
      }
    }
  }
}

.light {
  background: #f0f2f5;
  .ignoreMain {
    border: 1px solid #e1e2e2;
    background: #fff;
    .selectCondition {
      border-top: 1px solid $promptColor;
    }
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  background: $background;
  .ignoreMain {
    .wrap {
      border: 1px solid $border-color;
      background: $light-background;
      margin-top: 10px;
    }
  }
}
