@import "../../../../theme/theme";
.transferMain {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .selectCondition {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 26px 0 20px 28px;
  }
   .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
       @include overflowText();
   }   

  .stationName,.belongMatrix,.parentDeviceName,.deviceName,.happenTime,.createTime,.iconDetail{
    width:14%;
  }
  .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
    max-width: calc((100vw - 230px) * 0.14 - 20px);
  }

  .iconDetail {
    .iconBox {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      cursor: pointer;
      margin: 0 auto;
      &:hover {
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
      }
    }
  }
}

.light {
  border: 1px solid #e1e2e2;
  background: #fff;
  .selectCondition {
    border-top: 1px solid $promptColor;
  }
  .iconBox {
    background-color: #ceebe0;
    color: #199475
    &:hover {
      background: $themeColor;
      :global {
        .icon-action {
          color: #fff;
        }
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .wrap {
    border: 1px solid $border-color;
    background: $light-background;
    margin-top: 10px;
  }

  .iconBox {
    background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
    color: #fff;
    &:hover {
      background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
    }
  }
}
