@import "../../../../theme/theme";
.transferMain {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .tableWrap{
    flex: 1;
  }
  .selectCondition {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0 15px;
    margin-right: 0;

  }
   .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
       @include overflowText();
   }

  .stationName,.belongMatrix,.parentDeviceName,.deviceName,.happenTime,.createTime,.iconDetail{
    width:14%;
  }
  .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
    max-width: calc((100vw - 230px) * 0.14 - 20px);
  }

  .iconDetail {
    .iconBox {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      cursor: pointer;
      margin: 0 auto;
      &:hover {
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
      }
    }
  }
}

.light {
  .filterWrap{
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    background: #fff;
  }
  .tableWrap{
     box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    background: #fff;
  }
  .iconBox {
    background-color: #ceebe0;
    color: #199475;
    &:hover {
      background: $themeColor;
      :global {
        .icon-action {
          color: #fff;
        }
      }
    }
  }
}

.dark {
}
