@import "../../../../theme/theme.scss";
.faultSingleFan {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .singleFanContent {
    width: 100%;
    .title {
      display: flex;
      background-color: $pageGround;
      @include lineheight(40px);
      justify-content: space-between;
      div:nth-of-type(1) {
        width: 180px;
        padding-left: 18px;
        background-color: $pageGround;
        color: $darkColor;
      }
      div:nth-of-type(2) {
        cursor: pointer;
        color: $themeColor;
        padding-right: 30px;
      }
      &:hover {
        .backFont {
          color: #ff9900;
        }
      }
    }
  }
}
