@import '../../../../theme/theme.scss';
.allStationContainer {
    background: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.20);
    .headStation {
        flex: 1;
        display: flex;
        .typeIcon {
            width: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .leftIcon {
                width: 30px;
                height: 35px;
                background: url('/img/wind01.png') no-repeat center;
            }
            .rightIcon {
                margin-top: 15px;
                width: 24px;
                height: 15px;
                background: url('/img/solar01.png') no-repeat center;
            }
        }
        .progressInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            .progressData {
                width: 220px;
                height: 100px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-left: 25px;
                .stationValue {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 20px;
                }
                .progressBar {
                    flex: 1;
                    width: 220px;
                }
                .stationType {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 20px;
                }
            }
            .showInfo {
                background: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
                border-radius: 25px;
                width: 80px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: #199475;
            }
        }
        .stationCollect {
            height: 100px;
            display: flex;
            flex-direction: row;
            margin: 0 25px;
            .dayStation,
            .monthStation,
            .yearStation,
            .yearStationRate {
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; //margin-left: 25px;
                .dataValue {
                    flex: 1;
                    text-align: center;
                    color: #199475;
                    font-size: 24px;
                    padding-top: 20px;
                    font-family: STHeitiSC-Light;
                }
                .dataName {
                    flex: 1;
                    padding-bottom: 1px;
                }
            }
            .dayStation,
            .monthStation,
            .yearStation,
            .yearStationRate {
                margin-right: 12px;
            }
            .yearStationRate {
                position: relative;
            }
            .tooltipName {
                position: absolute;
                right: -16px;
                top: 12px;
                color:$promptColor;
                cursor: pointer;
            }
            .tooltipName:hover {
                color: #f9b600;
            }
        }
    }
    .stationNav {
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px dashed #d4d4d4;
        border-bottom: 1px dashed #d4d4d4;
        .showType {
            width: 55px;
            height: 55px;
            background: #199475;
            text-align: center;
            line-height: 55px;
            font-size: 20px;
            color: #f1f1f1;
            font-size: 16px;
        }
        .typeTotal {
            margin-right: 30px;
            width: 100px;
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .stationNum {
                color: #199475;
                margin-left: 5px;
            }
        }
    }
    .Map{
        :global{
            .ec-extension-bmap{
                display: flex;
                flex: 1;
                height: auto !important;
            }
        }
    }
    
}