@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  .stationTimeFilter {
    background: #fff;
  }
  .componentContainer {
    background: #fff;
    .title {
      border-bottom: 1px solid #ececec;
      .stationStatus {
        color: $darkColor;
        .stationIcon {
          i {
            color: $themeColor;
          }
        }
        .rightFont {
          color: $lightColor;
        }
      }
      .stationTargetData {
        .stationTargetValue {
          color: #199475;
        }
      }
    }
    .targetGraphContainer {
      .bgStyle {
        background: #f1f1f1;
        .fontStyle {
          border-top: 1px solid #199475;
          color: #666;
        }
      }
      .tabContainer {
        border-bottom: 1px solid #ececec;
      }
    }
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .stationTimeFilter {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
    .rightContent {
      color: $fontColor;
    }
  }
  .componentContainer {
    background: $background;
    .title {
      border: 1px solid $border-color;
      background: $light-background;
      .stationStatus {
        color: $fontColor;
        .stationIcon {
          i {
            color: $fontColor;
          }
        }
        .rightFont {
          color: $fontColor;
        }
      }
      .graph {
        color: $fontColor;
        .stationTargetValue {
          color: $fontColor-hover;
        }
        .unit {
          color: $fontColor;
        }
      }
    }
    .targetGraphContainer {
      .tabContainer {
        border: 1px solid $border-color;
        background: $light-background;
        margin-top: 10px;
      }
    }
  }
}
