
@import '../homepageParts.scss';

@media screen and (max-width: 1679px) { // 1680以下屏幕，按1440px进行适配。
  .eqpHours, .faultList, .alarmList{
    width: 440px;
  }
  .monthGen, .deviceStatus{
    height: 210px;
  }
  .eqpHours .hourRectGroup{
    margin: 0 12px;
  }
  .deviceStatus .statusChart{
    width: 55%;
  }
}

@media screen and (max-width: 1919px) and (min-width: 1680px) { // 1920以下宽度屏按1680px适配
  .eqpHours, .faultList, .alarmList{
    width: 475px;
  }
  .monthGen, .deviceStatus{
    height: 210px;
  }
  .eqpHours .hourRectGroup{
    margin: 0 12px;
  }
  .deviceStatus .statusChart{
    width: 60%;
  }
}

@media screen and (min-width: 1920px){ // 1920及以上屏幕按1920展示
  .eqpHours, .faultList, .alarmList{
    width: 550px;
  }
  .monthGen, .deviceStatus{
    height: 240px;
  }
  .eqpHours .hourRectGroup{
    margin: 0 60px;
  }
  .faultList .list{
    padding-right: 60px;
  }
  .deviceStatus .statusChart{
    width: 60%;
  }
}

.stationTypeTag{ // 全部,风,光切换样式。
  display: flex;
  .text{
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.chartTool{ // chart图内文字及样式。
  color:#a6e8ff;
  font-family:PingFangSC-Regular;
  font-size: 14px;
  border-radius: 2px;
  width: 88px;
  height: 60px;
  line-height: 21px;
}

.noData{
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #353535;
  font-size: 10px;
}
// 多个盒子容器尺寸数据
.stationGeneral, .monthGen, .outputPower, .deviceStatus {
  width: 340px;
}
.stationGeneral, .outputPower{
  height: 280px;
}

.eqpHours, .faultList, .alarmList{ // 底部盒子高度。
  height: 205px;
}
.monthGen, .deviceStatus, .outputPower, .eqpHours, .faultList, .alarmList{ // 大致所有盒子总样式。
  margin-top: 20px;
  @include boxStyle();
  position: relative;
  h3{
    @include titles();
  }
  .checkTags{
    @include typeTags();
  }  
}

.stationGeneral{ // 电站概况
  @include boxStyle();
  position: relative;
  margin-top: 20px;
  align-content: flex-start;
  h3{
    @include titles();
  }
  .checkTags{
    @include typeTags();
  }
  .generalBox{
    display: flex;
    flex-wrap: wrap;
  }
  .eachGeneral{
    width: 50%;
    margin-bottom: 16px;
    .value,.unit,.name{
      font-family:PingFangSC-Regular;
      color:#06bdf4;
      margin-left: 36px;
    }
    .value{
      font-size:20px;
      color:#4dde49;
    }
    .unit{
      margin-left: 0;
    }
    .name{
      line-height:24px;
    }
  }
}
.monthGen{
  h3{
    height: 42px;
  }
  .monthTool{ // chart图内文字及样式。
    @include chartTool();
    width: 88px;
    height: 60px;
    line-height: 21px;
  }
  .monthChart{
    flex: 1;
    z-index: 99;
    margin: 0 10px;
  }
}
.outputPower{ // 电站出力
  align-items: center;
  .outputChart{
    flex: 1;
    width: 340px;
  }
  .outputTool{
    @include chartTool();
    width: 126px;
    height: 90px;
    display: flex;
    flex-direction: column;
    .time, .text {
      color:#a6e8ff;
    }
    .time{
      height: 32px;
      line-height: 32px;
    }
    .text{
      height: 24px;
      line-height: 24px;
      text-align: right;
      margin-right: 12px;
    }
  }
  .totalPower{
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    .highlight{
      color:#4dde49;
      font-size:28px;
      font-family: digital-7mono;
    }
    .text{
      color:#06bdf4;
    }
  }
}

.deviceStatus{ // 设备状态
  .statusBox{
    flex: 1;
    display: flex;
    .statusTool{
      @include chartTool();
      width: 105px;
      height: 56px;
      display: flex;
      flex-direction: column;
      .status, .percent {
        display: flex;
        height: 24px;
        line-height: 24px;
        .name, .value{
          color:#a6e8ff;
          height: 32px;
          line-height: 32px;
        }
        .name{
          flex: 0 0 60px;
        }
      }
    }
    .statusTotal{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .eachStatus{
      display: flex;
      height: 34px;
      align-items: center;
      .round{
        flex: 0 0 14px;
        height: 14px;
        border-radius: 50%;
      }
      .text{
        flex: 0 0 60px;
        color:#06bdf4;
        margin: 0 8px 0 8px;
      }
      .value{
        color:#4dde49;
        font-size: 20px;
      }
    }
  }
}

.eqpHours{ // 今年等效利用小时数
  .stationProgress{
    flex: 1;
    .eachStation{
      display: flex;
      justify-content: center;
      .stationName, .hour{
        color:#06bdf4;
        flex: 1;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all; 
      }
      .hour{
        text-align: left;
      }
      .hourRectGroup{
        display: flex;
        align-items: center;
        .eachRect{
          background:rgba(72,207,73,0.40);
          margin-right: 2px;
          display: flex;
          .highLightRect{
            background:#48cf49;
          }
        }
      }
    }
  }
  .average{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px;
    .averageText{
      color:#06bdf4;
    }
    .averageNum{
      color: #48cf49;
    }
  }
}

.faultList{ // 本月故障台次
  .faultContent{
    flex: 1;
    display: flex;
    .list, .chart{
      width: 45%;
      display: flex;
      flex-direction: column;
    }
    .chart{
      width: 55%;
    }
    .eachFault{
      display: flex;
      background-repeat: no-repeat;
      background-position: center right;
      .text, .stationName, .value{
        color:#06bdf4;
        line-height: 24px;
        height: 24px;
      }
      .text{
        width: 54px;
      }
      .stationName{
        flex: 1;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all; 
      }
      .value{
        color:#4dde49;
        width: 40px;
      }
    }
    .faultTool{
      @include chartTool();
      width: 84px;
      height: 54px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.alarmList{ // 告警列表
  h3{
    position: relative;
    .total{
      position: absolute;
      right: 18px;
      bottom: -8px;
      font-size:14px;
      color:#06bdf4;
    }
  }
  .alarmContent{
    flex: 1;
  }
  .alarmBox{
    height: 110px;
    overflow: hidden;
    .scrollAlarm{
      transition: all 0.5s,
    }
  }
  .alarmColumn, .eachAlarm{
    display: flex;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    .level, .stationName, .info, .time{
      color: #06bdf4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all; 
    }
    .level{
      color: #fff;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .round{
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        background:#c23c3c;
        border-radius: 50%;
      }
    }
    .stationName{
      width: 104px;
      text-align: left;
    }
    .info{
      flex: 1;
      text-align: center;
    }
    .time{
      width: 95px;
      display: flex;
      .day, .hour{
        color:#a6e8ff;
        width: 17px;
        text-align: right;
      }
      .day {
        width: 24px;
      }
    }
  }
  .alarmColumn{
    margin-bottom: 4px;
    .level, .stationName, .info, .time{
      color:#a6e8ff;
    }
    .info{
      text-align: center;
    }
    .time{
      justify-content: flex-end;
      margin-right: 12px;
    }
  }
}
