.tooltipBox {
  // 提示框
  width: 150px;
  .axisValue {
    padding: 0 30px 0 10px;
    line-height: 26px;
  }
  .tooltipContainer {
    padding: 10px 0;
  }
  .tooltipCont {
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 10px;
    }
  }
}
.light {
  .axisValue {
    border-bottom: 1px solid #dfdfdf;
  }
}
.dark {
  @import "../../../../../../theme/darkTheme.scss";
  .tooltipBox {
    // color: #c1d4fc;
    font-size: 12px;
    .axisValue {
      border-bottom: 1px solid $border-color;
    }
  }
}
