@import "../../../../theme/theme.scss";
.realtime {
  @include contentBoxStyle();

  .realtimeWarningBox {
    display: flex;
    flex: 1;
  }
}

.light {
  .realtimeWarningBox {
    background-color: #f0f2f5;
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .realtimeWarningBox {
    background-color: $background;
  }
}
