@import "../../../../theme/theme.scss";
.realtime {
  @include contentBoxStyle();

  .realtimeWarningBox {
    display: flex;
    flex: 1;
  }
}

.light {
  .realtimeWarningBox {
    background-color: #ececec;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .realtimeWarningBox {
    background-color: $background;
  }
}
