

.workPlanList, .workPlanSide{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 24px 0;
  transition: all 500ms;
  z-index: 99;
}

.workPlanList{
  display: flex;
  flex-direction: column;
  .topContent {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border:1px solid #d4d4d4;
    box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
  }
}



// .handleWorkPlan{
//   // transform: translateX(100%);
// }

// .planDetail{
//   // transform: translateX(100%);
// }

// 颜色
