

.workPlanList, .handleWorkPlan, .planDetail{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 24px 0;
  transition: all 500ms;
}

.workPlanList{
  // transform: translateX(0);
  // background-color: #fff;
}

.handleWorkPlan{
  // transform: translateX(100%);
}

.planDetail{
  // transform: translateX(100%);
}

// 颜色
