@import '../../../../../theme/theme.scss';

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow:0 2px 4px 2px rgba(0,0,0,0.20); 
  border-top: 1px solid #199475;
  margin: 0 2px 4px 2px;

  .titleType {
    display: flex;
    align-content: center;
    border-bottom: 1px solid #d9d9d9;


    .selectPv,
    .selectWind {
      background: #199475;
      border: 1px solid #199475;
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
    }

    .pv,
    .wind {
      width: 50px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #199475;
      color: #199475;
      &:hover {
        background-color: #ceebe0;
      }
    }

    .pv,
    .selectPv {
      border-radius: 2px 0 0 2px;
      margin: 15px 0 15px 28px;
    }

    .wind,
    .selectWind {
      border-radius: 0 2px 2px 0;
      margin-top: 15px;
    }
  }

  .container {
    display: flex;
    flex: 1;

    :global {
      .ant-table-scroll .ant-table-body {
        border-bottom: 1px solid #d4d4d4;
      }
    }
    .leftTree {
      display: flex;
      width: 482px;
      border-right: 1px solid #d9d9d9;
    }

    .rightNode {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 18px;

      :global {
        .icon-del {
          cursor: pointer;
          color: #199475;

          &:hover{
            color: #f9b600;
          }
        }
      }

      .plusButton {
        display: flex;
        margin: 8px 0;
        padding: 0 15px 0 10px;
        .icon {
          margin: 0 16px 0 0;
        }
      }

      .nodeName{
        max-width: calc((100vw - 748px) * 0.25);
        @include overflowText();
      }

      .operateUserName{
        max-width: calc((100vw - 748px) * 0.15);
        @include overflowText();
      }


    }

    .addNodeFrom {
      background: #f0f2f5;
    }

    .addNodeFrom,
    .editNodeFrom {

      border: 1px solid #d4d4d4;
      border-radius: 2px;
      height: 270px;

      .title {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;

        .leftText {
          margin-left: 20px;
          height: 30px;
          line-height: 30px;
        }

        .iconstyles {
          border: 1px solid #199475;
          width: 34px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 20px;
          }
        }
      }

      .contantBox {
        display: flex;
        flex: 1;
        justify-content: center;

        .contant {
          width: 300px;

          .editPart {
            display: flex;
            flex-direction: column;

            .formItemStyle {
              display: flex;
            }

            .saveStyle {
              height: 32px;
              margin: 10px 0 0 100px;

            }

            .editSaveButton {
              display: flex;
              margin: 10px 0 0 100px;

              .saveButton,
              .restore {
                height: 32px;
                margin-right: 16px;
              }
            }


          }

          :global {

            .ant-form-item,
            .ant-form-horizontal {
              margin-bottom: 4px;
            }

            .ant-form-item-label {
              width: 100px;
            }

            .ant-btn {}
          }


        }
      }



    }

  }
}
