
@import '../../../../theme/theme.scss';

.search{
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  margin-bottom: 10px;
  .station, .startTime, .space, .types, .count{
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    line-height: 55px;
    .text{
      text-align: right;
      margin-right: 4px;
    }
  }
  .station, .types{
    .text{
      flex-basis: 80px;
    }
  }
  .startTime, .count{
    .text{
      flex-basis: 120px;
    }
  }
  .space{
    flex: 0 0 50%;
    .text{
      flex-basis: 120px;
    }
  }
  .count{
    flex: 0 0 75%;
  }
}

.light.search{
  color: var(--darkColor);
  background-color: #fff;
}

.dark.search{
  color: var(--darkColor);
  background:rgba(20,33,101,0.40);
}
