
@import "../../../../../theme/theme.scss";

.handleInfo{
  margin-bottom: 39px;
  .handleTitle{ // 处理信息 + 添加记录按钮
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    .titleName{
      flex: 0 0 166px;
      line-height: 36px;
      color: #fff;
      padding-left: 17px;
      background: url('/img/bannerBgc.png') no-repeat;
    }
   
  }
  .btn{
    display: flex;
    flex:0 0 92px;
    margin-right: 24px;
    align-items: center;
    padding: 0;
    i{
      display:flex;
      margin-left:7px;
    }
    .actionName{
      flex:1;
      align-items: center;
    }
  }
 @media screen and (min-width: 1920px){ // 1920及以上屏幕按1920px适配
    .btn{
      flex:0 0 102px;
    }
  }

  .handleContents{
    padding: 0 24px;
  }
  .eachInfo{
    border:1px solid var(--promptColor);
    box-shadow:2px 2px 0 3px #f3f2f2;
    padding: 0 30px 0 20px;
    border-radius:2px;
    margin-bottom: 12px;
    padding-bottom:11px;
    .userInfo{
      display: flex;
      justify-content: space-between;
      height: 44px;
      align-items: center;
      .handleTime{
        margin-right: 15px;
      }
      :global{
        .icon-xietiao{
          color: #df4b33;
          font-size: 20px;
        }
      }
    }
    .handleRecord, .coordinateRecord, .partRecord, .imgRecord{
      display: flex;
      border-top: 1px dashed var(--promptColor);
      line-height: 30px;
      .recordName{
        flex: 0 0 74px;
        line-height: 30px;
        color: #000;
        font-weight: 700;
      }
      .recordText{
        word-break: break-all;
      }
    }
    .imgRecord{
      padding-top: 8px;
      .picBox{
        display: flex;
      }
    }
  }
  .infoEditBox{
    border:1px solid var(--promptColor);
    box-shadow:2px 2px 0 3px #f3f2f2;
    border-radius:2px;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    // 编辑-新增处理信息
    .editRecord, .editPic, .editVideo, .editParts, .editCoordinate{
      display: flex;
      .editTitle{
        flex: 0 0 74px;
        font-weight: 700;
      }
      .star{
        color:#df4b33;
        padding: 0 5px;
      }
    }
    .editParts{
      .editTitle{
        display: flex;
      }
    }
    .editRecord, .editPic, .editVideo, .editCoordinate{
      .editTitle .editTitleName, .editTitle .titleTip{
        line-height: 30px;
      }
      .editTitle .editTitleName{
        font-weight: 700;
        flex: 0 0 74px;
        display: flex;
        line-height: 40px;
      }
      .editTitle .titleTip{
        color: var(--lightColor);
      }
      .coorName{
        text-align: right;
        font-weight: 700;
        width: 55px;
      }
    }
    .editRecord{
      margin-bottom: 8px;
      .editTitle{
        margin-top: 16px;
        .editTitleName{
          font-weight: 700;
        }
      }
      textarea{
        margin-top: 20px;
        height: 92px;
        flex: 1;
      }
      .cancelEdit{
        flex: 0 0 24px;
        height: 24px;
        margin-left: 12px;
        color:$themeColor;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        &:hover{
          color:#ff9900;
        }
      }
      .disDiplay{
        opacity: 0;
      }
    }
  }
  .editPic{
    margin-bottom: 21px;
  }
  .editVideo{
    margin-bottom: 16px;
  }
  .editParts{
    margin-bottom: 21px;
    align-items: center;
    .partsInput{
      display: flex;
      align-items: center;
      input{
        margin-left: 15px;
        width: 300px;
      }
    }
  }
  .editCoordinate{
    margin-bottom: 12px;
    .coordinateInput{
      flex: 1;
      padding-right: 38px;
      :global{
        .ant-switch{
          margin: 8px 0;
        }
      }
      textarea{
        height: 62px;
      }
    }
  }
  .saveEditRow{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

