@import "../../../../../theme/theme.scss";
.combineInvert {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .reportbox {
    display: flex;
    flex: 1;
    padding: 24px 24px 0;
    flex-direction: column;
  }
}

.combineInvert.light {
  .reportbox {
    background: $pageBackground;
  }
}
