@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  background: #fff;
  .deviceNameSearch {
    background-color: #f9f9f9;
    color: $darkColor;
  }

  .handlerBtn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;

    >span{
      cursor: pointer;
      margin-right: 10px;
      color: $themeColor;

      &:hover{
        color: #f9b600;
      }
    }
  }
  .realTimeWarningTable {
    .tableHeader {
      background-color: #fff;
    }
    .iconDetail {
      i {
        display: block;
        color: $themeColor;
        cursor: pointer;

        &:hover{
          color: #f9b600;
        }
      }
    }
    .deviceName {
      max-width: calc((100vw - 230px) * 0.15 - 10px);
      @include overflowText();
      a {
        text-decoration: none;
        color: $themeColor;
        &:hover {
          color: #f9b600;
        }
      }
    }
    .overflowText{
      max-width: calc((100vw - 230px) * 0.15 - 10px);
      @include overflowText();
    }

    .alarmType{
      max-width: calc((100vw - 230px) * 0.15 - 10px);
    }

    .alarmDescName{
      max-width: calc((100vw - 230px) * 0.18 - 10px);
    }
  }
  .tableFooter {
    background-color: #fff;
    .info {
      color: $darkColor;
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .realTimeWarningFilter {
    margin-top: 10px;
  }

  .deviceNameSearch {
    background-color: $light-background;
    color: $fontColor;
    margin-top: 10px;
    border: 1px solid $border-color;
  }

  .realTimeWarningTable {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;
    :global {
      .ant-table-placeholder {
      }
    }
    .iconDetail {
      i {
        color: $themeColor;
        cursor: pointer;
      }
    }
    .deviceName {
      a {
        border-bottom: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid $fontColor-hover;
          color: $fontColor-hover;
        }
      }
    }
  }

  .tableFooter {
    background-color: transparent;
    .info {
      color: $fontColor;
      .totalNum {
        color: #f8b14e;
      }
    }
    .cancel {
      color: #f8b14e;
    }
  }
}
