@import '../../../../theme/theme.scss';
.realTimeWarningContainer{
  display: flex;
  flex:1;
  flex-direction: column;
  background: #fff;
  .realTimeWarningTop{
    .alarmInfo {
      display: flex;
      flex-shrink: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      background-color: #fff;
      border-bottom: 1px solid #dfdfdf;
      a {
        text-decoration: none;
      }
      .alarmInfoLeft {
        display: flex;
        flex-direction: row;
      }
      .alarmInfoRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 56px;
        .updateTimeContainer {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          margin-right: 27px;
          .updateTime {
            color: $themeColor;
          }
          .updateTimeText {
            color: $darkColor;
          }
        }
        .refreshIcon {
          width: 32px;
          height: 32px;
          background-image: url(/img/refresh.png);
          background-position: center center;
          background-repeat: no-repeat;
          &:hover {
            background-image: url(/img/refresh-on.png);
          }
        }
      }
      .alarmInfoItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        .alarmNum {
          font-size:24px;
          color: $themeColor;
          opacity: 0.74;
        }
        .alarmText {
          font-size: 14px;
          color: $darkColor;
        }
      }
      .alarmNumDetail {
        padding-left: 30px;
        margin-right: 22px;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        display: flex;
        flex-direction: row;
      }
      .alarmAction {
        margin-right: 24px;
        margin-top: 8px;
        display: flex;
        width:73px;
        height:57px;
        flex-direction: column;
        align-items: center;
        .alarmText {
          font-size: 14px;
          color: $darkColor;
        }
        &:hover {
          border:1px solid $themeColor;
          border-radius:4px;
          cursor: pointer;
          .alarmText {
            color: $themeColor;
          }
        }
      }
      :global {
        .icon-alarm {
          font-size: 30px;
          color: #a42b2c;
          margin-left: 47px;
          margin-right: 35px;
        }
        .icon-action {
          font-size: 18px;
          color: $darkColor;
          &:hover {
            color: $themeColor;
          }
        }
        .icon-title {
          background-color:#ceebe0;
          color: $themeColor;
          width:30px;
          height:30px;
          font-size: 20px;
          border-radius:100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 47px;
          margin-right: 35px;
          margin-top: 15px;
        }
        .icon-refresh {
          width: 29px;
          height: 29px;
          border:1px solid $themeColor;
          color: $themeColor;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .icon-help {
          color: #f9b600;
          font-size: 12px;
          margin-left: 4px;
          margin-top: -4px;
        }
      }
    }
  }
}