@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  .warnWrap{
    background: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
  .handlerBtn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;

    >span{
      cursor: pointer;
      margin-right: 10px;
      color: $themeColor;

      &:hover{
        color: #f9b600;
      }
    }
  }
  .realTimeWarningTable {
    .tableHeader {
      background-color: #fff;
    }
    .iconDetail {
      i {
        display: block;
        color: $themeColor;
        cursor: pointer;
        font-size: 20px;
        &:hover{
          color: #f9b600;
        }
      }
    }
    .deviceName {
      max-width: calc((100vw - 230px) * 0.15 - 10px);
      @include overflowText();
      a {
        text-decoration: none;
        color: $themeColor;
        &:hover {
          color: #f9b600;
        }
      }
    }
    .overflowText{
      max-width: calc((100vw - 230px) * 0.15 - 10px);
      @include overflowText();
    }

    .alarmType{
      max-width: calc((100vw - 230px) * 0.15 - 10px);
    }

    .alarmDescName{
      max-width: calc((100vw - 230px) * 0.18 - 10px);
    }
  }
  .tableFooter {
    background-color: #fff;
    .info {
      color: $darkColor;
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
}

.dark {
}
