@import "../../../../../theme/theme";

.topSearch {
  display: flex;
  padding: 0 24px;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  .leftSearch{
    display: flex;
    flex-wrap: wrap;

    > div {
      @include lineheight(32px);
      display: flex;
      span{
        margin-right: 5px;
      }
    }
    > div:not(:first-child){
      margin-left: 20px;
    }

    > div:last-child{
      margin-left: 10px;
    }
  }
  > button{
    color: #fff;
    background:#f9b600;
    border:1px solid #f9b600;

    &:hover{
      color: #fff;
      background:#f9b600;
      border:1px solid #f9b600;
    }
  }

}

.cascaderBox {
  :global{
    .ant-cascader-menu{
      width: 150px;
      .ant-cascader-menu-item{
        width: 150px;
      }
    }
  }
}

// 颜色s
.topSearch {
  background-color: #fff;
  .leftSearchBox{
    button{
      border: 1px solid $themeColor;
      color: $themeColor;

      &:hover {
        background-color: $themeColor;
        color: $pageGround;
      }
    }
    :global{
      .ant-btn[disabled]{
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
      }
    }
  }
}
