@import "../../../../theme/theme";
.historyWarnMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .selectCondition {
    display: flex;
    justify-content: flex-end;
    padding: 26px 0 20px 28px;
  }

  .iconDetail{
    i{
      width:30px;
      height: 30px;
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
    }
  }
  
  .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
       @include overflowText();
  }   

  .stationName,.belongMatrix,.parentDeviceName,.deviceName,.happenTime,.lostGenPercent,.iconDetail{
    width:14%;
  }
  .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
    max-width: calc((100vw - 230px) * 0.14 - 10px);
  }
}

.charts {
  .modalTitle {
    line-height: 50px;
  }
  .chartCont {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
    > div {
      display: flex;
      flex: 7;
      height: 320px;
      margin-top: 5px;
    }
    .dataPciker {
      display: flex;
      flex: 1;
      height: 31px;
      margin-top: 20px;
    }
  }
  :global {
    .ant-modal-body {
      padding: 14px 24px;
    }
    .ant-input {
      width: 148px;
    }
  }
}

.light {
  border: 1px solid #e1e2e2;
  .selectCondition {
    border-top: 1px solid #d4d4d4;
  }
  
  .iconDetail{
    i{
      color: $themeColor;
      &:hover{
        color: #f9b600;
      }
    }
    
  }

  .chartCont {
    border-top: 1px solid $promptColor;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .wrap {
    border: 1px solid $border-color;
    background: $light-background;
    margin-top: 10px;
  }
  .chartCont {
    border-top: 1px solid $border-color;
  }
}
