@import "../../../../theme/theme";
.historyWarnMain {
   @include contentBoxStyle();
  .selectCondition {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0 15px;
    margin-right: 0;
  }
  .tableWrap{
    flex: 1;
  }

  .iconDetail{
    i{
      width:30px;
      height: 30px;
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
    }
  }
  .stationNameText,.belongMatrixText,.parentDeviceNameText,.deviceNameText{
    @include overflowText();
  }   
  .stationName,.belongMatrix,.parentDeviceName,.deviceName,.happenTime,.lostGenPercent,.iconDetail{
    width:14%;
  }
  .stationNameText{
    max-width: calc((100vw - 230px) * 0.14 - 20px);
  }
  .belongMatrixText,.parentDeviceNameText,.deviceNameText{
    max-width: calc((100vw - 230px) * 0.14 - 10px);
  }
}

.charts {
  .modalTitle {
    line-height: 50px;
  }
  .chartCont {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
    > div {
      display: flex;
      flex: 7;
      height: 320px;
      margin-top: 5px;
    }
    .dataPciker {
      display: flex;
      flex: 1;
      height: 31px;
      margin-top: 20px;
    }
  }
  :global {
    .ant-modal-body {
      padding: 14px 24px;
    }
    .ant-input {
      width: 148px;
    }
  }
}

.light {
  .filterWrap{
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    background: #fff;
  }
  .tableWrap{
     box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    background: #fff;
  }
  .iconDetail{
    i{
      color: $themeColor;
      &:hover{
        color: #f9b600;
      }
    }
    
  }
  .chartCont {
    border-top: 1px solid $promptColor;
  }
}


