.detailWrap {
    display: flex;
    flex: 1 0 auto; //background-color: #fff;
    flex-direction: column;
    justify-content: space-between; //padding: 24px 24px 0;
    background-color: #f0f2f5;
    z-index: 30;
    width: 100%;
    margin-left: 4px;
}