@import "../../../../../theme/theme.scss";

$normal: #fff;
$normal_color: #199475;
$normal_hover_color: rgba(0, 0, 0, 0.2);
$moreThanTen: #fefad2;
$moreThanTen_color: #f9b600;
$moreThanTwenty: #ffce7f;
$moreThanTwenty_color: #e08031;
$noContact: #f0f2f5;
$noContact_color: #666666;
$noAccess: #ededed;
$noAccess_color: #999;
$noAccess_background_color: #ededed;
$arlam: #ff8e9c;
$arlam_color: #a42b2c;

.statisticsBox {
  display: flex;
  justify-content: space-between;
  .inverterInfo {
    display: flex;
  }
  .seriesCurrent {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-right: 4px;
    .eachCurrent {
      width: 40px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      background: #ceebe0;
      border-radius: 2px;
      color: $themeColor;
    }
  }
}

.subConfluence {
  // 子汇流箱
  display: flex;
  padding: 0 60px;
  flex-wrap: wrap;
  .singledeviceItem {
    display: inline-block;
    margin-right: 18px;
    margin-bottom: 20px;
    width: 222px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    .statusBox {
      padding: 5px 5px 0px 5px;
      .deviceItemIcon {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        position: relative;
      }
      :global {
        .iconfont {
          font-size: 22px;
        }
        .icon-alarm {
          position: absolute;
          bottom: 10px;
          right: 2px;
          width: 10px;
          height: 10px;
          font-size: 14px;
        }
        .icon-outage {
          position: absolute;
          bottom: 9px;
          left: -5px;
          width: 10px;
          height: 10px;
          font-size: 14px;
        }
      }
      .deviceItemR {
        display: inline-block;
        width: 165px;
        .deviceBlockName {
          display: flex;
          justify-content: space-between;
          margin-bottom: -4px;
          margin-top: 7px;
          .deviceName {
            width: 135px;
            @include overflowText();
          }
        }
        .deviceItemPower {
          display: flex;
          justify-content: space-between;
          margin-top: -4px;
        }
        :global {
          .ant-progress {
            line-height: 3px;
          }
        }
      }
    }
    .deviceBlockFooter {
      line-height: 22px;
      margin-top: 10px;
      padding-left: 3px;
      padding: 0 5px 5px 5px;
      > div {
        display: inline-block;
        width: 50%;
        text-align: left;
      }
    }
    .subBranch {
      // 汇流箱子集支路
      display: flex;
      flex-wrap: wrap;
      padding: 4px;
      .eachBranch {
        flex-basis: 24px;
        line-height: 16px;
        border-radius: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        &:nth-child(8n + 4) {
          margin-right: 8px;
        }
        &:nth-child(8n) {
          margin-right: 0;
        }
      }
    }
  }
}

.tooltip {
  border-radius: 2px;
  width: 180px;
  padding-bottom: 4px;
  .header,
  .eachInfo {
    font-size: 12px;
    line-height: 18px;
  }
  .header {
    padding-left: 8px;
  }
  .eachInfo {
    display: flex;
    line-height: 24px;
    .extraTip {
      flex-basis: 28px;
      position: relative;
      &::before {
        content: "O";
        left: 10px;
        transform: scale(0.8);
        position: absolute;
        z-index: 99;
      }
      &::after {
        content: "——";
        transform: scaleX(0.8);
        position: absolute;
        left: 2px;
        bottom: 1px;
      }
    }
    .name {
      flex-basis: 80px;
    }
    .value {
      flex: 1;
    }
  }
}

.subConfluence.light {
  // 子汇流箱
  .singledeviceItem {
    border: 1px solid #dfdfdf;
    .statusBox {
      a {
        color: $darkColor;
      }
      :global {
        .icon-alarm {
          color: #a42b2c;
        }
        .icon-outage {
          color: #e08031;
        }
        .ant-progress-inner {
          background-color: #dfdfdf;
        }
      }
      .deviceItemR {
        display: inline-block;
        width: 165px;
        color: $darkColor;
        .realDevicePower {
          color: $themeColor;
        }
        :global {
          .ant-progress {
            line-height: 3px;
          }
          .ant-progress-success-bg,
          .ant-progress-bg {
            background-color: $themeColor;
          }
        }
      }
    }

    .deviceBlockFooter {
      .dispersionRatio {
        color: #666666;
      }
    }
  }
  .normal {
    &:hover {
      box-shadow: 0px 1px 4px 1px $normal_hover_color;
    }
    .statusBox {
      background: $normal;
      .deviceBlockName,
      .icon {
        color: $normal_color;
      }
    }
  }
  .normal.alarm {
    .statusBox {
      background: $arlam;
      .deviceBlockName,
      .iconHl {
        color: $arlam_color;
      }
    }
    &:hover {
      box-shadow: 0px 1px 4px 1px $arlam;
    }
  }
  .moreThanTen {
    &:hover {
      box-shadow: 0px 1px 4px 1px $moreThanTen;
    }
    .statusBox {
      background: $moreThanTen;
      .deviceBlockName,
      .iconHl {
        color: $moreThanTen_color;
      }
    }
    .deviceBlockFooter {
      .dispersionRatio {
        color: $moreThanTen_color;
      }
    }
  }
  .moreThanTwenty {
    &:hover {
      box-shadow: 0px 1px 4px 1px $moreThanTwenty;
    }
    .statusBox {
      background: $moreThanTwenty;
      .deviceBlockName,
      .iconHl {
        color: $moreThanTwenty_color;
      }
    }
    .deviceBlockFooter {
      .dispersionRatio {
        color: $moreThanTwenty_color;
      }
    }
  }
  .noContact {
    &:hover {
      box-shadow: 0px 1px 4px 1px $noContact;
    }
    .statusBox {
      background: $noContact;
      .deviceBlockName,
      .iconHl {
        color: $noContact_color;
      }
      :global {
        .icon-alarm {
          color: $noContact_color;
        }
      }
    }
  }
  .noAccess {
    box-shadow: 0 1px 4px 0 $noAccess;
    background: $noAccess_background_color;
    pointer-events: none;
    .deviceBlockName,
    .iconHl {
      color: $noAccess_color;
    }
  }
}

@import "../../../../../theme/darkTheme.scss";

.subConfluence.dark {
  $normal: rgba(83, 104, 241, 0.15);
  $normal_color: #00baff;
  $normal_hover_color: rgba(83, 104, 241, 0.15);
  $moreThanTen: rgba(85, 34, 228, 0.3);
  $moreThanTen_color: #00f8ff;
  $moreThanTwenty: rgba(95, 35, 112, 0.8);
  $moreThanTwenty_color: #fd6e8f;
  $noContact: #4a4343;
  $noContact_color: #f8b14e;
  $noAccess_background_color: #181a4e;
  $noAccess: #181a4e;
  $noAccess_color: #bbcef7;
  $arlam: rgba(145, 44, 65, 0.8);
  $arlam_color: #fd6e8f;
  // 子汇流箱
  .singledeviceItem {
    border: 1px solid rgba(83, 104, 241, 0.6);
    a {
      color: $normal_color;
    }
    .statusBox {
      :global {
        .icon-alarm {
          color: #fd6e8f;
        }
        .icon-outage {
          color: #e08031;
        }
        .ant-progress-inner {
          background-color: #dfdfdf;
        }
      }
      .deviceItemR {
        :global {
          .ant-progress-success-bg,
          .ant-progress-bg {
            background-color: #00baff;
          }
        }
      }
    }
  }
  .normal {
    background: $normal;
    &:hover {
      box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.5);
    }
    .statusBox {
      .deviceBlockName,
      .icon {
        color: $normal_color;
      }
    }
  }
  .normal.alarm {
    a {
      color: #fff;
    }
    &:hover {
      box-shadow: 0 0 6px 2px #ffa1ac;
    }
    background: $arlam;
    .statusBox {
      .deviceBlockName,
      .iconHl {
        color: $arlam_color;
      }
    }
  }
  .moreThanTen {
    background: $moreThanTen;
    a {
      color: #fff;
    }
    &:hover {
      box-shadow: inset 0 0 4px 2px #4d5fe2;
    }
    .statusBox {
      .deviceBlockName,
      .iconHl {
        color: $moreThanTen_color;
      }
    }
    .dispersionRatio {
      color: $moreThanTen_color;
    }
  }
  .moreThanTwenty {
    background: $moreThanTwenty;
    a {
      color: #fff;
    }
    &:hover {
      box-shadow: 0 0 6px 2px #ffa1ac;
    }
    .statusBox {
      .deviceBlockName,
      .iconHl {
        color: $moreThanTwenty_color;
      }
    }
    .dispersionRatio {
      color: $moreThanTwenty_color;
    }
  }
  .noContact {
    background: $noContact;
    a {
      color: #fff;
    }
    border: 1px solid rgba(249, 182, 0, 0.6);
    &:hover {
      box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.5);
    }
    .statusBox {
      .deviceBlockName,
      .iconHl {
        color: $noContact_color;
      }
    }
  }
  .noAccess {
    box-shadow: 0 1px 4px 0 $noAccess;
    background: $noAccess_background_color;
    pointer-events: none;
    a {
      color: $noAccess_color;
    }
    .deviceBlockName,
    .iconHl {
      color: $noAccess_color;
    }
  }
}
