@import "../../../../theme/theme.scss";
@import "./layout.scss";

.seacrchCont.light {
  :global {
    .ant-radio-button-wrapper-checked {
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #fff;
    }
  }
}

.defectTable.light {
  .defectStatus {
    .overTime {
      color: #a42b2c;
      border: 1px #a42b2c solid;
    }
    .coordinate {
      color: #f9b600;
      border: 1px #f9b600 solid;
    }
  }
}

.solutionWrap {
  .dealModal {
    .dealBox {
      background: #f0f2f5;
    }
    .text {
      color: #000;
    }
    .like {
      color: $themeColor;
      border: 1px solid $themeColor;
      background: #fff;
    }
    .liked,
    .disabled {
      border: 1px solid $themeColor;
    }
    .disabled {
      background: #dfdfdf;
      border: 1px solid #c3c3c3;
      color: #999999;
    }
  }
}

.defectCreateForm.light,
.baseInfoCont.light {
  .basicInfo {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
    .dealMethod {
      border: 1px solid $themeColor;
      color: $themeColor;
    }
  }
  .addImg {
    .maxTip {
      color: $promptColor;
    }
  }
  .actionBar {
    .cancelBtn {
      background-color: #f1f1f1;
      color: $darkColor;
    }
    button {
      &:hover {
        background-color: $themeColor;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        color: #fff;
      }
    }
  }
  :global {
    .ant-form-item-required::after {
      display: inline-block;
      margin-right: 4px;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
      color: #a42b2c;
    }
    .ant-radio-button-wrapper {
      padding: 0 8px;
      &-checked {
        background-color: #199475;
        border: 1px solid #199475;
        color: #fff;
      }
    }
    .ant-btn-primary {
      color: #fff;
      border-color: $themeColor;
      background-color: #199475;
      text-shadow: initial;
      &:active,
      &:hover {
        background-color: $themeColor;
        color: #fff;
      }
    }
  }
}

.baseInfoCont.light {
  .basicInfo {
    .title {
      color: $darkColor;
      .text {
        color: rgba(0, 0, 0, 0.85);
      }
      .overTime {
        color: #a42b2c;
        border: 1px #a42b2c solid;
      }
      .coordinate {
        color: #f9b600;
        border: 1px #f9b600 solid;
      }
      :global {
        .icon-content {
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }
    .basicContent {
      .basicItem {
        color: $darkColor;
      }
      .label {
        color: #000000;
      }
      .tickets {
        color: $themeColor;
      }
      .dealMethod {
        border: 1px solid $themeColor;
        color: $themeColor;
      }
    }
  }
  .rightCont {
    .titleText {
      .text {
        background: #f8f8f8;
        border: 1px solid #f1f1f1;
        color: rgba(0, 0, 0, 0.85);
      }
      .border {
        background: #f1f1f1;
      }
    }
  }
  .process {
    .reviewTitle {
      color: #666;
    }
  }
  .timeLineWrap {
    .lastFlowName {
      color: $themeColor;
    }
    .lineIcon {
      background-color: #d8d8d8;
      color: #666;
    }
    .processItem {
      .flowName {
        color: #000000;
      }
      .status {
        border: 1px solid #999999;
      }
    }
  }
}

.defectCreateForm.light {
  .title {
    color: rgba(0, 0, 0, 0.85);
  }
  .tipText {
    color: $promptColor;
    :global {
      .icon-filter {
        color: $promptColor;
      }
    }
  }
  :global {
    .icon-help {
      color: $themeColor;
    }
  }
}

.participantSearch.dark {
  background: rgba(83, 104, 241, 0.15);
  color: #00baff;
  border: 1px solid rgba(83, 104, 241, 0.4);
  margin-top: 10px;
  padding: 20px 28px;
}
