@import '../../../../theme/theme.scss';


.dataAnalysisSequence {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .sequenceMain {
    display: flex;
    flex: 1;
    background-color: #ececec;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0;
  }
}