


@import '../../../../theme/theme.scss';

.alarmManageSearch{ // 条件查询
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 40px;
  min-width: 1150px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 5px 3px rgba(208, 208, 208, 0.60);
  margin-bottom: 8px;

  .titleText{
    color: $darkColor;
    margin-left: 28px;
    margin-right: 12px;
  }
  .typeSelect,.modelSelect,.pointSelect,.warnTypeSelect{
    width: 198px;
    margin-right: 12px;
  }
  .typeSelect {
    margin-left: 12px;
  }
}

.alarmManageHandle{ // 导出设备， 翻页器
  display:flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  .leftHandler{
    display: flex;
    .importInfo{
      margin-left: 36px;
    }
    .exportInfo{
      margin: 0 12px;
    }
    .clearAlarm{

    }
  }
}

.alarmManageList{ // 测点表格区
  display:flex;
  flex-direction: column;
  flex: 1 0 auto;
  // border-top: 1px solid $promptColor;
  z-index: 0;
  box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  :global{
    .ant-table{
      .ant-table-placeholder{
        border-bottom: none;
      }
    }
  }

  .alarmTable {
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-top: none;
    flex: 1;
    min-width: 1050px;
    table{
      width: 100%;
      table-layout: fixed;
    }
    .devicePointDesc, .warningDescription, .belongComponent{
      @include overflowText();
      width: calc(100% - 10px);
    }
  }
}