.realtime {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .realtimeWarningBox {
    display: flex;
    flex: 1;
    padding: 24px 24px 0;
  }
}

.light {
  .realtimeWarningBox {
    background-color: #ececec;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .realtimeWarningBox {
    background-color: $background;
  }
}
