@import "../../../../theme/theme.scss";
.realtime {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .realtimeWarningBox {
    @include contentBoxStyle();
  }
}

.light {
  .realtimeWarningBox {
    background-color: #f0f2f5;
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .realtimeWarningBox {
    background-color: $background;
  }
}
