@import '../stationStyle.scss';

.lostAnalysis{
  .lostRank{
    display: flex;
    height: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    .lostTop{
      width: 100%;
      flex: 0 0 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title{
      font-weight: 600;
    }
    .handle{
      .eachHandle{
        margin-right: 24px;
      }
      .text{
        margin-right: 4px;
      }
    }
    .rankChart{
      flex: 1;
      width: 100%;
    }
  }
}

// 颜色
.lostAnalysis{
  background-color: lightblue;
  .lostRank .lostTop .title{
    color: #000;
  }
  .lostRank .lostTop .handle{
    color: #666;
  }
}