@import "../stationStyle.scss";

.lostAnalysis {
  display: flex;
  flex-wrap: wrap;
  .modes {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 36px;
    top: 48px;
    font-size: 12px;
    .eachMode {
      margin-right: 20px;
    }
    .rect {
      margin-right: 4px;
      border-radius: 2px;
      display: inline-block;
      width: 15px;
      height: 9px;
    }
    .line,
    .lineTheory {
      display: inline-block;
      width: 5px;
      margin: 0 10px 0 4px;
      height: 5px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        right: -6px;
        top: 1px;
      }
    }
    .modeText {
      white-space: nowrap;
    }
  }
  .lostRank,
  .lostTrend,
  .lostTypes {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: 338px;
    .top {
      width: 100%;
      flex: 0 0 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .title {
      font-weight: 600;
    }
    .chart {
      flex: 1;
      width: 100%;
    }
  }
  .lostRank {
    width: 100%;
    margin-bottom: 8px;
    .handle {
      .eachHandle {
        margin-right: 24px;
      }
      .text {
        margin-right: 4px;
      }
    }
  }
  .lostTrend,
  .lostTypes {
    width: calc(50% - 5px);
  }
  .lostTrend {
    position: relative;
    margin-right: 10px;
    .modes {
      top: 70px;
    }
  }
}
.indicators {
  width: 150px;
  :global {
    .ant-cascader-picker-label {
      padding-right: 16px;
    }
  }
}

.tooltip {
  min-width: 160px;
  .title {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 0;
    line-height: 21px;
  }
  .info {
    padding: 8px;
  }
  .eachItem {
    display: flex;
    line-height: 21px;
    justify-content: space-between;
  }
  .modeName {
    margin-left: 4px;
    @include overflowText();
  }
}

// 颜色
.lostAnalysis {
  background-color: #f0f2f5;
  .lostRank,
  .lostTrend,
  .lostTypes {
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    .top .title {
      color: #000;
    }
    .top .handle {
      color: #353535;
    }
  }
  .modes {
    .line {
      border: 1px solid #f9b600;
      &::before {
        background-color: #f9b600;
      }
    }
    .lineTheory {
      border: 1px solid #2564cc;
      &::before {
        background-color: #2564cc;
      }
    }
  }
}
.tooltip {
  // chart提示
  background-color: #fff;
  color: #353535;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  .title {
    border-bottom: 1px solid #d4d4d4;
  }
}
