@import "../../../../../theme/theme.scss";


.participantSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 28px 20px;
  .participantTip{
    flex: 0 0 60px;
    letter-spacing: 6px;
    margin-right: 12px;
  }
  .search{
    margin-left: 36px;
  }
}