@import "../../../../theme/theme.scss";
.detailWrap {
  display: flex;
  flex: 1 0 auto; 
  flex-direction: column;
  background-color: #f0f2f5;
  z-index: 30;
  width: 100%;
  .detailContent{
    display: flex;
    flex: 1 0 auto;
    padding: 0 24px;
  }
  .leftParts{
    flex: 1 0 auto;
    max-width: calc(100% - 307px);
    margin-right: 8px;
    background-color: #fff;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  }
}
