@import "../../../../theme/theme.scss";
.filterItem {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 4px;
  flex-direction: column;
  .selected {
    margin-bottom: 4px;
  }
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-input {
      width: 300px;
    }
  }
  .all {
    display: inline-block;
    width: 29px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
  }
  .selected {
    display: inline-block;
    width: 29px;
    height: 19px;
    cursor: pointer;
    text-align: center;
  }
}

.stationFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 10px 0;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 4px;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-checkbox-group-item {
      margin-bottom: 8px;
    }
  }
  .all {
    display: inline-block;
    color: $darkColor;
    width: 45px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
    word-break: keep-all;
  }
  .selected {
    display: inline-block;
    color: $themeColor;
    width: 30px;
    height: 19px;
    border-bottom: 1px $themeColor solid;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
}

.filteredItems {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px 26px;
  > span:first-child {
    font-size: 14px;
    margin-right: 16px;
    height: 20px;
  }
  .clearAll {
    font-size: 14px;
    cursor: pointer;
  }
  :global {
    .ant-tag {
      border-style: dashed;
      padding: 0 10px;
      height: 30px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-right: 16px;
      margin-top: 5px;
    }
  }
}

.filteredItems.light {
  .clearAll {
    color: $themeColor;
  }
  :global {
    .ant-tag {
      background: #fff;
    }
  }
}

.filterItem.light {
  background-color: #f0f2f5;
  :global {
    .ant-input {
      &:hover {
        border-color: $themeColor;
      }
    }
  }
  .selected {
    color: $themeColor;
    border-bottom: 1px $themeColor solid;
  }
}
.stationFilter.light {
  background-color: #f0f2f5;
}

@import "../../../../theme/darkTheme.scss";
.filteredItems.dark {
  .clearAll {
    color: $fontColor-hover;
  }
  :global {
    .ant-tag {
      background: transparent;
      color: $fontColor;
      border: 1px dashed $fontColor;
      .anticon-close {
        color: $fontColor;
      }
      &:hover {
        background: #fcffe5;
        border: 1px solid #f8b14e;
        color: #f8b14e;
        .anticon-close {
          color: #f8b14e;
        }
      }
    }
  }
}

.filterItem.dark {
  color: $fontColor;
  background-color: #1e246e;
  .selected {
    color: $fontColor-hover;
    border-bottom: 1px solid $fontColor-hover;
  }
}

.stationFilter.dark {
  background-color: #1e246e;
  :global {
    .ant-tabs-bar {
      border-bottom: 1px solid $border-color;
    }
    .ant-tabs-nav-scroll {
      background: transparent !important;
    }
    .ant-tabs-tab-prev,
    .ant-tabs-tab-next {
      color: $fontColor;
      &:hover {
        color: $fontColor-hover;
      }
    }
    .ant-tabs-nav .ant-tabs-tab {
      &:hover {
        color: $fontColor-hover;
      }
    }
  }
}
