/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.eot");
  src: url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.woff2") format("woff2"),
       url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.woff") format("woff"),
       url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.ttf") format("truetype"),
       url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_5398132c23a5ab5f7b8544c10b961089.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-Drag:before,
.icon-HAVC:before,
.icon-Low-voltage-electric:before,
.icon-No-data:before,
.icon-Rectangle-solid:before,
.icon-VIP:before,
.icon-accessory:before,
.icon-add:before,
.icon-administration:before,
.icon-air-compression:before,
.icon-air-conditioner:before,
.icon-alarm:before,
.icon-alarm-notification:before,
.icon-alarm-ticket:before,
.icon-analysis-chart:before,
.icon-area-chart1:before,
.icon-arrow-down:before,
.icon-arrow-fold:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-trail:before,
.icon-arrow-unfold:before,
.icon-arrow-up:before,
.icon-assignment:before,
.icon-authorization:before,
.icon-battery-empty:before,
.icon-battery-full:before,
.icon-binding:before,
.icon-boiler:before,
.icon-box:before,
.icon-bubble-chart:before,
.icon-building:before,
.icon-calendar:before,
.icon-calendar1:before,
.icon-call:before,
.icon-capacity:before,
.icon-cb-close:before,
.icon-cb-open:before,
.icon-cb-trip:before,
.icon-chart:before,
.icon-chart1:before,
.icon-check-circle:before,
.icon-check-mark:before,
.icon-clean:before,
.icon-close:before,
.icon-cloud:before,
.icon-coal:before,
.icon-collection:before,
.icon-column:before,
.icon-column-fold:before,
.icon-comx510:before,
.icon-comxbox:before,
.icon-connected-position:before,
.icon-contact-us:before,
.icon-cool:before,
.icon-copy:before,
.icon-copy2:before,
.icon-cost_saving:before,
.icon-current:before,
.icon-currentindex:before,
.icon-customer:before,
.icon-data-cabinet:before,
.icon-data-cabinet-box:before,
.icon-data-room:before,
.icon-delete:before,
.icon-device:before,
.icon-device-box:before,
.icon-diesel:before,
.icon-dimension-node:before,
.icon-disconnected-position:before,
.icon-double-arrow-left:before,
.icon-double-arrow-right:before,
.icon-download:before,
.icon-drag-2:before,
.icon-dust-concentration:before,
.icon-easytodo:before,
.icon-edit:before,
.icon-edit-2:before,
.icon-edit3:before,
.icon-electricity:before,
.icon-email:before,
.icon-end-user:before,
.icon-energy-analysis:before,
.icon-energy-consumption:before,
.icon-energy-saving-rate:before,
.icon-energy_saving:before,
.icon-energymost:before,
.icon-equipment:before,
.icon-equipment-box:before,
.icon-error-message:before,
.icon-explain-n:before,
.icon-explain-s:before,
.icon-export:before,
.icon-eye:before,
.icon-factory:before,
.icon-file:before,
.icon-filter:before,
.icon-filtered:before,
.icon-fit:before,
.icon-folder:before,
.icon-folder1:before,
.icon-folder2:before,
.icon-gas:before,
.icon-glyph:before,
.icon-happy:before,
.icon-heat:before,
.icon-heat-map:before,
.icon-heating:before,
.icon-hide:before,
.icon-hide1:before,
.icon-hierarchy:before,
.icon-hierarchy-fold:before,
.icon-hierarchy-unfold:before,
.icon-high-voltage-electric:before,
.icon-historical-comparison:before,
.icon-history:before,
.icon-homepage:before,
.icon-humidity:before,
.icon-ignore:before,
.icon-illumination:before,
.icon-image:before,
.icon-import:before,
.icon-info:before,
.icon-info-box:before,
.icon-information:before,
.icon-installation-mode:before,
.icon-investment:before,
.icon-investment-amount:before,
.icon-kgce:before,
.icon-label:before,
.icon-labeling:before,
.icon-language:before,
.icon-left-switch:before,
.icon-less-money:before,
.icon-level:before,
.icon-lifeison:before,
.icon-lighten:before,
.icon-line:before,
.icon-liquefied-gas:before,
.icon-location:before,
.icon-location1:before,
.icon-log:before,
.icon-machine:before,
.icon-machine-ol:before,
.icon-machine-tap:before,
.icon-mainline:before,
.icon-map:before,
.icon-marker:before,
.icon-massive-email:before,
.icon-massive-phone:before,
.icon-medal:before,
.icon-menu:before,
.icon-model:before,
.icon-modify:before,
.icon-more:before,
.icon-more-roi:before,
.icon-my:before,
.icon-myalarm:before,
.icon-next-arrow-right:before,
.icon-no_ecm:before,
.icon-operating-data:before,
.icon-orgnization:before,
.icon-other:before,
.icon-others:before,
.icon-overdue:before,
.icon-oxygen:before,
.icon-panel:before,
.icon-panel-box:before,
.icon-password:before,
.icon-pay-back-period:before,
.icon-pentacle-solid:before,
.icon-phone:before,
.icon-phone-login:before,
.icon-photo:before,
.icon-pie:before,
.icon-platform-logo:before,
.icon-pm25-humidity:before,
.icon-pm25-temperature:before,
.icon-pole:before,
.icon-post:before,
.icon-power:before,
.icon-power1:before,
.icon-product-line:before,
.icon-project:before,
.icon-prompt:before,
.icon-qrcode:before,
.icon-quickview:before,
.icon-rank-down:before,
.icon-rank-right:before,
.icon-rank-up:before,
.icon-ranking:before,
.icon-raw-data:before,
.icon-reducecarbon:before,
.icon-reducecoal:before,
.icon-repay:before,
.icon-return:before,
.icon-revised-cn:before,
.icon-revised-en:before,
.icon-right-switch:before,
.icon-roi:before,
.icon-room:before,
.icon-sandglass:before,
.icon-save:before,
.icon-saving-more:before,
.icon-savingstatus:before,
.icon-scan:before,
.icon-scan-more:before,
.icon-scatter-plot:before,
.icon-schneider-cn:before,
.icon-schneider-en:before,
.icon-search:before,
.icon-send:before,
.icon-set-alarm:before,
.icon-setalarm:before,
.icon-setting:before,
.icon-share:before,
.icon-show:before,
.icon-signal1:before,
.icon-signal2:before,
.icon-signal3:before,
.icon-signal4:before,
.icon-signal5:before,
.icon-site:before,
.icon-site1:before,
.icon-spring-compression:before,
.icon-spring-tension:before,
.icon-stack:before,
.icon-stacked-chart:before,
.icon-stacked-chart2:before,
.icon-swipeup:before,
.icon-sync:before,
.icon-sync-fail:before,
.icon-sync-ok:before,
.icon-taglist-fold:before,
.icon-temperature:before,
.icon-test-position:before,
.icon-tickets-finished:before,
.icon-tickets-notstart:before,
.icon-tickets-processing:before,
.icon-time-ration:before,
.icon-to-ecm:before,
.icon-to-scan:before,
.icon-unhappy:before,
.icon-unit-index:before,
.icon-uploading:before,
.icon-user:before,
.icon-user-name:before,
.icon-user-name-login:before,
.icon-voltage:before,
.icon-volume-push:before,
.icon-water:before,
.icon-water-supply-and-drainage:before,
.icon-wear-rate:before,
.icon-weather-cloudy:before,
.icon-weather-haze:before,
.icon-weather-overcast:before,
.icon-weather-rainy:before,
.icon-weather-sand:before,
.icon-weather-snowy:before,
.icon-weather-sunny:before,
.icon-weather-sunny-cloudy:before,
.icon-weather-thunder:before,
.icon-weather-wind:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-Drag:before { content: "\f20b"; }
.icon-HAVC:before { content: "\f1a1"; }
.icon-Low-voltage-electric:before { content: "\f1a2"; }
.icon-No-data:before { content: "\f20a"; }
.icon-Rectangle-solid:before { content: "\f1cc"; }
.icon-VIP:before { content: "\f1c2"; }
.icon-accessory:before { content: "\f147"; }
.icon-add:before { content: "\f100"; }
.icon-administration:before { content: "\f1b5"; }
.icon-air-compression:before { content: "\f1a3"; }
.icon-air-conditioner:before { content: "\f1d8"; }
.icon-alarm:before { content: "\f133"; }
.icon-alarm-notification:before { content: "\f101"; }
.icon-alarm-ticket:before { content: "\f187"; }
.icon-analysis-chart:before { content: "\f1c6"; }
.icon-area-chart1:before { content: "\f1d9"; }
.icon-arrow-down:before { content: "\f102"; }
.icon-arrow-fold:before { content: "\f183"; }
.icon-arrow-left:before { content: "\f103"; }
.icon-arrow-right:before { content: "\f104"; }
.icon-arrow-trail:before { content: "\f105"; }
.icon-arrow-unfold:before { content: "\f184"; }
.icon-arrow-up:before { content: "\f106"; }
.icon-assignment:before { content: "\f16b"; }
.icon-authorization:before { content: "\f1c3"; }
.icon-battery-empty:before { content: "\f108"; }
.icon-battery-full:before { content: "\f109"; }
.icon-binding:before { content: "\f198"; }
.icon-boiler:before { content: "\f1a4"; }
.icon-box:before { content: "\f1a8"; }
.icon-bubble-chart:before { content: "\f204"; }
.icon-building:before { content: "\f10a"; }
.icon-calendar:before { content: "\f149"; }
.icon-calendar1:before { content: "\f197"; }
.icon-call:before { content: "\f1c0"; }
.icon-capacity:before { content: "\f134"; }
.icon-cb-close:before { content: "\f10b"; }
.icon-cb-open:before { content: "\f10c"; }
.icon-cb-trip:before { content: "\f16c"; }
.icon-chart:before { content: "\f153"; }
.icon-chart1:before { content: "\f1bc"; }
.icon-check-circle:before { content: "\f16a"; }
.icon-check-mark:before { content: "\f161"; }
.icon-clean:before { content: "\f10d"; }
.icon-close:before { content: "\f10e"; }
.icon-cloud:before { content: "\f10f"; }
.icon-coal:before { content: "\f1da"; }
.icon-collection:before { content: "\f1b2"; }
.icon-column:before { content: "\f154"; }
.icon-column-fold:before { content: "\f110"; }
.icon-comx510:before { content: "\f1c4"; }
.icon-comxbox:before { content: "\f1c5"; }
.icon-connected-position:before { content: "\f162"; }
.icon-contact-us:before { content: "\f1b9"; }
.icon-cool:before { content: "\f1db"; }
.icon-copy:before { content: "\f178"; }
.icon-copy2:before { content: "\f206"; }
.icon-cost_saving:before { content: "\f199"; }
.icon-current:before { content: "\f135"; }
.icon-currentindex:before { content: "\f1f0"; }
.icon-customer:before { content: "\f111"; }
.icon-data-cabinet:before { content: "\f1f8"; }
.icon-data-cabinet-box:before { content: "\f1fb"; }
.icon-data-room:before { content: "\f1f9"; }
.icon-delete:before { content: "\f112"; }
.icon-device:before { content: "\f113"; }
.icon-device-box:before { content: "\f114"; }
.icon-diesel:before { content: "\f1dc"; }
.icon-dimension-node:before { content: "\f151"; }
.icon-disconnected-position:before { content: "\f163"; }
.icon-double-arrow-left:before { content: "\f173"; }
.icon-double-arrow-right:before { content: "\f155"; }
.icon-download:before { content: "\f19f"; }
.icon-drag-2:before { content: "\f1b6"; }
.icon-dust-concentration:before { content: "\f136"; }
.icon-easytodo:before { content: "\f1dd"; }
.icon-edit:before { content: "\f142"; }
.icon-edit-2:before { content: "\f207"; }
.icon-edit3:before { content: "\f208"; }
.icon-electricity:before { content: "\f1de"; }
.icon-email:before { content: "\f1ba"; }
.icon-end-user:before { content: "\f1a9"; }
.icon-energy-analysis:before { content: "\f156"; }
.icon-energy-consumption:before { content: "\f116"; }
.icon-energy-saving-rate:before { content: "\f1df"; }
.icon-energy_saving:before { content: "\f19a"; }
.icon-energymost:before { content: "\f1e0"; }
.icon-equipment:before { content: "\f1fa"; }
.icon-equipment-box:before { content: "\f1fc"; }
.icon-error-message:before { content: "\f1fe"; }
.icon-explain-n:before { content: "\f20c"; }
.icon-explain-s:before { content: "\f20d"; }
.icon-export:before { content: "\f117"; }
.icon-eye:before { content: "\f1bd"; }
.icon-factory:before { content: "\f1aa"; }
.icon-file:before { content: "\f16e"; }
.icon-filter:before { content: "\f118"; }
.icon-filtered:before { content: "\f165"; }
.icon-fit:before { content: "\f1a0"; }
.icon-folder:before { content: "\f157"; }
.icon-folder1:before { content: "\f1be"; }
.icon-folder2:before { content: "\f1c7"; }
.icon-gas:before { content: "\f1e1"; }
.icon-glyph:before { content: "\f1f6"; }
.icon-happy:before { content: "\f1d1"; }
.icon-heat:before { content: "\f1e2"; }
.icon-heat-map:before { content: "\f1f7"; }
.icon-heating:before { content: "\f1e3"; }
.icon-hide:before { content: "\f168"; }
.icon-hide1:before { content: "\f1d5"; }
.icon-hierarchy:before { content: "\f143"; }
.icon-hierarchy-fold:before { content: "\f119"; }
.icon-hierarchy-unfold:before { content: "\f11a"; }
.icon-high-voltage-electric:before { content: "\f1a5"; }
.icon-historical-comparison:before { content: "\f1c8"; }
.icon-history:before { content: "\f1bf"; }
.icon-homepage:before { content: "\f1f1"; }
.icon-humidity:before { content: "\f14a"; }
.icon-ignore:before { content: "\f1ef"; }
.icon-illumination:before { content: "\f1e4"; }
.icon-image:before { content: "\f11b"; }
.icon-import:before { content: "\f11c"; }
.icon-info:before { content: "\f11d"; }
.icon-info-box:before { content: "\f11e"; }
.icon-information:before { content: "\f193"; }
.icon-installation-mode:before { content: "\f14b"; }
.icon-investment:before { content: "\f19b"; }
.icon-investment-amount:before { content: "\f1cd"; }
.icon-kgce:before { content: "\f1e5"; }
.icon-label:before { content: "\f1c9"; }
.icon-labeling:before { content: "\f158"; }
.icon-language:before { content: "\f138"; }
.icon-left-switch:before { content: "\f1d3"; }
.icon-less-money:before { content: "\f1e6"; }
.icon-level:before { content: "\f139"; }
.icon-lifeison:before { content: "\f194"; }
.icon-lighten:before { content: "\f172"; }
.icon-line:before { content: "\f159"; }
.icon-liquefied-gas:before { content: "\f1e7"; }
.icon-location:before { content: "\f11f"; }
.icon-location1:before { content: "\f1ab"; }
.icon-log:before { content: "\f13a"; }
.icon-machine:before { content: "\f1ac"; }
.icon-machine-ol:before { content: "\f1ad"; }
.icon-machine-tap:before { content: "\f1ae"; }
.icon-mainline:before { content: "\f120"; }
.icon-map:before { content: "\f121"; }
.icon-marker:before { content: "\f18f"; }
.icon-massive-email:before { content: "\f1ff"; }
.icon-massive-phone:before { content: "\f200"; }
.icon-medal:before { content: "\f1d6"; }
.icon-menu:before { content: "\f123"; }
.icon-model:before { content: "\f124"; }
.icon-modify:before { content: "\f1d0"; }
.icon-more:before { content: "\f195"; }
.icon-more-roi:before { content: "\f1e8"; }
.icon-my:before { content: "\f1b7"; }
.icon-myalarm:before { content: "\f166"; }
.icon-next-arrow-right:before { content: "\f16d"; }
.icon-no_ecm:before { content: "\f19c"; }
.icon-operating-data:before { content: "\f1ca"; }
.icon-orgnization:before { content: "\f125"; }
.icon-other:before { content: "\f1e9"; }
.icon-others:before { content: "\f1a6"; }
.icon-overdue:before { content: "\f186"; }
.icon-oxygen:before { content: "\f174"; }
.icon-panel:before { content: "\f126"; }
.icon-panel-box:before { content: "\f127"; }
.icon-password:before { content: "\f201"; }
.icon-pay-back-period:before { content: "\f1ce"; }
.icon-pentacle-solid:before { content: "\f1cf"; }
.icon-phone:before { content: "\f1bb"; }
.icon-phone-login:before { content: "\f1b3"; }
.icon-photo:before { content: "\f128"; }
.icon-pie:before { content: "\f15a"; }
.icon-platform-logo:before { content: "\f185"; }
.icon-pm25-humidity:before { content: "\f175"; }
.icon-pm25-temperature:before { content: "\f176"; }
.icon-pole:before { content: "\f13b"; }
.icon-post:before { content: "\f144"; }
.icon-power:before { content: "\f129"; }
.icon-power1:before { content: "\f1ea"; }
.icon-product-line:before { content: "\f1af"; }
.icon-project:before { content: "\f1b0"; }
.icon-prompt:before { content: "\f1fd"; }
.icon-qrcode:before { content: "\f12a"; }
.icon-quickview:before { content: "\f13c"; }
.icon-rank-down:before { content: "\f190"; }
.icon-rank-right:before { content: "\f191"; }
.icon-rank-up:before { content: "\f192"; }
.icon-ranking:before { content: "\f15b"; }
.icon-raw-data:before { content: "\f15c"; }
.icon-reducecarbon:before { content: "\f1f2"; }
.icon-reducecoal:before { content: "\f1f3"; }
.icon-repay:before { content: "\f1c1"; }
.icon-return:before { content: "\f169"; }
.icon-revised-cn:before { content: "\f14c"; }
.icon-revised-en:before { content: "\f14d"; }
.icon-right-switch:before { content: "\f1d4"; }
.icon-roi:before { content: "\f19d"; }
.icon-room:before { content: "\f12b"; }
.icon-sandglass:before { content: "\f1d7"; }
.icon-save:before { content: "\f15d"; }
.icon-saving-more:before { content: "\f1eb"; }
.icon-savingstatus:before { content: "\f1f4"; }
.icon-scan:before { content: "\f13d"; }
.icon-scan-more:before { content: "\f19e"; }
.icon-scatter-plot:before { content: "\f205"; }
.icon-schneider-cn:before { content: "\f145"; }
.icon-schneider-en:before { content: "\f146"; }
.icon-search:before { content: "\f12c"; }
.icon-send:before { content: "\f12d"; }
.icon-set-alarm:before { content: "\f152"; }
.icon-setalarm:before { content: "\f12e"; }
.icon-setting:before { content: "\f12f"; }
.icon-share:before { content: "\f209"; }
.icon-show:before { content: "\f1b8"; }
.icon-signal1:before { content: "\f188"; }
.icon-signal2:before { content: "\f189"; }
.icon-signal3:before { content: "\f18a"; }
.icon-signal4:before { content: "\f18b"; }
.icon-signal5:before { content: "\f18c"; }
.icon-site:before { content: "\f130"; }
.icon-site1:before { content: "\f1b1"; }
.icon-spring-compression:before { content: "\f13e"; }
.icon-spring-tension:before { content: "\f13f"; }
.icon-stack:before { content: "\f15e"; }
.icon-stacked-chart:before { content: "\f1ec"; }
.icon-stacked-chart2:before { content: "\f1ed"; }
.icon-swipeup:before { content: "\f1f5"; }
.icon-sync:before { content: "\f167"; }
.icon-sync-fail:before { content: "\f18d"; }
.icon-sync-ok:before { content: "\f18e"; }
.icon-taglist-fold:before { content: "\f131"; }
.icon-temperature:before { content: "\f140"; }
.icon-test-position:before { content: "\f164"; }
.icon-tickets-finished:before { content: "\f16f"; }
.icon-tickets-notstart:before { content: "\f170"; }
.icon-tickets-processing:before { content: "\f171"; }
.icon-time-ration:before { content: "\f15f"; }
.icon-to-ecm:before { content: "\f196"; }
.icon-to-scan:before { content: "\f202"; }
.icon-unhappy:before { content: "\f1d2"; }
.icon-unit-index:before { content: "\f160"; }
.icon-uploading:before { content: "\f179"; }
.icon-user:before { content: "\f132"; }
.icon-user-name:before { content: "\f203"; }
.icon-user-name-login:before { content: "\f1b4"; }
.icon-voltage:before { content: "\f14f"; }
.icon-volume-push:before { content: "\f1cb"; }
.icon-water:before { content: "\f1ee"; }
.icon-water-supply-and-drainage:before { content: "\f1a7"; }
.icon-wear-rate:before { content: "\f141"; }
.icon-weather-cloudy:before { content: "\f17a"; }
.icon-weather-haze:before { content: "\f17b"; }
.icon-weather-overcast:before { content: "\f17c"; }
.icon-weather-rainy:before { content: "\f177"; }
.icon-weather-sand:before { content: "\f17d"; }
.icon-weather-snowy:before { content: "\f17e"; }
.icon-weather-sunny:before { content: "\f17f"; }
.icon-weather-sunny-cloudy:before { content: "\f180"; }
.icon-weather-thunder:before { content: "\f181"; }
.icon-weather-wind:before { content: "\f182"; }
