@import '../../../../../theme/theme.scss';
@mixin top() {
    //详情，编辑通用顶部基础样式
    @include lineheight(64px);
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px $promptColor;
}

.warnConfig {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 100%;
    .warnListTop {
        display: flex;
        justify-content: space-between;
        height: 72px;
        align-items: center;
        .warnListLeft {
            display: flex;
        }
        .rule {
            padding: 0;
            margin-left: 24px;
            margin-right: 12px;
            font-size: 0;
            border: 1px solid $themeColor;
            i {
                background-color: $themeColor;
                color: #fff;
                font-size: 14px;
                vertical-align: top;
                width: 28px;
                line-height: 30px;
                border-radius: 2px 0 0 2px;
            }
            .text {
                border-radius: 0 2px 2px 0;
                font-size: 14px;
                color: $themeColor;
                display: inline-block;
                line-height: 30px;
                margin: 0px;
                text-align: center;
            }
            @include highLight($themeColor);
            &:hover {
                .text {
                    background: $themeColor;
                    color: #fff;
                }
            }
        }
    }
    .describe {
        color: #60C060;
        text-decoration: underline;
        cursor: pointer;
    }
    :global {
        .ant-table-placeholder {
            border: none
        }
    }
    .edit {
        color: $themeColor;
        cursor: pointer;
    }

    .tableStyle {
        border: 1px solid #d4d4d4;
        border-top: none;
    
        .warningLevel, .warningEnable, .alarmEdit{
            text-align: center;
        }
    }
}

.warnCofigSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 100%;
    background: $pageGround;
    z-index: 10;
    .addRule {
        display: flex;
        flex: 1;
        flex-direction: column;
        .addTop {
            @include top;
            justify-content: space-between;
            .text {
                font-size: 18px;
                color: $darkColor;
                letter-spacing: 4px;
            }
            .backIcon {
                @include backIcon();
            }
        }
        .form {
            display: inline-block;
        }
        .stationsRule {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 40px;
            margin-top: 35px;
            .typeSelect,
            .modelSelect,
            .pointSelect {
                width: 198px;
                margin-right: 12px;
            }
            
        }
        .rules {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 43px;
            line-height: 40px;
            .contrastSelect {
                width: 100px;
            }
            .warnDescribe,
            .warningLevelSelect,
            .useSelect {
                width: 198px;
                margin-right: 12px;
            }
        }
        .buttonGroup {
            width: 287px;
            margin-left: 138px;
            .save {
                margin-right: 4px;
                color: $themeColor;
                border: 1px solid $themeColor;
            }
        }
        :global {
            .ant-form-inline .ant-form-explain {
                position: inherit;
            }
            .ant-form-inline .ant-form-item-with-help{
                margin-bottom: 0;
            }
            .ant-row.ant-form-item.ant-form-item-no-colon {
                width: 287px;
                display: flex;
                flex-direction: row;
            }
        }
    }
    .detailRule {
        display: flex;
        flex: 1;
        flex-direction: column;
        .detailTop {
            @include top;
            justify-content: space-between;
            .text {
                font-size: 18px;
                color: $darkColor;
                letter-spacing: 4px;
            }
            .action{
                display: flex;
            }
            .backIcon {
                @include backIcon();
            }
            :global {
                .icon-last,
                .icon-next {
                    font-size: 20px;
                    margin-right: 20px; 
                     cursor: pointer;
                }
            }
        }
        .detailCont {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            .detailBox {
                .detail {
                    margin-top: 51px;
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    span {
                        color: $darkColor;
                        margin-left: 15px;
                    }
                }
                .detailRule {
                    margin-top: 28px;
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    span {
                        margin-left: 15px;
                    }
                }
                .detailWarnRule{
                    position: relative;
                    .tooltip {
                        position: absolute;
                        color: #f9b600;
                        left:41px;
                        top:-9px;
                    }
                }
            }
        }
    }
    .editRule {
        display: flex;
        flex: 1;
        flex-direction: column;
        .editTop {
            @include top;
            justify-content: space-between;
            .text {
                font-size: 18px;
                color: $darkColor;
                letter-spacing: 4px;
            }
            .backIcon {
                @include backIcon();
            }
        }
        .editCont {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            .editBox {
                .detail {
                    margin-top: 51px;
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    span {
                        color: $darkColor;
                        margin-left: 15px;
                    }
                }
                .detailRule {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 43px;
                    line-height: 40px;
                    .form {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .contrastSelect {
                        width: 100px;
                    }
                    .warnDescribe,
                    .warningLevelSelect,
                    .useSelect {
                        width: 198px;
                        margin-right: 12px;
                    }
                }
            }
            :global {
                .ant-form-inline .ant-form-explain {
                    position: inherit;
                }
                .ant-form-inline .ant-form-item-with-help{
                    margin-bottom: 0;
                }
                .ant-row.ant-form-item.ant-form-item-no-colon {
                    min-width: 287px;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
        .buttonGroup {
            width: 287px;
            .save {
                margin-left: 68px;
                margin-top: 8px;
            }
        }
        :global {
            .ant-btn-default,
            .ant-btn-default:active {
                color: $themeColor;
                border-color: $themeColor;
                &:hover {
                    background-color: $themeColor;
                    color: #fff;
                }
            }
        }
    }
    .gap {
        display: flex;
        flex: 1;
        justify-content: space-between;
        .gapWarn {
            margin-left: 8px;
        }
    }
    .gapZone {
        margin-right: 52px;
    }
    .tooltipName {
        position: absolute;
        left: -16px;
        top: -16px;
        color: #f9b600;
    }
}

.warnConfigSearch {
    // 条件查询
    display: flex;
    align-items: center;
    height: 71px;
    border-bottom: solid 1px $promptColor;
    line-height: 40px;
    .titleText {
        color: $darkColor;
        margin-left: 28px;
        margin-right: 12px;
    }
    .typeSelect,
    .modelSelect,
    .pointSelect {
        width: 198px;
        margin-right: 12px;
    }
    .typeSelect {
        margin-left: 12px;
    }
}