@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  background: #fff;
  .realTimeWarningFilter {
    background-color: #fff;
  }
  .deviceNameSearch {
    background-color: #f9f9f9;
    > span {
      color: $darkColor;
    }
    > span:last-child {
      color: $themeColor;
    }
  }
  .realTimeWarningTable {
    .tableHeader {
      background-color: #fff;
    }
    .deviceName {
      max-width: calc((100vw - 230px) * 0.15);
      @include overflowText();
      a {
        text-decoration: none;
        color: $themeColor;
        &:hover {
          color: #f9b600;
        }
      }
    }
    .overflowText{
      max-width: calc((100vw - 230px) * 0.15);
      @include overflowText();
    }

    .alarmType{
      @include overflowText();
      max-width: calc((100vw - 230px) * 0.15);
    }

    .alarmDescName{
      @include overflowText();
      max-width: calc((100vw - 230px) * 0.2);
    }
    .selected {
      i {
        background-color: #ceebe0;
        color: $themeColor;

        &:hover{
          color: #ffffff;
          background-color: $themeColor;
        }
      }
    }

    .hoverDiv{
      i {
        background-color: #ceebe0;
        color: $themeColor;

        &:hover{
          color: #ffffff;
          background-color: $themeColor;
        }
      }
    }
  }

  .tableFooter {
    background-color: #fff;
    .info {
      color: $darkColor;
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
  .detailInfo {
    color: $darkColor;
  }
  :global {
    .icon-action {
      background-color: #ceebe0;
      color: $themeColor;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .realTimeWarningFilter {
    background-color: transparent;
    margin-top: 10px;
  }
  .deviceNameSearch {
    background-color: $light-background;
    color: $fontColor;
    margin-top: 10px;
    border: 1px solid $border-color;
  }

  .realTimeWarningTable {
    margin-top: 10px;
    background: $light-background;
    .deviceName {
      a {
        border-bottom: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid $fontColor-hover;
          color: $fontColor-hover;
        }
      }
    }
    .selected {
      .icon-action {
        background-color: $themeColor;
        color: $fontColor-invert;
      }
    }
  }

  .detailInfo {
    color: $fontColor;
  }

  :global {
    .icon-action {
      background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
      color: $fontColor-invert;
      &:hover {
        background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
      }
    }
  }
}
