@import '../../../theme/theme.scss';

.autoSelect {
  position: relative;
}

.autoModal {
  position: absolute;
  right: 5px;
  top: 0;
  height: 32px;
  cursor: pointer;
  line-height: 32px;

  .handlIcon {
    font-size: 14px;
  }
}

.checkModal {
  height: 350px;
  overflow: auto;
}

.trees {
  .lastNode {
    width: 100%;
  }

  .noneChild > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .lastNode {
      flex: 0 0 50%;
      overflow: hidden;
    }
  }
}
