@import '../../../../theme/theme.scss';

.dataExport{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .contentBox{
    @include contentBoxStyle();
    .dataContent{
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}