
.enterpriseMain{
  flex: 1 0 auto;
  width: 100%;
}
.enterpriseSide {
  display: flex;
  flex: 1 0 auto;
  width: 100%;

}
.enterpriseDetail{
  flex: 1;
  background-color: lightblue;
}
.enterpriseEdit{
  flex:1;
  background-color: lightblue;
}