
.editUserName,.editPasswordForm,.editPhone{
  margin-top: 24px;
  .account{
    text-align: center;
    :global{
      .ant-form-item {
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-form-item-children{
          display: flex;
          .ant-input-group-wrapper input{
            width: 200px;
          }
        }
      }
    }
    .instructionText{
      color: #dfdfdf;
      margin-left: 12px;
    }
  }
}