@import "../../../../theme/theme.scss";

.PerformanceAnalysisContainerBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  .PerformanceAnalysisContainer {
    @include contentBoxStyle();
    .PerformanceAnalysisMain {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.light {
  .PerformanceAnalysisContainer {
    background-color: #ececec;
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .PerformanceAnalysisContainer {
    background-color: $background;
  }
}
