@import "../../../../../theme/theme.scss";

.planMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  background: #f0f2f5;
  .contentMain {
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.planSearch {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 5px 3px rgba(208, 208, 208, 0.60);
  margin-bottom: 8px;

  .year {
    margin-right: 8px;
  }
  :global {
    .ant-calendar-picker {
      input {
        width: 105px;
      }
    }
  }
  .topLeft {
    display: flex;
    margin: 0 10px 0 10px;
    line-height: 40px;
    .station {
      margin-right: 10px;
    }
  }

  .searchButton {
    margin-right: 12px;
    color: $themeColor;
    border: 1px solid $themeColor;
    @include highLight($themeColor);
    &:hover {
      background-color: $themeColor;
      border-color: $themeColor;
      color: #fff;
    }
  }
}

.planList {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .planListTop {
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 16px;
    .buttons {
      display: flex;
      button {
        margin-right: 12px;
      }
    }
    .addplan {
      display: flex;
      padding: 0 15px 0 6px;
      .icon {
        margin: 0 10px 0 0;
      }
    }
  }

  .tableBox {
    flex: 1 0 auto;
    margin: 0 4px 4px 0;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
    background-color: #fff;
    .tableList {
      .edit {
        color: #199475;
        white-space: nowrap;
        &:hover {
          color: #f9b600;
        }
      }
      .noEdit {
        color: $promptColor;
        pointer-events: none;
        white-space: nowrap;
      }
      .save {
        color: #f9b600;
        margin-right: 0 !important;
      }

      table{
        table-layout: fixed;
      }

      .regionNameText,.stationNameText,.stationCapacityText{
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 2px);
      }

      :global {
         .ant-input {
          width: calc(100% - 4px);
          background: #fcffe5;
          padding: 0 2px;
          border: 1px solid #f9b600;
        }
        .ant-table .ant-table-tbody > tr > td:first-child.leftContent{
          padding-left: 10px;
        }
        .ant-table .ant-table-thead > tr > th[class*="stationCapacity"],
        .ant-table .ant-table-thead > tr > th[class*="planPower"]
        {
          .ant-table-column-sorter{
            .ant-table-column-sorter-inner{
              margin-top: -20px;
            }
          }
        }
        .ant-input.ant-input-disabled {
          background: #f8f8f8;
          border: 1px solid #d4d4d4;
        }
        .ant-input:focus {
          background: #ffffff;
          border: 1px solid #d4d4d4;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
  table {
    a {
      text-decoration: none;
      color: $darkColor;
      &:hover {
        color: $themeColor;
      }
    }
  }
  .importFile {
    display: flex;
    margin-bottom: 10px;
    margin-left: 36px;
    .label {
      width: 70px;
      text-align: right;
      margin-right: 8px;
      line-height: 40px;
      span {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
      }
    }

    :global {
      .ant-upload-list-item-info {
        width: 260px;
      }
      .ant-upload-list-item {
        text-align: left;
      }
    }
  }
  .import {
    text-align: center;
  }
}
