@import "../../../../theme/theme.scss";
.detailWrap {
  display: flex;
  flex: 1 0 auto; 
  flex-direction: column;
  justify-content: space-between; ;
 
  z-index: 30;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f2f5;
    margin-bottom: 13px;
    .text {
      font-size: 18px;
      color: var(--themeColor);
      letter-spacing: 4px;
      width: calc(100% - 100px);
      @include overflowText();
    }
    .backIcon {
      margin-left: 10px;
      @include backIcon();
    }
  }
  .defectDetailCont {
    display: flex;
    flex: 1;
    padding: 24px 36px;
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2)
  }
}
