@import "../../../../theme/theme.scss";
.detailWrap {
  display: flex;
  flex: 1 0 auto; //background-color: #fff;
  flex-direction: column;
  justify-content: space-between; //padding: 24px 24px 0;
  background-color: #fff;
  z-index: 30;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $promptColor;
    height:60px;
    .text {
      font-size: 18px;
      color: $darkColor;
      letter-spacing: 4px;
      margin-left: 44px;
      width: calc(100% - 100px);
      @include overflowText();
    }
    .backIcon {
      margin-left: 10px;
      @include backIcon();
    }
  }
  .defectDetailCont {
    display: flex;
    flex: 1;
    padding: 24px 36px;
  }
}
