@import '../../../../theme/theme.scss';

.sparePage{
  table{
    .assetsPath{
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 280px;
    }
    .threshold{
      width: 92px;
    }
    .moreInfo{
      width: 72px;
      .trigButton{
        border: none;
        cursor: pointer;
        background-color: transparent;
        &:focus{
          outline: none;
          color:#e08031;
        }
      }
    }
    .shortage{
      color:#f9b600;
      .config{
        font-size:10px;
        position: relative;
        bottom: 10px;
      }
    }
    .stockHandle{
      display: flex;
      justify-content: space-between;
      width: 126px;
      .text{
        cursor: pointer;
        height: 18px;
        line-height: 16px;
        text-align: center;
        border:1px solid #199475;
        border-radius:4px;
        flex-basis: 32px;
      }
    }
  }
  :global{
    .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td{
      padding: 0 8px;
    }
  }
}

.infoContentTitle{
  font-weight: 700;
  color: #000;
}
.infoContent{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 296px;
  overflow-y: auto;
  .eachInfo{
    display: flex;
    flex-basis: 21px;
  }
  .name{
    flex-basis: 56px;
    font-weight: 700;
    text-align: right;
    margin-right: 12px;
    color: #000;
  }
  .info{
    flex: 1;
  }
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $themeColor;
    border-radius: 3px;
  }
}

.insert{
  background-color: #fff;
  height: 100%;
  padding-bottom: 24px;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $promptColor;
    .text{
      font-size: 18px;
      font-weight: 550;
      color: #000;
      padding-left: 30px;
    }
    .backIcon{
      font-size: 24px;
      flex-basis: 64px;
      height: 64px;
      line-height: 64px;
      color: $lightColor;
      border-left: 1px solid $promptColor;
    }
  }
  .handlePart{
    display: flex;
    .holder{
      flex-basis: 35%;
    }
    button{
      margin-right: 12px;
    }
  }
  .formPart{
    :global{
      .ant-form-item{
        display: flex;
        margin-bottom: 4px;
      }
      .ant-form-item-label{
        flex-basis: 35%;
        label::after{
          content: '';
        }
      }
      .ant-form-item-control-wrapper{
        flex-basis: 64%;
      }
      .ant-form-item-control{
        display: flex;
        align-items: center;
      }
      .ant-form-explain{
        margin-left: 8px;
      }
    }
  }
}