@import '../../../../theme/theme.scss';

.sparePage, .toolPage, .materialPage{ // 备品备件 工器具 物资主页面公用样式
  border-top: 1px solid #199475;
  flex: 1;
  box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);  
  margin: 0 2px 4px 2px;

  table{
    table-layout: fixed;
    .goodsName, .modeName, .warehouseName, .assetsPath, .goodsType, .warehouseName, .devManufactorName, .supplierName, .manufactorNamem{
      @include overflowText();
    }
    .threshold{
      width: 92px;
    }
    .moreInfo{
      .trigButton{
        border: none;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        color: $themeColor;
        &:focus,
        &:hover
        {
          outline: none;
          color:#f9b600;
        }
      }
    }
    .shortage{
      color:#f9b600;
      .config{
        font-size:10px;
        position: relative;
        bottom: 10px;
      }
    }
    .stockHandle{
      display: flex;
      justify-content: space-between;
      .text{
        cursor: pointer;
        height: 18px;
        line-height: 16px;
        text-align: center;
        color: $themeColor;
        &:hover{
          color: #f9b600;
        }
        &:last-child{
          margin-right: 12px;
        }
      }
    }
  }
  :global{
    .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td{
      padding: 0 8px;
    }
  }
}

.infoContentTitle{
  font-weight: 700;
  color: #000;
}
.infoContent{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 296px;
  overflow-y: auto;
  .eachInfo{
    display: flex;
    flex-basis: 21px;
  }
  .name{
    flex-basis: 56px;
    font-weight: 700;
    text-align: right;
    margin-right: 12px;
    color: #000;
  }
  .info{
    flex: 1;
  }
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $themeColor;
    border-radius: 3px;
  }
}

.insert, .takeout, .reserve{
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    margin-bottom: 0;
    .text{
      font-size: 18px;
      font-weight: 550;
      color: var(--themeColor);
    }
    .backIcon{
      @include backIcon();
    }
  }
  .contWrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    padding-top: 20px;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
  .handlePart{
    display: flex;
    .holder{
      flex-basis: 35%;
    }
    button{
      margin-right: 12px;
    }
    .saveButon {
      margin-right: 30px;
      width: 90px;
    }
  }
  .formPart{
    .prompt{
      margin-left: 8px;
    }
    .materialCodes{
      :global{
        .ant-form-explain{
          align-self: flex-start;
          margin-top: 10px;
        }
      }
    }
    :global{
      .ant-form-item{
        display: flex;
        margin-bottom: 4px;
      }
      .ant-form-item-label{
        flex-basis: 35%;
        label::after{
          content: '';
        }
      }
      .ant-form-item-control-wrapper{
        flex-basis: 64%;
      }
      .ant-form-item-control{
        display: flex;
        align-items: center;
      }
      .ant-form-explain{
        margin-left: 8px;
      }
    }
  }
}

.reserve{ // 库存表格 统一样式
  .pagination{
    display: flex;
    justify-content: flex-end;
    height: 48px;
    line-height: 48px;
    align-items: center;
  }
  .trigButton{
    border: none;
    cursor: pointer;
    background-color: transparent;
    &:focus{
      outline: none;
      color:#e08031;
    }
  }
  table{
    table-layout: fixed;
    .supplierName, .manufactorName, .remarks,.user{
      @include overflowText();
    }
    .inWarehouse, .outWarehouse{
      padding: 2px;
      border-radius: 2px;
      background-color: rgb(199, 206, 178);
      color: #fff;
    }
    .inWarehouse{
      background-color: $themeColor;
    }
    .handle{
      cursor: pointer;
      color: var(--themeColor);
      &:hover{
         color: #f9b600;
      }
    }
  }
}