@import '../../../../theme/theme.scss';

.sparePage{
  .handleRow{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
  .leftHandler{
    display: flex;
    margin-left: 30px;
    button{
      margin-right: 8px;
    }
  }
}