@mixin omit($w) {
  width: $w;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
}

.deviceDetailsTable {
  width: 100%;
  min-height: 510px;

  .goodsModeName {
    @include omit(180px);
  }

  .madeNames {
    @include omit(180px);
  }

  .supplierNames {
    @include omit(180px);
  }

  .assetsName{
    @include omit(180px);
  }

  .deviceDetailsTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 10px 0;
  }

  .noData {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #fff;
    margin-top: 48px;
  }
}
