.faultWarnList{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  .faultWarnListContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    background-color: #ececec;
  }
  .faultWarnListContent{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
  }
}

