@import '../../../../theme/theme.scss';
.faultWarnList{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  .faultWarnListContainer{
    @include contentBoxStyle();
  }
  .faultWarnListContent{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  }
}

