
@import '../../../../theme/theme.scss';
.topStyles {
  display: flex;
  align-content: center;
  .btn{
    display: flex;
    align-self: center;
    margin-left: 16px;
  }
}
.container{
  margin: 0 auto;
}
.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 55px;
  padding: 0 28px;
  background-color: #fff;
}
.numRight{
  text-align: right;
  margin-right: 4px;
}

.tableStyles {
  .regionName, .num{
    width: 8%;
  }
  .stationName, .deviceName, .deviceModeName, .quotaVal{
    width: 10%;
  }
  .regionNameText, .stationNameText, .deviceNameText, .deviceModeNameText, .statusDescribeText{
    @include overflowText();
    width: 90%;
  }
  .regionNameText{
    width: 78%;
  }
  .statusDescribe{
    width: 14%;
  }
  .statusDescribeText{
    width: 94%;
  }
  :global {
    .ant-table-placeholder{
      border: none
    }
  }
}