@import '../../../../theme/theme';

@mixin top() {
    //详情，编辑通用顶部基础样式
    @include lineheight(64px);
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px $promptColor;
}

.weatherList {

    @include contentBoxStyle();
    flex-direction: initial;
    padding: 0;

    .weatherMain {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 100%;
        padding: 15px 24px 0;
        position: relative;
    }

    .listContiner {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex: 1;

        .selectCondition {
            display: flex;
            margin-top: 24px;

            .searchButton {
                margin-left: 20px;
            }
        }

        .pagination {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }

        .filterButton {
            margin-left: 20px;

            .setStause {
                margin-right: 12px;
            }

            .buttonGroup {
                display: inline-block;
                border: 1px solid #d9d9d9;
                border-radius: 2px;
                line-height: 32px;

                span {
                    padding: 0 5px;
                    border-right: 1px solid #d9d9d9;
                    display: inline-block;
                    cursor: pointer;
                    margin-right: -2px;
                   &:last-child{
                    border-right: 0;
                   }
                }
                .buttonActive {
                    background: #199475;
                    color: #fff;
                }
            }
        }

        .weatherListTable {
            .operate {
                text-align: center;

                i {
                    cursor: pointer;
                    color: #199475;
                    padding: 0 8px;
                }
            }
        }

        .edit {
            span {
                cursor: pointer;
                display: block;

                &:hover i {
                    color: $themeColor
                }
            }
        }

        :global {
            .ant-table-placeholder {
                border-bottom: none
            }
        }
    }

    .editWeatherSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto;
        width: 100%;
        background: #f0f2f5;
        padding: 15px 24px 0;
        z-index: 99;
    }

    .editWeather {
        // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
        // display: flex;
        // flex: 1 0 auto;
        // // width: 100%;
        // background: #fff;
        // z-index: 99;
        // flex-direction: column;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        background: #fff;




        .editTop {
            @include top;
            justify-content: space-between;

            .topTitle {
                display: flex;
                justify-content: space-between;
                flex: 1;
                padding-right: 36px;
            }

            .text {
                font-size: 18px;
                color: $darkColor;
                letter-spacing: 4px;
            }

            .tips {
                color: #e08031;
            }

            .backIcon {
                color: $darkColor;
                font-size: 20px;
                border-left: 1px solid $promptColor;
                height: 100%;
                line-height: 64px;
                width: 64px;
                cursor: pointer;
            }
        }

        .editCont {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            padding-top: 35px;
        }

        .column {
            display: flex;
            line-height: 40px;
            width: 334px;
            margin-bottom: 12px;

            .label {
                width: 124px;
                color: #000000;
                text-align: right;
                margin-right: 12px;
            }

            button {
                margin-right: 12px;
            }
        }

        :global {
            .ant-btn-primary {
                color: $themeColor;
                border-color: $themeColor;
                background-color: #fff;

                &:hover {
                    background-color: $themeColor;
                    color: #fff;
                }
            }
        }
    }
}
