@import '../../../../theme/theme';

@mixin top() {
    //详情，编辑通用顶部基础样式
    @include lineheight(64px);
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px $promptColor;
}

.weatherList {

    @include contentBoxStyle();
    flex-direction: initial;
    padding: 0;

    .weatherMain {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 100%;
        padding: 15px 24px 0;
        position: relative;
    }

    .listContiner {
        display: flex;
        flex-direction: column;
        flex: 1;

        .selectCondition {
            display: flex;
            border:1px solid #d4d4d4;
            padding-top: 8px;
            box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
            height: 50px;
            background-color: #fff;

            .searchButton {
                margin-left: 20px;
            }
        }

        .pagination {
            display: flex;
            justify-content: flex-end;
            height: 60px;
        }

        .filterButton {
            margin-left: 20px;

            .setStause {
                margin-right: 12px;
            }

            .buttonGroup {
                display: inline-block;
                border: 1px solid #d9d9d9;
                border-radius: 2px;
                line-height: 32px;

                span {
                    padding: 0 5px;
                    border-right: 1px solid #d9d9d9;
                    display: inline-block;
                    cursor: pointer;
                    margin-right: -2px;
                   &:last-child{
                    border-right: 0;
                   }
                }
                .buttonActive {
                    background: #199475;
                    color: #fff;
                }
            }
        }

        .weatherListTable {
            flex: 1 auto;
            display: flex;
            flex-direction: column;
            .tableBox {
                flex: 1 auto;
                background-color: #fff;
                box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);  
                margin: 0 2px 4px 2px;
                .weatherTable {
                    // 表格区
                    background: #ffffff;
                    border: 1px solid #d4d4d4;
                    border-top: none;
                    box-shadow: 2px -2px 5px 3px rgba(208, 208, 208, 0.6);
                    height: 100%;
                    table{
                        width: 100%;
                        table-layout: fixed;
                    }
                    :global {
                        .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
                            overflow-y: scroll;
                            overflow-y: overlay;
                        }
                        .ant-table-placeholder {
                            border-bottom: none;
                        }
                    }

                    .stationName .operate .inArea .lastSetTime {
                        @include overflowText();
                    }

                    .operate {
                        :global {
                            .iconfont{
                                cursor: pointer;
                                color: #199475;
                                padding: 4px;
                                margin-right: 24px;
                                &:last-child{
                                    margin-right: 0;
                                }
                                &:hover{
                                    color: #ff9900;
                                }
                            }
                            
                        }
                    }

                }
            }
        }

        .edit {
            span {
                cursor: pointer;
                display: block;

                &:hover i {
                    color: $themeColor
                }
            }
        }

        :global {
            .ant-table-placeholder {
                border-bottom: none
            }
        }
    }

    .editWeatherSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto;
        width: 100%;
        background: #f0f2f5;
        padding: 15px 24px 0;
        z-index: 99;
    }

    .editWeather {
        // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
        // display: flex;
        // flex: 1 0 auto;
        // // width: 100%;
        // background: #fff;
        // z-index: 99;
        // flex-direction: column;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        background: #fff;




        .editTop {
            @include top;
            justify-content: space-between;

            .topTitle {
                display: flex;
                justify-content: space-between;
                flex: 1;
                padding-right: 36px;
            }

            .text {
                font-size: 18px;
                color: $darkColor;
                letter-spacing: 4px;
            }

            .tips {
                color: #e08031;
            }

            .backIcon {
                @include backIcon();
            }
        }

        .editCont {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            padding-top: 35px;
        }

        .column {
            display: flex;
            line-height: 40px;
            width: 334px;
            margin-bottom: 12px;

            .label {
                width: 124px;
                color: #000000;
                text-align: right;
                margin-right: 12px;
            }

            button {
                margin-right: 12px;
            }
        }

        :global {
            .ant-btn-primary {
                color: $themeColor;
                border-color: $themeColor;
                background-color: #fff;

                &:hover {
                    background-color: $themeColor;
                    color: #fff;
                }
            }
        }
    }
}
