.workflow {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .contentBox {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 24px 0 24px;
    .container {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
    }
    .workflowList {
      display: flex;
      flex: 1 0 auto;
      width: 100%;
      flex-direction: column;
    }
  }
}

.light {
  .contentBox {
    background-color: #f0f2f5;
    .container {
      background: #fff;
    }
    .workflowList {
      background: #fff;
    }
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  background: $background;
}
