@import "../../../../theme/theme";
.scoreBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    .topSelect {
        margin: 24px 0 0 24px;
    }
    .scoreLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 36px 16px 24px;
        .initScore {
            background: #ceebe0;
            border-radius: 2px;
            width: 130px;
            height: 26px;
            color: #199475;
            text-align: center;
            line-height: 26px;
        }
        .buttonGroups {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 246px;
        }
        :global {
            .ant-btn-default,
            .ant-btn-default:active {
                color: $themeColor;
                border-color: $themeColor;
                &:hover {
                    background-color: $themeColor;
                    color: #fff;
                }
            }
            .ant-input {
                width: 60px;
                padding: 4px 7px;
            }
        }
    }
    .explanation{
        margin: 24px 22px;
        background:#f8f8f8;
        padding: 6px 16px;
    }
    .detailTable {
        display: flex;
        flex-direction: column; // border-bottom: 1px solid $promptColor;
        border: 1px solid #d4d4d4;
        border-top: none;
    }
    .tHead,
    .tBody {
        display: flex;
        flex-direction: row;
        line-height: 40px;
        .classification {
            flex: 0 0 9%;
            text-align: center;
        }
        .type {
            flex: 0 0 13%;
            text-align: center;
        }
        .examContent {
            flex: 0 0 21%;
            text-align: center;
        }
        .typeWeight {
            flex: 0 0 8%;
            text-align: center;
        }
        .judgeStandard {
            flex: 0 0 14%;
            text-align: center;
        }
        .inOrDePoints {
            flex: 0 0 9%;
            text-align: center;
        }
        .inOrDeScore {
            flex: 0 0 8%;
            text-align: center;
        }
        .assessInstruct {
            flex: 0 0 18%;
            text-align: center;
        }
    }
    .tHead {
        background: #199475;
        color: #FFFFFF;
    }

    .tHead {
        .classification ,
        .type, .examContent,
        .typeWeight, .judgeStandard,
        .inOrDePoints, .inOrDeScore,
        .assessInstruct {
            border-right: 1px solid #fff;
        }   
    }

    .tBody {
        .level {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 203px; // line-height: 200px;
            border-bottom: 1px solid $promptColor;
            border-right: 1px dashed #d4d4d4;
            padding-left: 20px;
        }
        .manage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 164px; // line-height: 160px;
            border-bottom: 1px solid $promptColor;
            padding-left: 20px;
            border-right: 1px dashed #d4d4d4;
        }
        .oneColumn {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 40px;
            height: 41px;
            border-bottom: 1px solid $promptColor;
            border-right: 1px dashed #d4d4d4;
            border-left: none;
        }
        .twoColumn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            line-height: 40px;
            border-bottom: 1px solid $promptColor;
            border-right: 1px dashed #d4d4d4;
            border-left: none;
        }
        .threeColumn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $promptColor;
            height: 123px;
            border-right: 1px dashed #d4d4d4;
            border-left: none;
        }
        .assessInstruct {
            border-bottom: 1px solid $promptColor;
            align-items: center; // justify-content: center;
            display: flex;
            text-align: justify;
            padding: 10px;
            line-height: 30px;
            // border-right: 1px dashed #d4d4d4;
            border-left: none;
        }
        .type,
        .examContent {
            .twoColumn,
            .threeColumn,
            .oneColumn {
                justify-content: start;
                padding-left: 12px;
                text-align: left;
            }
        }
        :global {
            .ant-input {
                width: 60px;
                padding: 4px 7px;
            }
        }
    }
    .editTable {
        border: 1px solid #d4d4d4;
        .tBody {
            .judgeStandard
                {
                .twoColumn,
                .threeColumn,
                .oneColumn {
                    justify-content: start;
                    padding-left: 10%;
                    text-align: left;
                }
            }
            .inOrDePoints
                {
                .twoColumn,
                .threeColumn,
                .oneColumn {
                    justify-content: start;
                    padding-left: 18%;
                    text-align: left;
                }
            }

            :global {
                .ant-input {
                    height: 30px;  
                }
            }
        }
    }
}

@media screen and (max-width: 1679px) { // 1679以下屏幕，字号14px
    .scoreBox {
        .tHead, .tBody{
          font-size: 14px;
        }
    }
}
  
@media screen and (min-width: 1680px) and (max-width: 1919px) { // 1680 + 1919
    .scoreBox {
        .tHead, .tBody{
            font-size: 1.2em;
        }
    }
}
  
@media screen and (min-width: 1920px){ // 1920及以上屏幕按1920px适配
    .scoreBox {
        .tHead, .tBody{
            font-size: 1.3em;
        }
    }
}