.historyWarningContainer {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  .realTimeWarningFilter {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .deviceNameSearch {
    display: flex;
    height: 50px;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 28px;
    .deviceName {
      width: 200px;
      margin: 0 16px;
    }
    > span:last-child {
      font-size: 14px;
      cursor: pointer;
      margin-left: 16px;
    }
  }
  .realTimeWarningTable {
    display: flex;
    flex: 1;
    flex-direction: column;
    .tableHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      height: 55px;
      padding: 0 28px;
    }
    .alarmDesc {
      cursor: pointer;
    }

    .detailInfo {
      display: flex;
      flex-direction: column;
      width: 250px;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          .titleText {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        line-height: 24px;
        .infoItem {
          display: flex;
          flex-direction: row;
          .label {
            font-size: 14px;
            min-width: 70px;
          }
          .value {
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
          }
        }
      }
      .ticketButton {
        margin-top: 24px;
        margin-left: 65px;
        width: 120px;
      }
    }
  }
  .detailInfo {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        .titleText {
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      line-height: 24px;
      .infoItem {
        display: flex;
        flex-direction: row;
        .label {
          font-size: 14px;
          min-width: 70px;
        }
        .value {
          display: flex;
          flex-wrap: wrap;
          font-size: 14px;
        }
      }
    }
    .ticketButton {
      margin-top: 24px;
      margin-left: 65px;
      width: 120px;
    }
  }
  :global {
    .icon-action {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .ant-table-placeholder {
      border-bottom: none;
    }
  }
}
