@import "../../../../theme/theme.scss";
.confluenceBox {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .reportbox {
    @include contentBoxStyle();
  }
}

.confluenceBox.light {
  .reportbox {
    background: $pageBackground;
  }
}
