@import '../../theme/theme.scss';

.accountSettings {
    display: flex;
    flex: 1;
    width: 100%;

    .sideLayout {
        display: flex;
        flex-direction: column;
        color: $themeColor;

        .logo {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background: #f2f3f4;
            border-right: solid 1px $promptColor;
            border-bottom: solid 1px $promptColor;

            .action {
                height: 23px;
                width: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .menuList {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;
            background: #fbfbfb;
            border-right: solid 1px $promptColor;
            :global {
                .iconfont {
                    margin-right: 5px;
                }

                .ant-menu,
                .ant-menu-sub,
                .ant-menu-submenu,
                .ant-menu-submenu-title,
                .ant-menu-item {
                    background-color: #fbfbfb;
                }

                .ant-menu-item:hover {
                    background-color: #f4f4f4;
                }

                .ant-menu-submenu,
                .ant-menu-item,
                .ant-menu-submenu-title {
                    &:hover {
                        color: $themeColor;
                    }

                    color: $darkColor;

                    a {
                        color: $darkColor;
                    }

                    a:hover {
                        color: $themeColor;
                    }

                    .ant-menu-item {
                        color: $darkColor;

                        a {
                            color: $darkColor;
                        }
                    }
                }

                .ant-menu-item::after {
                    border-color: $themeColor;
                }

                .ant-menu-item-selected {
                    background-color: transparent;
                    color: $themeColor;

                    a {
                        color: $themeColor;
                    }
                }

                .ant-menu-submenu-active,
                .ant-menu-submenu-selected {
                    .ant-menu-item-selected,
                    .ant-menu-item-active,
                    .ant-menu-submenu-title {
                        color: $themeColor;

                        a {
                            color: $themeColor;
                        }
                    }
                }

                .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
                .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
                .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
                .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
                .ant-menu-submenu-vertical>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
                .ant-menu-submenu-vertical-left>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
                .ant-menu-submenu-vertical-right>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
                .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
                    background: linear-gradient(to right, $themeColor, $themeColor);
                }
            }
        }
    }

    .accoutCont {
        height: calc(100vh - 59px);
        @include contentBoxStyle();
        flex: 1;

      .accoutContainer {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-content: space-around;
            background: #fff;
        }
    }
}
