
@import '../../theme/theme.scss';

.editPassword{
  .editTitle{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid $promptColor;
    font-size:18px;
    letter-spacing: 4px;
    text-indent: 32px;
    color: $darkColor;
  }
  .editContent{
    display: flex;
    justify-content: center;
  }
}