@import '../../../../../theme/theme.scss';

.pvStation{
  background: #fff;
  display: flex;
  flex:1;
  flex-direction: column;
  :global{
    .ant-progress-inner{       
      background: #dfdfdf;
    } 
    .ant-tabs-nav-container{
      margin: 0;
    }
    .ant-progress-bg {
      border-radius: 100px;
      background-color: #199475;
    }
    .ant-switch{
      vertical-align: -5px;
    }
    .ant-radio-button-wrapper{
      height: 24px;
      line-height: 24px;
      padding: 0 8px;   
    }
  
  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
    color: #199475;
  }
  .ant-tabs.ant-tabs-top.ant-tabs-line{
    display: flex;
    flex:1;
    flex-direction: column;  
  }  
  .ant-tabs-extra-content {
    line-height: 48px;
  }
  .ant-radio-group.ant-radio-group-solid{
    margin: 0 30px 0 15px;
  }
  //风光组件里的小tabs 
  .ant-tabs-nav .ant-tabs-tab {
    display: inline-block;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    text-decoration: none;
    width: 55px;
    margin: 0;
    background: #f1f1f1;
  }
  .ant-tabs-nav-active{
    background: #199475
  }
  .ant-tabs-nav-scroll{
    background: #fff;
   }
  .ant-tabs-ink-bar .ant-tabs-ink-bar-animated{
    width: 0;
    height: 0;
  }
   //width: 100%;
   //tableList的头部宽高
   .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td {
    padding: 0px 12px;
    height: 40px;
    line-height: 30px;
   }
  }
  .containerTabs{
    :global{
      .ant-tabs-bar{
        border:none;
        border-bottom: 1px dashed #dfdfdf;
      }
      .ant-tabs-bar .ant-tabs-tab-active.ant-tabs-tab{
        background: #199475;
        border-color: #199475;
        color: #fff;
        margin: 0;
        
      }
      .ant-tabs-content.ant-tabs-content-animated{
        display: flex;
        flex:1;
        flex-direction: column;
      }
      .ant-tabs-tabpane.ant-tabs-tabpane-inactive{

        max-height: 0;
      } 
      .ant-tabs-tabpane.ant-tabs-tabpane-active{
     
        display: flex;
        flex:1;
       
      }  

      
    }
  }
  .provinceStationTotal{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .provinceBox{
      margin-right: 5px;
    }
    .fontColor{
      color:#199475;
    }
  }
  .headStation{
    color:$darkColor;
    border-bottom: 1px dashed #dfdfdf;
    height: 100px;
    display: flex;
    // flex:1;
    .typeIcon{
      width: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .leftIcon{
        width: 60px;
        height: 60px;
        background: url('/img/solar01.png') no-repeat center;
      }
    }
    .progressInfo{
      display: flex;
      flex-direction: row;
      align-items: center;
      .progressData{
        width: 220px;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 25px;
        .stationValue{
          flex: 1;
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
        }
        .progressBar{
          flex: 1;
          width: 220px;
        }
        .stationType{
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 20px;
        }
      }
      .showInfo{
        background:#ffffff;
        box-shadow:0 1px 2px 0 rgba(0,0,0,0.20);
        border-radius:25px;
        width:80px;
        height:25px;
        text-align: center;
        line-height: 25px;
        color:#199475;
      
      }
    }
    .stationCollect{
      height: 100px;
      display: flex;
      flex-direction: row;
      margin: 0 25px;
      .dayStation,.monthStation,.equipmentNum,.pvInstantaneous{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        // margin-left: 25px;
        .dataValue {
          color:#199475;
          font-size: 24px;
          flex: 1;
          text-align: left;
          padding-top: 20px;
          font-family:STHeitiSC-Light;
        }
        .dataPvValue{
          color:#e08031;
          font-size: 24px;
          flex: 1;
          //text-align: center;
          padding-top: 20px;
          font-family:STHeitiSC-Light;
        }
        .dataName {
          flex: 1;
          padding-bottom: 1px;
        }

      }
      .dayStation,.equipmentNum,.pvInstantaneous{
        margin-right: 25px;
      }
    }
  }
  .stationCardContainer {  
    :global{
      .ant-progress-outer{
        height: 28px;
      }
      .ant-progress-inner{       
        background: #dfdfdf;
      }
    } 
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 20px;

    .stationCard {
      margin: 20px 0 0 24px;
      padding: 8px;
      width: 215px;
      height: 132px;
      border-radius:4px;
      color: $darkColor;
      background:#ffffff;
      box-shadow:0 1px 4px 0 ;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $darkColor;
      }
      .stationMark {
        color: #199475;
      }
      i{
        font-size: 14px;
        color:#e08031;
      }
    }
    .stationTest{
      margin: 20px 0 0 24px;
      padding: 8px;
      width: 215px;
      height: 132px;
      border-radius:4px; 
      color: $darkColor;
      display: flex;
      flex-direction: column;
      background:#f8f8f8;
      box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
      cursor: default;
      opacity: 0.6;
      a{
        pointer-events: none;
        text-decoration: none;
        color: $darkColor;
      }      
    }
    .stationCardTitle {
      color:$darkColor;
      height: 26px;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      .stationName{
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }   
    }
    .stationCardProgress {
      height: 10px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .stationCardValue,.stationCardEquipmentNum  {
      height: 26px;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }  
    .stationCardWindSpeed {
      height: 26px;
      flex: 1;
    }
   
    .stationWarning {
      i{
        font-size: 14px;
        color:#a42b2c;
      }
      color:#a42b2c;
    }
  }
  .PvStationList{ 
   flex:1;
    display: flex;
    flex-direction: column;
    a{
      text-decoration:underline;  
      color:rgba(0, 0, 0, 0.65);
      &:hover{
        color:#199475;
      }
    }
    .pagination{
      a{
        text-decoration: none;
      }
      //flex:1;
      height: 45px;
      display: flex;
      justify-content: flex-end;
     line-height: 45px;
    }
    .stationName{
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        color: #199475;
      }
    }
    .stationrovince{
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
    }
    .currentStation{
      .dataInterruptionColor{
        background: #e08031;
        width: 6px;
        height: 20px;
        border-radius:2px;

      }
      .unconnectionColor{
        background:#c7ceb2;
        width: 6px;
        height: 20px;
        border-radius:2px;

      }
  
      .normalColor{
        background:#199475;
        width: 5px;
        height: 20px;
        border-radius:2px;

      }
    }
    .progressInfo{
      .progressData{
        :global{
           .ant-progress-inner{       
       margin-top: 8px;
      }
        }
        //width: 220px;
        padding-right: 16px;
        height: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .stationValue{
          margin-top: 5px;
          flex: 1;
          display: flex;
          justify-content: space-between;
        }
        .progressBar{
          flex: 1;
          width: 220px;
        }
        .stationType{
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 20px;
        }
      }
    }
  }
}
