.cont {
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top: 1px solid #199475;
  box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
}

 input{
     // 因为input的特殊性，现在只做空判断 所以出现了两种方式
     &::placeholder{
       color:#999;
     }
}
