@import "../../../../theme/theme.scss";
.handle {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.handleRemoveBox {
  // display: flex;
  // flex: 1;
  // padding: 24px 24px 0;
  // background-color: #f0f2f5;
  @include contentBoxStyle();
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .handleRemoveBox {
    background-color: $background;
  }
}
