.TableGraphContainer{
  .TableGraphContainerTitle{
    height:31px;
    // line-height: 40px;
    display: flex;
    flex:1;
    justify-content: space-between;
    .unit{
      color: #999;
    }
  }
  .tableList {
    // width: 520px;
    width:100%;
    overflow: hidden;
    border-bottom:1px solid #3b3838;
    :global{
      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th{
        background-color: #199475;
        color:#fff;
        padding:0 20px;
      }
      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td{
        padding:0 0 0 20px;
      }
      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th .ant-table-column-sorter{
        color:#fff;
      }
    }
  }
}
