@import '../../../../theme/theme.scss';
.singleStationType{
  display: flex;
  flex-direction: column;
  flex: 1;

  .stationTimeFilter{
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex:1;
    align-items: center;
    margin-bottom: 20px;
    .leftFilter{
      display: flex;
      flex-direction: row;
      .stationFilter{
        padding-left: 30px;
        display: flex;
        align-items: center;
        line-height: 43px;
        .text{
          margin-right: 10px;
        }
      }
    }
    .rightContent{
      margin-right: 30px;
      color: $lightColor;
    }
  }
  .componentContainer{
    background: #fff;
    display: flex;
    flex:1;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      padding-left: 28px;
      padding-top: 10px;
     
      justify-content: space-between;
      border-bottom: 1px solid #ececec;
     
      .stationStatus {       
        color: $darkColor;
        height: 40px;
        line-height: 40px;
        display: flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        .stationIcon{
          i{
            color:$themeColor;
          }
        }
        .status {
          margin-right: 4px;
          :global{
            .iconfont{
              margin-right: 4px;
            }
          }
        }
        .plan{
          margin-left: 24px;
        }
        .rightFont{
          margin-right: 30px;
          color: $lightColor;
        }
        .choiceYear{
          display: inline-block;
          :global{
            .active{
              background: #199475;
              color: #fff;
              border:none;
            }
          }    
          span{ 
            background: #fff;
            color: #999999;
            border: 1px solid #dfdfdf;
            border-radius: 2px;
            width: 45px;
            cursor: pointer;
            display: inline-block;
            margin: 0 4px;
            text-align: center;
            height: 19px;
            line-height: 16px;
            padding: 0 5px;
            &.noSelect{
              cursor: not-allowed;
              background: #f5f5f5;
              border:1px solid #d9d9d9;
              color: rgba(0, 0, 0, 0.25);
            }
          }
                 
        }
      }
      .graph{
        display: flex;
        .stationTargetData{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px 30px;
          .stationTargetValue{
            font-size: 26px;
            color:#199475;
      
          }
        }
      }
     
    }
    .targetGraphContainer{
      .bgStyle{
        background: #f1f1f1;
        .fontStyle{
          border-top:1px solid #199475;
          width: 160px;
          color: #666;
        }
      }
      .tabContainer{
        display: flex;
        flex:1;
        flex-direction: column;
        padding: 20px 0;
        border-bottom: 1px solid #ececec;
        .dataGraph{
          display: flex;    
          flex-direction: row;
          height: 300px;
          // flex:1;
          margin-right: 24px;
  
          >div:nth-child(1){
            flex: 5;
          }
          >div:nth-child(2){
            flex: 4;
          }
          .LostPowerTypeRate{
            width: 50%;
            // display: flex;
            // flex-direction: column;
            .LostPowerTypeTitle{
              display: flex;
              justify-content: space-between;
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
   
  }
} 