@import "../../../../theme/theme.scss";
@import "./layout.scss";
.light {
  .stationTimeFilter {
    background: #fff;
    .rightContent {
      color: $lightColor;
    }
  }
  .componentContainer {
    background: #fff;
    .title {
      border-bottom: 1px solid #f0f2f5;
      .stationStatus {
        color: $darkColor;
        .stationIcon {
           color: $themeColor;
           margin-right: 4px;
        }
        .rightFont {
          color: $lightColor;
        }
         .selectButton{
          height: 19px;
          line-height: 18px;
          padding: 0 5px;
          border: 1px solid var(--themeColor);
          border-radius: 2px;
          margin: 0 5px;
          color:var(--themeColor);
        }
        .disabled{
            background: #f1f1f1;
            color:var(--lightColor);
            border:1px solid #d4d4d4;
            cursor: pointer;
            pointer-events: none;
        }

      :global{
        .ant-radio-button-wrapper:not(:first-child)::before{
          background-color:transparent
        }
        .ant-radio-button-wrapper-checked{
          color:#fff;
          background: var(--themeColor);
        }
      } 
        
      }
      .graph {
        .stationTargetValue {
          color: #199475;
        }
      }
    }
    .targetGraphContainer {
      .bgStyle {
        background: #f1f1f1;
        .fontStyle {
          border-top: 1px solid #199475;
          color: #353535;
        }
      }
      .tabContainer {
        border-bottom: 1px solid #f0f2f5;
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .stationTimeFilter {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
    .rightContent {
      color: $fontColor;
    }
  }
  .componentContainer {
    background: $background;
    color: $fontColor;
    .title {
      border: 1px solid $border-color;
      background: $light-background;
      .stationStatus {
        color: $fontColor;
        .stationIcon {
          i {
            color: $fontColor;
          }
        }
        .rightFont {
          color: $fontColor;
        }
      }
      .graph {
        color: $fontColor;
        .stationTargetValue {
          color: $fontColor-hover;
        }
        .unit {
          color: $fontColor;
        }
      }
    }
    .targetGraphContainer {
      border: 1px solid $border-color;
      background: $light-background;
      margin-top: 10px;
      .tabContainer {
        border-bottom: 1px dashed $border-color;
      }
    }
  }
}
