@import "../../../../theme/theme.scss";
@import "./layout.scss";
.light {
  .stationTimeFilter {
    background: #fff;
    .rightContent {
      color: $lightColor;
    }
  }
  .componentContainer {
    background: #fff;
    .title {
      border-bottom: 1px solid #ececec;
      .stationStatus {
        color: $darkColor;
        .stationIcon {
          i {
            color: $themeColor;
          }
        }
        .rightFont {
          color: $lightColor;
        }
        .choiceYear {
          :global {
            .active {
              background: #199475;
              color: #fff;
            }
          }
          span {
            background: #fff;
            color: #999999;
            border: 1px solid #dfdfdf;
            &.noSelect {
              background: #f5f5f5;
              border: 1px solid #d9d9d9;
              color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
      .graph {
        .stationTargetValue {
          color: #199475;
        }
      }
    }
    .targetGraphContainer {
      .bgStyle {
        background: #f1f1f1;
        .fontStyle {
          border-top: 1px solid #199475;
          color: #666;
        }
      }
      .tabContainer {
        border-bottom: 1px solid #ececec;
      }
    }
  }
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .stationTimeFilter {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
    .rightContent {
      color: $fontColor;
    }
  }
  .componentContainer {
    background: $background;
    color: $fontColor;
    .title {
      border: 1px solid $border-color;
      background: $light-background;
      .stationStatus {
        color: $fontColor;
        .stationIcon {
          i {
            color: $fontColor;
          }
        }
        .rightFont {
          color: $fontColor;
        }
        .choiceYear {
          :global {
            .active {
              background: $themeColor;
              color: $fontColor-invert;
              border: 1px solid $themeColor;
            }
          }
          span {
            color: $fontColor;
            border: 1px solid $themeColor;
            &.noSelect {
              background: #405080;
              border: 1px solid #7088c3;
              color: #7088c3;
            }
          }
        }
      }
      .graph {
        color: $fontColor;
        .stationTargetValue {
          color: $fontColor-hover;
        }
        .unit {
          color: $fontColor;
        }
      }
    }
    .targetGraphContainer {
      border: 1px solid $border-color;
      background: $light-background;
      margin-top: 10px;
      .tabContainer {
        border-bottom: 1px dashed $border-color;
      }
    }
  }
}
