

@import '../../../../../theme/theme.scss';
@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}

.defectCreate {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  .createTop {
    @include top;
    justify-content: space-between;
    .text{
      font-size:18px;
      color: $darkColor;
      letter-spacing:4px;
    }
    .backIcon{
      @include backIcon();
    }
  }
  .createContent {
    display: flex;
    flex-direction: row;
    padding: 24px 36px;
    flex: 1;
  }
}