@import '../../../../../theme/theme.scss';
.defectCreateForm{
  display: flex;
  flex-direction: row;
  flex: 1;
  .tipText {
    color: $promptColor;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    :global {
      .icon-filter{
        font-size: 14px;
        color: $promptColor;
      }
    }
  }
  :global {
    .ant-form-item {
      display: flex;
      .ant-form-item-label {
        flex: 1;
      }
      .ant-form-item-control-wrapper{
        flex: 9;
      }
      .ant-select-auto-complete.ant-select:not(.ant-select-disabed) .ant-input:hover {
        border-color: $promptColor;
      }
      .ant-form-item-children {
        display: flex
      }
    }
    .ant-radio-button-wrapper {
      padding: 0 8px; 
      color: $darkColor;
    }
    .ant-radio-button-wrapper-checked {
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #fff;
    }
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
      color:$lightColor;
    }
    input:-moz-placeholder, textarea:-moz-placeholder { 
      color: $lightColor; 
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
      color: $lightColor; 
    } 
  }
  .basicInfo {
    box-shadow:0 1px 6px 0 rgba(0,0,0,0.20);
    border-radius:4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 18px 28px;
    
  }
  .dealInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 18px;
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $darkColor;
    margin-bottom: 21px;
    :global {
      .icon-content {
        margin-left: 6px;
        font-size: 6px;
        color: $darkColor;
      }
    }
  }
  .actionBar {
    margin-left: 76px;
    .saveBtn {
      border-color: $themeColor;
      color: $themeColor;
      margin-right: 20px;
    }
    button {
      &:hover {
        background-color: $themeColor;
        box-shadow:0 2px 8px 0 rgba(0,0,0,0.20);
        color: #fff;
      }
    }
  }
}