@import "../../../../../theme/theme.scss";

.defectBaseTitle{ // 基本信息
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  
  .baseTitle{
    flex: 0 0 166px;
    line-height: 36px;
    color: #fff;
    padding-left: 17px;
    background: url('/img/bannerBgc.png') no-repeat;
  }
  .statusPart{
    display: flex;
    align-items: center;
    justify-content: center;
    .coordinate, .overtime{
      margin-right: 15px;
      font-size: 20px;
      color: #df4b33;
    }
    .statusName{
      display: inline-block;
      height: 34px;
      line-height: 34px;
      padding: 0 14px;
      background-color: #fbe6e3;
      color:#df4b33;
      border-radius: 17px;
      margin-right: 24px;
    } 
    .statusName[statename='execute']{
      background:#ceebe0;
      color:$themeColor;
    }
    .alreadyFinish{
      color: var(--themeColor);
      font-size: 80px;
      margin-top: 32px;
      margin-right: 5px;
    }
  }
}

.defectBaseInfo{
  border:1px solid #d4d4d4;
  margin: 0 25px;
  .infoRow{
    line-height: 40px;
    display: flex;
    border-bottom: 1px solid var(--promptColor);
  }
  .infoTitle, .firstInfoTitle{
    flex: 0 0 13%;
    color:#353535;
    background-color: #f3f2f2;
    font-weight: bolder;
    border-left: 1px dashed var(--promptColor);
    border-right: 1px dashed var(--promptColor);
    padding: 0 10px;
    text-align: left;
  }
  .stationName,.desc{
    font-weight: bolder;
  }
  .firstInfoTitle{
    flex: 0 0 11%;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .star{
    color:#df4b33;
  }
  .infoTitle,.infoContent{
    display: flex;
    align-items: center;
  }
  .infoContent{
    padding: 0 9px;
    i{
      display: inline-block;
      margin-left: 5px;
      color: $themeColor;
      cursor: pointer;
      &:hover{
        color: #f9b600;
      }
    }
    .disabled{
      color: #999999;
      pointer-events: none;
    }
  }
  .stations{
    flex: 0 0 58%;
  }
  .creater, .responsor{
    display: flex;
    flex: 0 0 27%;
    word-break: break-all;
    line-height: 22px;
    padding: 9px;
  }
  .createTime, .examiner{
    flex: 0 0 18%;
  }
  .types, .finishTime{
    flex: 1 0 18%;
  }
  .descRow{
    // min-height: 80px;
    display: flex;
    .desc, .descTextNum{
      line-height: 40px;
    }
    .descTextNum{
      color: var(--lightColor);
    }
    .infoContent{
      flex: 1 0;
      padding: 7px 10px;
      textArea{
        height: 62px;
      }
    }
  }
  .docketDesc{
    word-break: break-all;
    line-height: 22px;
  }

  .init{
   background:#fcffe5;
    :global{
      .ant-calendar-picker-input{
        background:#fcffe5;
      }
    }
  }

  .error{
    border: 1px solid #df4b33;
    border-radius: 4px;
    ::placeholder{
      color:#df4b33;
    }
    :global{
      .ant-calendar-picker-input{
        background:#fbe6e3;
        
      }
    }
  }

  :global{
    .ant-popover-placement-rightTop{
      padding: 0;
    }
    .ant-popover-inner-content{
      padding: 0;
    }
    .ant-popover-arrow {
      display: none;
    }
    .ant-checkbox-wrapper {
      padding-left: 5px;
      width: 100%;
      border-radius: 2px;
      display: flex;
      align-items: center;
    }
    .ant-checkbox{
      margin-top: 2px;
    }
    .ant-checkbox + span{
      width: 85px;
      padding-right: 0;
      @include overflowText();
    }
    .ant-checkbox-wrapper-checked{
      background-color: $themeColor;
      .ant-checkbox + span{
        color: #fff;
      }
    }
   .ant-calendar-picker .ant-calendar-picker-icon{
      color:#999
    }
  }
}

@media screen and (max-width: 1679px) { // 1679以下屏幕，字号14px
  .defectBaseInfo{
    font-size: 14px;
  }
}

@media screen and (min-width: 1680px) and (max-width: 1919px) { // 1680 + 1919
  .defectBaseInfo{
    font-size: 16px;
  }
}

@media screen and (min-width: 1920px){ // 1920及以上屏幕按1920px适配
  .defectBaseInfo{
    font-size: 18px;
  }
}


.operatorWrap {
  padding-left: 0;
  border-radius: 2px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.40);
  .operatorCenter {
    width: 250px;
    .operatorList {
      margin: 0 auto;
      height: 360px;
      overflow-y: auto;
    }
  }

  .checkboxGroup{
     display: flex;
     flex-wrap: wrap;
  }

  .operatorItemBox{
    width: 105px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed $borderColor;
    margin-left: 11px;
    .operatorItem {
      display: inline-block;
      margin-right: 0;
      width: 105px;
      padding: 7px 0;
      border-radius: 2px;
    }
  }
  .operatorBtn{
    background:#f1f1f1;
    width:250px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cancelBtn {
      cursor: pointer;
      margin-right: 29px;
    }
  }

}

