
    .appFloat {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 60px;
      right: 0px;
      background: #199475;
      box-shadow:0 0 2px 0 rgba(0,0,0,0.50);
      border-radius:2px;
      width:40px;
      .floatItem {
        height: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
      }
    }