@import "../../../../theme/theme.scss";
.faultWarnList{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  .faultWarnListContainer{
    @include contentBoxStyle();
    // overflow: hidden;
  }
  .faultWarnListContent{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    // overflow: hidden;
  }
}

