


@import '../../../../../theme/theme.scss';

.enterpriseMain{
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  .enterpriseStatus{//企业状态筛选
    height: 74px;
    line-height: 74px;
    background: #fff;
    .statusText{
      display: inline-block;
      height: 30px;
      width: 57px;
      text-align: justify;
      line-height: 30px;
      margin: 0 12px 0 24px;
      color: $darkColor;
    }
    .radioGroup{
      :global{
        .ant-radio-button-wrapper{
          height: 30px;
          padding: 0 10px;
          color: $darkColor;
        }
        .ant-radio-button-wrapper{
          height: 30px;
          border-left-width: 0;
        }
      }
    }
  }
  .enterpriseSearch{//企业搜索
    background:#f9f9f9;
    height: 50px;
    line-height: 50px;
    display: flex;
    .searchName,.seachPhone{
      color: $darkColor;
    }
    .searchName{
      margin: 0 12px 0 24px;
    }
    .seachPhone{
      margin-right: 12px;
    }
    .searchNameInput,.searchPhoneInput{
      margin-top: 9px;
      position: static;
      width: 160px;
      @include highLight($themeColor);
    }
    .searchNameInput{
      margin-right: 40px;
    }
    .searchPhoneInput{
      margin-right: 12px;
    }
    .searchButton{
      width: 68px;
      margin-top: 9px;
      margin-right: 12px;
      color: $darkColor;
      border:1px solid $promptColor;
      @include highLight($themeColor);
    }
    .clearButton{
      cursor: pointer;
      color: $darkColor;
    }
  }
  .enterpriseList{//企业列表
    .enterpriseListTop{
      background: #fff;
      display: flex;
      line-height: 72px;
      justify-content: space-between;
      .addEnterprise{
        padding : 0;
        margin-left: 24px;
        margin-right: 12px;
        border: 1px solid $themeColor;
        i{
          display: inline-block;
          background:$themeColor;
          color: #fff;
          vertical-align: top;
          width: 28px;
          line-height: 30px;
          height: 100%;
          border-radius: 2px 0 0 2px;
        }
        .text{
          border-radius: 0 2px 2px 0;
          background:#fff;
          color:$themeColor;
          display: inline-block;
          height: 100%;
          width: 38px;
          line-height: 30px;
          margin: 0px;
          text-align: center;
        }
        @include highLight($themeColor);
        &:hover{
          .text{
            background:$themeColor;
            color: #fff;
          }
        }
      }
      .handleEnterprise{
        height: 72px;
        line-height: 72px;
        display: inline-block;
        :global{
          .ant-select:not(.ant-select-disabled){
            width: 78px;
            .ant-select-selection{
              .ant-select-selection__rendered{
                .ant-select-selection__placeholder{
                  color: $promptColor;
                }
              }
              .ant-select-arrow{
                color: $darkColor;
              }
              @include highLight($themeColor);
            }
          }
        }
      }
    }
    .tableFooter{
      background-color: #fff;
      height: 45px;
      line-height: 45px;
      .info{
        color: $darkColor;
        margin-right: 20px;
        margin-left: 24px;
        .totalNum{
          color: rgb(250,185,7);
          margin: auto 4px;
        }
      }
      .cancel{
        color: $themeColor;
        cursor: pointer;
      }
    }
  }
}
.handleDropdown{
  width: 120px;
  :global{
    .ant-select-dropdown-menu-item{
      color:$themeColor;
    }
    .ant-select-dropdown-menu-item-disabled{
      color:$promptColor;
    }
  }
}
