.allStationAnalysisBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .allStationStatistic {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0;
  }
}

.light {
  @import "../../../../theme/theme.scss";
  .allStationStatistic {
    background-color: $pageBackground;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .allStationStatistic {
    background-color: $background;
  }
}
