@import "../../../../theme/theme.scss";
.allStationAnalysisBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .allStationStatistic {
    @include contentBoxStyle();
  }
}

.light {
  @import "../../../../theme/theme.scss";
  .allStationStatistic {
    background-color: $pageBackground;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;
  .allStationStatistic {
    background-color: $background;
  }
}
