@import "../../../../theme/theme.scss";
.allStationAnalysisBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .allStationStatistic {
    @include contentBoxStyle();
    padding-top: 0;
  }
}

.light {
  .allStationStatistic {
    background-color: $pageBackground;
  }
}
