@import '../../../../../theme/theme.scss';
.inspectHandleForm{
  display: flex;
  flex-direction: column;
  flex: 1;
  .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    align-items: flex-start;
    font-weight: 700;
    .border {
      display: flex;
      flex: 1;
      height: 16px;
      border-bottom: 1px #f1f1f1 solid;
    }
    .text {
      background-color:#f8f8f8;
      color: rgba(0,0,0,0.85);
      border: 1px solid #f1f1f1;
      border-radius: 4px;
      font-weight: 700;
      width: 95px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .actionBar {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 28px;
   
    .addAbnormal {
      width: 187px;
      background-color: #fff;
      color: $themeColor;
      border-color: $themeColor;
      margin-right: 72px;
      &:hover {
        background-color: $themeColor;
        color: #fff;
      }
    }
    .finishInspect {
      width: 187px;
      background-color: #f9b600;
      border-color: #f9b600; 
      color: #fff;
    }
  }
  .toInspect{
    width: 187px;
    margin-left: 28px;
  }
  :global {
    .ant-btn:not([disabled]):first-of-type {
      color: $themeColor;
      border-color: $themeColor;
      background-color: #fff;
      &:hover {
        color: #fff;
        background-color: $themeColor;
      }
    }
  }
  .addAbnormalForm {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    padding: 18px 45px 16px 18px;
    :global { 
      .ant-form-item {
        display: flex;
        .ant-form-item-label {
          width: 76px;
          margin-right: 12px;
          display: flex;
          justify-content: flex-end;
          label {
            color: $darkColor;
          }
        }
        .ant-form-item-children {
          display: flex
        }
      }
      .ant-radio-button-wrapper {
        padding: 0 8px; 
        color: $darkColor;
      }
      .ant-radio-button-wrapper-checked {
        background-color: $themeColor;
        border: 1px solid $themeColor;
        color: #fff;
      }
      input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
        color:$promptColor;
      }
      input:-moz-placeholder, textarea:-moz-placeholder { 
        color: $promptColor; 
      }
      input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
        color: $promptColor; 
      } 
    }
    .addImg {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: -65px;
      .maxTip {
        width: 65px;
        color: $promptColor;
        font-family: MicrosoftYaHei;
      }
    }
    .formAction {
      margin-left: 88px;
      .cancel {
        margin-right: 12px;
      }
    }
  }
  .addTips {
    margin-top: 10px;
    font-size: 12px;
    color: #d4d4d4;
    display: flex;
    margin-left: 140px;
    flex-direction: column;
    >span {
      display: inline-block;
      line-height: 24px;
    }
  }
}