
@import '../../../../theme/theme.scss';

.examiner{
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  .examinerList{
    @include contentBoxStyle();
    .listContent{
      background-color: #fff;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  .examinerList .tabs{
    background:#f8f8f8;
    display: flex;
    padding-left: 15px;
    line-height: 40px;

    .active, .inactive{
      text-align: center;
      flex-basis: 120px;
      width: 120px;
      cursor: pointer;
      margin-bottom: -2px;
      color: $themeColor;
    }
    .active{
      position: relative;
      background: $pageGround;
      border-right: 1px solid $themeColor;
      border-left: 1px solid $themeColor;

      &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        top: 0;
        left: -1px;
        background: $themeColor;
      }
    }
  }
}
