@import '../../../../theme/theme';
@mixin top() {
    //详情，编辑通用顶部基础样式
    @include lineheight(64px);
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px $promptColor;
}

.defectDetail {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
    .header {
        @include top;
        justify-content: space-between;
        .text {
            font-size: 18px;
            color: $darkColor;
            letter-spacing: 4px;
        }
        .arrowBox {
            display: flex;
            .backIcon {
                color: $darkColor;
                font-size: 20px;
                border-left: 1px solid $promptColor;
                margin-left: 10px;
                height: 100%;
                line-height: 64px;
                width: 64px;
                cursor: pointer;
            }
            .backBtn {
                margin-right: 40px;
                :global {
                    a {
                        color: $themeColor;
                    }
                }
            }
        }
        :global {
            .icon-last,
            .icon-next {
                cursor: pointer;
                font-size: 20px;
                margin-right: 20px; // color: $darkColor;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 24px 36px;
        .basic {
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.20);
            border-radius: 4px;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 18px 28px;
            background-color: #f8f8f8;
        }
        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            margin-right: 24px;
            padding: 18px 0;
            .timeLines {
                display: flex;
                flex-grow: 1;
                flex-shrink: 1;
                overflow-y: auto;
                flex-direction: column;
            }
            .form {
                display: flex;
                flex-shrink: 0;
            }
        }
    }
}

.basicInfo {
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $darkColor;
        margin-bottom: 21px;
        .text {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 700;
        }
        .warning {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            align-items: center;
            margin-left: 12px;
            .overTime {
                display: flex;
                align-items: center;
                color: #a42b2c;
                border: 1px #a42b2c solid;
                border-radius: 4px;
                padding: 4px;
                height: 16px;
                margin-right: 4px;
                justify-content: center;
            }
            .coordinate {
                display: flex;
                align-items: center;
                color: #f9b600;
                border: 1px #f9b600 solid;
                border-radius: 4px;
                padding: 4px;
                height: 16px;
                justify-content: center;
            }
        }
        :global {
            .icon-content {
                margin-left: 6px;
                font-size: 6px;
                color: rgba(0, 0, 0, 0.85);
            }
        }
    }
    .basicContent {
        display: flex;
        flex-direction: column;
        .basicItem {
            display: flex;
            flex-direction: row;
            line-height: 30px;
            align-items: center;
            color: $darkColor;
            >div {
                white-space: nowrap;
            }
            >span {
                display: inline-block;
                color: $darkColor;
                padding-left: 24px;
            }
            .dealMethod{
                border: 1px solid $themeColor;
                color: $themeColor;
                margin: 0 10px;
                height: 30px;
            }
        }
        .viewImg {
            margin-top: 10px;
            margin-left: 80px;
        }
    }
    .dealModal{
        .modalbody{
            height: 400px;
            overflow: auto;
            padding: 24px;
        }
        .dealBox{
            background: #f0f2f5;
            margin-bottom: 12px;
            padding: 12px 16px;
            position: relative;
            .column{
                display: flex;
                line-height: 28px;
                .text{
                    width:70px;
                    text-align: right;
                    color: #000;
                    margin-right: 12px;
                    flex-shrink: 0;
                }
            }
            .like{
                color: $themeColor;
                border: 1px solid $themeColor;
                background: #fff;
                position: absolute;
                right:10px;
                bottom:8px;
                text-align: center;
                cursor: pointer;
                width: 202px;
                border-radius: 4px;
                line-height: 28px;
            }
            .liked{
                border: 1px solid $themeColor;
                position: absolute;
                right:10px;
                bottom:8px;
                text-align: center;
                cursor: pointer;
                width: 202px;
                border-radius: 4px;
                line-height: 28px;
            }
        }
        :global{
            .ant-modal-body{
                padding: 0
            }
        }
    }
   
}

.timeLineWrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    .title {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        align-items: flex-start;
        .border {
            display: flex;
            flex: 1;
            height: 16px;
            border-bottom: 1px #f1f1f1 solid;
        }
        .text {
            background: #f8f8f8;
            color: rgba(0, 0, 0, 0.85);
            border: 1px solid #f1f1f1;
            border-radius: 4px;
            width: 95px;
            height: 30px;
            display: flex;
            font-weight: 700;
            align-items: center;
            justify-content: center;
        }
    }
    .timeLines {
        font-size: 14px;
        .processItem {
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            .lineBasic {
                display: flex;
                flex-direction: row;
                margin-bottom: 12px;
                .flowName {
                    color: $darkColor;
                    margin-right: 24px;
                }
                .operateTime {
                    color: $darkColor;
                    margin-right: 12px;
                }
                .operateUser {
                    color: $darkColor;
                }
            }
            .advise {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .status {
                    border: 1px solid $lightColor;
                    border-radius: 4px;
                    width: 48px;
                    height: 18px;
                    line-height: 18px;
                    margin-right: 4px;
                    margin-top: 2px;
                    color: $darkColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    margin-right: 33px;
                }
                .defectProposal {
                    display: flex;
                    flex-wrap: wrap;
                    color: $darkColor;
                    flex-direction: column;
                    .reason {
                        margin-left: 6px;
                    }
                    .imgBox {
                        display: flex;
                        flex-direction: row;
                        .imgList {
                            margin-left: 8px;
                            border: 1px solid $themeColor;
                            border-radius: 4px;
                            width: 46px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $themeColor;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .processStatus span {
            color: $themeColor;
            margin-left: 8px;
            display: inline-block;
        }
    }
    :global {
        .icon-begin,
        .icon-review,
        .icon-doing {
            background-color: #d8d8d8;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: $darkColor;
        }
        .icon-doned,
        .icon-goon {
            color: $themeColor;
            font-size: 16px;
        }
        .ant-timeline {
            padding-top: 5px;
        }
        .ant-timeline-item {
            padding-bottom: 24px;
            .ant-timeline-item-head-custom {
                left: 8px;
            }
        }
        .ant-timeline-item-last {
            .ant-timeline-item-tail {
                height: 36px;
            }
        }
        .ant-timeline-item-pending {
            .ant-timeline-item-head-custom {
                display: none;
            }
        }
    }
}