@import '../../../../theme/theme.scss';

.dailyQuery{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .dailyQueryBox{
    // @include contentBoxStyle();
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 0;
    background: #ececec;
  }
}