.layoutUser {
  height: 100%;
  .layoutUserContent {
    //max-width: 120px;
    min-width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .userLogo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #c7ceb2;
      color: #fff;
      text-align: center;
      margin-right: 4px;
      line-height: 30px;
    }
    .username {
      color: #fff;
      margin-right: 4px;
    }
    .downIcon {
      font-size: 14px;
      color: #fff;
    }
  }
}
.layoutUserDropdown {
  // height: 100px;
  width: 100px;
  // background: #3e97d1;
  padding: 0;
  margin-top: -4px;
  position: absolute;
  top: 0;
  right: 0;
  .innerItem {
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    padding: 0;
    .text {
      margin-right: 4px;
    }
    :global {
      .iconfont {
        vertical-align: middle;
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
}

.light {
  .layoutUserDropdown {
    background: #3e97d1;
  }
  .innerItem {
    color: #fff;
  }
  .innerItem:hover {
    background-color: rgba(0, 13, 52, 0.2);
  }
}

.dark {
  .layoutUserDropdown {
    background-color: #00baff;
  }
  .innerItem {
    color: #fff;
  }
  .innerItem:hover {
    background-color: #3e97d1;
  }
}
