@import "../../../../../theme/theme.scss";
.reportSearch {
  padding: 14px 40px;
  min-height: 60px;
  display: flex;
  line-height: 40px;
  align-items: center;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 5px 3px rgba(208, 208, 208, 0.60);
  .column {
    display: flex;
    margin-right: 20px;
  }
  .lable {
    margin-right: 4px;
    flex: 1 0 56px;
  }
  .device {
    max-width: 260px;
    flex: 1 0;
  }
}
.reporeTable {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 12px 40px;
  }
  .tableBox {
    flex: 1 0 auto;
    background-color: #fff;
    margin: 0 4px 4px 0;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
    table{
      table-layout: fixed;
    }
    .deviceNameText {
      width:138px;
      @include overflowText();
    }

   .rightText{
      padding: 0 10px 0 0;
      text-align: right;
    }
    .centerText{
      text-align: center;
      padding: 0;
    }

  }

}

.reportSearch.light {
  background: #fff;
}
.reporeTable.light {
  background: transparent;
}
