


@import '../../../../../theme/theme.scss';

@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}

.departmentSide {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 0;
  background:#f0f2f5;
  .addDepartment,.editDepartment{
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    .editTop{
      @include top;
      justify-content: space-between;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        @include backIcon();
      }
    }
    .mainPart{
      margin: 24px 32px 0;    
      display: flex;
      .addPart,.editPart{
        flex: 1;
        .instructionText{
          color: $promptColor;
        }
        .buttonGroup{
          .save{
            margin-left: 410px;
            margin-right: 16px;
          }
        }
        .editSave{
          margin-left: 410px;
        }
        :global{
          .ant-form-item{
            display: flex;
            line-height: 40px;
            .ant-form-item-label{
              width: 410px;
              color: $darkColor;
              text-align: right;
              padding-right: 24px;
              label::after{
                display: none;
              }
            }
            .ant-form-item-control-wrapper{
              .ant-form-explain{
                position: absolute;
              }
              input {
                width: 200px;
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  .departmentDetail{//部门详情
    line-height: 30px;
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    .detailTop{
      @include top;
      justify-content: space-between;
      .editButton{
        &:hover{
          background-color: $themeColor;
          color: #fff;
        }
      }
      .handleArea{
       font-size: 20px;
       display: flex;
       flex:1;
       justify-content: flex-end;
       align-items: center;
        :global{
          .iconfont{
            margin-right: 20px;
            cursor: pointer;
            color: $darkColor;
          }
        }
        .backIcon{
          @include backIcon();
        }
      }
      
    }
    .departmentInfo{ // 部门信息展示区
      margin-top: 24px;
      margin-left: 300px;
      display: flex;
      width: 810px;
      flex-direction: column;
      color: $darkColor;
      .eachInfo{
        display: flex;
        .title{
          display: inline-block;
          width: 85px;
          text-align: right;
          margin-right: 24px;
          color: $darkColor;
        }
        .value{
          display: inline-block;
          color: $darkColor;
          margin-right: 16px;
        }
        .stationInfo,.memberInfo{
          display: flex;
          width: 725px;
          flex-wrap: wrap;
          .value{
            max-width: 725px;
            word-wrap: break-word;
            overflow-wrap: break-word;
          }
        }
        .setting{
          @include lineheight(26px);
          color:$themeColor;
          border-color: $themeColor;
        }
      }
      .line{
        height: 0px;
        margin: 12px 0;
        border-top: 1px dashed #d4d4d4;
      }
    }
  }
}