.tooltipBox {
  width: 160px;
  .axisValue {
    padding: 0 10px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
  }
  .tooltipContainer {
    padding: 10px 30px 10px 0;
  }
  .tooltipCont {
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 4px 0 8px;
    }
  }
}
.light {
  .axisValue {
    border-bottom: 1px solid #d4d4d4;
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .axisValue {
    border-bottom: 1px solid $border-color;
  }
}
