
.stationManageSide{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 0;
  background:#ececec;
  z-index: 9999;
  .stationManageEdit,.stationManageDetail{
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
  }
}