


@import '../../../../../theme/theme.scss';

.departmentMain{
  @include contentBoxStyle();
  .contentMain{
    background-color: #fff;
    flex: 1;
    border: 1px solid #e1e2e2;
    .departmentSearch{//部门搜索
      background:#f9f9f9;
      height: 50px;
      line-height: 50px;
      display: flex;
      .departmentName,.parentName,.stationName{
        color: $darkColor;
      }
      .departmentName{
        margin: 0 12px 0 24px;
      }
      .parentName,.stationName{
        margin-right: 12px;
      }
      .departmentInput,.parentInput,.stationInput{
        margin-top: 9px;
        position: static;
        width: 160px;
        @include highLight($themeColor);
      }
      .departmentInput,.parentInput,{
        margin-right: 40px;
      }
      .stationInput{
        margin-right: 12px;
      }
      .searchButton{
        width: 68px;
        margin-top: 9px;
        margin-right: 12px;
        color: $darkColor;
        border:1px solid $promptColor;
        @include highLight($themeColor);
        &:hover{
          background-color: $themeColor;
          border-color: $themeColor;
          color: #fff;
        }
      }
      .clearButton{
        cursor: pointer;
        color: $themeColor;
      }
    }
    .departmentList{//部门列表
      .departmentListTop{
        background: #fff;
        display: flex;
        //line-height: 72px;
        justify-content: space-between;
        .addDepartment{
          padding : 0;
          margin-left: 24px;
          margin-right: 12px;
          font-size: 0;
          border: 1px solid $themeColor;
          i{
            background-color:$themeColor;
            color: #fff;
            font-size: 14px;
            vertical-align: top;
            width: 28px;
            line-height: 30px;
            border-radius: 2px 0 0 2px;
          }
          .text{
            border-radius: 0 2px 2px 0;
            font-size: 14px;
            // background:#fff;
            color:$themeColor;
            display: inline-block;
            width: 40px;
            line-height: 30px;
            margin: 0px;
            text-align: center;
          }
          @include highLight($themeColor);
          &:hover{
            .text{
              background:$themeColor;
              color: #fff;
            }
          }
        }
        .handleDepartment{
          height: 72px;
          line-height: 72px;
          display: inline-block;
          :global{
            .ant-select{
              width: 78px;
            }
          }
        }
      }
      table{
        a{
          text-decoration: underline;
          color: $darkColor;
          &:hover{
            color: #199475;
          }
        }

        .tableDepartmentName{
          color: $darkColor;
          &:hover{
            color: #199475;
          }
          .departmentName{

            width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

          }

        }
      }
      .stationColumn{
        .others{
          cursor: pointer;
          font-size: 24px;
          vertical-align: middle;
        }
      }
      .tableFooter{
        background-color: #fff;
        height: 45px;
        line-height: 45px;
        .info{
          color: $darkColor;
          margin-right: 20px;
          margin-left: 24px;
          .totalNum{
            color: rgb(250,185,7);
            margin: auto 4px;
          }
        }
        .cancel{
          color: $themeColor;
          cursor: pointer;
        }
      }
      .editDepartment, .deleteDepartment{
        margin-right: 12px;
        cursor: pointer;
      }
      :global{
        .ant-table-placeholder{
          z-index: auto;
        }
      }
    }
  }
}


.departmentHandleDropdown{
  width: 120px;
  :global{
    .ant-select-dropdown-menu-item{
      color:$themeColor;
    }
    .ant-select-dropdown-menu-item-disabled{
      color:$promptColor;
    }
    .iconfont{
      margin-right: 4px;
    }
  }
}

.responsibleDetails{
  color: $darkColor;
  .eachStation{
    .square{
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      margin-top: -4px;
      width: 4px;
      height: 4px;
      background-color: $lightColor;
    }
    @include lineheight(30px);
  }

  :global{
    .ant-popover-title{
      color: $darkColor;
    }
  }
}
