


@import '../../../../../theme/theme.scss';

.departmentMain{
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
  background:#ececec;

  .departmentSearch{//部门搜索
    background:#f9f9f9;
    height: 50px;
    line-height: 50px;
    display: flex;
    .departmentName,.parentName,.stationName{
      color: $lightColor;
    }
    .departmentName{
      margin: 0 12px 0 24px;
    }
    .parentName,.stationName{
      margin-right: 12px;
    }
    .departmentInput,.parentInput,.stationInput{
      margin-top: 9px;
      position: static;
      width: 160px;
      @include highLight($themeColor);
    }
    .departmentInput,.parentInput,{
      margin-right: 40px;
    }
    .stationInput{
      margin-right: 12px;
    }
    .searchButton{
      width: 68px;
      margin-top: 9px;
      margin-right: 12px;
      color: $lightColor;
      border:1px solid $promptColor;
      @include highLight($themeColor);
    }
    .clearButton{
      cursor: pointer;
      color: $darkColor;
    }
  }
  .departmentList{//部门列表
    .departmentListTop{
      background: #fff;
      display: flex;
      line-height: 72px;
      justify-content: space-between;
      .addDepartment{
        padding : 0;
        margin-left: 24px;
        margin-right: 12px;
        border: 1px solid $themeColor;
        i{
          display: inline-block;
          background:$themeColor;
          color: #fff;
          vertical-align: top;
          width: 28px;
          line-height: 30px;
          height: 100%;
          border-radius: 4px 0 0 4px;
        }
        .text{
          border-radius: 0 4px 4px 0;
          background:#fff;
          color:$themeColor;
          display: inline-block;
          height: 100%;
          width: 38px;
          line-height: 30px;
          margin: 0px;
          text-align: center;
        }
        @include highLight($themeColor);
        &:hover{
          .text{
            background:$themeColor;
            color: #fff;
          }
        }
      }
      .handleDepartment{
        height: 72px;
        line-height: 72px;
        display: inline-block;
        :global{
          .ant-select{
            width: 78px;
          }
        }
      }
    }
    .stationColumn{
      .others{
        cursor: pointer;
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .tableFooter{
      background-color: #fff;
      height: 45px;
      line-height: 45px;
      .info{
        color: $lightColor;
        margin-right: 20px;
        margin-left: 24px;
        .totalNum{
          color: rgb(250,185,7);
          margin: auto 4px;
        }
      }
      .cancel{
        color: $themeColor;
        cursor: pointer;
      }
    }
    :global{
      .ant-table-placeholder{
        z-index: auto;
      }
    }
  }
}

.departmentHandleDropdown{
  width: 120px;
  :global{
    .ant-select-dropdown-menu-item{
      color:$themeColor;
    }
    .ant-select-dropdown-menu-item-disabled{
      color:$promptColor;
    }
    .iconfont{
      margin-right: 4px;
    }
  }
}

.responsibleDetails{
  color: $lightColor;
  .eachStation{
    .square{
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      margin-top: -4px;
      width: 4px;
      height: 4px;
      background-color: $lightColor;
    }
    @include lineheight(30px);
  }
  
  :global{
    .ant-popover-title{
      color: $lightColor;
    }
  }
}
