@import "../../../../../theme/theme.scss";

.subInverter {
  // 子汇流箱
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  .singledeviceItem {
    margin-right: 18px;
    margin-bottom: 20px;
    width: 230px;
    height: 151px;
    border-radius: 4px;
    .statusBox {
      display: flex;
      align-items: center;
      padding: 0 12px;
    }
    .deviceItemIcon {
      align-self: flex-start;
      margin-top: 5px;
      flex-basis: 40px;
      position: relative;
    }
    .deviceItemR {
      flex: 1;
      display: flex;
      flex-direction: column;
      .deviceBlockName,
      .deviceItemPower {
        display: flex;
        justify-content: space-between;
      }
      .deviceBlockName {
        height: 33px;
        line-height: 33px;
      }
      .deviceItemPower {
        height: 25px;
        line-height: 25px;
      }
      .deviceName {
        width: 130px;
        @include overflowText();
      }
    }
    .deviceBlockFooter {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
      .eachInfo {
        flex-basis: 50%;
        text-align: center;
        line-height: 24px;
        display: flex;
        justify-content: space-between;
      }
    }
    .allStatus {
      display: flex;
      justify-content: space-between;
      height: 36px;
      align-items: center;
      padding: 0 12px;
      .branchStatus {
        display: flex;
        width: 120px;
        flex-wrap: wrap;
      }
      .rect {
        width: 5px;
        height: 15px;
        margin: 0px 4px 4px 0;
      }
      .round {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin: 0px 4px 4px 0;
      }
    }
    :global {
      .icon-nb {
        font-size: 22px;
      }
      .icon-alarm {
        position: absolute;
        bottom: 10px;
        right: 5px;
        width: 10px;
        height: 10px;
        font-size: 14px;
      }
      .ant-progress {
        line-height: 8px;
        height: 8px;
        margin-top: -4px;
      }
    }
  }
  .singledeviceItem:hover {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  }
  .unconnect {
    pointer-events: none;
  }
}

.subInverter.light {
  // 子汇流箱
  .singledeviceItem {
    border: 1px solid #dfdfdf;
    .deviceItemR {
      .deviceBlockName,
      .deviceItemPower {
        color: $darkColor;
      }
    }
    .deviceBlockFooter {
      .eachInfo {
        color: $darkColor;
      }
      .value {
        color: $themeColor;
      }
    }
    :global {
      .icon-alarm {
        color: #a42b2c;
      }
      .ant-progress-inner {
        background-color: #dfdfdf;
      }
      .ant-progress-success-bg,
      .ant-progress-bg {
        background-color: $themeColor;
      }
    }
  }
  .singledeviceItem:hover {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .lowEfficiency {
    .statusBox {
      background: #fefad2;
      color: #e08031;
    }
    &:hover {
      box-shadow: 0 1px 4px 0 #fefad2;
    }
  }
  .alarm {
    .statusBox {
      background: #ff8e9c;
      color: #a42b2c;
    }
    &:hover {
      box-shadow: 0 1px 4px 0 #ff8e9c;
    }
  }
  .unconnect {
    background: #ededed;
  }
}

.subInverter.dark {
  @import "../../../../../theme/antdResetDark.scss";
  // 子汇流箱
  .singledeviceItem {
    border: 1px solid $border-color;
    a {
      color: $fontColor;
    }
    .value {
      color: $fontColor-hover;
    }
    :global {
      .icon-alarm {
        color: #a42b2c;
      }
      .ant-progress-inner {
        background-color: #dfdfdf;
      }
      .ant-progress-success-bg,
      .ant-progress-bg {
        background-color: $themeColor;
      }
    }
  }
  .singledeviceItem:hover {
    box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.5);
  }
  // .lowEfficiency {
  //   .statusBox {
  //     background: #fefad2;
  //     color: #e08031;
  //   }
  //   &:hover {
  //     box-shadow: 0 1px 4px 0 #fefad2;
  //   }
  // }
  // .alarm {
  //   .statusBox {
  //     background: #ff8e9c;
  //     color: #a42b2c;
  //   }
  //   &:hover {
  //     box-shadow: 0 1px 4px 0 #ff8e9c;
  //   }
  // }

  .lowEfficiency {
    background: #4a4343;
    a {
      color: #fff;
    }
    border: 1px solid rgba(249, 182, 0, 0.6);
    &:hover {
      box-shadow: inset 0 0 4px 2px rgba(255, 255, 255, 0.5);
    }
    .value {
      color: #f8b14e;
    }
  }
  .alarm {
    background: rgba(145, 44, 65, 0.6);
    border: 1px solid rgba(145, 44, 65, 1);
    a {
      color: #fff;
    }
    &:hover {
      box-shadow: 0 1px 4px 0 #ff8e9c;
    }
    .value {
      color: #fd6e8f;
    }
  }
  .unconnect {
    color: #bbcef7;
    background: #181a4e;
    border: 1px solid #7088c3;
    a {
      color: #bbcef7;
    }
    .value {
      color: #bbcef7;
    }
  }
}
