.flowTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  .tableTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 20px 28px;
    .selectCondition {
      display: flex;
      justify-content: space-between;
      .workflow {
        z-index: 0;
        margin-left: 0px;
        margin-right: 12px;
        display: flex;
        padding: 0 15px 0 6px;
        .icon {
          margin: 0 10px 0 0;
        }
      }
      .cbtn {
        z-index: 0;
        margin-right: 12px;
      }
    }
    .commonButton {
      cursor: pointer;
      margin-right: 8px;
      line-height: 32px;
      border-radius: 2px;
      text-align: center;
      display: inline-block;
      padding: 0 12px;
    }

    .disabled {
      pointer-events: none;
      text-shadow: none;
      box-shadow: none;
    }
  }
  .operateFlowTable{
    .iconShow{
      display: inline;
    }
    .iconHide{
      display: none;
    }
    :global{
      .iconfont{
        font-size: 20px;
        padding: 4px;
        cursor: pointer;
        margin-right: 4px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .docketCodeText, .stationNameText, .docketNameText, .createTimeText, .dealUserNamesText{
      @include overflowText();
      width: calc(100% - 5px);
    }
  }

  :global {
    .ant-table-placeholder {
      border: none;
    }
  }
}

.workflowDeatil {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  background: #fff;
  .header {
    line-height: 64px;
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px #d4d4d4;
    justify-content: space-between;
    .text {
      font-size: 18px;
      color: #353535;
      letter-spacing: 4px;
    }
    .backIcon {
      @include backIcon();
    }
  }
}

.condition {
  display: flex;
  flex-direction: column;
  .statusGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 28px 20px;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      > span:first-child {
        margin-right: 28px;
      }
    }
    :global {
      .ant-radio-group {
        .ant-radio-button-wrapper {
          color: #199475;
          border: 1px solid #199475;
          &:first-child {
              border: 1px solid #199475;
          }
          &:hover {
              background-color: #ceebe0;
          }
          &.ant-radio-button-wrapper-checked {
              background-color: #199475;
              color: #fff;
          }
        }
      }
    }
  }
}
