.flowTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  .tableTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .selectCondition {
      display: flex;
      justify-content: space-between;
      .cbtn {
        margin-right: 16px;
         z-index: 1;
      }
    }
    .disabled {
      pointer-events: none;
      text-shadow: none;
      box-shadow: none;
    }
  }
  .tableBox {
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    flex: 1 auto;
    margin: 0 2px 4px 2px;
    .operateFlowTable{
      .iconShow{
        display: inline;
      }
      .iconHide{
        display: none;
      }
      :global{
        .iconfont{
          font-size: 20px;
          padding: 4px;
          cursor: pointer;
          margin-right: 4px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .docketCodeText, .stationNameText, .docketNameText, .createTimeText, .dealUserNamesText{
        @include overflowText();
        width: calc(100% - 5px);
      }
    }
  }
  @media screen and (max-width: 1679px){
    .dealUserNamesText{
      max-width: 96px;
    }
    .docketNameText{
      max-width: 170px;
    }
  }
  @media screen and (min-width: 1920px){
    .dealUserNamesText{
      max-width: 130px;
    }
    .docketNameText{
      max-width: 220px;
    }
  }
}

.workflowDeatil {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  padding: 0 24px;
  .header {
    line-height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      font-size: 18px;
      letter-spacing: 4px;
    }
  }
}

.condition {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  .statusGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 28px 20px;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      > span:first-child {
        margin-right: 28px;
      }
    }
  }
}
