@import '../../../../theme/theme.scss';

.historySearch {

  .typeCheck {
    display: flex;

    .typeNormal,
    .typeActive {
      height: 40px;
      line-height: 40px;
      flex-basis: 120px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid $promptColor;
      border-left: none;
      color: $lightColor;
      background-color: #f8f8f8;
    }

    .typeActive {
      background-color: #fff;
      border-top: 2px solid $themeColor;
      border-bottom: none;
      color: #000;
    }

    .holder {
      flex: 1;
      background-color: #f8f8f8;
      border-top: 1px solid $promptColor;
      border-bottom: 1px solid $promptColor;
    }
  }

  .searchPart,
  .timeType {
    padding: 20px 40px 0 10px;
    display: flex;
    flex-wrap: wrap;

    .stationSelect,
    .typeSelect,
    .deviceSelect,
    .startSelect,
    .intervalSelect{
      flex: 1;
    }

    .export {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;

      .btn {
        display: inline-block;
        vertical-align: top;
        @include lineheight(32px);
        letter-spacing: 1px;
        color: $themeColor;
        transition: all .4s;
        position: relative;
        font-size: 14px;
        margin-left: 224px;
        background: rgba(206, 235, 224, 0.30);
        box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.50);
        border: 1px solid $themeColor;
      }

      .am {
        overflow: hidden;
      }

      .amScale:before {
        background: $slideSelectColor;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1000px;
        opacity: 0;
        transition: all .6s;
      }

      .am:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
      }

      .amScale:hover:before {
        width: 120%;
        height: 200%;
        opacity: 1;
      }

      .am>span {
        position: relative;
        z-index: 2;
      }


      :global {
        .ant-btn[disabled] {
          background: #f1f1f1;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          @include lineheight(32px);
          color: #999;
        }
      }
    }

    // .export {
    //   display: flex;
    //   flex: 1;
    //   justify-content: flex-start;
    //   align-items: center;

    //   .exportbtn {
    //     background: rgba(206, 235, 224, 0.30);
    //     border: 1px solid $themeColor;
    //     border-radius: 2px;
    //     width: 66px;
    //     height: 30px;
    //     color: $themeColor;
    //     margin-left: 224px;
    //   }

    //   :global {
    //     .ant-btn[disabled] {
    //       background: #f1f1f1;
    //       border: 1px solid #d4d4d4;

    //       border-radius: 2px;
    //       width: 66px;
    //       height: 30px;
    //       color: #999;
    //     }
    //   }
    // }

    .stationSelect,
    .typeSelect,
    .deviceSelect,
    .startSelect,
    .endSelect,
    .intervalSelect {
      display: flex;
      line-height: 40px;
      height: 40px;
      align-items: center;

      :global {
        .ant-calendar-picker {
          width: 198px;

          .ant-calendar-picker-input {

            .anticon,
            .anticon-calendar,
            .ant-calendar-picker-icon {
              right: 8px
            }
          }
        }

        .ant-select {
          width: 198px;
        }


      }

      .text {
        flex: 0 0 84px;
        text-align: right;
        margin-right: 8px;
      }
    }

    .intervalSelect {
      :global {
        .ant-select-selection__rendered {
          width: 70px;
        }
      }
    }
  }

  .timeType {
    padding: 10px 40px 14px 10px;
  }
}

.historyDataType {
  display: flex;
  border-top: 1px dotted $promptColor;
  border-bottom: 1px dotted $promptColor;
  justify-content: space-between;
  align-items: center;



  .export {
    margin-right: 24px;
  }
}

.pointTree {
  flex: 0 0 196px;

  h3 {
    height: 50px;
    line-height: 50px;
    color: $slideFontColor;
    text-align: center;
    background-color: $themeColor;

    .num {
      color: #f9b600;
    }
  }

  .tipTxt {
    margin-top: 16px;
    display: block;
    text-align: center;
    color: $themeColor;
  }

  :global {
    .ant-tree {
      max-height: 780px;
      width: 196px;
      overflow-x: auto;
      overflow-y: auto;

      li .ant-tree-node-content-wrapper {
        height: auto;
        line-height: 21px;
      }

      .ant-tree-title {
        display: inline-block;
        white-space: normal;
      }

      .ant-tree-treenode-switcher-close {
        .ant-tree-title {
          width: 116px;
        }
      }

      .ant-tree-node-content-wrapper .ant-tree-node-content-wrapper-normal {
        .ant-tree-treenode-switcher-close {
          .ant-tree-title {
            width: 120px;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.historyChart {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-left: 1px solid $promptColor;

  h4 {
    height: 50px;
    line-height: 50px;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;

    .tabIcons {
      margin-left: 16px;
      font-size: 24px;
      display: flex;
      align-items: center;

      .active,
      .normal {
        cursor: pointer;
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        color: #fff;
        background-color: $themeColor;
      }

      .normal {
        color: #999;
        background-color: #f1f1f1;
      }
    }

    .tipTitle {
      text-align: right;
      padding-right: 24px;
      color: $darkColor;
    }
  }



  .nodata {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .chartTool {
    .title {
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      color: $darkColor;
    }

    .content {
      font-size: 12px;
      display: flex;
      align-items: center;
      height: 24px;

      .itemStyle {
        margin: 0 8px;
        position: relative;

        &::before,
        &::after {
          color: inherit;
          content: '-';
          position: absolute;
        }

        &::before {
          left: 5px;
        }

        &::after {
          right: 5px;
        }
      }

      .text {
        color: $darkColor;
        margin-right: 4px;
      }

      .value {
        color: $darkColor;
      }
    }

  }
}

.historyList {
  // display: flex;
  flex: 1;
  // width: 1400px;
  width: calc(100vh - 460px);
  // flex-direction: column;
  border-left: 1px solid $promptColor;
  padding: 0 26px 0 16px;

  :global {
    .ant-table-thead {
      height: 56px;

      .ant-table-header-column {
        margin-top: -9px;
      }
    }

    .ant-table .ant-table-thead>tr>th {
      padding: 0 8px;
      height: 56px;
      line-height: 0;
    }

    .ant-table-thead>tr:first-child>th:first-child {
      padding-left: 20px;
    }


  }


  .pagination {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      margin-left: 36px;
    }

    .tabIcons {
      font-size: 24px;
      display: flex;
      align-items: center;

      .active,
      .normal {
        cursor: pointer;
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        color: #fff;
        background-color: $themeColor;
      }

      .normal {
        color: #999;
        background-color: #f1f1f1;
      }
    }
  }

  .pageStyle {
    margin-right: -26px;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }



  .points,
  .pointsValue .stationName,
  .deviceTypeName,
  .deviceModeName,
  .time,
  .deviceName {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .deviceName,
  .stationName {
    width: 100px;
  }

  .deviceTypeName {
    width: 100px;
  }

  .deviceModeName {
    width: 150px;
  }

  .time {
    width: 150px;
  }

  .points {
    width: 120px;
  }

  .pointsValue {
    width: 100px;
    text-align: right;
  }





  .sorterType {
    :global {
      .ant-table-column-sorters {
        .ant-table-column-sorter {
          display: none;
        }

        &:hover {
          .ant-table-column-sorter {
            display: block;
          }
        }
      }
    }
  }

  :global {

    /*table新样式*/
    .ant-table-wrapper {
      box-shadow: 0 2px 5px 3px rgba(208, 208, 208, 0.60);
    }

    /*table新样式*/
    .ant-table .ant-table-tbody>tr:nth-of-type(even) {
      background-color: #fbfbfb;
    }

    .ant-table {
      .ant-table-thead tr th {
        // height: 60px;
        /*table新样式*/
        background-color: $themeColor;
        color: $slideFontColor;
      }

      .ant-table .ant-table-thead>tr>th,
      .ant-table .ant-table-tbody>tr>td {
        padding: 0 8px;
      }

      .ant-table-tbody>tr>td {
        padding: 0 8px;
      }

      .points {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
        text-align: right;
      }

      .pointsValue {
        width: 100px;
      }

    }
  }
}

.historyRangeDropdown {
  .infoTip {
    color: $themeColor;
  }

  :global {
    .ant-calendar-footer-btn {
      display: flex;
      justify-content: space-between;
    }

    .ant-calendar-input {
      pointer-events: none;
    }

    .ant-calendar-ok-btn {
      display: none;
    }
  }
}
