@import '../../../../theme/theme.scss';

.historySearch {

  .typeCheck {
    display: flex;

    .typeNormal,
    .typeActive {
      height: 40px;
      line-height: 40px;
      flex-basis: 120px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid $promptColor;
      border-left: none;
      color: $lightColor;
      background-color: #f8f8f8;
    }

    .typeActive {
      background-color: #fff;
      border-top: 2px solid $themeColor;
      border-bottom: none;
      color: #000;
    }

    .holder {
      flex: 1;
      background-color: #f8f8f8;
      border-top: 1px solid $promptColor;
      border-bottom: 1px solid $promptColor;
    }
  }

  .searchPart {
    padding: 20px 32px;
    display: flex;
    flex-wrap: wrap;

    .stationSelect,
    .typeSelect,
    .startSelect,
    .endSelect {
      flex: 0 0 25%;
    }

    .deviceSelect,
    .intervalSelect {
      flex: 0 0 50%;
    }


    .export {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;

      .exportbtn {
        // width: 64px;
      }
    }

    .stationSelect,
    .typeSelect,
    .deviceSelect,
    .startSelect,
    .endSelect,
    .intervalSelect {
      display: flex;
      line-height: 40px;
      height: 40px;
      align-items: center;

      :global {
        .ant-calendar-picker {
          width: 198px;

          .ant-calendar-picker-input {

            .anticon,
            .anticon-calendar,
            .ant-calendar-picker-icon {
              right: 8px
            }
          }
        }


      }

      .text {
        flex: 0 0 96px;
        text-align: right;
        margin-right: 8px;
      }
    }

    .intervalSelect {
      :global {
        .ant-select-selection__rendered {
          width: 70px;
        }
      }
    }
  }
}

.historyDataType {
  display: flex;
  border-top: 1px dotted $promptColor;
  border-bottom: 1px dotted $promptColor;
  justify-content: space-between;
  align-items: center;



  .export {
    margin-right: 24px;
  }
}

.pointTree {
  flex: 0 0 196px;

  h3 {
    height: 40px;
    line-height: 40px;
    color: $darkColor;
    border-bottom: 1px solid $promptColor;
    text-align: center;
  }

  .tipTxt {
    display: block;
    text-align: center;
  }

  :global {
    .ant-tree {
      max-height: 780px;
      width: 196px;
      overflow-x: auto;
      overflow-y: auto;

      li .ant-tree-node-content-wrapper {
        height: auto;
        line-height: 21px;
      }

      .ant-tree-title {
        display: inline-block;
        white-space: normal;
      }

      .ant-tree-treenode-switcher-close {
        .ant-tree-title {
          width: 116px;
        }
      }

      .ant-tree-node-content-wrapper .ant-tree-node-content-wrapper-normal {
        .ant-tree-treenode-switcher-close {
          .ant-tree-title {
            width: 120px;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.historyChart {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-left: 1px solid $promptColor;

  h4 {
    height: 60px;
    line-height: 60px;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;

    .tabIcons {
      margin-left: 16px;
      font-size: 24px;
      display: flex;
      align-items: center;

      .active,
      .normal {
        cursor: pointer;
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        color: #fff;
        background-color: $themeColor;
      }

      .normal {
        color: #999;
        background-color: #f1f1f1;
      }
    }

    .tipTitle {
      text-align: right;
      padding-right: 24px;
      color: $darkColor;
    }
  }



  .nodata {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .chartTool {
    .title {
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      color: $darkColor;
    }

    .content {
      font-size: 12px;
      display: flex;
      align-items: center;
      height: 24px;

      .itemStyle {
        margin: 0 8px;
        position: relative;

        &::before,
        &::after {
          color: inherit;
          content: '-';
          position: absolute;
        }

        &::before {
          left: 5px;
        }

        &::after {
          right: 5px;
        }
      }

      .text {
        color: $darkColor;
        margin-right: 4px;
      }

      .value {
        color: $darkColor;
      }
    }

  }
}

.historyList {
  // display: flex;
  flex: 1;
  // width: 1400px;
  width: calc(100vh - 460px);
  // flex-direction: column;
  border-left: 1px solid $promptColor;
  padding: 0 16px;

  :global {
    .ant-table .ant-table-thead>tr>th {
      padding: 0 8px;
    }
  }

  .pagination {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      margin-left: 36px;
    }

    .tabIcons {
      font-size: 24px;
      display: flex;
      align-items: center;

      .active,
      .normal {
        cursor: pointer;
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        color: #fff;
        background-color: $themeColor;
      }

      .normal {
        color: #999;
        background-color: #f1f1f1;
      }
    }
  }



  .points,
  .pointsValue .stationName,
  .deviceTypeName,
  .deviceModeName,
  .time,
  .deviceName {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .deviceName,
  .stationName {
    width: 100px;
  }

  .deviceTypeName {
    width: 100px;
  }

  .deviceModeName {
    width: 150px;
  }

  .time {
    width: 150px;
  }

  .points {
    width: 120px;
  }

  .pointsValue {
    width: 100px;
  }





  .sorterType {
    :global {
      .ant-table-column-sorters {
        .ant-table-column-sorter {
          display: none;
        }

        &:hover {
          .ant-table-column-sorter {
            display: block;
          }
        }
      }
    }
  }

  :global {
    .ant-table {
      .ant-table-thead tr th {
        height: 60px;
      }

      .ant-table .ant-table-thead>tr>th,
      .ant-table .ant-table-tbody>tr>td {
        padding: 0 8px;
      }

      .ant-table-tbody>tr>td {
        padding: 0 8px;
      }

      .ant-table-body-inner {
        overflow-y: none !important;

      }

      .points {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
      }

      .pointsValue {
        width: 100px;
      }

    }
  }
}

.historyRangeDropdown {
  .infoTip {
    color: $themeColor;
  }

  :global {
    .ant-calendar-footer-btn {
      display: flex;
      justify-content: space-between;
    }

    .ant-calendar-input {
      pointer-events: none;
    }

    .ant-calendar-ok-btn {
      display: none;
    }
  }
}