.alarmStatisticType{
 
  height: 100%;
  margin: 30px;

  :global{
    
    


  }

.filterBox{
 
  
}
.pagination{
      width: 1210px;
      height: 45px;
      display: flex;
      justify-content: flex-end;
      line-height: 45px;
}

}