.detailWrap {
  display: flex;
  :global {
    .ant-spin-nested-loading {
      display: flex;
    }
    .ant-spin-container {
      display: flex;
      flex: 1;
    }
  }
  .defectDetail{
    display: flex;
    flex-direction: column;
    flex: 1;
    .header {
      height: 50px;
    }
    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      .basic {
        width: 570px;
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .timeLines {
          display: flex;
          flex: 1;
          overflow-y: auto;
        }
        .form {
          display: flex;
        }
      }
    }
  }
}