@import '../../../../../theme/theme.scss';
@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}
.detailWrap {
  display: flex;
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  .defectDetail{
    display: flex;
    flex-direction: column;
    flex: 1;
    .header {
      @include top;
      justify-content: space-between;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        color: $lightColor;
        font-size: 20px;
        border-left: 1px solid $promptColor;
        margin-left: 10px;
        height: 100%;
        line-height: 64px;
        width: 64px;
        cursor: pointer;
      }
      :global {
        .icon-last, .icon-next {
          font-size: 20px;
          margin-right: 20px;
          // color: $lightColor;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 24px 36px;
      .basic {
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
        border-radius:4px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 18px 28px;
        background-color: #f8f8f8;
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 24px;
        padding-top: 18px;
        .timeLines {
          display: flex;
          overflow-y: auto;
        }
        .form {
          display: flex;
        }
      }
    }
  }
}