@import "../../../../theme/theme.scss";
.history {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .transferColor {
    @include contentBoxStyle();
    overflow: hidden;
  }
  .transferAlarmContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}
.light {
  .transferColor {
    background-color: #ececec;
  }
}
.dark {
  @import "../../../../theme/antdResetDark.scss";
  .transferColor {
    background-color: $background;
  }
}
