@import '../../../../theme/theme.scss';

.areaAchieveBox {
  width: 100%;

  .areaTitle {
    width: 100%;
    margin: 10px 0;
    padding-left: 24px;
    @include lineheight(32px);
  }

  .areaChartBox {
    width: 100%;

    .areaTopChart{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .areaBottomChart{
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

/*css样式*/
.areaAchieveBox {
  .areaTitle {
    background-color: $themeColor;
    color: #ffffff;
  }
}
