@import '../../../../theme/theme.scss';
:global{
  .ant-select, .ant-cascader-picker{
    width: 198px;
  }
}
.nextButton{
  margin-left: 200px;
}
@mixin top {
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: 1px solid $promptColor;
}
.deviceSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  background:#ececec;
  padding: 24px 24px 0;
  z-index:99;
.addDevice,.detailDevice,.editDevice{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background:#fff;
 
  .preFormStyle{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .formItemStyle{
      display: flex;
    }
    .fontColor{
      color: #199475;
    }
    .nextButton{
      margin-left: 200px;
    }
    :global{
      .ant-select, .ant-cascader-picker{
        width: 198px;
      }
      .ant-form-item-label{
        width: 200px;
      }
      .ant-btn{
        width: 200px;
      }
    }
  }
  .editTop{
    @include top;
    justify-content: space-between;
    .text{
      font-size: 18px;
      color: $darkColor;
      letter-spacing: 4px;
    }
    .backIcon{
      color: $darkColor;
      font-size: 20px;
      border-left: 1px solid #dfdfdf;
      height: 100%;
      line-height: 64px;
      width: 64px;
      cursor: pointer;
    }
    
  }
  .colStyles{
   
    .editPart{
      display: flex;
      .formItemStyle{
        display: flex;
      }
      .leftlayout{
        display:flex;
        flex-direction: column;
        flex:1;
        justify-content: center;
        :global{
          .ant-form-item-label{
            width: 200px;
          }
        }
      }
      .rightContainer{
        display: flex;
        flex:1;
        flex-direction: column;
        .rightStyles{
          margin-top: 12px;
          display:flex;
          flex-direction: column;
         
          :global{
            .ant-form-item-label{
              width: 100px;
            }
            .ant-checkbox-inner{
              border-radius: 8px;
            }
            .ant-checkbox-checked .ant-checkbox-inner:after{
              display: none;
            }
          }
          .linestyle{
            margin: 0 4px;
            .selectRingStyle,.ringStyle{
              display: inline-block;
              border:1px solid #199475;
              width: 16px;
              height: 16px;
              margin: 0 4px;
              border-radius: 8px;
              background: #199475;
              vertical-align:-3px;
            }
            .ringStyle{
              border:1px solid #666;
              background:#fff;
            }
          }
         
         
        }
        .submitStyle{
          margin-left: 100px;
          .preStyles{
            margin-right: 40px;
          }
        }
      }
    
      :global{
        .ant-form-item, .ant-form-horizontal{
          margin-bottom:8px;
        }
       
        .ant-select, .ant-cascader-picker{
          width: 198px;
        }
        .ant-input{
          width:198px;
        }
        
      }
     .defaultConfigStyles{
      :global{
        .ant-form-item-control{
          width:198px;
        }
      }
    }
      
      .defaultConfigStyles{
        margin:12px 0;
      }

    }
  }
}
}
