

.deviceManageSearch{ // 条件查询
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 71px;
  border-bottom: #f1f1f1;
}

.deviceManageHandle{ // 导出设备， 翻页器
  display:flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.deviceManageList{ // 设备表格区

}