@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {

  .realTimeWarningFilter {
    background-color: #fff;
    border:1px solid #d4d4d4;
    box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
    margin-bottom: 15px;
    margin-right: 5px;
  }

  .deviceNameSearch {
    color: $darkColor;
  }

  .realTimeWarningTable {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 7px;
    margin-right: 5px;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
    background-color: #fff;
    .tableHeader {
      background-color: #fff;
    }

    .deviceName {
      a {
        display: block;
        color: $themeColor;
        text-decoration: none;
        &:hover{
          color: #ff9900;
        }
      }
    }

    .alarmDesc {
      cursor: pointer;
    }
  }

  .detailInfo {
    color: $darkColor;

    .header {
      .title {
        i {
          background-color: #ceebe0;
          color: $themeColor;
        }
      }
    }
  }


  :global {
    .icon-action {
      background-color: #ceebe0;
      color: $themeColor;

      &:hover {
        background-color: $themeColor;
        color: #fff;
      }
    }

    .ant-table-placeholder {
      border-bottom: none;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;

  .deviceNameSearch {
    background-color: $light-background;
    color: $fontColor;
    margin-top: 10px;
    border: 1px solid $border-color;
  }

  .realTimeWarningTable {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;

    .iconDetail {
      i {
        color: $themeColor;
        cursor: pointer;
      }
    }

    .deviceName {
      a {
        border-bottom: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid $fontColor-hover;
          color: $fontColor-hover;
        }
      }
    }
  }

  .detailInfo {
    color: $fontColor;

    .header {
      .title {
        i {
          background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
          color: $fontColor-invert;
        }
      }
    }
  }

  :global {
    .icon-action {
      background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
      color: $fontColor-invert;

      &:hover {
        background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
      }
    }
  }
}