@import '../../../../../theme/theme.scss';
.deleteItem {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  color: $darkColor;
  border-radius: 2px;
  padding: 0 4px 0 32px;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px 12px 0;
  .deleteIcon {
    cursor: pointer;
    font-size: 14px;
  }
  .itemLabel {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
}
.selectedItem {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  color: $darkColor;
  border-radius: 2px;
  padding-left: 8px;
  align-items: center;
  margin: 0 24px 12px 0;
  .itemLabel {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
}