@import '../../../../../theme/theme.scss';

.windRoseBox {
  padding-top: 24px;
  display: flex;
  flex: 1;

  .chartsContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    .chartStyle {
      width: 50%;
      height: 300px;

      .windRoseChart {
        width: 100%;
        height: 300px;
      }
    }
  }
}

.chartWrap {
  position: relative;
  width: 100%;
  max-width: 606px;
  margin: 0 auto;
  height: 300px;

  .windRoseStyle {
    width: 100%;
    height: 300px;
  }

  .showModalIcon {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;

    :global{
      .icon-enlarge1{
        display: block;
      }

      .icon-enlarge2{
        display: none;
      }
    }
  }

  > span {
    position: absolute;
    font-weight: bold;
    top: 10%;
    z-index: 1;
  }

  .windDirection{
    left: 23%;
  }

  .windPower{
    left: 73%;
  }

  .firstInfo, .secondInfo{
    width: 50%;
    height: 44px;
    position: absolute;
    top: 128px;
    z-index: 1;
    @include lineheight(44px);
    display: flex;
    justify-content: center;
    div{
      width: 128px;
      border-radius: 4px;
      text-align: center;
    }
  }

  .firstInfo{
    left: 0;
  }

  .secondInfo{
    right: 0;
  }
}

.tooltip {
  min-width: 90px;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 0;
    line-height: 21px;
  }
  .info {
    padding: 0 8px;
  }
}

.windRoseModal { // 模态框
  .imgBox {
    display: flex;
    flex: 1;
    align-items: center;

    .handleButton {
      width: 56px;
      text-align: center;

      button {
        height: 56px;
        padding: 0 10px;
        font-size: 24px;
      }
    }

    .imgContainer {
      display: flex;
      flex: 1;

      .bigWindRoseBox{
        position: relative;
        width: 100%;

        .windDirectionTitle{
          position: absolute;
          z-index: 1;
          font-weight: bold;
          top: 60px;
          left: 24%;
        }

        .windPowerTitle{
          position: absolute;
          z-index: 1;
          font-weight: bold;
          top: 60px;
          right: 24%;
        }

        .bigWindRose {
          width: 100%;
          height: 580px;
        }

        .firstBigInfo, .secondBigInfo{
          border-radius: 4px;
          width: 128px;
          height: 44px;
          text-align: center;
          position: absolute;
          top: 266px;
          z-index: 1;
          @include lineheight(44px);
        }

        .firstBigInfo{
          left: 232px;
        }

        .secondBigInfo{
          right: 232px;
        }
      }

      .chartWrap {
        display: flex;
        flex: 1;
        width: 100%;
      }

    }
  }
}

/*css样式*/

.windRoseBox {
  background: $pageGround;

  .chartsContainer {
    background: $pageGround;
  }
}

.chartWrap {

  .firstInfo, .secondInfo{
    div{
      background: rgba(0,0,0,0.50);
      color: #fff;
    }
  }

  .showModalIcon {
    color: $themeColor;

    &:hover {
      :global{
        .icon-enlarge1{
          display: none;
        }

        .icon-enlarge2{
          display: block;
        }
      }
    }
  }
}

.bigWindRoseBox{
  .firstBigInfo, .secondBigInfo{
    background: rgba(0,0,0,0.50);
    color: #fff;
  }
}

.tooltip { // chart提示
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  color: #666;

  .title {
    border-bottom: 1px solid #d4d4d4;
  }
}
