
@import './miniCommon.scss';

@media screen and (max-width: 1439px) { // 1440以下屏幕，按1366px进行适配。
  .stationGeneral, .monthGen, .outputPower, .operationInfo, .deviceStatus{
    width: 340px;
  }
}

@media screen and (min-width: 1440px) { // 1440及以上屏

}

@media screen and (max-width: 1919px) and (min-width: 1440px) { // 1920以下宽度屏按1440px适配
  
}

.stationGeneral, .outputPower{
  flex: 1 1 40%;
  h3 {
    flex: 0 0 23.5%;
  }
}
.operationInfo, .inefficientSeries{
  flex: 1 1 25%;
  h3 {
    flex: 0 0 27.5%;
  }
}
.monthGen, .deviceStatus{
  flex: 1 1 30%;
  h3 {
    flex: 0 0 20.8%;
  }
}
.deviceStatus .statusChart{
  width: 55%;
}

.stationGeneral, .inefficientSeries, .monthGen, .outputPower, .operationInfo, .deviceStatus{
  @include boxStyle();
  position: relative;
  margin-bottom: 1.5%;
  h3{
    @include titles();
  }
  .checkTags{
    @include typeTags();
  }
}

.stationGeneral{ // 电站概况
  .generalBox{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .eachGeneral{
    flex-basis: 50%;
    .value,.unit,.name{
      font-family:PingFangSC-Regular;
      color:#00baff;
      margin-left: 24px;
    }
    .value{
      color:#ffffff;
      font-size: 18px;
    }
    .unit{
      margin-left: 2px;
    }
    .name{
      margin-top: 4px;
    }
  }
}

.inefficientSeries{ // 低效组串预警
  .table{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .inefficientList{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // &::-webkit-scrollbar {
    //   width: 4px;
    //   z-index: 9999;
    // }
    // &::-webkit-scrollbar-thumb{
    //   border-radius: 2px;
    //   background-color: #666;
    // }
    .noData{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img{
      display: flex;
      flex: 1;
      align-items: center;
      width: 40px;
    }
    .noneText{
      margin-bottom: 12px;
      color: #00baff;
    }
  }
  .eachInefficient, .inefficientText{
    display: flex;
    align-items: center;
    .name, .series, .lost{
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #fff;
    }
    .name{
      flex: 0 0 30%;
    }
    .lost{
      flex: 0 0 32%;
    }
    .name {
      padding-left: 20px;
    }
    .lost{
      padding-right: 12px;
      text-align: center;
    }
    .series{
      padding: 0 8px;
      flex: 0 0 38%;
    }
  }
  .inefficientText {
    flex-basis: 30px;
    line-height: 30px;
    color:#00baff;
    .name, .series, .lost{
      color:#00baff;
    }
  }
}

.monthGen{
  .monthTool{ // chart图内文字及样式。
    @include chartTool();
    width: 88px;
    height: 60px;
    line-height: 21px;
  }
  .monthChart{
    flex: 1;
    z-index: 99;
    margin: 0 10px;
  }
}

.outputPower{ // 电站出力
  .outputChart{
    flex: 1;
  }
  .outputTool{
    @include chartTool();
    width: 126px;
    height: 90px;
    display: flex;
    flex-direction: column;
    .time, .text {
      color:#a6e8ff;
    }
    .time{
      height: 32px;
      line-height: 32px;
    }
    .text{
      height: 24px;
      line-height: 24px;
      text-align: right;
      margin-right: 12px;
    }
  }
}

.operationInfo{ // 运维情况
  .ticketDetail{
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
  .ticketDone, .ticketDoing{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
      color:#06bdf4;
      margin-bottom: 0;
    }
  }
  .circle{
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .ticketDone .circle{
    background: url('/img/round02_img.png') no-repeat center center;
  }
  .ticketDoing .circle{
    background: url('/img/round01_img.png') no-repeat center center;
  }
}

.deviceStatus{ // 设备状态
  .statusBox{
    flex: 1;
    display: flex;
    .statusTool{
      @include chartTool();
      width: 105px;
      height: 56px;
      display: flex;
      flex-direction: column;
      .status, .percent {
        display: flex;
        height: 24px;
        line-height: 24px;
        .name, .value{
          color:#a6e8ff;
          height: 32px;
          line-height: 32px;
        }
        .name{
          flex: 0 0 60px;
        }
      }
    }
    .statusTotal{
      width: 40%;
    }
    .eachStatus{
      display: flex;
      height: 34px;
      align-items: center;
      .round{
        flex: 0 0 14px;
        height: 14px;
        border-radius: 50%;
      }
      .text{
        flex: 0 0 60px;
        color:#25c1fe;
        margin: 0 8px 0 8px;
      }
      .value{
        color:#fff;
        font-size: 20px;
      }
    }
  }
}

.centerMap{ // 中心地图
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .topData{
    display: flex;
    padding-top: 20px;
    margin-left: 24px;
  }
  .bottomData{
    display: flex;
    align-items: flex-end;
    .worldMap{
      width: 268px;
      height: 168px;
    }
    .static{
      color:#a6e8ff;
      font-size: 20px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      .count{
        margin: 0 4px 0 30px;
      }
      img{
        max-width: 24px;
        max-height: 20px;
      }
    }
  }
  .countryMap{
    position: absolute;
    left: 0;
    top: 0;
  }
  .singleStation{
    z-index: 9999;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    top: 200px;
    background-color: rgba(0,0,0,0.70);
    pointer-events: none;
    .title{
      display: flex;
      margin: 0 12px;
      height: 62px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #a6e8ff;
      .titleLeft{
        display: flex;
        align-items: center;
        img{
          max-width: 50px;
          max-height: 36px;
          margin-right: 12px;
          margin-left: 20px;
        }
        .name{
          color: #a6e8ff;
          margin-right: 8px;
          font-size:20px;
        }
        .arrow{
          width: 12px;
          height: 12px;
          border: solid 6px #a6e8ff;
          border-color: transparent transparent transparent #a6e8ff;
        }
      }
      .status{
        font-size:20px;
        margin-right: 20px;
        color:#4dde49;
      }
    }
    .content{
      flex: 1;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0 36px;
      .info{
        display: flex;
        flex-direction: column;
        width: 33.33%;
        align-items: flex-start;
        justify-content: center;
        &:nth-child(2){
          width: 66.66%;
        }
      }
      .value{
        color:#4dde49;
        font-size: 28px;
      }
      .text{
        color:#a6e8ff;
        font-size: 20px;
      }
    }
  }
}

.resource{
  display: flex;
  height: 45px;
  margin-right: 16px;
  img{
    max-width: 50px;
    max-height: 36px;
    margin-right: 12px;
  }
  .resourceDetail{
    display: flex;
    flex-direction: column;
    .detailTop{
      display: flex;
      height: 28px;
      align-items: flex-end;
    }
    .value {
      height: 28px;
      margin-right: 8px;
      line-height: 28px;
      font-size:28px;
      color: #fff;
      font-family:PingFangSC-Regular;
    }
    .unit, .name{
      color:#06bdf4;
    }
  }
}