
@import './miniCommon.scss';

.stationGeneral, .monthGen, .outputPower, .operationInfo{
  @include boxStyle();
  position: relative;
  h3{
    @include titles();
  }
  .checkTags{
    @include typeTags();
  }
}

.stationGeneral{ // 电站概况
  .generalBox{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .eachGeneral{
    flex-basis: 50%;
    .value,.unit,.name{
      font-family:PingFangSC-Regular;
      color:#00baff;
      margin-left: 24px;
    }
    .value{
      color:#ffffff;
      font-size: 18px;
    }
    .unit{
      margin-left: 2px;
    }
    .name{
      margin-top: 4px;
    }
  }
}

.monthGen{
  h3{
    height: 40px;
    line-height: 40px;
  }
  .monthTool{ // chart图内文字及样式。
    @include chartTool();
    width: 88px;
    height: 60px;
    line-height: 21px;
  }
  .monthChart{
    flex: 1;
    z-index: 99;
    margin: 0 10px;
  }
}

.outputPower{ // 电站出力
  .outputChart{
    flex: 1;
  }
  .outputTool{
    @include chartTool();
    width: 126px;
    height: 90px;
    display: flex;
    flex-direction: column;
    .time, .text {
      color:#a6e8ff;
    }
    .time{
      height: 32px;
      line-height: 32px;
    }
    .text{
      height: 24px;
      line-height: 24px;
      text-align: right;
      margin-right: 12px;
    }
  }
}

.operationInfo{ // 运维情况
  h3{
    height: 40px;
    line-height: 40px;
  }
  .ticketDetail{
    display: flex;
    justify-content: space-around;
  }
  .ticketDone, .ticketDoing{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
      color:#06bdf4;
    }
  }
  .circle{
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .ticketDone .circle{
    background: url('/img/round02_img.png') no-repeat center center;
  }
  .ticketDoing .circle{
    background: url('/img/round01_img.png') no-repeat center center;
  }
}