
@import '../../../../theme/theme.scss';
.topStyles {
  display: flex;
  align-content: center;
  .btn{
    display: flex;
    align-self: center;
    margin-left: 16px;
  }
}
.container{
  margin: 0 auto;
}
.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 55px;
  padding: 0 28px;
  background-color: #fff;
  :global{
    .ant-table .ant-table-thead > tr > th{
      padding: 0 4px;
    }
  }
}
.numRight{
  text-align: right;
  margin-right: 4px;
}
