@import '../../../../theme/theme.scss';

.pointManageContainer {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;

  .pointManage {

    background-color: $pageBackground;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 100%;

    .pointManageMain {
      padding: 24px 24px 0;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      width: 100%;

      .pointManageContent {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
}