@mixin omit($w) {
  width: $w;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
}

.warehouseWrapTable {
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;

  .stationName {
    @include omit(180px);
  }
}
