

//专门针对antd样式的部分重置：(table)
@import './theme.scss';

:global{
  .ant-table{//table行高，高亮，背景色调整；
    .ant-table-thead > tr > th{
      background: $tableSelectedBackground; 
    }
    .ant-table-tbody{
      background: #fff;
      &>tr:hover{
        td {
          background: $tableSelectedBackground; 
        }
      }
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 0 16px;
      height: 40px;
      line-height: 40px;
    }
  }
  .ant-btn {   //antd按钮样式调整-高亮
    color: $darkColor;
    @include highLight($themeColor);
    &:hover{
      color: $themeColor;
    }  
  }
  .ant-btn-primary{
    background-color: $themeColor;
    color: #fff;
    border-color: $themeColor;
    &:hover {
      background-color: $themeColor;
      color: #fff;
    }
  }
  .ant-btn-group {
    .ant-btn-primary {
      &:first-child:not(:last-child) {
        border-right-color: $themeColor;
      }
      &:last-child:not(:first-child) {
        border-left-color: $themeColor;
      }
    }
  }
}