$light-background: rgba(83, 104, 241, 0.15);
$border-color: rgba(83, 104, 241, 0.6);
$button-color-base: #00baff;
$themeColor: #00baff;

$font-color: #00baff;
$font-color-invert: #fff;
$button-color-darker: #205bac;
$font-color-warn: #f8e71c;
$font-color-hover: #00f8ff;
