$background: #0c0a3e;
$light-background: rgba(83, 104, 241, 0.15);
$themeColor: #00baff;
$warnColor: #fd6e8f;

// 字体颜色
$fontColor-disabled: #7088c3;
$fontColor-dark: #205bac;
$fontColor-middle: #bbcef7;
$fontColor: #00baff;
$fontColor-hover: #00f8ff;
$fontColor-invert: #fff;

// 按钮  不全
$button-primary: #205bac;
$button-add: #00baff; // 暂时
$button-active: #00baff; // $button-active button-focus
$button-disabled: #405080;
$button-border: #00baff;
$border-color: rgba($light-background, 0.4);
$border-shadow-color: #5368f1;

// 从左滑出  从上滑出  从下滑出   提示框
$slide-backgound: #205bac;
$slide-border: #303a99;
$slide-border-shadow: #00baff;

// 弹出框
$modal-background: #161858;
$modal-border: rgba($light-background, 0.4);
$modal-border-shadow: #5368f1;

// 下拉框  时间选择器  多选框
$select-background: #1e246e;
$select-border: rgba($light-background, 0.4);
$select-border-shadow: #4d5fe2;

// 输入框
$input-Background: #161858;
$input-border: #4d5fe2;
$input-icon: #4d5fe2;
$input-disabled: #405080;
$input-border-disabled: #7088c3;

// 侧边栏  上边栏
$sideBar-background: #161858;
$sidecolor: #205bac;

$tab-background: #13134f;
$tab-border-color: #202470;
$tab-border-bottom: rgba(12, 10, 62, 0.6);

@mixin contentBoxStyle() {
  // 页面主内容区常用布局样式。
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 0;
  background: $background;
}

@mixin tooltipBox($borderColor) {
  .axisValue {
    padding: 0 30px 0 10px;
    line-height: 26px;
    border-bottom: 1px solid $borderColor;
  }
  .tooltipContainer {
    padding: 10px 30px 10px 0;
  }
  .tooltipCont {
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 4px 0 8px;
    }
  }
}
