

/*
本文件是针对3.0系统设定的全局主题颜色：普通字体，主题，颜色从此处引入，请谨慎修改；
1. $themeColor: 常用 ----- #199475;   主题颜色！所有主题，hover,select常用颜色
2. $darkColor: 常用 ---- 深色字体，正常页面文字深色效果：(表格/表头)
3. $lightColor:常用 ---- 浅色字体，正常页面文字浅色展示：(文字输入，文字展示)；

4. $promptColor: #dfdfdf; 禁用/浅色提示文字/input+placehodler颜色/边框颜色，
5. $pageBackground 页面常用背景色
*/

$darkColor: #666;
$lightColor: #999;
$promptColor: #dfdfdf;
$themeColor: #199475;
$slideSelectColor:#ceebe0;
$slideFontColor:#ffffff;
$tableSelectedBackground: rgba(206,235,224,0.3);//表格高亮背景色
$pageBackground: #ececec;
$pageGround:#fff;
$warnColor:#a42b2c; // 故障color

//常复用代码块：
@mixin lineheight($height){//创建高度==行高元素
  height: $height;
  line-height: $height;
}
@mixin highLight($color){//创建高亮色配置
  &:hover,&:focus,&::selection{
    border:1px solid $color;
    box-shadow: 0 0 2px $color;
  }
}

@mixin contentBoxStyle(){ // 页面主内容区常用布局样式。
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 0;
  background:#ececec;
}

@mixin overflowText() {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
