/*
本文件是针对3.0系统设定的全局主题颜色：普通字体，主题，颜色从此处引入，请谨慎修改；
1. $themeColor: 常用 ----- #199475;   主题颜色！所有主题，hover,select常用颜色
2. $darkColor: 常用 ---- 深色字体，正常页面文字深色效果：(表格/表头)
3. $lightColor:常用 ---- 浅色字体，正常页面文字浅色展示：(文字输入，文字展示)；

4. $promptColor: #d4d4d4; 禁用/浅色提示文字/input+placehodler颜色/边框颜色，
5. $pageBackground 页面常用背景色
*/

$darkColor: #353535;
$blackColor: #000000;
$lightColor: #999;
$promptColor: #d4d4d4;
$borderColor: #d4d4d4;
$themeColor: #199475;
$slideSelectColor: #ceebe0;
$slideFontColor: #ffffff;
$tableSelectedBackground: rgba(206, 235, 224, 0.3); //表格高亮背景色
$pageBackground: #f0f2f5;
$pageGround: #fff;
$warnColor: #a42b2c; // 故障color
$box-shadow-color: rgba(0, 0, 0, 0.2);

//常复用代码块：
@mixin lineheight($height) {
  //创建高度==行高元素
  height: $height;
  line-height: $height;
}

@mixin highLight($color) {
  //创建高亮色配置
  &:hover,
  &:focus,
  &::selection {
    border: 1px solid $color;
    box-shadow: 0 0 2px $color;
  }
}

@mixin contentBoxStyle() {
  // 页面主内容区常用布局样式。
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 15px 24px 0;
  background: #f0f2f5;
}

@mixin overflowText() {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tooltipBox($borderColor) {
  min-width: 180px;

  .axisValue {
    padding: 0 12px 0 8px;
    line-height: 26px;
    border-bottom: 1px solid $borderColor;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .tooltipContainer {
    padding: 10px 30px 10px 0;
    text-align: left;
  }

  .tooltipCont {
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 4px 0 8px;
    }
  }
}

@mixin backIcon() {
    display: flex;
    flex:0 0 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color:#199475;
    &:hover{
      background-image:linear-gradient(0deg, #00baff 1%, #5beda9 100%);
      -webkit-background-clip: text;
      color: transparent;
    }
}

.light {
  --lightColor: #999; // 浅色文字-非凸显
  --darkColor: #353535; // 主要使用文字色
  --themeColor: #199475; // 高亮, 选中, 主体色
  --promptColor: #d4d4d4; // 边框/禁用/input+placehodler颜色
}

.dark {
  --lightColor: #1f2a4e; // 浅色文字-非凸显
  --darkColor: #9cd1ff; // 主要使用文字色
  --themeColor: #00cdff; // 高亮, 选中, 主体色
  --promptColor: #3d7bac; // 边框/禁用/input+placehodler颜色
}
