@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {

  .realTimeWarningFilter {
    background-color: #fff;
  }

  .deviceNameSearch {

    >span {
      color: $darkColor;
    }

    >span:last-child {
      color: $themeColor;
    }
  }

  .realTimeWarningTable {
    .tableHeader {
      background-color: #fff;
    }

    :global {
      .icon-action {
        background-color: #ceebe0;
        color: $themeColor;
        &:hover {
          background-color: $themeColor;
          color: #fff;
        }
      }
    }

    .deviceName {
      a {
        color: $themeColor;
        text-decoration: none;
        &:hover{
          color: #ff9900;
        }
      }
    }
  }

  .tableFooter {
    background-color: #fff;

    .info {
      color: $darkColor;

      .totalNum {
        color: rgb(250, 185, 7);
      }
    }

    .cancel {
      color: $themeColor;
    }
  }

  .detailInfo {
    color: $darkColor;

    .header {
      .title {
        i {
          background-color: #ceebe0;
          color: $themeColor;
        }
      }
    }
  }


}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;

  .realTimeWarningFilter {
    background-color: transparent;
    margin-top: 10px;
  }

  .deviceNameSearch {
    background-color: $light-background;
    color: $fontColor;
    margin-top: 10px;
    border: 1px solid $border-color;
  }

  .realTimeWarningTable {
    margin-top: 10px;
    background: $light-background;

    .deviceName {
      a {
        border-bottom: 1px solid $fontColor;
        color: $fontColor;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid $fontColor-hover;
          color: $fontColor-hover;
        }
      }
    }

    .selected {
      .icon-action {
        background-color: $themeColor;
        color: $fontColor-invert;
      }
    }
  }


  .detailInfo {
    color: $fontColor;

    .header {
      .title {
        i {
          background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
          color: $fontColor-invert;
        }
      }
    }
  }

  :global {
    .icon-action {
      background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
      color: $fontColor-invert;

      &:hover {
        background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
      }
    }
  }
}