@import "../../../../../theme/theme.scss";
@import "./layout.scss";
.light {
  .pvStation {
    background: #fff;
    .stationTop {
      .stationListBox {
        :global {
          .ant-drawer {
            background-color: #fff;
          }
        }
        .stationTitle {
          color: $darkColor;
          font-size: 18px;
          height: 61px;
          line-height: 65px;
          margin-bottom: 0px;
          .titleIcon {
            cursor: pointer;
            margin-left: 32px;
            margin-right: 12px;
          }
        }
        .stationList {
          display: flex;
          flex-direction: column;
          padding-left: 42px;
          height: 1000px;
          .provinceName {
            color: $darkColor;
            text-align: left;
            line-height: 30px;
            background: #f8f8f8;
            height: 30px;
            text-indent: 1em;
          }
          .stationName {
            display: block;
            float: left;
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: left;
            text-indent: 1em;
            cursor: pointer;
            color: $darkColor;
            max-width: 120px;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }
          .currentStationName {
            display: block;
            float: left;
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: left;
            text-indent: 1em;
            cursor: pointer;
            color: $themeColor;
            max-width: 120px;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .stationName:hover,
          .stationName:focus {
            color: $themeColor;
          }
          .eachStation {
            width: 50%;
            padding-left: 40px;
            cursor: pointer;
            color: $darkColor;
            height: 28px;
            line-height: 28px;
            &:hover {
              background-color: #eee;
            }
          }
        }
      }
      .stationTitle {
        border-bottom: 1px solid #dfdfdf;
        .stationLeft {
          :global {
            .anticon-swap {
              color: $themeColor;
            }
          }
          h3 {
            color: $darkColor;
          }
          span {
            color: $darkColor;
          }
        }
        .stationRight {
          .backIcon {
            border-left: 1px solid #dfdfdf;
            color: #666;
          }
        }
      }
    }
    .headStation {
      // border-bottom: 1px dashed #dfdfdf;
      color: $darkColor;
      .leftIcon {
        color: $themeColor;
      }
      .allStaionStatic {
        :global {
          .ant-popover-inner-content {
            background: #f8f8f8;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
          }
        }
        .poverItem {
          display: flex;
          flex: 1;
          justify-content: space-between;
          color: #666666;
          min-width: 180px;
          padding-right: 20px;
          i {
            font-style: normal;
            text-align: right;
            display: inline-block;
          }
          p {
            text-align: right;
            margin-bottom: 0;
          }
          span {
            color: $themeColor;
          }
          .unit {
            width: 27px;
            display: inline-block;
            margin-left: 4px;
            text-align: left;
            color: #666666;
          }
        }
      }
      .dataColumn {
        display: flex;
        flex-direction: column;
        // line-height: 36px;
        padding: 0 12px;
        border-right: 1px solid #dfdfdf;
        min-width: 175px;
        > span {
          display: flex;
          flex-direction: column;
        }
        &:last-child {
          border: none;
        }

        .dataValue {
          color: $themeColor;
          font-size: 24px;
          text-align: left;
          padding: 0 4px;
          line-height: 30px;
        }

        .radiation {
          color: #f9b600;
        }

        .stationPower {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          min-width: 230px;
          line-height: 30px;
          > div {
            margin-right: 10;
          }
        }
      }
      .typeIcon {
        width: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .iconStyle {
        color: $themeColor;
        cursor: pointer;
      }
    }
    .pvDeviceCont {
      .top {
        margin-left: 24px;
        display: flex;
        align-items: center;
        .activeIcon {
          background: $themeColor;
          border-radius: 4px;
          width: 24px;
          height: 24px;
          margin-left: 4px;
          color: #fff;
          text-align: center;
          cursor: pointer;
        }
        .icon {
          pointer-events: none;
          background: #dfdfdf;
        }
      }
    }

    $normal_color: $themeColor;
    $normal_hover_color: #ceebe0;
    .pvDeviceContnormal {
      $theme: "normal";
      // background: $normal_color;
      .top {
        :global {
          .ant-select-open .ant-select-selection,
          .ant-select-selection {
            background: $normal_hover_color;
            color: $normal_color;
          }
          .ant-select-dropdown-menu-item-selected {
            background: $normal_hover_color;
          }
          .ant-select-dropdown-menu-item:hover {
            background: $normal_hover_color;
          }
        }
      }
    }
    .outputPowerDiagram {
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      height: 300px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      width: 100%;
      .powerDiagramBox {
        position: relative;
        width: 50%;
        padding-left: 20px;
        .powerRadio {
          position: absolute;
          top: 20px;
          right: 30px;
          color: $darkColor;
          :global {
            .ant-radio-button-wrapper-checked:first-child {
              border-color: $themeColor;
            }
            .ant-radio-button-wrapper:hover,
            .ant-radio-button-wrapper-focused {
              color: $darkColor;
            }
            .ant-radio-button-wrapper-checked {
              border-color: $themeColor;
              -webkit-box-shadow: -1px 0 0 0 $themeColor;
              box-shadow: -1px 0 0 0 $themeColor;
              color: #fff;
              background: $themeColor;
            }
            .ant-radio-button-wrapper-checked:hover {
              color: #fff;
            }
          }
        }
        :global {
          .iconfont {
            position: absolute;
            top: 20px;
            right: 5px;
            cursor: pointer;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
      }
      .capabilityDiagramBox {
        position: relative;
        width: 50%;
        :global {
          .iconfont {
            position: absolute;
            top: 20px;
            right: 10px;
            cursor: pointer;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
      }
    }
    .threadAndDevice {
      .deviceTypeFlow {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: space-between;
        color: #dfdfdf;
        background: #f8f8f8;
        padding: 16px 25px 0;
        .deviceTypeItem,
        .elecnettingItem {
          // 正常单线流程
          margin-top: 0px;
          width: 110px;
          height: 90px;
          padding: 10px;
          border: 0;
          color: #dfdfdf;
          .deviceTypeIcon {
            margin: 10px 10px 0;
            position: relative;
            .arrowgo {
              position: absolute;
              z-index: 999;
              right: -44px;
              top: 12px;
              pointer-events: none;
            }
          }
        }
        .multipleType {
          // 上下设备两层展示
          display: flex;
          flex-direction: column;
          align-items: center;
          .innerItem {
            margin-top: 0px;
            width: 110px;
            height: 90px;
            padding: 10px;
            border: 0;
            color: #dfdfdf;
            .deviceTypeIcon {
              margin: 10px 10px 0;
              position: relative;
              .innerArrow {
                position: absolute;
                z-index: 999;
                right: -44px;
                top: 12px;
                pointer-events: none;
              }
              .hideArrow {
                display: none;
              }
            }
          }
          .rightArrow {
            transform: translate(110px, -100px);
            z-index: 999;
          }
        }
        :global {
          .ant-radio-group {
            display: flex;
            align-items: center;
            .ant-radio-button-wrapper-checked {
              background: #fff;
              border-color: $themeColor;
              color: $themeColor;
            }
          }
          .ant-radio-button-wrapper:hover,
          .ant-radio-button-wrapper-focused {
            color: $themeColor;
            position: relative;
            background: #fff;
          }
          .ant-radio-button-wrapper {
            background: #f8f8f8;
          }
          .ant-radio-button-wrapper-checked {
            background: #fff;
            border-color: $themeColor;
            color: $themeColor;
            -webkit-box-shadow: none;
            box-shadow: none;
            z-index: 1;
          }
          .ant-radio-button-wrapper:not(:first-child)::before {
            width: 0px;
          }
          .iconfont {
            font-size: 27px;
            cursor: pointer;
          }
          .alarmIcon {
            font-size: 14px;
            color: #a42b2c;
            margin-left: -8px;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
        a.weatherStationLink {
          color: #dfdfdf;
        }
        .weatherStationLink {
          color: "#dfdfdf";
          .combinedTypeWeatherStation {
            margin-top: 45px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            width: 72px;
            height: 72px;
            margin-right: 60px;
            margin-bottom: 18px;
            cursor: pointer;
            i {
              color: #dfdfdf;
            }
            &:hover {
              border: 1px solid $themeColor;
              background: $themeColor;
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
          .weatherStation {
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            width: 72px;
            height: 72px;
            margin-right: 60px;
            margin-bottom: 18px;
            cursor: pointer;
            i {
              color: #dfdfdf;
            }
            &:hover {
              border: 1px solid $themeColor;
              background: $themeColor;
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
        .weatherStationLink:hover {
          color: "#dfdfdf";
        }
      }
      .deviceList {
        background: #fff;
      }
      :global {
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
          height: 33px;
        }
        .ant-tabs-bar {
          border-top: 1px dashed #dfdfdf;
          border-bottom: 1px dashed #dfdfdf;
          margin: 0;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar {
          border-color: #fff;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
          border: 1px solid #fff;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          background: #fff;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
          width: 80px;
          height: 33px;
          text-align: center;
          color: $darkColor;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
          background: #f8f8f8;
          border-radius: 4px 4px 0 0;
          width: 80px;
          height: 33px;
          text-align: center;
          color: $darkColor;
        }
      }
    }

    .detailShow {
      position: absolute;
      right: 0;
      top: 61px;
      background: $themeColor;
      border-radius: 4px;
      width: 40px;
      height: 158px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 12px 0;
      cursor: pointer;
      .detailShowfont {
        color: #fff;
        width: 14px;
        line-height: 20px;
        z-index: 66;
      }
      .show {
        transform: translate(-180deg);
      }
      :global {
        .iconfont {
          width: 14px;
          height: 18px;
          border-radius: 50%;
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
}

.dark {
  @import "../../../../../theme/antdResetDark.scss";
  .pvStation {
    background: transparent;
    .stationTop {
      background: $light-background;
      border: 1px solid $border-color;
      .stationListBox {
        :global {
          .ant-drawer {
            background-color: $slide-backgound;
            border: 1px solid #303a99;
            box-shadow: inset 0 0 5px 2px #00baff;
          }
        }
        .stationTitle {
          color: $fontColor;
          .titleIcon {
            cursor: pointer;
            margin-left: 32px;
            margin-right: 12px;
          }
        }
        .stationList {
          .provinceName {
            color: $fontColor;
            // background: #f8f8f8;
          }
          .stationName {
            color: $fontColor;
          }

          .currentStationName {
            color: $fontColor;
          }
          .stationName:hover,
          .stationName:focus {
            color: $fontColor;
          }
          .eachStation {
            color: $fontColor;
            &:hover {
              // background-color: #eee;
            }
          }
        }
      }
      .stationTitle {
        color: $fontColor;
        :global {
          .anticon-swap {
            color: $themeColor;
          }
        }
        h3 {
          color: $fontColor-hover;
        }
        span {
          color: $fontColor;
        }

        .backIcon {
          border-left: 1px solid $border-color;
          color: $fontColor-hover;
        }
      }
    }
    .headStation {
      border: 1px solid $border-color;
      color: $fontColor;
      background: $light-background;
      border-bottom: none;
      margin-top: 10px;
      .leftIcon {
        color: $fontColor-hover;
      }
      .dataColumn {
        border-right: 1px solid $border-color;
        &:last-child {
          border: none;
        }
        .dataValue {
          color: $fontColor-hover;
        }
        .radiation {
          color: #f8b14e;
        }
        .iconStyle {
          color: $fontColor-hover;
        }
      }
    }
    .deviceListWrap {
      background: $light-background;
      border: 1px solid $border-color;
      border-top: none;
      flex: 1;
    }
    .pvDeviceCont {
      .top {
        .activeIcon {
          background: $themeColor;
          color: $fontColor-invert;
        }
        .icon {
          pointer-events: none;
          background: $button-disabled;
        }
      }
    }
    $normal_color: $themeColor;
    $normal_hover_color: $button-primary;
    .pvDeviceContnormal {
      $theme: "normal";
      .top {
        :global {
          .ant-select-open .ant-select-selection,
          .ant-select-selection {
            background: $normal_hover_color;
            color: $normal_color;
          }
          .ant-select-dropdown-menu-item-selected {
            background: $normal_hover_color;
          }
          .ant-select-dropdown-menu-item:hover {
            background: $normal_hover_color;
          }
        }
      }
    }

    .outputPowerDiagram {
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      height: 300px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      width: 100%;
      .powerDiagramBox {
        position: relative;
        width: 50%;
        padding-left: 20px;
        .powerRadio {
          position: absolute;
          top: 20px;
          right: 30px;
          color: $darkColor;
          :global {
            .ant-radio-button-wrapper-checked:first-child {
              border-color: $themeColor;
            }
            .ant-radio-button-wrapper:hover,
            .ant-radio-button-wrapper-focused {
              color: $darkColor;
            }
            .ant-radio-button-wrapper-checked {
              border-color: $themeColor;
              -webkit-box-shadow: -1px 0 0 0 $themeColor;
              box-shadow: -1px 0 0 0 $themeColor;
              color: #fff;
              background: $themeColor;
            }
            .ant-radio-button-wrapper-checked:hover {
              color: #fff;
            }
          }
        }
        :global {
          .iconfont {
            position: absolute;
            top: 20px;
            right: 5px;
            cursor: pointer;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
      }
      .capabilityDiagramBox {
        position: relative;
        width: 50%;
        :global {
          .iconfont {
            position: absolute;
            top: 20px;
            right: 10px;
            cursor: pointer;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
      }
    }
    .threadAndDevice {
      .deviceTypeFlow {
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: space-between;
        color: #dfdfdf;
        background: #f8f8f8;
        padding: 16px 25px 0;
        .deviceTypeItem,
        .elecnettingItem {
          // 正常单线流程
          margin-top: 0px;
          width: 110px;
          height: 90px;
          padding: 10px;
          border: 0;
          color: #dfdfdf;
          .deviceTypeIcon {
            margin: 10px 10px 0;
            position: relative;
            .arrowgo {
              position: absolute;
              z-index: 999;
              right: -44px;
              top: 12px;
              pointer-events: none;
            }
          }
        }
        .multipleType {
          // 上下设备两层展示
          display: flex;
          flex-direction: column;
          align-items: center;
          .innerItem {
            margin-top: 0px;
            width: 110px;
            height: 90px;
            padding: 10px;
            border: 0;
            color: #dfdfdf;
            .deviceTypeIcon {
              margin: 10px 10px 0;
              position: relative;
              .innerArrow {
                position: absolute;
                z-index: 999;
                right: -44px;
                top: 12px;
                pointer-events: none;
              }
              .hideArrow {
                display: none;
              }
            }
          }
          .rightArrow {
            transform: translate(110px, -100px);
            z-index: 999;
          }
        }
        :global {
          .ant-radio-group {
            display: flex;
            align-items: center;
            .ant-radio-button-wrapper-checked {
              background: #fff;
              border-color: $themeColor;
              color: $themeColor;
            }
          }
          .ant-radio-button-wrapper:hover,
          .ant-radio-button-wrapper-focused {
            color: $themeColor;
            position: relative;
            background: #fff;
          }
          .ant-radio-button-wrapper {
            background: #f8f8f8;
          }
          .ant-radio-button-wrapper-checked {
            background: #fff;
            border-color: $themeColor;
            color: $themeColor;
            -webkit-box-shadow: none;
            box-shadow: none;
            z-index: 1;
          }
          .ant-radio-button-wrapper:not(:first-child)::before {
            width: 0px;
          }
          .iconfont {
            font-size: 27px;
            cursor: pointer;
          }
          .alarmIcon {
            font-size: 14px;
            color: #a42b2c;
            margin-left: -8px;
          }
          .iconfont:hover {
            color: $themeColor;
          }
        }
        a.weatherStationLink {
          color: #dfdfdf;
        }
        .weatherStationLink {
          color: "#dfdfdf";
          .combinedTypeWeatherStation {
            margin-top: 45px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            width: 72px;
            height: 72px;
            margin-right: 60px;
            margin-bottom: 18px;
            cursor: pointer;
            i {
              color: #dfdfdf;
            }
            &:hover {
              border: 1px solid $themeColor;
              background: $themeColor;
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
          .weatherStation {
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            width: 72px;
            height: 72px;
            margin-right: 60px;
            margin-bottom: 18px;
            cursor: pointer;
            i {
              color: #dfdfdf;
            }
            &:hover {
              border: 1px solid $themeColor;
              background: $themeColor;
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
        .weatherStationLink:hover {
          color: "#dfdfdf";
        }
      }
      .deviceList {
        background: #fff;
      }
      :global {
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
          height: 33px;
        }
        .ant-tabs-bar {
          border-top: 1px dashed #dfdfdf;
          border-bottom: 1px dashed #dfdfdf;
          margin: 0;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar {
          border-color: #fff;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
          border: 1px solid #fff;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          background: #fff;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
          width: 80px;
          height: 33px;
          text-align: center;
          color: $darkColor;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
          background: #f8f8f8;
          border-radius: 4px 4px 0 0;
          width: 80px;
          height: 33px;
          text-align: center;
          color: $darkColor;
        }
      }
    }

    .detailShow {
      background: $button-primary;
      .detailShowfont {
        color: $fontColor-invert;
      }
      :global {
        .iconfont {
          color: $fontColor-invert;
        }
      }
    }
  }
}
