@import "../../../../theme/theme.scss";
.historyWarnBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .historyWarnContainer {
    @include contentBoxStyle();
    overflow: hidden;
  }
  .historyWarnContent {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}

.light {
  .historyWarnContainer {
    background-color: #f0f2f5;
  }
  .historyWarnContent {
    background: #fff;
  }
}
.dark {
  @import "../../../../theme/antdResetDark.scss";
  .historyWarnContainer {
    background: $background;
  }
  .historyWarnContent {
    background: $background;
  }
}
