.diffChartsBox{
  width: 100%;
  margin-top: 20px;
  .diffChartsDiff{
    width: 100%;
    display: flex;
    justify-content: space-between;
    div:nth-of-type(1){
      color:#000000;
      line-height: 32px;
    }
  }
  .afterChartBox{
    width: 100%;
    height: 400px;
    position: relative;
    .diffCharts{
      width: 100%;
      height: 100%;
    }
  }
}
