@import '../../../../theme/theme.scss';

.singleStationContainer{
  min-height: 100%;
  background: #dfdfdf;
  width: 100%;
  padding: 24px 24px 0;
  :global{
    a {
      color: #666;
      cursor: pointer;
    }
    a:hover{
      color: $themeColor;
    }
  }
}