@import "../../../../theme/theme.scss";

.singleStation {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.singleStationContainer {
  @include contentBoxStyle();
  :global {
    a {
      cursor: pointer;
    }
  }
}

.light {
  .singleStationContainer {
    background: $pageBackground;
    :global {
      a {
        color: $darkColor;
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .singleStationContainer {
    background: $background;
    // :global {
    //   a {
    //     color: $fontColor;
    //   }
    // }
  }
}
