@import '../../../../theme/theme.scss';

.singleStation{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
}
.singleStationContainer{
  background: $pageBackground;
  padding: 24px 24px 0;
  display: flex;
  flex: 1;
  :global{
    a {
      color: $darkColor;
      cursor: pointer;
    }
    // a:hover{
    //   color: $themeColor;
    // }
  }
}