@import '../../../../../../theme/theme.scss';


.fanListCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    .inverterRight {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @mixin propContainer() {
        // 卡片样式
        .popover {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .popTitle{
                display: flex;
                justify-content:space-between;
                margin-bottom: 4px;
            }
            .name {
                text-align: center;
                color: #000;
            }
            .normalNum,.standbyNum{
               color: #199475;
            }
            .shutdownNum,.maintainNum{
                color:#f9b600;
            }
            .errorNum,.interruptNum{
                color: #a42b2c;
            }
            .deviceModeName{
                padding: 0 16px;
                line-height: 31px;
            }

            .value {
                color: $themeColor;
            }

            & .popColumn:nth-child(2n-1) {
                background: #fff;
            }

            & .popColumn:nth-child(2n) {
                background: #f8f8f8;
            }
            .popColumn {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 16px;
            }

            .unit {
                width: 27px;
                display: inline-block;
                margin-left: 6px;
            }
        }
    }
    $normalNum:#199475;
    $standbyNum:#199475;
    $shutdownNum:#f9b600;
    $maintainNum:#f9b600;
    $errorNum:#a42b2c;
    $interruptNum:#a42b2c;
    $noAccessNum:#dfdfdf;
    @mixin color($name) {
        color:$name
    }
    .deviceContent{
        display: flex;
        flex-direction: column;
        .parentDeviceName{
            margin-left: 26px;
            margin-top: 14px;
        }
        .fanCard {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-self: flex-start;
            .fanBlock {
                background: #ffffff;
                border: 1px solid #a42b2c;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
                border-radius: 4px;
                width: 215px;
                margin: 20px 0 0 24px;
                padding: 8px;
                width: 215px;
                // height: 105px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                .inverterItemIcon{
                    position: relative;
                    .deviceIcon{
                        position: absolute;
                        right:0;
                        top:17px;
                    }
                }
            }
            .normalNum,.standbyNum{
                border:1px solid $normalNum;
                .deviceIcon{ @include color($normalNum);}
            }
            .shutdownNum,.maintainNum{
                border:1px solid $maintainNum;
                .deviceIcon{ @include color($maintainNum);}
            }
            .errorNum,.interruptNum{
                border:1px solid $interruptNum;
                .deviceIcon{ @include color($interruptNum);}
            }
            .noAccessNum{
                background:#f8f8f8;
                border: none;
                box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
                // cursor: none;
            }
            .inverterItemR{
                display: flex;
                flex: 1;
                flex-direction: column;
                padding:0 8px;
                .column{
                    display: flex;
                    width:100%;
                    align-content: center;
                    justify-content: space-between;
                    line-height: 24px;
                    .changeNum{
                        color: $themeColor;
                    }
                    .aralm{
                        color:#a42b2c;
                    }
                }

            }

           
            :global{
                .icon-windlogo{
                    color:$themeColor;
                    font-size: 28px;
                }
            }
        }
       
    }
    .deviceCard {
        width: 235px;
        height: 214px;
        cursor: pointer;
        @include propContainer();

        :global {
            .ant-popover-inner-content {
                background: #f8f8f8;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
            }
        }
    }
    .fanTable{
        display: flex;
        flex-direction: column;
        .pagination {
            margin: 10px;
            display: flex;
            justify-content: flex-end;
        }

        .deviceCode {
            width: 70px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $themeColor;
            }
        }
        
        .deviceStatus{
            display: inline-block;
            line-height: 22px;
            padding: 0 4px;
            border-radius: 4px
        }

        .normalNum,.standbyNum{
            border:1px solid $normalNum;
            @include color($normalNum);
            @extend .deviceStatus;
        }
        .shutdownNum,.maintainNum{
            border:1px solid $maintainNum;
            @include color($maintainNum);
            @extend .deviceStatus;
        }
        .errorNum,.interruptNum{
            border:1px solid $interruptNum;
            @include color($interruptNum);
            @extend .deviceStatus;
        }
        .noAccessNum{
            border:1px solid $noAccessNum;
            @include color($noAccessNum);
            @extend .deviceStatus;
        }

    }
    :global {
        .ant-table .ant-table-thead{
            th>div{
                height: 60px;
            }
        }
        .ant-table .ant-table-thead .ant-table-column-sorter{
            top: 18px;
        }
        .ant-spin-dot i {
            background-color: #199475;
        }
        .ant-tabs-extra-content {
            line-height: 46px;
        }
        .ant-radio-group {
            margin: 0 20px;
        }
        .ant-tabs {
            margin-top: 20px;
        }
        .ant-tabs-bar {
            border-top: 1px dashed #dfdfdf;
            border-bottom: 1px dashed #dfdfdf;
        }
        .ant-tabs-nav .ant-tabs-tab {
            margin: 0;
            background: #f1f1f1;
            color: $darkColor;
        }
        .ant-tabs-nav .ant-tabs-tab:hover {
            color: $themeColor;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
            color: #fff;
            background: $themeColor;
        }
        .ant-tabs-nav .ant-tabs-tab-active:hover {
            color: #fff;
        }
        .ant-switch-checked {
            background-color: $themeColor;
        }
        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            background: $themeColor;
            border-color: $themeColor;
            color: #fff;
        }
        .ant-radio-button-wrapper {
            height: 24px;
            line-height: 24px;
        }
        .ant-radio-button-wrapper:hover,
        .ant-radio-button-wrapper-focused {
            color: $themeColor;
            position: relative;
        }
        .iconfont {
            font-size: 14px;
            cursor: pointer;
        }
        .iconfont:hover {
            color: $themeColor;
        }
    }

     // 列表
    //  .fanList {
    //     .inverterTab {
    //         .inverterBlockBox {
    //             padding: 20px 20px 60px;
    //             color: $darkColor;
    //             display: flex;
    //             flex-wrap: wrap;
    //             .parentDeviceName {
    //                 margin: 20px 0;
    //             }
    //             .nodata {
    //                 text-align: center;
    //                 margin: 30px auto;
    //             }
    //             .inverterItem {
    //                 display: inline-block;
    //                 margin-right: 18px;
    //                 margin-bottom: 20px;
    //                 width: 222px; // height: 76px;
    //                 padding: 5px;
    //                 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
    //                 border-radius: 4px;
    //                 font-size: 12px;
    //                 cursor: pointer;
    //                 .inverterItemIcon {
    //                     display: inline-block;
    //                     vertical-align: top;
    //                     margin: 5px;
    //                     position: relative;
    //                     :global {
    //                         .iconfont {
    //                             font-size: 22px;
    //                             color: #dfdfdf;
    //                         }
    //                         .icon-alarm {
    //                             position: absolute;
    //                             bottom: 10px;
    //                             right: 2px;
    //                             width: 10px;
    //                             height: 10px;
    //                             color: #a42b2c;
    //                             font-size: 14px;
    //                         }
    //                         a {
    //                             color: $darkColor;
    //                         }
    //                     }
    //                 }
    //                 .inverterItemR {
    //                     display: inline-block;
    //                     width: 165px;
    //                     color: $darkColor;
    //                     .hlBlockName {
    //                         display: flex;
    //                         justify-content: space-between;
    //                     }
    //                     .inverterItemPower {
    //                         display: flex;
    //                         flex-direction: column;
    //                         >div {
    //                             display: flex;
    //                             justify-content: space-between;
    //                             span:first-child {
    //                                 color: $themeColor;
    //                             }
    //                             span:last-child {
    //                                 color: $darkColor;
    //                             }
    //                         }
    //                     }
    //                     :global {
    //                         .ant-progress-success-bg,
    //                         .ant-progress-bg {
    //                             background-color: $themeColor;
    //                         }
    //                     }
    //                 }
    //                 .hlBlockFooter {
    //                     line-height: 22px;
    //                     margin-top: 10px;
    //                     padding-left: 3px;
    //                     >div {
    //                         display: inline-block;
    //                         width: 50%;
    //                         text-align: left;
    //                     }
    //                 }
    //                 .hlBlockLink:hover {
    //                     color: $darkColor;
    //                 }
    //             }
    //             .cutOverItem {
    //                 display: inline-block;
    //                 margin-right: 18px;
    //                 margin-bottom: 20px;
    //                 width: 222px; // height: 76px;
    //                 padding: 5px;
    //                 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
    //                 border-radius: 4px;
    //                 background: #f8f8f8;
    //                 pointer-events: none;
    //                 font-size: 12px;
    //                 a {
    //                     display: inline-block;
    //                 }
    //                 .inverterItemIcon {
    //                     display: inline-block;
    //                     vertical-align: top;
    //                     margin: 5px;
    //                     position: relative;
    //                     :global {
    //                         .iconfont {
    //                             font-size: 22px;
    //                             color: #dfdfdf;
    //                         }
    //                         .icon-alarm {
    //                             position: absolute;
    //                             bottom: 10px;
    //                             right: 2px;
    //                             width: 10px;
    //                             height: 10px;
    //                             color: #a42b2c;
    //                             font-size: 14px;
    //                         }
    //                         a {
    //                             color: $darkColor;
    //                         }
    //                     }
    //                 }
    //                 .inverterItemR {
    //                     display: inline-block;
    //                     width: 166px;
    //                     color: $darkColor;
    //                     .hlBlockName {
    //                         display: flex;
    //                         justify-content: space-between;
    //                     }
    //                     .inverterItemPower {
    //                         display: flex;
    //                         flex-direction: column;
    //                         color: $darkColor;
    //                         div {
    //                             display: flex;
    //                             justify-content: space-between;
    //                         }
    //                         .showDevicePower {
    //                             color: $themeColor;
    //                         }
    //                         .angle>i {
    //                             color: $themeColor;
    //                             display: inline-block;
    //                             font-size: 16px;
    //                         }
    //                     }
    //                     :global {
    //                         .ant-progress-success-bg,
    //                         .ant-progress-bg {
    //                             background-color: $themeColor;
    //                         }
    //                     }
    //                 }
    //                 .hlBlockFooter {
    //                     line-height: 22px;
    //                     margin-top: 10px;
    //                     padding-left: 3px;
    //                     >div {
    //                         display: inline-block;
    //                         width: 50%;
    //                         text-align: left;
    //                     }
    //                 }
    //             }
    //         }
    //         .inverterTableBox {
    //             .nodata {
    //                 text-align: center;
    //                 margin: 30px auto;
    //             }
    //             .pagination {
    //                 margin: 10px;
    //                 display: flex;
    //                 justify-content: flex-end;
    //             }
    //             .inverterTable {
    //                 .tableDeviceName {
    //                     text-decoration: underline;
    //                 }
    //                 .deviceCode {
    //                     pointer-events: none;
    //                 }
    //                 .devicePower {
    //                     .progressPower {
    //                         .deviceValue {
    //                             display: flex;
    //                             justify-content: space-between;
    //                         }
    //                     }
    //                 }
    //                 .statusColor {
    //                     background: #199475;
    //                     border-radius: 2px;
    //                     width: 3px;
    //                     height: 16px;
    //                     margin-right: 5px;
    //                     display: inline-block;
    //                     vertical-align: middle;
    //                 }
    //                 margin-bottom: 60px;
    //                 :global {
    //                     .ant-table-placeholder {
    //                         z-index: 0;
    //                         border-bottom: 0;
    //                     }
    //                     .ant-progress-success-bg,
    //                     .ant-progress-bg {
    //                         background-color: $themeColor;
    //                     }
    //                     a {
    //                         color: #666666;
    //                     }
    //                     a:hover {
    //                         color: $themeColor;
    //                     }
    //                     .ant-table-column-sorter-up.on .anticon-caret-up,
    //                     .ant-table-column-sorter-down.on .anticon-caret-up,
    //                     .ant-table-column-sorter-up.on .anticon-caret-down,
    //                     .ant-table-column-sorter-down.on .anticon-caret-down {
    //                         color: $themeColor;
    //                     }
    //                     .ant-pagination-item-active {
    //                         border-color: $themeColor;
    //                     }
    //                     .ant-pagination.mini .ant-pagination-options-quick-jumper input {
    //                         border: 1px solid $themeColor;
    //                     }
    //                     .ant-table-pagination.ant-pagination {
    //                         margin: 16px;
    //                         float: right;
    //                     }
    //                     .ant-table .ant-table-tbody>tr>td {
    //                         line-height: 20px;
    //                     }
    //                     .ant-table-thead {
    //                         background: #f4f4f4;
    //                         color: $darkColor;
    //                     }
    //                 }
    //             }
    //         }
    //         .inverterMapBox {
    //             height: 526px;
    //             >div {
    //                 height: 526px;
    //             }
    //         }
    //     }
        
    // }

    
}