

@import '../../../../theme/theme.scss';

.diagnoseHeaderTabs{
  display: flex;
  flex: 0 0 30px;
  z-index: 99;
  .leftHolder{
    flex: 0 0 12px;
  }
  .tab{
    cursor: pointer;
    flex: 0 0 98px;
    text-align: center;
    line-height: 30px;
  }
  .tabHolder{
    flex: 0 0 28px;
  }
  .rightHolder{
    flex: 1;
  }
}

.diagnoseLevelSummry{
  flex: 0 0 88px;
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 0 20px;
  .leftSummary, .rightUpdater{
    display: flex;
  }
  .leftSummary{
    :global{
      .iconfont.icon-alarm{
        font-size: 30px;
        margin: 0 8px 0 0;
      }
    }
  }
  .levelCounts{ // 告警等级
    display: flex;
    height: 60px;
    .gradientLine{
      flex: 0 0 2px;
      height:60px;
    }
    .eachLevel{
      margin: 0 20px;
      padding: 0 10px;
      border-radius:4px;
      position: relative;
      min-width: 60px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      &:first-child{
        margin-left: 0;
      }
      .levelNum, .levelText{
        text-align: center;
        word-break: keep-all;
      }
      .levelNum{
        line-height: 34px;
        font-size: 24px;
      }
      .levelText{
        line-height: 24px;
      }
    }
    .triangle{
      position: absolute;
      width: 10px;
      height: 8px;
      overflow: hidden;
      bottom: -8px;
      left: calc(50% - 4px);
      &::after{
        transform: rotate(-45deg);
        content: '';
        display: inline-block;
        position: absolute;
        top: -3px;
        left: 1px;
        width: 8px;
        height: 8px;
      }
    }
  }
  .updateTime{ // 时间
    margin-right: 20px;
    .timeText{
      line-height: 30px;
    }
    .timeArea{
      margin-left: 8px;
    }
  }
  .refreshIcon{ // 刷新
    display: flex;
    .updater{
      flex: 0 0 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      margin-right: 2px;
    }
    :global{
      .iconfont.icon-refresh{
        font-size: 18px;
        cursor: pointer;
        line-height: 30px;
      }
      .iconfont.icon-help{
        font-size: 12px;
      }
    }
  }
}

.diagnoseFilter{
  div[class*="filterCondition__"] {
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: 50px;
  }
}

.diagnoseList{
  .pagination{
    display: flex;
    height: 45px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .diagnoseTable{
    .finishIcon{
      width: 40px;
      padding: 0px!important;
      position: relative;
      text-align: center;
    }
    .done, .ignore{
      position: absolute;
      font-size: 30px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .eventName, .eventNameText, .warningLevel, .warningLevelText, .pointValueDesc, .pointValueDescText, .deviceTypeName, .deviceTypeNameText, .deviceName, .deviceNameText, .stationName, .stationNameText, .beginTime, .beginTimeText, .updateTime, .updateTimeText, .warningDuration, .warningDurationText, .warningFrequencyRate, .warningFrequencyRateText,  .warningFrequency, .warningFrequencyText, .statusName, .statusNameText {
      @include overflowText();
    }
    .eventNameTextHover {
      color: #199475;
      &:hover {
        color: #ff9900;
        cursor: pointer;
      }
    }
    .warningLevelText, .beginTimeText, .updateTimeText, .statusNameText{ // 状态, 等级, 时间 居中
      text-align: center;
      margin: 0 auto; // 盒子居td正中
    }
    .warningDurationText, .warningFrequencyText, .warningFrequencyRateText{ // 数值 居右
      text-align: right;
      margin-left: auto;  // 盒子居td右侧
    }
    .beginTime, .updateTime {
      width: calc((100vw - 230px) * 0.115);
    }
    .beginTimeText, .updateTimeText {
      max-width: calc((100vw - 230px) * 0.115 - 20px);
    }
    .warningDuration{
      width: calc((100vw - 230px) * 0.09);
    }
    .warningDurationText{
      max-width: calc((100vw - 230px) * 0.09 - 20px);
    }
    .pointValueDesc, .deviceTypeName {
      width: calc((100vw - 230px) * 0.099);
    }
    .pointValueDescText, .deviceTypeNameText {
      max-width: calc((100vw - 230px) * 0.099 - 20px);
    }
    .stationName{
      width: calc((100vw - 230px) * 0.088);
    }
    .stationNameText{
      max-width: calc((100vw - 230px) * 0.088 - 20px);
    }
    .deviceName{
      width: calc((100vw - 230px) * 0.085);
    }
    .deviceNameText{
      max-width: calc((100vw - 230px) * 0.085 - 20px);
    }
    .warningLevel, .warningFrequency, .warningFrequencyRate, .statusName, .eventName{
      width: calc((100vw - 230px) * 0.074);
    }
    .warningLevelText, .warningFrequencyText, .warningFrequencyRateText, .statusNameText, .eventNameText {
      max-width: calc((100vw - 230px) * 0.074 - 20px);
    }
    .handleStyle{
      padding: 0!important;
      .handlers{
        text-align: center;
        margin: 0 auto; // 盒子居td正中
      }
      width: calc((100vw - 230px) * 0.074);
      .handleAnalysis, .toDefect, .handleDelete{
        cursor: pointer;
      }
      .handleAnalysis{
        margin-right: 8px;
      }
    }
  }
}

.handleSelects{
  :global{
    .ant-select-dropdown-menu{
      padding: 0;
    }
    .ant-select-dropdown-menu-item{
      padding-left: 6px;
      display: flex;
      .iconfont{
        margin-right: 9px;
      }
    }
  }
}

// 颜色控制部分
.diagnoseHeaderTabs{
  .leftHolder, .tabHolder, .rightHolder{
    color: var(--themeColor);
    border-bottom: 1px solid var(--themeColor);
  }
  .tab{
    color: var(--themeColor);
  }
  .tab.active{
    background-color: #fff;
    border: 1px solid var(--themeColor);
    border-top: 2px solid var(--themeColor);
    border-bottom: none;
  }
  .tab.inactive{
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 1px solid var(--themeColor);
  }
}

.diagnoseLevelSummry{
  // background-color: #fff;
  .leftSummary{
    :global{
      .iconfont.icon-alarm{
        color: #a42b2c;
      }
    }
  }
  .levelCounts{
    .gradientLine{
      background-image:linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #999999 57%, rgba(255,255,255,0.00) 100%);
    }
    .eachLevel{
      color: var(--lightColor);
      &:hover{
        color: var(--themeColor);
      }
    }
    .activeLevel.activeLevel{
      background-image:linear-gradient(-180deg, #ceebe0 0%, #cfece1 24%, #f3fbf8 100%);
      border:1px solid #ceebe0;
      box-shadow:2px 2px 0 0 rgba(206,235,224,0.30), inset -2px 2px 0 0 rgba(255,255,255,0.80);
      color: var(--themeColor);
      .triangle{
        &::after{
          position: absolute;
          background-color: #f3fbf8;
          border:1px solid #ceebe0;
        }
      }
    }
  }
  .updateTime{
    .timeText{
      color: var(--themeColor);
    }
    .timeTip{
      color: var(--lightColor);
    }
  }
  .refreshIcon{
    .updater{
      color: var(--themeColor);
      border: 1px solid #199475;;
      &:hover{
        color: #fff;
        background-color: var(--themeColor);
      }
    }
    :global{
      // .iconfont.icon-refresh{
      //   color: #fff;
      // }
      .iconfont.icon-help{
        color: #f9b600;
      }
    }
  }
}

.diagnoseFilter{
  border-top: 1px dashed #d4d4d4;
  border-bottom: 1px dashed #d4d4d4;
}

.diagnoseList{
  .diagnoseTable{
    .done {
      color: var(--themeColor);
    }
    .ignore{
      color: #ff9900;
    }
    .handleStyle{
      .handleAnalysis, .toDefect, .handleDelete{
        color: var(--themeColor);
      }
    }
  }
}

.handleSelects{
  border:1px solid #dfdfdf;
  border-radius:4px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
  :global{
    .ant-select-dropdown-menu-item{
      color: #353535;
      .iconfont{
        color: #999999;
      }
      &:hover:not(.ant-select-dropdown-menu-item-disabled){
        background-color:rgba(206,235,224,0.30);
        color: #199475;
        .iconfont{
          color: #199475;
        }
      }
    }
  }
}



















