@import "../../../../../theme/theme.scss";

.rejectBox {

  :global {
    .ant-modal {
      padding: 0;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.30);

      .ant-modal-body {
        padding: 0;
      }
    }
  }

  .rejectContentBox {
    width: 100%;

    .rejectTitle{
      width: 100%;
      background-color: $themeColor;
      color: #fff;
      padding-left: 20px;
      @include lineheight(36px);
    }

    .rejectContent{
      padding: 0 20px;

      .rejectTextBox{
        width: 100%;
        display: flex;

        .textImport{
          color: #df4b33;
          line-height: 36px;
          margin-right: 6px;
          font-family: PingFangSC-Regular, serif;
          font-size:14px;
        }

        .rejectContentText{
          display: block;
          color:  #353535;
          @include lineheight(36px);
        }
      }

      textarea{
        padding-left: 13px;
        padding-top: 15px;
        border-radius: 2px;
        resize: none;
        height: 150px;
      }

      .rejectInfo{
        display: flex;
        color:  #353535;
        text-align: right;
        @include lineheight(32px);
        justify-content: space-between;

        .rejectErrorInfo{
          color: #df4b33;
          font-family: PingFangSC-Regular, serif;
          font-size:14px;
        }
      }
    }

    .rejectBtn{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding-right: 20px;
      background-color: #f1f1f1;
      @include lineheight(40px);

      .rejectCancelBtn{
        margin-right: 30px;
        color: #666666;
        cursor: pointer;
      }
    }
  }
}
