@import "../../../theme/theme.scss";

.intelligentExpert {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .warp {
    display: flex;
    flex: 1;
    flex-direction:row;
  }
}