@import '../../../../theme/theme.scss';

@media screen and (max-width: 1679px) { // 1679以下屏幕，字号14px
  .cneTable{
    :global{
      .ant-table{
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1680px) and (max-width: 1919px) { // 1680 + 1919
  .cneTable{
    :global{
      .ant-table{
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 1920px){ // 1920及以上屏幕按1920px适配
  .cneTable{
    :global{
      .ant-table{
        font-size: 1.3rem;
      }
    }
  }
}

.cneTable{
  :global{
    .ant-table .ant-table-tbody > tr > td {
      padding: 0 10px;
      line-height: 40px;
      &.leftContent{
        padding: 0 0 0 10px;
        text-align: left;
      }
      &.middleContent, &.centerContent{
        padding: 0;
        text-align: center;
      }
      &.rightContent{
        padding: 0 10px 0 0;
        text-align: right;
      }
      &.noneContent{
        padding: 0;
        text-align: left;
      }
      &:first-child.leftContent {
        padding-left: 20px;
      }
      &:last-child.rightContent {
        padding-right: 20px;
      }
    }
    .ant-table .ant-table-thead > tr > th{
      padding: 0;
      line-height: 36px;
      text-align: center;
      border-radius: 0;
      height: auto;
      border-bottom: none;
      .ant-table-column-sorter{
        position: relative;
        .ant-table-column-sorter-inner{
          margin-left: 4px;
          height: 1.65rem;
          margin-top: -0.1rem;
        }
        .on, .off{
          transform: scale(1.25, 1);
          -webkit-transform: scale(1.25, 1);
          -moz-transform: scale(1.25, 1);
          -ms-transform: scale(1.25, 1);
          -o-transform: scale(1.25, 1);
        }
        .ant-table-column-sorter-up, .ant-table-column-sorter-down{
          height: 1rem;
          line-height: 1rem;
        }
        .ant-table-column-sorter-up{
          padding-top: 0.1rem;
        }
        .ant-table-column-sorter-down{
          margin-top: -0.25rem;
        }
      }
    }
    .ant-table-placeholder {
      border-bottom: none;
    }
    .ant-table-scroll .ant-table-header{ // 隐藏滚动条，保留效果
      margin-bottom: 0!important;
      padding-bottom: 0!important;
      &::-webkit-scrollbar{
        width: 8px;
        display: none;
      }
    }
    .ant-table-scroll .ant-table-body{ // 默认隐藏纵向滚动条
      &::-webkit-scrollbar{
        width: 8px;
        &:vertical{
          display: none;
        }
        &:horizontal{
          height: 10px;
        }
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &::-webkit-scrollbar-thumb:horizontal{
        border-radius: 5px;
      }
    }
  }
}

.headShadow{ // 表格顶部冻结 且滚动时 = 头部需有阴影
  :global{
    .ant-table-scroll .ant-table-header{
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 99;
    }
  }
}

.scrollingBar{
  :global{
    .ant-table-scroll .ant-table-header{
      &::-webkit-scrollbar:vertical{
        display: block;
        background-color: var(--themeColor);
      }
      &::-webkit-scrollbar-track-piece{
        background-color: var(--themeColor);
      }
    }
    .ant-table-scroll .ant-table-body{
      &::-webkit-scrollbar:vertical{
        display: block;
      }
    }
  }
}

.nomore { // 需要展示： 没有更多数据的表格所需下部图片提示
  :global{
    .ant-table:not(.ant-table-empty) {
      .ant-table-body:after {
        content: url("/img/notabdata97-72.png");
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        height: 80px;
        margin-top: 20px;
      }
    }
  }
}

.cneTable.light{ // 颜色部分
  :global{
    .ant-table .ant-table-thead > tr > th,
    .ant-table .ant-table-tbody > tr > td{
      &:last-child {
        border-right: none;
      }
    }
    .ant-table .ant-table-thead > tr > th{
      background-color: var(--themeColor);
      color: #fff;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      &.ant-table-column-sort{
        background-color: #06614A;
      }
      &.ant-table-column-has-sorters:hover{
        background-color: #06614A;
      }
      .ant-table-column-sorter{
        .on{
          color: #F9B600;
        }
        .off{
          color: #fff;
        }
      }
    }
    .ant-table .ant-table-thead > tr {
      &:last-child > th {
        border-bottom: none;
      }
    }
    .ant-table .ant-table-tbody{
      border: 1px solid #d4d4d4;
      border-top: none;
    }
    .ant-table-scroll .ant-table-tbody{
      border-right: none;
    }
    .ant-table .ant-table-tbody > tr{
      & > td {
        border-right: 1px dashed #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        // background-color: transparent;
      }
      &:nth-of-type(odd){
        background-color: transparent;
      }
      &:nth-of-type(even){
        background-color: #f3f2f2;
      }
      &.ant-table-row-hover{
        transform: translate3d(0,0,0);
        box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
      }
      &:hover{
        transform: translate3d(0,0,0);
        box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
        background-color:rgba(206,235,224,0.50);
      }
    }
    .ant-table-fixed .ant-table-tbody{ // 冻结列hover样式同步
      .ant-table-row-hover{
        box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
      }
    }
    .ant-table-fixed-left .ant-table-thead > tr > th{ // 冻结列右侧样式
      &:last-child {
        border-right: 1px solid #fff;
      }
    }
    .ant-table-fixed-left .ant-table-tbody > tr > td{
      &:last-child {
        border-right: 1px dashed var(--themeColor);
        // box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
      }
    }
    .ant-table.ant-table-scroll-position-left .ant-table-fixed-left{
      box-shadow: none;
    }
    .ant-table-fixed-left{
      box-shadow: 2px 0 6px -2px #199475;
    }
  }
}

.cneTable.dark{

}
