







.cneTable{
  :global{
    .ant-table .ant-table-thead > tr > th{
      line-height: 36px;
      height: auto;
      border-bottom: none;
    }
  }
  // table > thead > tr > th {
  //   background-color: lightblue;
  //   line-height: 36px;
  // }
}

.cneTable.light{

}

.cneTable.dark{

}



// 1. 永仁光伏  => 王红;   选中。




