@import "../../../../theme/theme.scss";
.operateAnalysisBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .operateAnalysis {
    @include contentBoxStyle();
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .operateAnalysis {
    @include contentBoxStyle();
  }
}
