@import "../../../../theme/theme.scss";

.generalReportBox{
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  .generalReportContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 25px 24px 0px;
    background: $pageBackground;
    .generalReportMain{
      display: flex;
      flex: 1;
      justify-content: space-around;
      //日报
      .dailyBox{
        width: 25%;
        min-width: 280px;
        height: 186px;
        margin-right: 25px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        .boxTop{
          display: flex;
          margin:24px 0 17px 24px;
          align-self: flex-start;
          .proOperation,.eleInfo,.defaultReport,.dayReport{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #ffbf00;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
          }
          .defaultReport{
            background-color: #5bd171;
          }
          .eleInfo{
            background-color: #719ee0;
          }
          .proOperation{
            background-color: #72719c;
          }
          .title{
            font-size: 16px;
            font-weight: bold;
          }
        }
        .dateSearch{
          flex: 1;
          align-self: center;
        }
        .dateSearch::before{
          content: '*';
          display: inline-block;
          margin-right: 4px;
          color: red;
        }
        .downloadBtn{
          width: 100%;
          height: 40px;
          line-height: 40px;
          border-top:1px solid $promptColor;
          text-align: center;
          .text{
            width: 100%;
            color: #999;
            height: 40px;
            line-height: 40px;
            border: none;
            border-radius: 0;
            background-color: #fff;
          }
        }
        .stationSearchs{
          margin-bottom: 6px;
          display: flex;
          line-height: 38px;
          align-self: center;
        }
        .stationSearchs::before{
          content: '*';
          display: inline-block;
          margin-right: 4px;
          color: red;
        }
      }
    }
  }
}