@import '../../../theme/theme.scss';

$commonHeight: 28px;

.commonPagination {
  margin-right: 24px;
  display: flex;
  align-items: center;
  .sizeSelector {
    margin-left: 12px;
    margin-right: 28px;
    :global {
      .ant-select {
        width: 63px;
        .ant-select-selection {
          height: $commonHeight;
          border-radius: 2px;
        }
        .ant-select-selection__rendered {
          line-height: 26px;
        }
      }
    }
  }
  .pageSelector {
    display: flex;
    margin-top: 5px;
    .text{
      margin-right: 6px;
    }
    :global {
      .ant-pagination {
        line-height: inherit;
        margin-top: -4px;
        .ant-pagination-prev,
        .ant-pagination-next {
          vertical-align: middle;
          height: 30px;
          line-height: 30px;
          .ant-pagination-item-link {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border:1px solid #d4d4d4;
            border-radius: 2px;
            &::after {
              height: $commonHeight;
              line-height: $commonHeight;
            }
            &:hover{
              background-color: $themeColor;
              color: $pageGround;
              border: 1px solid $themeColor;
            }
          }
        }
        .ant-pagination-disabled{
          .ant-pagination-item-link{
            background-color: #f1f1f1;
            color: #e1e1e1;
            &:hover{
              background-color: #f1f1f1;
              color: #e1e1e1;
            }
          }
        }
        .ant-pagination-simple-pager {
          input {
            padding: 0 5px;
            vertical-align: middle;
            height: 30px;
            width: 50px;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
.light {
  @import "../../../theme/theme.scss";
  .sizeSelector {
    .pageNumber {
      border: 1px solid #d4d4d4;
    }
    // :global {
    //   .ant-select-selection {
    //     height: $commonHeight;
    //     &:focus,
    //     &:hover {
    //       border: 1px solid $themeColor;
    //       box-shadow: 0 0 1px $themeColor;
    //     }
    //   }
    // }
  }
  .pageSelector {
    :global {
      .ant-pagination-simple-pager {
        input {
          &:hover,
          &:focus {
            border-color: $themeColor;
            box-shadow: 0 0 1px $themeColor;
          }
        }
      }
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  color: $fontColor;
  :global {
    .ant-pagination {
      color: $fontColor;
    }
    .ant-pagination-item-link {
      background: $button-active;
      color: $fontColor-invert;
    }
    .ant-pagination-disabled .ant-pagination-item-link {
      background: $button-primary;
      color: #7088c3;
    }
    .ant-pagination-simple .ant-pagination-simple-pager input {
      background: $input-Background;
      border: 1px solid $input-border;
      &:hover,
      &:focus {
        border: 1px solid $border-color;
        box-shadow: 0 0 1px $border-shadow-color;
      }
    }
    .ant-select {
      .ant-select-selection {
        &:focus,
        &:hover {
          border: 1px solid $border-color;
          box-shadow: 0 0 1px $border-shadow-color;
        }
      }
    }
  }
}
