@import "../../../../theme/theme.scss";
.handle {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.handleRemoveBox {
  @include contentBoxStyle();
}

.dark {
  @import "../../../../theme/antdResetDark.scss";
  .handleRemoveBox {
    background-color: $background;
  }
}
