.deleteItem {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  color: #ccc;
  border-radius: 2px;
  &:hover {
    background-color: #7ec5c2;
    color: #fff;
  }
  .itemLabel {
    font-size: 14px;
  }
}

.disabledItem {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  color: #ccc;
  border-radius: 2px;
  .itemLabel {
    font-size: 14px;
  }
}
.selectedItem {
  display: flex;
  flex-direction: row;
  background-color: #519592;
  color: #fff;
  border-radius: 2px;
  .itemLabel {
    font-size: 14px;
  }
}
.normalItem {
  display: flex;
  flex-direction: row;
  background-color: #7ec5c2;
  color: #fff;
  border-radius: 2px;
  .itemLabel {
    font-size: 14px;
  }
}