@import '../../theme/theme.scss';
.app {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    .appHeader {
        height: 59px; // background-color: #06213E;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: url('/img/topbg.png') no-repeat center / cover;
        .headerLeft {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .headerRight {
            margin-right: 36px;
            height: 100%;
            display: flex;
            align-items: center;
            .powerConfig {
                margin-left: 16px;
                margin-top: 6px;
            }
        }
    }
    .appMain {
        display: flex;
        flex: 1;
        .content {
            height: calc(100vh - 59px);
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden; // margin-bottom: 6rem;
        }
    }
  
}

.userRightTip {
    .exitSystem {
        float: right;
        display: block;
    }
    :global {
        .ant-modal-body {
            height: 100px;
        }
        .ant-btn:hover,
        .ant-btn:focus {
            color: $themeColor;
            background-color: #fff;
            border-color: $themeColor;
        }
    }
}

.preComponent {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}