@import '../../theme/theme.scss';

  .app {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    .appHeader{
      height: 59px;
      // background-color: #06213E;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background:url('/img/topbg.png') no-repeat center / cover;
      .headerLeft{
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo{
          width: 55px;
          height: 33px;
          margin: 0 24px 0 9px;
          //background-image: url('../../theme/img/cnelogo.png');
          background-position: 0% 0%;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .headerRight{
        margin-right: 36px;
        height: 100%;
        display: flex;
        align-items: center;
        .powerConfig{
          margin-left: 16px;
        }
      }
    }
    .appMain{
      display: flex;
      flex: 1;
      .content{
        height: calc(100vh - 59px);
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
