@import  '../../../../theme/theme';

.meterReadAllSatation{
  padding: 24px 24px 24px 4px;
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  .title{
    padding: 0 0 24px 20px;
    font-size: 20px;
    color: $themeColor;
  }
  .stationsBox{
    display: flex;
    flex-wrap: wrap;

    .stationCard {
      margin-left: 20px;
      margin-bottom: 12px;
      font-size: 20px;
      color: $themeColor;
      width: 208px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      border: 4px solid;
      border-radius: 2px;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.30);
      border-image: -webkit-linear-gradient(#36c6ad, $themeColor) 10 10;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        // background: linear-gradient(green, $themeColor);
        background-image: linear-gradient(-180deg, #36c6ad 0%, #199475 100%);
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.30), inset 0 0 4px 2px rgba(255, 255, 255, 0.50);
        border-radius: 2px;
        border: none;
        cursor: pointer;
        width: 208px;
        height: 68px;
        color: #fff;

      }
    }
  }
}


.meterReadSingle{
  flex: 1;
  background-color: #fff;
  border: 1px solid #e1e2e2;
    .meterReadSingleTop {
      display: flex;
      padding-left: 32px;
      align-items: center;
      border-bottom: solid 1px $promptColor;  
      justify-content: space-between;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        color: $darkColor;
        font-size: 20px;
        border-left: 1px solid $promptColor;
        height: 100%;
        line-height: 64px;
        width: 64px;
        cursor: pointer;
      }
    }
}