@import "../../../../theme/theme.scss";

.realTimeWarningContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .realTimeWarningFilter {
    position: relative;
    display: flex;
    flex-direction: column; // flex: 1 0 auto;
  }

  .deviceNameSearch {
    display: flex;
    height: 50px;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 28px;

    .deviceName {
      width: 200px;
      margin: 0 16px;
    }

    >span:last-child {
      font-size: 14px;
      cursor: pointer;
      margin-left: 16px;
    }
  }

  .realTimeWarningTable {
    display: flex;
    flex: 1;
    flex-direction: column;

    :global {
      .ant-table-placeholder {
        border-bottom: none;
      }
      .ant-table-selection{
        width: 50px;
      }

      .icon-action {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 auto;
      }
    }

    .tableHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      height: 55px;
      padding: 0 28px;
    }

    .stationNameText,.deviceTypeNameText,.warningCheckDescText,.deviceNameText{
      @include overflowText();
    }

    .warningLevel{
      width:8%;
    }
    .stationName{
      width:12%;
    }
    .stationNameText{
       max-width: calc((100vw - 230px) * 0.12 - 20px);
    }
    .deviceTypeName{
      width:12%;
    }
    .deviceName{
      width:12%;
    }
    .deviceNameText{
      display: block;
      max-width: calc((100vw - 230px) * 0.12 - 20px);
    }
    .deviceTypeNameText{
       max-width: calc((100vw - 230px) * 0.12 - 20px);
    }
    .warningCheckDesc{
      width:23%
    }
    .warningCheckDescText{
      max-width: calc((100vw - 230px) * 0.23 - 20px);  
    }
    .timeOn{
       width:12%;
    }
    .durationTime{
      width:12%;
    }
    .iconDetail{
      width:8%;
    }
  }

  .tableFooter {
    height: 45px;
    line-height: 45px;

    .info {
      margin-right: 20px;
      margin-left: 24px;

      .totalNum {
        margin: auto 4px;
      }
    }

    .cancel {
      cursor: pointer;
    }
  }
}

.relieveModal {
  .formItem {
    display: flex;
    flex-direction: row;

    :global {
      .ant-form-item-label {
        overflow: visible;

        .ant-form-item-required::before {
          position: absolute;
          top: 5px;
          left: -10px;
        }
      }
    }
  }

  .input {
    margin-left: -60px;
    margin-top: 15px;
  }

  .instructionText {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 8px;
  }

  :global {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      margin-top: 180px;
    }

    .ant-form-item-control-wrapper {
      .ant-form-item-control {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .ant-form-item-children {
          display: flex;
          flex-direction: row;

          .ant-calendar-picker {
            margin-left: 12px;
            vertical-align: top;
          }
        }
      }
    }
  }
}

.transferModal {
  .formItem {
    display: flex;
    flex-direction: row;
  }

  .input {
    margin-left: -60px;
    margin-top: 15px;
  }

  .instructionText {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 8px;
  }

  :global {
    .ant-modal-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      margin-top: 180px;
    }
  }
}