@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  background: #fff;

  .deviceNameSearch {
    background-color: #f9f9f9;
    color: $darkColor;
  }

  .realTimeWarningTable {
    .tableHeader {
      background-color: #fff;
    }


    :global {
      .icon-action {
        background-color: #ceebe0;
        color: $themeColor;

        &:hover {
          background-color: $themeColor;
          color: #fff;
        }
      }
    }

     .deviceName {
      a {
        color: $themeColor;
        text-decoration: none;
      }
      a:hover{
        color: #ff9900;
      }
    }

  }

  .tableFooter {
    background-color: #fff;

    .info {
      color: $darkColor;

      .totalNum {
        color: rgb(250, 185, 7);
      }
    }

    .cancel {
      color: $themeColor;
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $background;

  .realTimeWarningFilter {
    margin-top: 10px;
  }

  .deviceNameSearch {
    background-color: $light-background;
    color: $fontColor;
    margin-top: 10px;
    border: 1px solid $border-color;
  }

  .realTimeWarningTable {
    background: $light-background;
    border: 1px solid $border-color;
    margin-top: 10px;


    .deviceNameText {
      a {
        color: $themeColor;
        text-decoration: none;
        &:hover {
          color: #ff9900;
        }
      }
    }
  }

  .tableFooter {
    background-color: transparent;

    .info {
      color: $fontColor;

      .totalNum {
        color: #f8b14e;
      }
    }

    .cancel {
      color: #f8b14e;
    }
  }

  :global {
    .icon-action {
      background-image: linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
      color: $fontColor-invert;

      &:hover {
        background-image: linear-gradient(-180deg, #b4ec51 0%, #429321 100%);
      }
    }
  }
}