@import '../../../../theme/theme.scss';
.stationMonitor {
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.stationContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 24px 0;
    background: $pageBackground;
    .noData{
      background: $pageGround;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      img{
        width: 223px;
        height: 164px;
      }
    }
    .allStationTitle{
        display: flex;
        line-height: 40px;
        background:#f8f8f8;
        border-bottom:  1px solid #dfdfdf;
        p{
            width:120px;
            border-right: 1px solid #dfdfdf;
            color:#999999;
            margin-bottom: 0;
            text-align: center;
            cursor: pointer;
            margin-bottom: -2px;
        }
        .activeStation{
            background: #fff;
            position: relative;
            color:#000000;
            &::before{
                content: "";
                position: absolute;
                width: 120px;
                height: 2px;
                top: 0;
                left: -1px;
                background: $themeColor;
            }
        }

    }
    
    :global {
        .ant-switch-checked {
            background-color: $themeColor;
        }

        .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            background: $themeColor;
            border-color: $themeColor;
            color: #fff;
        }

        .ant-progress-bg {
            border-radius: 100px;
            background-color: $themeColor;
        }

        .ant-tabs-nav-scroll {
            background: #f8f8f8;
        }

        .ant-tabs-tab {
            display: inline-block;
            text-align: center;
            height: 100%;
            padding: 12px 16px;
            margin: 0;
            box-sizing: border-box;
            position: relative;
            transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
            text-decoration: none;
            width: 120px;
        }

        .ant-tabs-tab-active .allStationParents {
            background: $pageGround;
            color: $themeColor;
            margin: 0;
            position: relative;
        }

        .ant-tabs-tab-active .allStationParents ::before {
            content: "";
            position: absolute;
            width: 120px;
            height: 2px;
            top: 0;
            left: -1px;
            background: $themeColor;
        }

        .ant-tabs-bar {
            margin-bottom: 0;
        }

        .ant-tabs.ant-tabs-top.ant-tabs-card.ant-tabs-no-animation {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        .ant-tabs-content {
            display: flex;
            flex: 1;
            flex-direction: column;

            .ant-tabs-tabpane-active {
                display: flex;
                flex: 1;
            }

            .ant-tabs-tabpane-inactive {
                max-height: 0;
            }
        }
    }

}