@import "../../../../theme/theme.scss";

.stationMonitor {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .stationContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 24px 0;
    position: relative;
    .noData {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      img {
        width: 223px;
        height: 164px;
      }
    }

    .allStationTitle {
      display: flex;
      line-height: 40px;
      overflow: hidden;
      p {
        width: 120px;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
        margin-bottom: -2px;
      }
      .activeStation {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 120px;
          height: 2px;
          top: 0;
          left: -1px;
        }
      }
    }

    .allArea {
      padding: 0 10px;
      position: absolute;
      top: 24px;
      right: 24px;
      line-height: 30px;
      cursor: pointer;
      z-index: 19;
      display: flex;
      justify-content: space-between;
      i {
        // color: $themeColor;
        font-size: 14px;
        transform: rotate(90deg);
      }
    }
    .regionSelect {
      width: 130px;
      position: absolute;
      top: 24px;
      right: 24px;
      line-height: 24px;
      height: calc(100vh - 123px);
      z-index: 20;
      .regionSelectTop {
        text-align: center;
        line-height: 45px;
      }
      .regionSelectCont {
        text-align: right;
        .active {
        }
        .normal {
          padding: 0 36px;
          cursor: pointer;
        }
      }
    }
  }
}

.light {
  .stationContainer {
    background: $pageBackground;
  }
  .allStationTitle {
    background: #f8f8f8;
    border-bottom: 1px solid $borderColor;
    p {
      border-right: 1px solid $borderColor;
      color: $lightColor;
    }
    .activeStation {
      background: $pageGround;
      color: $darkColor;
      &::before {
        background: $themeColor;
      }
    }
  }

  .allArea {
    i {
      color: $themeColor;
    }
  }
  .regionSelect {
    background: $pageGround;
    border: 1px solid $borderColor;
    box-shadow: 0 0 4px 0 $box-shadow-color;
    .regionSelectTop {
      color: $themeColor;
    }
    .regionSelectCont {
      .active {
        background: $slideSelectColor;
      }
      .normal {
        &:hover {
          color: $themeColor;
        }
      }
    }
  }
}

.dark {
  @import "../../../../theme//darkTheme.scss";
  $backgroundColor: #0c0a3e;
  background: $backgroundColor;
  .stationContainer {
    background: $backgroundColor;
    .allStationTitle {
      background: $backgroundColor;
      border: none;
      p {
        border: 1px solid #202470;
        color: #7088c3;
        background: #13134f;
        margin-right: 4px;
        border-radius: 8px 8px 0 0;
      }
      .activeStation {
        background: rgba(83, 104, 241, 0.15);
        border: 1px solid rgba(83, 104, 241, 0.6);
        color: $font-color-invert;
        &::before {
          display: none;
        }
      }
    }
  }

  .allArea {
    color: $font-color-invert;
    background: $button-color-darker;
    border-radius: 15px;
    width: 94px;
    height: 30px;
    i {
      color: $font-color-invert;
    }
  }
  .regionSelect {
    background: $promptColor;
    border: 1px solid $border-color;
    box-shadow: inset 0 0 5px 2px $border-shadow-color;
    .regionSelectTop {
      color: $font-color-invert;
    }
    .regionSelectCont {
      color: $font-color-invert;
      .active {
        color: $themeColor;
        background: $font-color-hover;
      }
      .normal {
        &:hover {
          color: $themeColor;
        }
      }
    }
  }
}
