@import "../../../../theme/theme.scss";

.stationMonitor {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  .stationContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 24px 0;
    position: relative;
    .noData {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      img {
        width: 223px;
        height: 164px;
      }
    }

    .allStationTitle {
      display: flex;
      line-height: 40px;
      overflow: hidden;
      p {
        width: 120px;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
        margin-bottom: -2px;
      }
      .activeStation {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 120px;
          height: 2px;
          top: 0;
          left: -1px;
        }
      }
    }

    .allArea {
      padding: 0 10px;
      position: absolute;
      top: 24px;
      right: 24px;
      line-height: 40px;
      cursor: pointer;
      z-index: 19;
      i {
        color: $themeColor;
        font-size: 14px;
        transform: rotate(90deg);
      }
    }
    .regionSelect {
      background: #ffffff;
      border: 1px solid #dfdfdf;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      width: 130px;
      position: absolute;
      top: 24px;
      right: 24px;
      line-height: 24px;
      height: calc(100vh - 123px);
      z-index: 20;
      .regionSelectTop {
        color: $themeColor;
        text-align: center;
        line-height: 45px;
      }
      .regionSelectCont {
        text-align: right;
        .active {
          background: #ceebe0;
        }
        .normal {
          padding: 0 36px;
          cursor: pointer;
          &:hover {
            color: $themeColor;
          }
        }
      }
    }
  }
}

.light {
  .stationContainer {
    background: $pageBackground;
  }
  .allStationTitle {
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
    p {
      border-right: 1px solid #dfdfdf;
      color: #999999;
    }
    .activeStation {
      background: #fff;
      color: #000000;
      &::before {
        background: $themeColor;
      }
    }
  }

  .allArea {
    i {
      color: $themeColor;
    }
  }
  .regionSelect {
    background: #ffffff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    .regionSelectTop {
      color: $themeColor;
    }
    .regionSelectCont {
      .active {
        background: #ceebe0;
      }
      .normal {
        &:hover {
          color: $themeColor;
        }
      }
    }
  }
}

$backgroundColor: #0c0a3e;
.dark {
  background: $backgroundColor;
  .stationContainer {
    background: $backgroundColor;
    .noData {
      background: $backgroundColor;
    }
    .allStationTitle {
      background: $backgroundColor;
      border: none;
      p {
        border: 1px solid #202470;
        margin-right: 4px;
        color: #7088c3;
        background: #13134f;
        border-radius: 8px 8px 0 0;
      }
      .activeStation {
        background: rgba(83, 104, 241, 0.15);
        color: #fff;
        border: 1px solid rgba(83, 104, 241, 0.6);
        &::before {
          display: none;
        }
      }
    }
  }

  .allArea {
    i {
      color: $themeColor;
      font-size: 14px;
      transform: rotate(90deg);
    }
  }
  .regionSelect {
    background: #ffffff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    width: 130px;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 24px;
    height: calc(100vh - 123px);
    z-index: 20;
    .regionSelectTop {
      color: $themeColor;
      text-align: center;
      line-height: 45px;
    }
    .regionSelectCont {
      text-align: right;
      .active {
        background: #ceebe0;
      }
      .normal {
        padding: 0 36px;
        cursor: pointer;
        &:hover {
          color: $themeColor;
        }
      }
    }
  }
}
