.deviceAccountBox{
  width: 100%;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  .deviceAccountSearch{
    width: 100%;
    padding: 0 0 0 25px;
    height: 56px;
    line-height: 56px;
    border:1px solid #d4d4d4;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    background-color: #fff;
    display: flex;
    :global{
      .ant-select-selection--single{
        height: 34px;
      }
      .ant-select-selection__rendered{
        line-height: 32px;
      }
    }
  }
  .deviceAccountPage{
    width: 100%;
    display: flex;
    height: 60px;
    padding-right: 12px;
    justify-content: flex-end;
  }
}
