@import '../../../../../theme/theme.scss';

.warehouseGoods {
  width: 100%;
  background-color: $pageGround;
  border-top: 1px solid #199475;
  box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);  
  margin: 0 2px 4px 2px;
  flex: 1 auto;
  
  .warehouseGoodsCenter {
    width: 100%;
    border-top: 1px solid $promptColor;
    display: flex;
    padding-bottom: 40px;

    .goodsLeft {
      min-width: 430px;
      padding-left: 38px;
      border-right: 1px solid $promptColor;
    }

    .goodsRight {
      width: 100%;
      padding: 12px 14px 0 25px;

      .goodsBtn {
        width: 100%;

        .addControl {
          width: 90px;
          display: flex;
          padding: 0 15px 0 10px;
          .icon {
            margin: 0 16px 0 0;
          }
        }
      }

      .goodsAdd {
        width: 100%;
        margin: 8px 0 0;
        border-radius: 2px;
        padding: 14px 14px 25px 16px;
        border: 1px solid $promptColor;
        background-color: #f0f2f5;

        .goodsTitle {
          display: flex;
          justify-content: space-between;

          i {
            font-size: 20px;
          }
        }

        .goodsCenter {
          padding-left: 23px;
        }
      }

      .goodsSearch {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;

        .rightSeach {

          width: 200px;

          :global {
            .ant-input-search-icon {
              color: #199475;
            }

            .ant-input-affix-wrapper .ant-input:not(:last-child) {
              padding-right: 47px;
            }
          }
        }
      }
    }
  }
}