.meterDetailBox {
  width: 100%;
  min-width: 1212px;

  .meterContent {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    .contentLeft {
      width: 73%;
      min-width: 890px;
      padding-top: 15px;
      background-color: #fff;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.20);
    }

    .contentRight {
      width: 25%;
      min-width: 307px;
      padding-top: 15px;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.20);
      background-color: #fff;
    }
  }
}
