@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  .realTimeWarningFilter {
    background-color: #fff;
  }
  .warnWrap{
    background: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
  .realTimeWarningTable {
    background-color: #fff;
    .iconDetail {
      i {
        background-color: #ceebe0;
        color: $themeColor;

        &:hover{
          color: #ffffff;
          background-color: $themeColor;
        }
      }
    }
    .deviceName {
      max-width: calc((100vw - 230px) * 0.14 - 10px);
      @include overflowText();
      a {
        text-decoration: none;
        color: $themeColor;
        &:hover {
          color: #f9b600;
        }
      }
    }

    .overflowText{
      max-width: calc((100vw - 230px) * 0.15 - 10px);
      @include overflowText();
    }

    .alarmType{
      @include overflowText();
      max-width: calc((100vw - 230px) * 0.15 - 10px);
    }

    .alarmDescName{
      @include overflowText();
      max-width: calc((100vw - 230px) * 0.2 - 10px);
    }

    .selected,.hoverDiv {
      i {
        background-color: #ceebe0;
        color: $themeColor;

        &:hover{
          color: #ffffff;
          background-color: $themeColor;
        }
      }
    }
  }
  .tableFooter {
    background-color: #fff;
    .info {
      color: $darkColor;
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
  .detailInfo {
    color: $darkColor;
  }
  :global {
    .icon-action {
      background-color: #ceebe0;
      color: $themeColor;
    }
  }
}

