@import '../../../../theme/theme.scss';

.commonSearch {
    display: flex;
    .conditionSearch {
        display: flex;
        background: #199475;
        border: 1px solid #007155;
        box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        height: 32px;
        align-items: center;
        color: #fff;
        position: relative;
        .searchBox {
          display: flex;
        }
        .closeSearch {
          position: absolute;
          //left: 186px;
          right: 42px;
          color: #999;
          z-index: 9;
          cursor: pointer;
          &:hover {
            color: #e08031;
          }
        }

        :global {
          .ant-input-search {
            margin: 0 4px;
            height: 30px;
            display: block;
          }
          .ant-input {
            height: 22px;
            margin: 3px 0;
            width: 0px;
            display: block;
            border: none;
            transition: width .5s ease-out;
            -moz-transition: width .5s ease-out;
            -webkit-transition: width 0.5s ease-out;
          }
          .ant-input-search-button {
            padding: 0;
            background: #199475;
            color: #fff;
            border: none;
            height: 30px;
            width: 30px;
            outline: none;
            border-radius: 0;
            box-shadow: none;
            min-width: 30px;
          }
        }
      }
    .closeConditionSearch {
      .closeSearch {
        display: none;
      }
      :global {
        .ant-input {
          padding-right: 0px;
          padding-left: 0px;
          border-radius: 0px;
          width: 0px;
        }
      }
    }
    .openConditionSearch {
      .closeSearch {
        display: black;
      }
      :global {
        .ant-input {
          padding-right: 20px;
          padding-left: 5px;
          border-radius: 2px;
          width: 200px;
        }
      }
    }
}