@import '../../../../theme/theme.scss';
@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}
.roleTableTooltip {
  display: flex;
  flex-direction: column;
  color:$darkColor;
  line-height: 1.5;
}

.roleTableTitle{
  color:$darkColor;
}

.roleTableHandleDropdown{
  width: 110px;
}

.roleList{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 24px 24px 0;
   background-color: #F0F2F5;
  min-width: 1100px;
  .roleContent{
    flex: 1;
    // display: flex;
    // flex-direction: column;

    // .tableBox {
    //   border: 1px solid #d4d4d4;
    //   border-top: none;
    //   box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
    //   background-color: red;
    // }
    .tableStyle {
      background: #ffffff;
      border: 1px solid #d4d4d4;
      border-top: none;
      box-shadow: 0 2px 5px 3px rgba(0,0,0, 0.20);
      height: 100%;
      min-width: 1000px;
      table{
        width: 100%;
        table-layout: fixed;
      }
      :global {
        .ant-table-footer {
          padding: 0 15px;
        }
        .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
          overflow-y: scroll;
          overflow-y: overlay;
          overflow-x: hidden;
          height: calc(100vh - 236px) !important;
        }
        .ant-table:not(.ant-table-empty) {
          .ant-table-body:after {
            content: url("/img/notabdata.png");
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 50px 10px 10px;
          }
        }
        .ant-table-placeholder {
          border-bottom: none;
        }
      }
    }
  }
  .editRole, .deleteRole{
    cursor: pointer;
    padding: 4px;
    &:hover{
      color: #ff9900;
    }
  }
  .editRole {
    margin-right: 4px;
  }
  .roleListTop {
    display: flex;
    min-height: 60px;
    line-height: 60px;
    justify-content: space-between;
    .rolelistTopBox{
      display: flex;
      align-items: center;
    }
    .addRole{
      margin-left: 20px;
      margin-right: 12px;
    }
    .handleRole{
      display: inline-block;
      :global{
        .ant-select{
          width: 90px;
         .ant-select-selection--single {
            border:1px solid #199475;
            border-radius:2px;
          }
          &:not(.ant-select-disabled) {
            .ant-select-selection__rendered .ant-select-selection-selected-value ,
            .ant-select-selection .ant-select-arrow {
              color:#199475;
            }
          }
          .ant-select-selection .ant-select-selection-selected-value {
            margin-left: 6px;
          }
        }
      }
    }
  }
  .totalNum {
    margin-right: 30px;
  }
  .tableFooter{
    // background-color: #fff;
    background-color: transparent;
    height: 45px;
    line-height: 45px;
    // border: 1px solid #e1e2e2;
    border-top: none;
    .info{
      color: $darkColor;
      margin-right: 20px;
      margin-left: 0px;
      .totalNum{
        color: rgb(250,185,7);
        margin: auto 4px;
      }
    }
    .cancel{
      color: $themeColor;
      cursor: pointer;
      &:hover {
        color: #f9b600;
      }    
    }
  }

  .menu {
    @include overflowText();
    width: calc(100% - 10px);
    cursor: pointer;
    &:hover {
      color:#60C060,
    }
  }
}

.roleEdit {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 24px 24px 0;
  .roleEditContent{
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    .editTop {
      @include top;
      justify-content: space-between;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        @include backIcon();
      }
      
    }
    .editPart{
      flex: 1;
      margin: 24px 32px 0;
      .instructionText{
        color: $promptColor;
      }
      .buttonGroup{
        .save{
          margin-left: 410px;
          margin-right: 16px;
        }
      }
      .treeNodeTitle{
        .upIcon,.downIcon{
          margin-left: 16px;
          font-size: 10px;
          svg{
            height: 8px;
            transform: scaleX(1.2);
          }
        }
        .upIcon{
          color: $promptColor;
        }
        .downIcon{
          color: $themeColor;
        }
      }
      :global{
        .ant-form-item{
          display: flex;
          line-height: 40px;
          .ant-form-item-label{
            width: 410px;
            color: $darkColor;
            text-align: right;
            padding-right: 24px;
            label::after{
              display: none;
            }
          }
          .ant-form-item-control-wrapper{
            input {
              width: 200px;
              margin-right: 12px;
            }
          }
        }
      }  
    }
  }
}

.tableModal{
  :global{
    .ant-modal{
      .ant-modal-close{
        top: -10px;
        .ant-modal-close-x{
          width: 40px;
          height: 35px;
          // font-size: 14px;
          .anticon{
            color: $themeColor;
            background: #ceebe0;
            border-radius: 50%;
            font-size: 12px;
            border: 2px solid #ceebe0;
            &:hover{
              background: #fff;
              border: 2px solid #fff;
            }
          }
        }
      }
      .ant-modal-header{
        padding: 5px 24px;
        background: $themeColor;
        .ant-modal-title{
          font-size: 14px;
          color: #fff;
        }
      }
      .ant-modal-body{
        overflow-x: hidden;
        max-height: 430px;
        &::-webkit-scrollbar {
          // 滚动条的设置
          width: 6px;
          height: 6px;
        }
        &::-webkit-scrollbar-track{
          border-radius:2px;
          background: #fff;
        }
        &::-webkit-scrollbar-thumb{
          width: 100px;
          background: rgba(0,0,0,0.50);
          border-radius:10px;
        }
      }
      .ant-spin-dot{
        margin-left: 270px;
      }
    }
  }
}

.rightTable{
  border: 1px solid #dfdfdf;
  .tableHeader{
    display: flex;
  }
  .tableHeader{
    min-height: 30px;
    background: #f4f4f4;
    .secondColumn{
      width: 145px;
      padding: 4px 4px 4px 9px;
      border-right: 1px solid #dfdfdf;
    }
    .thirdColumn{
      width: 446px;
      padding: 4px 4px 4px 9px;
    }
  }
  .tableContent{
    // min-height: 30px;
    border-bottom: 1px solid #dfdfdf;
    &:last-child{
      border-bottom: 0;
    }
    .rows{
      display: flex;
      border-bottom: 1px solid #dfdfdf;
      &:last-child{
        border-bottom: 0;
      }
    }
    .secondMenu{
      width: 145px;
      padding: 4px 4px 4px 9px;
      border-right: 1px solid #dfdfdf;
    }
    .thirdMenu{
      width: 446px;
      padding: 4px 4px 4px 9px;
      .partition{
        padding: 0 3px;
        display: inline-block;
      }
      .rightName{
        &:last-child{
          .partition:last-child{
            display: none;
          }
        }
      }
    }
  }
}
