@import '../../../../theme/theme.scss';
@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;
}
.roleTableTooltip {
  display: flex;
  flex-direction: column;
  color:$darkColor;
  line-height: 1.5;
}
.roleTableTitle{
  color:$darkColor;
}
.roleTableHandleDropdown{
  width: 110px;
}
.roleList{
  @include contentBoxStyle();
  .roleContent{
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
  }
  .editRole, .deleteRole{
    cursor: pointer;
    margin-right: 12px;
  }
  .roleListTop {
    background: #fff;
    display: flex;
    min-height: 72px;
    line-height: 72px;
    justify-content: space-between;
    .addRole{
      padding : 0;
      margin-left: 24px;
      margin-right: 12px;
      border: 1px solid $themeColor;
      i{
        display: inline-block;
        background:$themeColor;
        color: #fff;
        vertical-align: top;
        width: 28px;
        line-height: 30px;
        height: 100%;
        border-radius: 2px 0 0 2px;
      }
      .text{
        border-radius: 0 2px 2px 0;
        background:#fff;
        color:$themeColor;
        display: inline-block;
        height: 100%;
        width: 38px;
        line-height: 30px;
        margin: 0px;
        text-align: center;
      }
      @include highLight($themeColor);
      &:hover{
        .text{
          background:$themeColor;
          color: #fff;
        }
      }
    }
    .handleRole{
      height: 72px;
      line-height: 72px;
      display: inline-block;
      :global{
        .ant-select{
          width: 78px;
        }
      }
    }
  }
  .tableFooter{
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e1e2e2;
    border-top: none;
    .info{
      color: $darkColor;
      margin-right: 20px;
      margin-left: 24px;
      .totalNum{
        color: rgb(250,185,7);
        margin: auto 4px;
      }
    }
    .cancel{
      color: $themeColor;
      cursor: pointer;
    }
  }
  .menu {
    max-width: 500px;
    height: 30px;
    line-height: 30px;
    padding-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    word-break:keep-all;
  }
}

.roleEdit {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 24px 24px 0;
  .roleEditContent{
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    .editTop {
      @include top;
      justify-content: space-between;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        color: $darkColor;
        font-size: 20px;
        border-left: 1px solid $promptColor;
        height: 100%;
        line-height: 64px;
        width: 64px;
        cursor: pointer;
      }

    }
    .editPart{
      flex: 1;
      margin: 24px 32px 0;
      .instructionText{
        color: $promptColor;
      }
      .buttonGroup{
        .save{
          margin-left: 410px;
          margin-right: 16px;
        }
      }
      .treeNodeTitle{
        .upIcon,.downIcon{
          margin-left: 16px;
          font-size: 10px;
          svg{
            height: 8px;
            transform: scaleX(1.2);
          }
        }
        .upIcon{
          color: $promptColor;
        }
        .downIcon{
          color: $themeColor;
        }
      }
      :global{
        .ant-form-item{
          display: flex;
          line-height: 40px;
          .ant-form-item-label{
            width: 410px;
            color: $darkColor;
            text-align: right;
            padding-right: 24px;
            label::after{
              display: none;
            }
          }
          .ant-form-item-control-wrapper{
            input {
              width: 200px;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}
