@import '../../../../theme/theme.scss';
.warehouseWrap{
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .warehouseCenter{
    @include contentBoxStyle();
    .warehouseBox{
      display: flex;
      flex: 1;
      flex-direction: column;
      background: $pageGround;
      .warehouseDiv{
        width: 100%;
        flex: 1 auto;
        display: flex;
        flex-direction: column;
        .warehouseTabs{
          display: flex;
          width: 100%;
          padding-left: 15px;
          line-height: 40px;
          background: #f0f2f5;
          p{
            width: 120px;
            text-align: center;
            cursor: pointer;
            margin-bottom: -2px;
            color: $themeColor;
          }
          .checkBtn{
            position: relative;
            background: $pageGround;
            border-right: 1px solid $themeColor;
            border-left: 1px solid $themeColor;
            &::before{
              content: "";
              position: absolute;
              width: 120px;
              height: 2px;
              top: 0;
              left: -1px;
              background: $themeColor;
            }
          }
          .unCheckBtn{
          }
        }
      }
    }
  }
}
