@import '../../../../theme/theme.scss';
.warehouseWrap{
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .warehouseCenter{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 25px 0 25px;
    background-color: $pageBackground;
    .warehouseBox{
      display: flex;
      flex: 1;
      flex-direction: column;
      background: $pageGround;
      .warehouseDiv{
        width: 100%;
        .warehouseTabs{
          width: 100%;
          height: 34px;
          background-color: #f8f8f8;
          button{
            width: 120px;
            border: none;
            outline: none;
            cursor: pointer;
            @include lineheight(34px);
            background-color: #f8f8f8;
          }
          .checkBtn{
            border-bottom: 2px solid $themeColor;
            color: $themeColor;
          }
          .unCheckBtn{
            border-bottom: 2px solid #f8f8f8;
            color: $lightColor;
          }
        }
      }
    }
  }
}
