@import '../../../../theme/theme.scss';

.dailySearch{
  .typeCheck{
    display: flex;
    .typeNormal, .typeActive{
      height: 40px;
      line-height: 40px;
      flex-basis: 120px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      border-left: none;
    }
    .typeActive{
      border-bottom: none;
    }
    .holder{
      flex: 1;
    }
  }
  .searchPart{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 38px;
    .text{
      margin-right: 4px;
    }
    .category{
      margin-bottom: 18px;
      :global{
        .ant-radio-button-wrapper{
          padding: 0 5px;
        }
      }
    }
    .searchChange{
      display: flex;
      .stationSelect{
        display: flex;
        align-items: center;
      }
      .faultInformation,.powerInformation,.quotaSelect{
        display: flex;
      }
      .powerInformation,.quotaSelect,.lossElectric{
        .text{
          width: 74px;
          line-height: 32px;
        }
      }
      .stationSelect,.quotaSelect,.lossElectric,.keyword,.powerInformation,.timeSelect,.search,.reset{
        margin-right: 24px;
      }
      .reset{
        line-height: 32px;
        cursor: pointer;
      }
      .keyword{
        :global{
          .ant-input{
            width: 263px;
          }
        }
      }
    }
  }
}

.quotaList{

}

// 颜色
.dailySearch{
  background-color: #fff;
  .typeNormal, .typeActive{
    border: 1px solid $promptColor;
    color: $lightColor;
    background-color: #f8f8f8;
  }
  .typeActive{
    background-color: #fff;
    border-top: 2px solid $themeColor;
    color: #000;
  }
  .holder{
    background-color: #f8f8f8;
    border-top: 1px solid $promptColor;
    border-bottom: 1px solid $promptColor;
  }
  .search{
    color: $themeColor;
    border-color: $themeColor
  }
  .reset{
    color: $themeColor;
  }
}

.quotaList{
  background-color: #fff;
  min-height: 100%;
}
