@import '../../../../theme/theme.scss';

.dailySearch{
  .typeCheck{
    display: flex;
    .typeNormal, .typeActive{
      height: 40px;
      line-height: 40px;
      flex-basis: 120px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      border-left: none;
    }
    .typeActive{
      border-bottom: none;
    }
    .holder{
      flex: 1;
    }
  }
  .searchPart{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .text{
      margin-right: 4px;
    }
    .category{
      margin: 0 0 18px 38px;
      :global{
        .ant-radio-button-wrapper{
          padding: 0 5px;
          color: $themeColor;
        }
        .ant-radio-button-wrapper-checked{
          color: #fff;
        }
      }
    }
    .searchChange{
      display: flex;
      background-color: #f8f8f8;
      padding-left: 38px;
      height: 50px;
      .stationSelect,.quotaSelect,.lossElectric,.keyWord,.powerInformation,.timeSelect{
        display: flex;
        align-items: center;
      }
      .stationSelect{
        line-height: 45px;
      }
      .faultInformation,.powerInformation,.quotaSelect{
        display: flex;
      }
      .powerInformation{
        .text{
          width: 78px;
          line-height: 32px;
        }
      }
      .stationSelect,.quotaSelect,.lossElectric,.keyWord,.powerInformation,.timeSelect,.search,.reset{
        margin-right: 16px;
      }
      .search,.reset{
        margin-top: 8px;
      }
      .keyWord{
        :global{
          .ant-input{
            width: 249px;
          }
        }
      }
      .timeSelect{
        :global{
          .ant-calendar-picker{
            width: 217px;
          }
        }
      }
    }
  }
}

.quotaList,.limitList,.faultList{
  flex: 1;
  :global{
    .ant-table .ant-table-thead > tr > th.numberStyle, .ant-table table .ant-table-tbody > tr > td.numberStyle{
      padding: 0 10px;
    }
    .ant-table-scroll{
      table{
        .ant-table-fixed-columns-in-body{
          visibility: visible;
        }
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: space-between;
    height: 50px;
    .listExport,.disabledExport{
      margin: 10px 0 0 38px;
    }
  }
}

.quotaList,.faultList,.limitList{
  :global{
    // quotaList
    .stationNameText, .regionNameText, .deviceTypeNameText, .deviceNameText, .reasonText, .faultTypeNameText, .manufactorNameText, .deviceModeNameText{
      @include overflowText();
    }
    // 关键指标
    .stationNameText{
      width: 120px;
    }
    .regionNameText{
      width: 70px;
    }
    // 限电
    .deviceTypeNameText{
      width: 100px;
    }
    .deviceNameText{
      width: 90px;
    }
    .reasonText{
      width: 160px;
    }
    // 故障信息
    .faultTypeNameText{
      width: 130px;
    }
    .manufactorNameText{
      width: 160px;
    }
    .deviceModeNameText{
      width: 140px;
    }
  }
}

// 颜色
.dailySearch{
  background-color: #fff;
  .typeNormal, .typeActive{
    border: 1px solid $promptColor;
    color: $lightColor;
    background-color: #f8f8f8;
  }
  .typeActive{
    background-color: #fff;
    border-top: 2px solid $themeColor;
    color: #000;
  }
  .holder{
    background-color: #f8f8f8;
    border-top: 1px solid $promptColor;
    border-bottom: 1px solid $promptColor;
  }
}

.quotaList,.limitList,.faultList{
  background-color: #fff;
}
