@import '../../../../theme/theme.scss';

.dailySearch{
  .typeCheck{
    display: flex;
    padding-left: 12px;
    .typeNormal, .typeActive{
      width: 98px;
      cursor: pointer;
      margin-bottom: -2px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .searchPart{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    .text{
      margin-right: 4px;
    }
    .category{
      margin: 0 0 10px 38px;
    }
    .searchChange{
      display: flex;
      padding-left: 38px;
      height: 50px;
      .stationSelect,.quotaSelect,.lossElectric,.keyWord,.powerInformation,.timeSelect{
        display: flex;
        align-items: center;
      }
      .stationSelect{
        line-height: 45px;
      }
      .faultInformation,.powerInformation,.quotaSelect{
        display: flex;
      }
      .powerInformation{
        .text{
          width: 78px;
          line-height: 32px;
        }
      }
      .stationSelect,.quotaSelect,.lossElectric,.keyWord,.powerInformation,.timeSelect,.search,.reset{
        margin-right: 12px;
      }
      .search,.reset{
        margin-top: 8px;
      }
      .keyWord{
        :global{
          .ant-input{
            width: 249px;
          }
        }
      }
      .timeSelect{
        :global{
          .ant-calendar-picker{
            width: 217px;
          }
        }
      }
    }
  }
}

.quotaList,.limitList,.faultList{
  flex: 1;
  .pagination{
    display: flex;
    justify-content: space-between;
    height: 50px;
    .listExport,.disabledExport{
      margin: 10px 0 0 38px;
    }
  }
}

.quotaList,.faultList,.limitList{
  :global{
    // quotaList
    .stationNameText, .regionNameText, .deviceTypeNameText, .deviceNameText, .reasonText, .faultTypeNameText, .manufactorNameText, .deviceModeNameText{
      @include overflowText();
    }
    // 关键指标
    .stationNameText{
      width: 120px;
    }
    .regionNameText{
      width: 70px;
    }
    // 限电
    .deviceTypeNameText{
      width: 100px;
    }
    .deviceNameText{
      width: 90px;
    }
    .reasonText{
      width: 160px;
    }
    // 故障信息
    .faultTypeNameText{
      width: 130px;
    }
    .manufactorNameText{
      width: 160px;
    }
    .deviceModeNameText{
      width: 140px;
    }
  }
}

// 颜色
.dailySearch{
  background-color: #fff;
  .typeCheck{
    background: #f0f2f5;
    border-bottom: 1px solid var(--themeColor);
  }
  .typeNormal, .typeActive{
    color: var(--themeColor);
  }
  .typeActive{
    background: #fff;
    border: 1px solid var(--themeColor);
    border-top: 2px solid var(--themeColor);
    border-bottom: none;
  }
  .searchPart{
    border-bottom:1px dashed #d4d4d4;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  }
}

.quotaList,.limitList,.faultList{
  background-color: #fff;
  box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
}
