@import '../../../../theme/theme.scss';
.stockRecordsBox{
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .stockRecordsCenter{
    @include contentBoxStyle();
    .stockRecordsContent{
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
    }
  }
}
