
@import '../../../../../theme/theme.scss';

.list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  .eachStation{
    text-align: center;
    font-size: 18px;
    flex: 0 0 18%;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
    border-radius:4px;
    width:212px;
    margin-left: 1.66%;
    margin-bottom: 20px;
  }
  .eachStation:nth-child(5n) {
    margin-right: 1.66%;
  }
}

.list{
  background-color: #fff;
  .eachStation{
    border: 4px solid $themeColor;
    color: $themeColor;
    background:#ffffff;
    box-shadow:0 2px 4px 1px rgba(0,0,0,0.30);
  }
  .eachStation:hover{
    border: none;
    color: #fff;
    background-image:linear-gradient(-180deg, #36c6ad 0%, #199475 100%);
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.30), inset 0 0 4px 2px rgba(255,255,255,0.50);
  }
}