@import '../../../../theme/theme.scss';
.alarmFilter {
  min-height: 80px;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 26px 28px 20px;
  .topSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    .text {
      color: $lightColor;
      margin-right: 16px;
    }
    button {
      margin-right: 16px;
    }
  }
  .filterBox {
    display: flex;
    flex-shrink: 0;
  }
}
.alarmTable {
  display: flex;
  flex-direction: column;
  .tableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: 55px;
    padding: 0 28px;
    background-color: #fff;
  }
  :global {
    .icon-action {
      background-color:#ceebe0;
      color: $themeColor;
      width:30px;
      height:30px;
      border-radius:100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.filteredItems {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  align-items: center;
  >span:first-child {
    color: $lightColor;
    font-size: 14px;
    margin-right: 16px;
  }
  >span:last-child {
    color: $themeColor;
    font-size: 14px;
    cursor: pointer;
  }
}