@import '../../../../../theme/theme.scss';
@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}
.detailWrap {
  display: flex;
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  .inspectDetail{
    display: flex;
    flex-direction: column;
    flex: 1;
    .header {
      @include top;
      justify-content: space-between;
      height: 60px;
      .text{
        font-size:18px;
        color: $darkColor;
        letter-spacing:4px;
      }
      .backIcon{
        @include backIcon();
      }
      :global {
        .icon-last, .icon-next {
          font-size: 20px;
          margin-right: 20px;
          // color: $darkColor;
        }
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 24px 36px;
      .left {
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
        border-radius:2px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 18px 28px;
        background-color: #f8f8f8;
        .basic {
          display: flex;
          flex-direction: column;
          margin-bottom: 36px;
        }
        .abnormal {
          display: flex;
          flex-direction: column;
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 24px;
        padding: 18px 0;
        .timeLines {
          display: flex;
          flex-grow: 0;
          flex-shrink: 1;
          overflow-y: auto;
        }
        .form {
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          .title {
            display: flex;
            flex-direction: row;
            margin-bottom: 18px;
            align-items: flex-start;
            .border {
              display: flex;
              flex: 1;
              height: 16px;
              border-bottom: 1px #f1f1f1 solid;
            }
            .text {
              background-color: #f8f8f8;
              color: rgba(0,0,0,0.85);
              border: 1px solid #f1f1f1;
              border-radius: 2px;
              width: 95px;
              height: 30px;
              display: flex;
              font-weight: 700;
              align-items: center;
              justify-content: center;
            }
          }
          .checkInspect {
            display: flex;
            flex-direction: column;
            margin-top: 9px;
            .transferBtn {
              width: 185px;
              margin-bottom: 12px;
            }
            .checkBtn {
              width: 185px;
              color: #f9b600;
              background-color: #fff;
              margin-top: 30px;
              margin-bottom: 12px;
            }
            :global {
              .ant-btn:not([disabled]):first-of-type {
                color: $themeColor;
                border-color: $themeColor;
                background-color: #fff;
                &:hover {
                  color: #fff;
                  background-color: $themeColor;
                }
              }
            }
          }
        }
      }
    }
  }
}