
.waterWave {
  display: inline-block;
  position: relative;
  transform-origin: left;
  .waterWaveText {
    position: absolute;
    left: 0;
    top: 32px;
    text-align: center;
    width: 100%;
    span {
      color: rgb(3, 195, 154);
      font-size: 14px;
      line-height: 22px;
    }
    h4 {
      color: #199475;
      //font-weight: 700;
      line-height: 32px;
      font-size: 24px;
    }
  }
  .waterWaveCanvasWrapper {
    transform: scale(.5);
    transform-origin: 0 0;
  }
}
