@import "../../../../theme/theme.scss";
.customizeBox {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.light {
  .customizeContainer {
    @include contentBoxStyle();
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .customizeContainer {
    @include contentBoxStyle();
  }
}
