@import '../../../../theme/theme.scss';

.workExaminer{
  .paginationRow{
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    height: 60px;
  }
  .examinerTable{
    :global{
      .ant-table .ant-table-tbody > tr > td:last-child, .ant-table .ant-table-thead > tr > th:last-child{
        padding-right: 0;
      }
    }
    .stationName,.createTime,.state,.handle{
      width: 25%;
    }
    .stationNameText{
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc((100vw - 250px) * 0.24 - 20px);
    }
  }
  table { 
    .setted {
      color:#353535;
    }
    .notSet {
      color:#f9b600;
    }
    .handler{
      .iconShow{
        visibility: visible;
      }
      .iconHide{
        visibility: hidden;
      }
      :global{
        .iconfont{
          font-size: 20px;
          cursor: pointer;
          margin-right: 24px;
          color: $themeColor;
          &:hover{
            color: #f9b600;
          }
        }
      }
    }
  }
}

.detailModal{
  .eachInfo{
    display: flex;
    height: 40px;
    align-items: center;
    color: $darkColor;
    .nodeName{
      flex: 145px 0 0;
      text-align: right;
      margin-right: 16px;
    }
    .users{
      flex: 1;
      @include overflowText();
    }
  }
}

.editModal{
  .formPart{
    :global{
      .ant-form-item{
        display: flex;
        margin-bottom: 8px;
        .ant-form-item-label{
          flex: 145px 0 0;
          text-align: right;
          margin-right: 16px;
        }
        .ant-form-explain{
          margin-left: 12px;
          display: inline-block;
        }
      }
    }
  }
  .editHandle{
    display: flex;
    .holder{
      flex: 160px 0 0;
    }
    .cancelButton{
      margin-right: 36px;
      background-color: transparent;
      color: #666;
      border: none;
      &::after {
        transition: none;
      }

      &:hover {
        &::after {
          background-color: transparent;
        }
        color: #199475;
      }
    }
  }
}