@import '../../../../theme/theme.scss';

.monitorDevice{
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $promptColor;
  padding: 24px 24px 0;
}