@import '../../../../theme/theme.scss';

.scatterDiagram{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .contentBox{
    @include contentBoxStyle();
  }
  .scatterDiagramContent{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    .dataCenter{
      display: flex;
      flex: 1;
    }
  }
}