.transferBox {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .transferColor {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    overflow: hidden;
  }
  .transferContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    .transBox {
      display: flex;
      flex: 1 0 auto;
      width: 100%;
      z-index: 1;
      flex-direction: column;
    }
    .detailBox {
      display: flex;
      flex: 1 0 auto;
      width: 100%;
      z-index: 10;
      flex-direction: column;
      min-height: 100%;
    }
  }
}

.light {
  .transferColor {
    background-color: #ececec;
  }
  .transferContainer {
    background: #fff;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .transferColor {
    background: $background;
  }
  .transferContainer {
    background: $background;
  }
}
