.transferBox {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    .transferColor{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 24px 0 24px;
        background-color: #ececec;
        overflow: hidden;
    }
    .transferContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        overflow: hidden;
        .transBox {
            display: flex;
            flex: 1 0 auto;
            width: 100%;
            z-index: 1;
            flex-direction: column;
        }
        .detailBox {
            display: flex;
            flex: 1 0 auto;
            width: 100%;
            z-index: 10;
            flex-direction: column;
            min-height: 100%;
        }
    }
}