@import "../../../theme/theme.scss";

.warningTipWrapBox {
  .warningTip {
    // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    // background-color: #fff;
    padding: 16px 16px 0 16px;
    .textArea {
      .icon {
        // background-color: #f9b600;
        border-radius: 50%;
        // color: #fff;
        margin-right: 8px;
      }
      .text {
        // color: $darkColor;
        font-size: 12px;
      }
    }
    .handle {
      text-align: right;
      margin-top: 16px;
      span {
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        margin-left: 24px;
        padding: 0 8px;
        // color: $darkColor;
        &:hover {
          // background-color: $themeColor;
          // color: #fff;
        }
      }
      .confirmBtn {
        // background-color: $themeColor;
        // color: #fff;
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        // background-color: transparent;
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}

.light {
  .warningTip {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    padding: 16px 16px 0 16px;
    .textArea {
      .icon {
        background-color: #f9b600;
        border-radius: 50%;
        color: #fff;
        margin-right: 8px;
      }
      .text {
        color: $darkColor;
        font-size: 12px;
      }
    }
    .handle {
      text-align: right;
      margin-top: 16px;
      span {
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        margin-left: 24px;
        padding: 0 8px;
        color: $darkColor;
        &:hover {
          background-color: $themeColor;
          color: #fff;
        }
      }
      .confirmBtn {
        background-color: $themeColor;
        color: #fff;
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        background-color: transparent;
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  .warningTip {
    background: $slide-backgound;
    border: 1px solid $slide-border;
    box-shadow: inset 0 0 5px 2px $slide-border-shadow;
    .textArea {
      .icon {
        background-color: #f8b14e;
        color: #999;
      }
      .text {
        color: $fontColor-invert;
      }
    }
    .handle {
      span {
        color: $fontColor-invert;
        &:hover {
          color: $fontColor-hover;
        }
      }
      .confirmBtn {
        background: $button-active;
        &:hover {
          color: $fontColor-invert;
          // box-shadow: inset 0 0 4px 1px $border-shadow-color;
        }
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        background-color: transparent;
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}
