
@import '../../../../theme/theme.scss';

.eventAnalysis{
  height: 100%;
  display: flex;
  flex-direction: column;
  .detailTop{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 60px;
    .titleInfo{
      display: flex;
      align-items: center;
      .titleName{
        font-size: 18px;
        flex: 0 0 142px;
        text-align: center;
      }
      .infoText{
        flex: 0 0 auto;
        font-size: 14px;
        margin-right: 16px;
      }
    }
    .topHandle{
      height: 60px;
      display: flex;
      flex: 0 0 150px;
      justify-content: flex-end;
      align-items: center;
      .showMore{
        margin-right: 12px;
        padding: 0 2px;
        .shadow{
          line-height: 24px;
          padding: 0 2px;
          border-radius: 50%;
        }
        :global{
          .iconfont{
            margin-right: 4px;
          }
        }
      }
      .backIcon{
        cursor: pointer;
        flex: 0 0 60px;
        font-size: 20px;
        line-height: 60px;
      }
    }
  }
  .analysisSearch{
    flex: 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    .searchText{
      font-size:18px;
    }
    .searchParts{
      display: flex;
      flex: 0 0 500px;
      justify-content: flex-end;
      align-items: center;
      line-height: 60px;
      .intervalSelect{
        margin: 0 40px 0 4px;
        width: 114px;
        :global{
          .ant-select-selection{
            height: 24px;
          }
          .ant-select-selection__rendered{
            line-height: 22px;
          }
        }
      }
      .leftIcon, .rightIcon{
        flex: 0 0 22px;
        height: 24px;
        line-height: 24px;
        border-radius: 2px;
        cursor: pointer;
      }
      .dateSelect{
        margin: 0 4px;
        width: 128px;
        :global{
          .ant-calendar-picker-input.ant-input{
            height: 24px;
          }
        }
      }
    }
  }
  .analysisChart{
    flex: 1;
    .chartTooltip{
      .tooltipTitle{
        margin-bottom: 4px;
        height: 30px;
        line-height: 30px;
      }
      .eachItem{
        height: 24px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        .tipRect{
          flex: 0 0 12px;
          height: 12px;
          border-radius: 2px;
        }
        .tipIcon{
          position: relative;
          flex: 0 0 12px;
          height: 24px;
          .line{
            position: absolute;
            height: 2px;
            width: 12px;
            left: 0;
            top: 11px;
          }
          .rect{
            position: absolute;
            width: 6px;
            height: 6px;
            left: 3px;
            top: 9px;
            border-radius: 50%;
          }
        }
        .tipName{
          line-height: 24px;
          padding: 0 12px 0 4px;
        }
        .tipValue{
          flex: 0 0 auto;
          line-height: 24px;
        }
      }
    }
  }
}


.eventAnalysis{
  background-color: #fff;
  box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
  .detailTop{
    border-bottom: 1px solid #d4d4d4;
    .titleInfo{
      .titleName{
        color: #353535;
      }
      .infoText{
        color: var(--lightColor);
      }
    }
    .topHandle{
      color: var(--themeColor);
      .showMore{
        background:rgba(206,235,224,0.30);
        &:hover .shadow{
          background-color: rgb(206,235,224);
        }
      }
      
      .backIcon{
        border-left: 1px solid #d4d4d4;
        color: var(--lightColor);
      }
    }
  }
  .analysisSearch{
    .searchText{
      color: #000;
    }
    .searchParts{
      color: #353535;
      .intervalSelect{
        
      }
      .leftIcon, .rightIcon{
        background-color: #ceebe0;
        border:1px solid var(--themeColor);
        &:hover{
          color: #fff;
          background-color: var(--themeColor);
        }
      }
      .dateSelect{
        
      }
    }
  }
  .analysisChart{
    .chartTooltip{
      .tooltipTitle{
        color: #fff;
      }
      .eachItem{
        .tipRect{
          border: 1px solid #fff;
        }
        .tipIcon{
          .rect{
            border: solid 1px #fff;
          }
        }
        .tipName{
          color: #fff;
        }
        .tipValue{
          color: #fff;
        }
      }
    }
  }
}





