@import "../../../theme/theme.scss";
.filterCondition {
  min-height: 80px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 26px 28px 20px;
  .topSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    .text {
      margin-right: 16px;
    }
    button {
      margin-right: 16px;
    }
  }
  .filterBox {
    display: flex;
    flex-shrink: 0;
  }
  .statusGroup {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      > span:first-child {
        margin-right: 28px;
      }
    }
  }
}

.filterItem {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 2px;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-input {
      width: 300px;
    }
  }
  .all {
    display: inline-block;
    width: 29px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
  }
  .selected {
    display: inline-block;
    width: 29px;
    height: 19px;
    cursor: pointer;
    text-align: center;
  }
}

.stationFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  max-height: 190px;
  min-height: 40px;
  overflow-y: auto;
  border-radius: 2px;
  padding: 10px 16px;
  padding-bottom: 24px;
}

.defectTypeFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 10px 0;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 2px;
  background-color: #f0f2f5;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-checkbox-group-item {
      margin-bottom: 8px;
    }
  }
  .all {
    display: inline-block;
    color: $darkColor;
    width: 45px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
    word-break: keep-all;
  }
  .selected {
    display: inline-block;
    color: $themeColor;
    width: 30px;
    height: 19px;
    border-bottom: 1px $themeColor solid;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
}

.filteredItems {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  align-items: center;
  flex-wrap: wrap;
  > span:first-child {
    font-size: 14px;
    margin-right: 16px;
    height: 20px;
  }
  .clearAll {
    font-size: 14px;
    cursor: pointer;
  }
  :global {
    .ant-tag {
      border-style: dashed;
      padding: 0 10px;
      height: 30px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-right: 16px;
      margin-top: 5px;
    }
  }
}

.light {
  background-color: #fff;
  color: $darkColor;
  .filterItem {
    background-color: #f0f2f5;
    :global {
      .ant-input {
        &:hover {
          border-color: $themeColor;
        }
      }
    }
    .selected {
      color: $themeColor;
      border-bottom: 1px $themeColor solid;
    }
  }

  .stationFilter {
    background-color: #f0f2f5;
  }

  .filteredItems {
    .clearAll {
      color: $themeColor;
    }
  }

  :global {
    .ant-radio-button-wrapper {
      color: $darkColor;
    }
    .ant-tag {
      background: #fff;
    }
    .ant-radio-button-wrapper-checked {
      background-color: $themeColor;
      border: 1px solid $themeColor;
      color: #fff;
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  color: $fontColor;
  .filterItem {
    color: $fontColor;
    background-color: #1e246e;
    .selected {
      color: $fontColor-hover;
      border-bottom: 1px solid $fontColor-hover;
    }
  }
  .stationFilter {
    background-color: #1e246e;
  }
  .filteredItems {
    .clearAll {
      color: $fontColor-hover;
    }
  }
  :global {
    .ant-tag {
      background: transparent;
      color: $fontColor;
      border: 1px dashed $fontColor;
      .anticon-close {
        color: $fontColor;
      }
      &:hover {
        background: #fcffe5;
        border: 1px solid #f8b14e;
        color: #f8b14e;
        .anticon-close {
          color: #f8b14e;
        }
      }
    }
    .ant-tabs-bar {
      border-bottom: 1px solid $border-color;
    }
    .ant-tabs-nav-scroll {
      background: transparent !important;
    }
    .ant-tabs-tab-prev,
    .ant-tabs-tab-next {
      color: $fontColor;
      &:hover {
        color: $fontColor-hover;
      }
    }
    .ant-tabs-nav .ant-tabs-tab {
      &:hover {
        color: $fontColor-hover;
      }
    }
  }
}
