@import "../../../theme/theme.scss";
.filterCondition {
  min-height: 80px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 26px 28px 20px;
  .topSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    .text {
      color: $darkColor;
      margin-right: 16px;
    }
    button {
      margin-right: 16px;
      color: $darkColor;
    }
  }
  .filterBox {
    display: flex;
    flex-shrink: 0;
  }
  .statusGroup {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      color: $darkColor;
      > span:first-child {
        margin-right: 28px;
      }
    }
    :global {
      .ant-radio-button-wrapper {
        padding: 0 8px;
        color: $darkColor;
      }
      .ant-radio-button-wrapper-checked {
        background-color: $themeColor;
        border: 1px solid $themeColor;
        color: #fff;
      }
    }
  }
}

.filterItem {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #f0f2f5;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-input {
      width: 300px;
      &:hover {
        border-color: $themeColor;
      }
    }
  }
  .all {
    display: inline-block;
    color: $darkColor;
    width: 29px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
  }
  .selected {
    display: inline-block;
    color: $themeColor;
    width: 29px;
    height: 19px;
    border-bottom: 1px $themeColor solid;
    cursor: pointer;
    text-align: center;
  }
}

.stationFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  max-height: 190px;
  min-height: 40px;
  overflow-y: auto;
  border-radius: 4px;
  background-color: #f0f2f5;
  padding-left: 26px;
  padding-bottom: 24px;
  // .allCheck {
  //     flex: 0 0 70px;
  // }
}

.deviceTypeFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 10px 0;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #f0f2f5;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-checkbox-group-item {
      margin-bottom: 8px;
    }
  }
  .all {
    display: inline-block;
    color: $darkColor;
    width: 35px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
    word-break: keep-all;
  }
  .selected {
    display: inline-block;
    color: $themeColor;
    width: 30px;
    height: 19px;
    border-bottom: 1px $themeColor solid;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
}

.defectTypeFilter {
  margin-top: 10px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 10px 0;
  flex-shrink: 0;
  padding-left: 26px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #f0f2f5;
  > span {
    margin-right: 10px;
  }
  :global {
    .ant-checkbox-group-item {
      margin-bottom: 8px;
    }
  }
  .all {
    display: inline-block;
    color: $darkColor;
    width: 45px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
    word-break: keep-all;
  }
  .selected {
    display: inline-block;
    color: $themeColor;
    width: 30px;
    height: 19px;
    border-bottom: 1px $themeColor solid;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
}

.filteredItems {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  align-items: center;
  flex-wrap: wrap;
  > span:first-child {
    color: $darkColor;
    font-size: 14px;
    margin-right: 16px;
    height: 20px;
  }
  .clearAll {
    color: $themeColor;
    color: $themeColor;
    font-size: 14px;
    cursor: pointer;
  }
  :global {
    .ant-tag {
      border-style: dashed;
      padding: 0 10px;
      height: 30px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-right: 16px;
      background: #fff;
      margin-top: 5px;
    }
  }
}

.light {
  background-color: #fff;
}

.dark {
  @import "../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  color: $fontColor;
}
