@import '../../../../theme/theme.scss';

@mixin top {
  @include lineheight(54px);
  display: flex;
  align-items: center;
}

.partInfoBox {
  display: flex;
  flex: 1;
  flex-direction: column;

  .title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 35px;

    .checkStation {
      display: flex;
      align-items: center;
      line-height: 40px;
      .stationName{
        margin-right: 8px;
      }

    }

    .buttonBox{
      display: flex;
      .importInfo,
      .exportInfo {
        margin-left: 16px;
      }
      .exportInfo {
        width: 90px;
      }
    }
  }

  .conatainer {
    display: flex;
    flex: 1;

    .leftTree {
      display: flex;
      flex-direction: column;
      width: 482px;
      border-right: 1px solid #d9d9d9;
      padding: 12px 35px;
    }

    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 18px;

      .addParts {
        display: flex;
      }
      .plusButton {
        width: 90px;
        margin: 8px 0;
        margin-right: 16px;
        display: flex;
        padding: 0 15px 0 10px;
        .icon {
          margin: 0 16px 0 0;
        }
      }
      .copyCom {
        margin: 8px 0;
        width: 90px;
      }

      table{
        table-layout: fixed;
      }

      .comName {
        color:var(--themeColor);
        &:hover{
          color:#f9b600
        }
      }
      .overFlowText,.comName{
        background: pink;
        display: block;
        @include overflowText();
      }
      .operate{
        display: flex;
        justify-content: space-evenly;
      }
      .edit,.del{
        font-size: 20px;
        color:var(--themeColor);
        &:hover{
          color:#f9b600
        }
      }
    }
  }

}

.partsInfoSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  background: #f0f2f5;
  padding: 0 24px;
  z-index: 99;

  .addDevice,
  .editDevice {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
   

    .preFormStyle {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .formItemStyle {
        display: flex;
      }

      .fontColor {
        color: #199475;
      }

      .nextButton {
        margin-left: 200px;
        width: 90px;
      }

      :global {

        .ant-select,
        .ant-cascader-picker {
          width: 198px;
        }

        .ant-form-item-label {
          width: 200px;
        }

        .ant-btn {
          width: 200px;
        }
      }
    }

    .editTop {
      @include top;
      justify-content: space-between;
      .text {
        font-size: 18px;
        color: var(--themeColor);
        letter-spacing: 4px;
      }

      .backIcon {
        @include backIcon();
      }
    }

    .editPart {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      background: #fff;
      box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2);

      .formItemStyle {
        display: flex;
        width: 500px;

        .fontColor {
          margin-left: 4px;
          color: #199475;

          i {
            font-size: 20px
          }
        }
      }

      :global {
        .ant-form-item-label {
          width: 160px;
        }

        .ant-form-item,
        .ant-form-horizontal {
          margin-bottom: 4px;
        }

        .ant-select,
        .ant-cascader-picker {
          width: 198px;
        }

        .ant-input {
          width: 198px;
        }

        .ant-btn {
          padding: 0 11px;
        }
      }

      .submitStyle {
        margin-top: 12px;
        display: flex;

        .leftsave,
        .saveandgo,
        .submitForm {
          margin-right: 20px;
        }
        
        .leftsave,
        .submitForm {
          width: 90px;
        }

        .editSave {
          width: 90px;
        }
      }

      .defaultConfigStyles {
        margin: 12px 0;
      }

      .unitStyle {
        margin-left: 8px;
      }
    }

  }


}

.nextButton {
  margin-left: 156px;
  width: 90px;
}

.detailPartsinfoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px 0 0 40px;

  .infoPart {
    display: flex;
    flex-direction: column;
    flex: 1;

    .eachInfo {
      display: flex;

      .infoName {
        width: 150px;
        height: 36px;
        text-align: right;
        margin-right: 12px;
        color: $darkColor;
      }

      .infoValue {
        flex: 1;
        color: $darkColor;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .checkGroup {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.copyPartsStyle {
  :global {

    .ant-modal-body {
      padding: 0;
    }
  }


  .copyPartsBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 375px;

    .content {
      display: flex;
      flex: 1;

      .leftTree {
        display: flex;
        flex: 1;
        flex-direction: column;
        border-right: 1px solid #d4d4d4;
        padding: 16px 16px 0 16px;
      }

      .rightTree {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 16px 16px 0 16px;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      background: #f0f2f5;
      padding: 8px 0;

      .cancelButton{
        background-color: transparent;
        color: #666;
        border: none;
        box-shadow: none;
        &::after {
          transition: none;
        }
  
        &:hover {
          &::after {
            background-color: transparent;
          }
          color: #199475;
        }
      }
      .confire {
        margin: 0 12px;
        width: 90px;
      }

    }
  }
}