@import "../../../../theme/theme.scss";
.singleDevice {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #fff;
  .headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 60px;
    border-bottom: 1px solid #d4d4d4;
    .left {
      display: flex;
      justify-content: center;
      .singleInfo {
        padding: 12px 12px;
        display: flex;
        line-height: 42px;
      }
    }
    .right {
      .backIcon {
        @include backIcon();
      }
    }
  }
  .showType {
    margin-top: 20px;
    display: flex;
    border-top: 1px dotted $promptColor;
    border-bottom: 1px dotted $promptColor;
    align-items: center;
    justify-content: space-between;
    .tabIcons {
      font-size: 24px;
      display: flex;
      .active,
      .normal {
        cursor: pointer;
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active {
        color: #fff;
        background-color: $themeColor;
      }
      .normal {
        color: #999;
        background-color: #f1f1f1;
      }
    }
    .exportStyle,
    .rightInfo {
      margin-right: 20px;
    }
  }
  .chartsLayout {
    display: flex;
    flex: 1;
    flex-direction: column;
    .topBox {
      display: flex;
      flex: 1;
      .left {
        height: 600px;
        display: flex;
        flex: 2;
        border-right: 1px solid #d4d4d4;
        flex-direction: column;
        .leftTop {
          display: flex;
          flex: 1;
          position: relative;
          .graphStyle {
            display: flex;
            flex: 1;
            // position: absolute;
            .singlePowerCurveChart {
              width: 100%;
            }
            .switchStyle {
              position: absolute;
              top: 6%;
              left: 82%;
            }
            .formatStyle {
              // width: 150px;
              // height: 120px;
              display: flex;
              flex-direction: column;
              .topStyle {
                display: flex;
                justify-content: space-between;
                line-height: 20px;
                height: 20px;
              }
              .lineStyle {
                line-height: 28px;
                height: 28px;
                .itemStyle {
                  margin: 0 8px;
                  position: relative;
                  &::before,
                  &::after {
                    color: inherit;
                    content: "-";
                    position: absolute;
                  }
                  &::before {
                    left: 5px;
                  }
                  &::after {
                    right: 5px;
                  }
                }
              }
            }
          }
        }
        .leftBottom {
          display: flex;
          flex: 1;
          .leftScatter {
            display: flex;
            flex: 1;
            .powerSpeedChart {
              width: 100%;
            }
          }
          .rightScatter {
            display: flex;
            flex: 1;
            .powerSpeedChart {
              width: 100%;
            }
          }
        }
      }
      .right {
        height: 600px;
        display: flex;
        flex: 1;
        flex-direction: column;
        .rightTop {
          display: flex;
          flex: 1;
          .windrosechart {
            width: 100%;
            .itemStyle {
              margin: 0 4px;
              position: relative;
              &::before,
              &::after {
                color: inherit;
                content: "-";
                position: absolute;
              }
              &::before {
                left: 5px;
              }
              &::after {
                right: 5px;
              }
            }
            .formatStyle {
              // width: 150px;
              // height: 100px;
              display: flex;
              flex-direction: column;
              .topStyle {
                display: flex;
                justify-content: space-between;
                line-height: 20px;
                height: 20px;
              }
              .lineStyle {
                line-height: 20px;
                height: 20px;
              }
            }
          }
        }
        .rightBottom {
          display: flex;
          flex: 1;
          .windDistribution {
            width: 100%;
          }
        }
      }
    }
    .bottomBox {
      display: flex;
      height: 320px;
      .sequenceChart {
        width: 100%;
      }
      .itemStyle {
        margin: 0 4px;
        position: relative;
        &::before,
        &::after {
          color: inherit;
          content: "-";
          position: absolute;
        }
        &::before {
          left: 5px;
        }
        &::after {
          right: 5px;
        }
      }
    }
  }
  .windDeviceList {
    .tableHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      height: 55px;
      padding: 0 28px;
      background-color: #fff;
    }
  }
}
