@import '../../../../../theme/theme.scss';
.inspectAbnormal {
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $darkColor;
    margin-bottom: 10px;
    .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 700;
      color: rgba(0,0,0,0.85);
    }
    .viewStandard {
      color: $themeColor;
      border-color: $themeColor;
      background-color: #fff;
      &:hover {
        color: #fff;
        background-color: $themeColor;
      }
    }
    .disabledStandard {
      color: $darkColor;
      border-color: $lightColor;
      background-color: #fff;
      &:hover {
        color: $darkColor;
        background-color: #fff;
      }
    }
    :global {
      .icon-content {
        margin-left: 6px;
        font-size: 6px;
        color: rgba(0,0,0,0.85);
      }
    }
  }
  .abnormalItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .abnormalDetail {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-left: 16px;
    padding-top: 4px;
    .viewImg {
      margin-left: 78px;
      margin-top: 10px;
    }
    .detailItem {
      display: flex;
      flex-direction: row;
      height: 30px;
      line-height: 30px;
      color: $darkColor;
      >span {
        display: inline-block;
        margin-left: 24px;
        color: $darkColor;
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }
}
.defectStandardModal {
  display: flex;
  flex: 1;
  overflow-y: auto;
  min-height: 90%;
  max-height: 90%;
  margin: 0;
  float: right;
  right: 7px;
  top: 123px;
  :global {
    .ant-modal-content {
      width: 100%;
      color: #d4d4d4;
      height: 100%;
      .ant-modal-close {
        color: #fff;
      }
      .ant-modal-body {
        height: 100%;
        padding: 0;
      }
    }
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 3px;
      background:rgba(0,0,0,0.5);
    }
  }
  .defectStandard {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 14px;
    height: 755px;
    .menu {
      width: 118px;
      min-width: 118px;
      max-width: 118px;
      display: flex;
      flex-direction: column;
      background-color: #757575;
      padding: 30px 0;
      overflow-y: auto;
      :global{
        ::-webkit-scrollbar {
          width: 6px;
          background-color: #fff;
        }
        ::-webkit-scrollbar-thumb{
          border-radius: 3px;
          background-color: #555;
          opacity: 0.5;
        }
      }
      .mainMenu {
        // display: flex;
        flex-direction: column;
        .mainMenuTitle {
          height: 36px;
          line-height: 36px;
          text-align: right;
          padding: 0 10px;
          max-width: 118px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break:keep-all;
          :global {
            .icon-triangle {
              font-size: 6px;
              color: #fff;
            }
          }
        }
        .subMenu {
          display: flex;
          flex-direction: column;
          .subMenuTitle {
            height: 36px;
            line-height: 36px;
            text-align: right;
            padding: 0 10px;
            cursor: pointer;
            max-width: 118px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break:keep-all;
          }
        }
      }
    }
    .content {
      background-color: $darkColor;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 16px 40px;
      overflow-y: auto;
      :global{
        ::-webkit-scrollbar {
          width: 6px;
          background-color: #fff;
        }
        ::-webkit-scrollbar-thumb{
          border-radius: 3px;
          background-color: #555;
          opacity: 0.5;
        }
      }
      .standardTitle {
        font-size: 18px;
        margin-bottom: 36px;
      }
    }
  } 
}