@import '../../../../theme/theme.scss';

.dataHistory {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .contentBox {
    @include contentBoxStyle();
  }

  .historyContent {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dataCenter {
    flex: 1;
    display: flex;
    border: 1px solid $borderColor;
    position: relative;
    margin-bottom: 6px;
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
  }
}
