


.addRecord{
  .eachRecordForm{
    display: flex;
    margin-bottom: 14px;
    :global{
      .ant-form-item-label{
        flex: 0 0 165px;
      }
      .ant-form-item-control-wrapper{
        flex: 1;
      }
      .ant-form-explain{
        position: absolute;
      }
    }
  }
  .saveRow{
    display: flex;
    padding-left: 165px;
    button{
      margin-right: 12px;
    }
  }
}