
@import '../../../../theme/theme.scss';

.addRecord{
  .eachRecordForm{
    display: flex;
    margin-bottom: 14px;
    :global{
      .ant-form-item-label{
        flex: 0 0 165px;
      }
      .ant-form-item-control-wrapper{
        flex: 1;
      }
      .ant-form-explain{
        position: absolute;
      }
    }
  }
  .saveRow{
    display: flex;
    padding-left: 165px;
    button{
      margin-right: 12px;
    }
  }
}

.recordDetail{ // 记事 + 计划详情
  .eachRecord{
    display: flex;
    margin-bottom: 8px;
    .recordTitle{
      flex: 0 0 140px;
      text-align: right;
      margin-right: 24px;
    }
    .recordValue{
      flex: 1;
      @include overflowText();
    }
  }
  .detailHandle{ // 记事详情 底部操作
    padding-left: 164px;
    button{
      width: 98px;
      margin-right: 12px;
    }
  }
  .handleComplete{ // 计划详情 标记已完成
    padding-left: 164px;
    button{
      :global{
        .iconfont.icon-markdone{
          margin-right: 4px;
        }
      }
    }
  }
}

.light{
  .addRecord{
    .eachRecordForm{
      :global{
        .ant-form-item-label{
          color: #000;
          label::before{
            display: none;
          }
          label::after{
            display: inline-block;
            margin: 0 10px 0 6px;
            color: #f5222d;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
            content: '*';
          }
        }
      }
    }
    .saveRow{
      .saveBtn{
        background-color: var(--themeColor);
        color: #fff;
      }
      .continueSaveBtn{
        border: 1px solid var(--themeColor);
        color: var(--themeColor);
      }
      .cancelSaveBtn{
        border: 1px solid var(--promptColor);
        color: var(--lightColor);
      }
    }
    
  }
  .recordDetail{
    .recordTitle{
      color: #000;
    }
    .detailHandle{ // 记事详情 底部操作
      .editBtn{
        background-color: $themeColor;
        color: #fff;
      }
      .deleteBtn{
        border: 1px solid $themeColor;
        color: $themeColor;
      }
    }
  }
}


.dark{
  .addRecord{
    .eachRecordForm{
      :global{
        .ant-form-item-label{
          color: #000;
        }
      }
    }
    .saveRow{
      .saveBtn{
        background-image:linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
        color: #fff;
      }
      .continueSaveBtn{
        border: 1px solid #9cd1ff;
        color: #9cd1ff;
      }
      .cancelSaveBtn{
        border: 1px solid #9cd1ff;
        color: #9cd1ff;
      }
    }
    
  }
  .recordDetail{
    .recordTitle{
      color: #000;
    }
    .detailHandle{ // 记事详情 底部操作
      .editBtn{
        background-image:linear-gradient(-180deg, #1cfcf4 5%, #009cff 98%);
        color: #fff;
      }
      .deleteBtn{
        background-image:linear-gradient(-180deg, #fad961 0%, #f76b1c 100%);
        color: #fff;
      }
    }
  }
}