@import "../../../theme/theme";
@import "./layout.scss";

@mixin top {
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: 1px solid $promptColor;
}

.light {
  background-color: #fff;
  .intelligentList {
    .icon {
      color: $themeColor;
    }
  }
  .partSearch {
    background-color: #f9f9f9;
    .reset {
      color: $themeColor;
    }
  }
  .stationType {
    background: #f8f8f8;
    border-bottom: 1px solid $borderColor;
    p {
      border-right: 1px solid $borderColor;
      color: $lightColor;
    }
    .activeStation {
      background: $pageGround;
      color: $darkColor;
      &::before {
        background: $themeColor;
      }
    }
  }
  .tableFooter {
    background-color: #fff;
    .info {
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }
}
.intelligentSide.light {
  background: #fff;
  .addIntelligent,
  .showIntelligent,
  .editIntelligent {
    .titleTop {
      @include top;
      .text {
        color: $darkColor;
      }
      .backIcon {
        color: $darkColor;
        border-left: 1px solid #dfdfdf;
      }
    }
  }
  .addIntelligent {
    .selctWrap {
      i {
        color: $themeColor;
      }
    }
  }
  .editIntelligent {
    .formItem {
      .label {
        color: rgba(0, 0, 0, 0.85);
        span {
          color: #f5222d;
        }
      }
    }
  }
  .showIntelligent {
    .editBtn {
      color: $themeColor;
      border-color: $themeColor;
    }
    .detailContent {
      .link {
        color: $themeColor;
      }
      .required {
        color: #a42b2c;
      }
      .likeBtn,
      .likedBtn {
        color: $themeColor;
        border-color: $themeColor;
      }
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  background-color: $background;
  .intelligentSearch {
    color: $fontColor;
    .wrap {
      background: $light-background;
      border: 1px solid $border-color;
    }

    .partSearch {
      background: $light-background;
      margin-top: 10px;
      border: 1px solid $border-color;
      .reset {
        color: $themeColor;
      }
    }
  }
  .intelligentTable {
    background: $light-background;
    margin-top: 10px;
    border: 1px solid $border-color;
  }
  .stationType {
    background: $background;
    border-bottom: 1px solid $border-color;
    height: 42px;
    p {
      border: 1px solid $tab-border-color;
      color: #7088c3;
      background: $tab-background;
      margin-right: 4px;
      border-radius: 8px 8px 0 0;
      height: 40px;
    }
    .activeStation {
      background: $light-background;
      border: 1px solid $border-color;
      color: $fontColor-invert;
      border-bottom: 1px solid $tab-border-bottom;
      height: 42px;
      &::before {
        display: none;
      }
    }
  }
  .tableFooter {
    .info {
      .totalNum {
        color: #f9b600;
      }
    }
    .cancel {
      color: #f9b600;
    }
  }
  .addIntelligent,
  .showIntelligent,
  .editIntelligent {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
    .titleTop {
      @include top;
      border-bottom: 1px solid $border-color;
      .text {
        color: $fontColor;
      }
      .backIcon {
        color: $fontColor-hover;
        border-left: 1px solid $border-color;
      }
    }
  }
  .addIntelligent {
    .selctWrap {
      i {
        color: $fontColor-hover;
      }
    }
  }
  .editIntelligent {
    .formItem {
      .label {
        color: $fontColor;
        span {
          display: inline-block;
          margin-right: 4px;
          color: #f5222d;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
        }
      }
    }
  }
  .showIntelligent {
    .editBtn {
      border-color: $themeColor;
    }
    .detailContent {
      .link {
        color: $themeColor;
      }
      .required {
        color: $warnColor;
      }
      .likeBtn,
      .likedBtn {
        border-color: $themeColor;
      }
    }
  }
  :global {
    .ant-upload {
      color: $fontColor;
    }
    a {
      color: $fontColor;
    }
    .ant-upload-list-item-info .anticon-paper-clip {
      color: $fontColor;
    }
  }
}
