@import "../../../theme/theme";
@import "./layout.scss";

.intelligentContent.light {
  background: #f0f2f5;
  .intelligentList {
    .icon {
      &:hover {
        color: $themeColor;
      }
    }
  }
  .partSearch {
    border-bottom: 1px dashed #d4d4d4;
    .reset {
      color: $themeColor;
    }
  }
  .stationType {
    display: flex;
    padding-left: 15px;
    line-height: 40px;
    background: #f0f2f5;
    p {
      width: 120px;
      text-align: center;
      cursor: pointer;
      margin-bottom: -2px;
      color: $themeColor;
    }
    .activeStation {
      position: relative;
      background: $pageGround;
      border-right: 1px solid $themeColor;
      border-left: 1px solid $themeColor;
      &::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        top: 0;
        left: -1px;
        background: $themeColor;
      }
    }
  }
  .cotentBox {
    flex: 1 auto;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);  
    margin: 0 2px 4px 2px;
    background: #fff;
  }
  .intelligentTable {
    padding-right: 1px;
  }
  .tableFooter {
    background-color: #fff;
    .info {
      .totalNum {
        color: rgb(250, 185, 7);
      }
    }
    .cancel {
      color: $themeColor;
    }
  }

  .importIntelligent {
    .uploadFile {
      padding: 0 15px 0 10px;
      .icon {
        margin: 0 6px 0 0;
      }
    }
  }
}
.intelligentSide.light {
  background: #f0f2f5;
  .addIntelligent,
  .showIntelligent,
  .editIntelligent {
    .titleTop {
      .text {
        color: var(--themeColor);
      }
    }
    :global {
      .ant-form-item-label > label {
        color: #000;
      }
      .ant-form-item-required::after {
        color: #a42b2c;
      }
    }

    .uploaderBtn{
      padding: 0 15px 0 10px;
      .icon {
        margin: 0 6px 0 0;
      }
    }

    .saveBtn {
      width: 90px;
    }
  }
  .addIntelligent {
    .formBox{
      background: #fff;
      box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2);
    }
    .selctWrap {
      i {
        color: $themeColor;
      }
    }
  }
  .editIntelligent {
    .editmiddle{
      background: #fff;
      box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2);
    }
    .formItem {
      .label {
        color: #000;
        .required {
          color: #a42b2c;
        }
      }
    }
  }
  .showIntelligent {
    .detailText {
      color: $lightColor;
    }
    .title {
      color: #000;
    }
    .editBtn {
      color: $themeColor;
      border-color: $themeColor;
    }
    .detailContent {
      background: #fff;
      box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2);
      .link {
        color: $themeColor;
      }
      .required {
        color: #a42b2c;
      }
    }
  }
}
