@import "../../../theme/theme";
@mixin top {
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: 1px solid $promptColor;
}
.intelligentContent {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  // margin: 24px 24px 0;
}
.stationType {
  display: flex;
  line-height: 40px;
  p {
    width: 120px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: -2px;
  }
  .activeStation {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 2px;
      top: 0;
      left: -1px;
    }
  }
}
.intelligentSearch {
  display: flex;
  flex-direction: column;
  .topSearch {
    min-height: 80px;
    height: auto;
    padding: 0px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    .filterBtn {
      margin-right: 16px;
    }
    .text {
      margin-right: 16px;
    }
  }
  .partSearch {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 28px;
    .defectDescription,
    .entryPerson {
      width: 200px;
      margin: 0 10px;
    }
    .text {
      margin-left: 10px;
    }
    .reset {
      font-size: 14px;
      margin-left: 16px;
      cursor: pointer;
    }
  }
}

.intelligentTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  .topHandler {
    display: flex;
    justify-content: space-between;
    padding: 30px 28px 20px 28px;
    .leftPart {
      display: flex;
      .deleteHandler,
      .addHandler,
      .importHandler,
      .exportHandler {
        margin-right: 10px;
      }
    }
  }
  .intelligentList {
    display: flex;
    flex-direction: column;
    flex: 1;
    .icon {
      cursor: pointer;
      margin-right: 5px;
    }
    .faultName,
    .checkItems,
    .processingMethod {
      @include overflowText();
      max-width: 140px;
    }
    .faultDescription {
      @include overflowText();
      max-width: 180px;
    }
    .handler {
      text-align: center;
    }
    .likeCount {
      text-align: right;
    }
    :global {
      .ant-table .ant-table-thead > tr > th,
      .ant-table .ant-table-tbody > tr > td {
        padding: 0 8px;
      }
    }
  }
}
.tableFooter {
  height: 45px;
  line-height: 45px;
  .info {
    margin-right: 20px;
    margin-left: 24px;
    .totalNum {
      margin: auto 4px;
    }
  }
  .cancel {
    cursor: pointer;
  }
}
.intelligentSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;
  z-index: 99;
  :global {
    .ant-select,
    .ant-cascader-picker {
      width: 198px;
    }
  }
  .addIntelligent,
  .showIntelligent,
  .editIntelligent {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    .titleTop {
      @include top;
      justify-content: space-between;
      .text {
        font-size: 18px;
        letter-spacing: 4px;
      }
      .backIcon {
        font-size: 20px;
        height: 100%;
        line-height: 64px;
        width: 64px;
        cursor: pointer;
      }
    }
    .extraSpan {
      display: inline-block;
      width: 440px;
    }
    :global {
      .ant-form-item-label > label::after {
        margin: 0;
      }
      .ant-form-item-control {
        line-height: unset;
      }
    }
  }
  .addIntelligent {
    .formBox {
      margin-top: 24px;
    }
    .selctWrap {
      display: flex;
      line-height: 40px;
      i {
        margin-left: 8px;
      }
    }
    .preFormStyle {
      width: 750px;
      margin: 20px auto;
      :global {
        .ant-form-item-label {
          width: 71px;
          text-align: right;
          margin-right: 12px;
        }
        .ant-form-item {
          // margin-bottom: 16px;
        }
      }
      .actionBtn {
        margin-left: 80px;
      }
      .saveBtn {
        margin-right: 10px;
      }
    }
  }
  .editIntelligent {
    .preFormStyle {
      width: 780px;
      margin: 20px auto;
    }
    .formItem {
      display: flex;
      line-height: 30px;
      margin-bottom: 12px;
      .label {
        width: 71px;
        text-align: right;
        margin-right: 16px;
        flex: 0 0 71px;
        span {
          display: inline-block;
          margin-right: 4px;
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
        }
      }
    }
    .saveBtn {
      margin-left: 100px;
    }
    :global {
      .ant-form-item-label {
        width: 71px;
        text-align: right;
        margin-right: 12px;
      }
    }
  }
  .showIntelligent {
    .editBtn {
      margin-right: 12px;
    }
    .detailContent {
      margin: 20px 0 20px 88px;
      .detailText {
        line-height: 36px;
        width: 800px;
        margin: 0 auto;
        display: flex;
        .title {
          font-weight: bold;
          margin-right: 24px;
          text-align: right;
          flex: 0 0 90px;
        }
      }
      .link {
        display: block;
        cursor: pointer;
        text-decoration: underline;
      }
      .required {
        display: inline-block;
        margin-right: 4px;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
      }
      .likeBtn,
      .likedBtn {
        margin-left: 112px;
        width: 204px;
      }
    }
  }
  .preFormStyle {
    :global {
      .ant-form-item {
        display: flex;
      }
    }
  }
}
