@import "../../../../theme/theme.scss";
@import "./eachDeviceMonitorLayout.scss";

.windDevice {
  .windChart {
    > div {
      border-right: 1px solid #d4d4d4;
    }
  }

  .deviceContent {
    .statisticsBox {
      .deviceIcon {
        :global {
          .iconfont {
            color: $themeColor;
          }
        }

        .deviceCode {
          color: $themeColor;
        }
      }
    }
  }

  .pointData {
    background-color: #f8f8f8;

    .pointTitle {
      color: $darkColor;
    }

    .pointDataList {
      .eachGroup {
        border-right: dotted 1px $promptColor;

        .groupName {
          color: $darkColor;
          background: #f0f0f0;
        }

        .eachData {
          .pointName {
            color: $darkColor;
          }

          .pointValue {
            color: #199475;
          }

          &:hover {
            background: rgba(206, 235, 224, 0.3);
          }
        }
      }
    }
  }
}

.integrateLine, .boosterStation, .confluencebox, .seriesinverter, .boxtransformer, .integrateLine{
  background-color: $pageBackground;
  .deviceTop{
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}
.boosterStation{
  .deviceList{
    .active{
      &:after {
        position: absolute;
        display: inline-block;
        border-top: 6px solid $themeColor;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        left: 49px;
        top: 33px;
        content: '';
      }
    }
  }
}

.seriesinverter{ // 集中式逆变器详情页
  background-color: $pageBackground;
}

.light {
  .deviceMonitorHeader {
    border-top: 1px solid #d4d4d4;
    // 顶部
    .deviceName {
      color: $darkColor;

      .swap {
        color: $themeColor;
        &:hover{
          color: #f9b600;
        }
      }

      .status {
        :global {
          .statusIcon {
            // 天气
            color: $darkColor;
          }

          .alarm {
            color: #a42b2c;
          }
        }
      }
    }

    .linkTo {
      .eachLink {
        .linkName {
          color: $themeColor;
        }

        :global {
          .linkIcon {
            color: $promptColor;
          }

          .icon-upstream,
          .icon-downstream {
            color: #ceebe0;
          }
        }
      }
    }
  }
  .deviceContent {
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0, 0, 0, 0.2);

    .statisticsBox {
      // 设备信息统计区
      border-bottom: dashed 1px $themeColor;

      .deviceIcon {
        :global {
          .iconfont {
            color: $themeColor;
          }
        }
      }

      .timerGen,
      .timerDayGen,
      .weatherEachData {
        .genNum {
          color: $themeColor;
        }

        .genText {
          color: $darkColor;
        }
      }
    }

    .confluenceTabs,
    .inverterTabs,
    .boxtransformerTabs,
    .integrateLineTabs {
      background: rgba(206,235,224,0.50);
      @include lineheight(34px);

      div {
        text-align: center;
        width: 110px;
        cursor: pointer;
        position: relative;
      }

      div:nth-of-type(1) {
        margin-left: 37px;
      }

      div:nth-of-type(2) {
        margin-left: 30px;
      }

      div:nth-of-type(3) {
        margin-left: 30px;
      }

      .tabActive {
        color: #fff;
        background-color: $themeColor;
        &:after {
          position: absolute;
          display: inline-block;
          border-top: 6px solid $themeColor;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid transparent;
          left: 49px;
          top: 33px;
          content: '';
        }
      }

      .tabNormal {
        color: $themeColor;
        border-bottom: 1px solid transparent;
      }
    }
  }

  .seriesinverter,
  .inverterChartTitle {
    .tabs {
      .inactive {
        color: $themeColor;
        border: 1px solid $themeColor;
        &:hover{
          background-color: rgba(206,235,224,0.30);
        }
      }

      .active {
        color: #fff;
        border: 1px solid $themeColor;
        background-color: $themeColor;
      }
    }
  }

  .deviceList {
    // 升压站单独样式
    background-color: rgba(206,235,224,0.50);
    .eachDevice {
      color: $themeColor;
    }

    .active {
      color: #fff;
      background-color: $themeColor;
      text-align: center;

        /* 背景阴影*/
        &:after {
          position: absolute;
          display: inline-block;
          border-top: 6px solid $themeColor;
          border-right: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid transparent;
          left: 49px;
          top: 33px;
          content: '';
        }
    }
  }

  .tooltipBox {
    @include tooltipBox($promptColor);
  }
}
