

@import '../../../../../../theme/theme.scss';


.singleModal, .departmentModal { // 共有的弹框顶部
  .title{
    height: 34px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    .close{
      cursor: pointer;
      height: 14px;
      flex-basis: 14px;
      line-height: 17px;
      border-radius: 50%;
      margin-right: 10px;
      svg{
        font-size: 10px;
      }
    }
  }
  :global{
    .ant-modal .ant-modal-content .ant-modal-header, .ant-modal .ant-modal-content .ant-modal-body{
      padding: 0;
    }
  }
}

.singleModal{ // 单部门分配人员
  .filterTop{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    margin-bottom: 12px;
    .filterConditions{
      display: flex;
      align-items: center;
      .checkedSwitch{
        transform: scale(0.8);
      }
      .switchText{
        margin: 0 10px 0 4px;
      }
      .nameSearch{
        width: 150px;
        button{
          padding: 0 8px;
        }
      }
    }
  }
  .userTable{
    height: 400px;
    .userFullName, .username, .phoneNum, .departmentNames{
      @include overflowText();
    }
    .userFullName{
      max-width: 98px;
    }
    .username{
      max-width: 88px;
    }
    .phoneNum{
      max-width: 108px;
    }
    .departmentNames{
      max-width: 138px;
    }
  }
  .assignFooter{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    .footerText{
      .footerNum{
        margin: 0 2px;
        font-weight: 700;
      }
    }
    .btns button{
      width: 82px;
      margin-right: 10px;
    }
  }
}

.departmentSelector{
  position: relative;
  .departmentAssignModal{
    position: absolute;
    right: 6px;
    top: 2px;
    .handlIcon{
      cursor: pointer;
    }
  }
}

.departmentModal { // 人员分配部门
  .toptips{ // 人员及提示
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .activeIcon, .inactiveIcon{
      border-radius: 50%;
      margin: 0 6px 0 10px;
      font-size: 12px;
    }
  }
  .departsContent{ // 中部内容区
    height: 410px;
    padding: 0 15px;
    overflow-y: auto;
  }
  .departSubSelect{
    .fartherDepart{ // 父部门
      display: flex;
      padding: 0 12px 0 16px;
      height: 26px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      .icon{
        cursor: pointer;
        flex: 1;
        text-align: right;
        margin-left: 8px;
        svg{
          transition: all 0.3s;
          transform: rotate(0deg);
        }
      }
      .iconRotate{
        svg{
          transform: rotate(-90deg);
        }
      }
    }
    .fartherDepart, .subLists { // 共有
      .eachDepart{
        max-width: 180px;
        cursor: pointer;
        display: flex;
        height: 24px;
        align-items: center;
      }
      .activeIcon, .inactiveIcon{
        border-radius: 50%;
        font-size: 12px;
        flex: 0 0 12px;
      }
      .name{
        padding-left: 4px;
      }
    }
    .subLists{
      padding-left: 32px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      transition: height 0.3s;
      .eachDepartBox{
        flex: 0 0 180px;
      }
      .eachDepart{
        display: inline-block;
        @include overflowText();
      }
    }
  }
  .footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 24px;
    .cancel{
      margin-right: 10px;
    }
  }
}


// 颜色部分
.singleModal, .departmentModal {
  .title{
    color: #fff;
    background-color: $themeColor;
    .close{
      background-color: #ceebe0;
      color: rgb(40, 156, 126);
    }
  }
}

.singleModal{
  .filterTop{
    border-bottom:1px solid #d9d9d9;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.20);
    .tipText{
      color: $lightColor;
    }
  }
  .assignFooter{
    background-color: #ececec;
    .footerText{
      .footerNum{
        color: $themeColor;
      }
    }
  }
}

.departmentModal {
  .toptips{
    height: 40px;
    align-items: center;
    .usernames{
      color:#000000;
    }
    .activeIcon{
      color: #fff;
      background-color: $themeColor;
      border: 1px solid $themeColor;
    }
    .inactiveIcon{
      color: $darkColor;
      border: 1px solid $darkColor;
    }
  }
  .departSubSelect{
    .fartherDepart{ // 父部门
      background-color: #f9f9f9;
      .icon{
        color: $lightColor;
      }
    }
    .fartherDepart, .eachDepart { // 共有
      .activeIcon{
        color: #fff;
        background-color: $themeColor;
        border: 1px solid $themeColor;
      }
      .inactiveIcon{
        color: $darkColor;
        border: 1px solid $darkColor;
      }
    }
  }
  .footer{
    background-color: rgb(241, 241, 241);
  }
}







