@import "../../../theme/theme.scss";
.ticketBox {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
}
.ticket {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  padding: 24px 24px 0;
  :global {
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav div {
      display: flex;
      flex-direction: row;
    }
    .ant-tabs {
      display: flex;
      flex-direction: column;
      flex: 1;
      .ant-tabs-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        .ant-tabs-tabpane-active {
          display: flex;
          flex: 1;
          flex-direction: column;
        }
        .ant-tabs-tabpane-inactive {
          max-height: 0;
        }
      }
    }
    .ant-tabs.ant-tabs-card {
      > .ant-tabs-bar {
        margin-bottom: 0px;
        border-bottom: none;
        .ant-tabs-nav {
          display: flex;
          flex-direction: row;
          .ant-tabs-tab {
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin-right: 0px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

.light {
  .ticket {
    background-color: #ececec;
    :global {
      .ant-tabs.ant-tabs-card {
        > .ant-tabs-bar {
          background-color: #f8f8f8;
          .ant-tabs-nav {
            .ant-tabs-tab {
              color: $darkColor;
              background-color: #f8f8f8;
              border-right: 1px $promptColor solid;
            }
            .ant-tabs-tab-active {
              background-color: #fff;
              color: #000;
              border-top: 2px $themeColor solid;
            }
          }
        }
      }
    }
  }
}

.dark {
  @import "../../../theme/antdResetDark.scss";
  .ticket {
    background: $background;
    :global {
      .ant-tabs-nav-scroll {
        background: transparent;
      }
      .ant-tabs.ant-tabs-card {
        > .ant-tabs-bar {
          background: $background;
          .ant-tabs-nav {
            .ant-tabs-tab {
              border: 1px solid #202470;
              color: #7088c3;
              background: #13134f;
              margin-right: 4px;
              border-radius: 8px 8px 0 0;
            }
            .ant-tabs-tab-active {
              background: rgba(83, 104, 241, 0.15);
              border: 1px solid rgba(83, 104, 241, 0.4);
              color: #fff;
              border-bottom: 1px solid rgba(12, 10, 62, 0.6);
            }
          }
        }
      }
    }
  }
}
