@import '../../../../theme/theme.scss';
.allStationTypeTabs{
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #fff;
  .AlarmStatisticByTypeBox{
    display: flex;
    flex: 1;
    flex-direction: column;
    .singleAlarmFilter{
      background:#f8f8f8;
      width:100%;
      height:40px;
      line-height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  } 
  .operation{
    cursor: pointer;
  }
  :global{
    .ant-tabs-nav-scroll{
      background-color: #f8f8f8;
    }
    .ant-tabs-bar{
      border:none;
      margin-bottom: 0;
      // background-color: #f8f8f8;
      margin: 0;
      .ant-tabs-extra-content{
        background-color: #f8f8f8;
       .iconfont{
         margin-left:5px;
         vertical-align: middle;
       }
      }
    }
    .ant-tabs {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    //ant-tabs-content ant-tabs-content-animated
    .ant-tabs-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0;
      .ant-tabs-tabpane-active {
        display: flex;
        flex: 1;
      }
      .ant-tabs-tabpane-inactive {
        max-height: 0;
      }
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      border: 0;
      width: 120px;
      color: #666;
      border-right: 1px #dfdfdf solid;
      margin-right: 0px;
      border-radius: 0px;
  }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
      color: #000;
      font-weight: bold;
      margin: 0;
      border-top:2px #199475 solid;
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover{
      color:#666;
    }
    .ant-tabs-nav .ant-tabs-tab {
      display: inline-block;
      text-align: center;
      padding: 12px 16px;
      margin: 0;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      width: 120px;
    }
  }
  .componentContainer{
    display: flex;
    flex:1;
    width: 100%;
    // height:5000px;
    flex-direction: column;
  }
  }
  .singleStationType{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
    .componentContainer{
      display: flex;
      flex:1;
      flex-direction: column;
      .title {
        display: flex;
        position: relative;
        flex-direction: row;
        padding-left: 28px;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        .titleLeft {
          display: flex;
          flex-direction: row;
          flex:1;
          align-items: center;
        }
        .stationName {
          &:hover{
            color: #199475;
          }
          .icon {
            cursor: pointer;
            color: $themeColor;
            margin-right: 15px;
            font-size: 18px;
          }
          >span {
            font-size: 18px;
          }
        }
        .stationStatus {
         // margin-left: 50px;
          color: $darkColor;
          display: flex;
          flex:1;
          flex-direction: row;
          justify-content: space-between;
          .stationIcon{
            i{
              color:$themeColor;
              margin-right: 4px;
            }
          }
          .status {
            cursor: pointer;
            margin-right: 4px;
          }
          .time{
            .gridTime,.deadline{
              margin-right: 30px;
              color:$lightColor;
            }
          }
        }
        .backIcon{
          border-left: 1px solid #dfdfdf;
          width: 60px;
          line-height: 60px;
          text-align: center;
          // padding: 0 30px;
          color: $darkColor;
          cursor: pointer;
        }
      }

      .targetGraphContainer{
        .bgStyle{
          background: #f1f1f1;
          height: 30px;
          line-height: 30px;
          .fontStyle{
            border-top:2px solid #199475;
            width: 160px;
            color: #666;
            padding-left: 30px;
            // text-align: center;
          }
        }
        .tabContainer{
          display: flex;
          flex:1;
          flex-direction: column;
          padding: 20px 0;
          border-bottom: 1px solid #ececec;
          .dataGraph{
            display: flex;
            flex-direction: row;
            // flex: 1;
            height: 300px;
            margin-right: 24px;
            >div:nth-child(1){
              flex: 5;
            }
            >div:nth-child(2){
              flex: 4;
            }
          }
        }
      }

    }
  }
