@import "../../../../theme/theme.scss";
.stationStatisticList {
  display: flex;
  flex-direction: column;
  table{
    table-layout: fixed;
  }
  .regoin,.stationName{
    @include overflowText();
  }

  .stationStatisticFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding-top: 20px;
    align-items: center;

    .leftTime {
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      align-items: center;

      .exportBtn {
        margin-left: 24px;
      }
      .selectButton{
        height: 19px;
        line-height: 18px;
        padding: 0 5px;
        border-radius: 2px;
        margin: 0 5px;
      }
      .disabled{
        background: #f1f1f1;
        color:var(--lightColor);
        border:1px solid #d4d4d4;
        cursor: pointer;
        pointer-events: none;
      }

      :global{
        .ant-radio-button-wrapper:not(:first-child)::before{
          background-color:transparent
        }
        .ant-radio-button-wrapper-checked{
          color:#fff;
          background: var(--themeColor);
        }
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  margin-top: 10px;

  .stationName {
    color: $fontColor-hover;
  }

  .gradient {
    display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from($fontColor-hover), to($fontColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}