.stationStatisticList {
  display: flex;
  flex-direction: column;

  .stationName {
    width: 100px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global {

    .ant-table .ant-table-thead>tr>th,
    .ant-table .ant-table-tbody>tr>td {
      padding: 0 8px 0 6px;
    }

    .ant-table-thead {
      th>div {
        height: 60px;
      }
    }

    .ant-table .ant-table-thead .ant-table-column-sorter {
      top: 18px;
    }
  }

  .stationStatisticFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding-top: 20px;
    align-items: center;

    .leftTime {
      display: flex;
      flex-direction: row;
      padding-left: 20px;

      .exportBtn {
        margin-left: 24px;
        height: 20px;
        line-height: 20px;
      }

      :global {
        .ant-radio-button-wrapper {
          height: 19px;
          line-height: 18px;
          padding: 0 5px;
        }
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  margin-top: 10px;

  .stationName {
    color: $fontColor-hover;
  }

  .gradient {
    display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from($fontColor-hover), to($fontColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global {

    .ant-table .ant-table-thead>tr>th,
    .ant-table .ant-table-tbody>tr>td {
      padding: 0 6px 0 6px;
      text-align: center;
    }

    .ant-table-thead {
      th>div {
        height: 60px;
      }
    }

    .ant-table .ant-table-thead .ant-table-column-sorter {
      top: 18px;
    }
  }
}