.stationStatisticList{
  display: flex;
  flex-direction: column;
  .stationStatisticFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    
    .leftTime{
      display: flex;
      flex-direction: row;
    }
  
  }
}