@import "../../../../theme/theme.scss";
.stationSelectModal {
  :global {
    .ant-modal-content {
      display: flex;
      flex: 1;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
    .ant-modal-body {
      display: flex;
      flex: 1;
      padding: 0;
      overflow-y: auto;
    }
  }
  .content {
    padding: 24px;
    .provinceItem {
      margin-top: 12px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      .provinceName {
        margin-bottom: 12px;
      }
      .stationList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .stationItem,
      .selectedStationItem {
        margin-right: 8px;
        margin-bottom: 8px;
        min-width: 130px;
        padding-right: 6px;
        height: 24px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 6px;
        cursor: pointer;
      }
    }
  }
}

.light {
  .title {
    color: $themeColor;
  }
  :global {
    .ant-modal-footer {
      background-color: #ececec;
    }
  }
  .content {
    .provinceName {
      color: $darkColor;
    }
    .selectedStationItem {
      color: #fff;
      background-color: $themeColor;
    }
    .stationItem {
      color: $darkColor;
      background-color: #f1f1f1;
    }
  }
}
.dark {
  @import "../../../../theme/darkTheme.scss";

  .title {
    color: $fontColor-invert;
  }
  :global {
    .ant-modal {
      background: $slide-backgound;
      border: 1px solid #303a99;
      box-shadow: inset 0 0 5px 2px;
    }
    .ant-modal-content {
      background: $slide-backgound;
    }
    .ant-modal-header {
      background: $slide-backgound;
      color: $fontColor-invert;
      border-bottom: 1px solid #7088c3;
    }
    .ant-modal-footer {
      // background: $button-primary;
      background: #194992;
      color: $fontColor-invert;
    }
    .ant-modal-close {
      color: $fontColor-invert;
    }
  }
  .content {
    .provinceName {
      color: $fontColor-invert;
    }
    .selectedStationItem {
      color: $fontColor-invert;
      background-color: $themeColor;
    }
    .stationItem {
      color: $fontColor-invert;
      // background-color: #f1f1f1;
      border: 1px solid #7088c3;
    }
  }
}
