.targetTabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  :global {
    .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
      display: flex;
      justify-content: space-between;
    }
  }

  .tabContainer {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    .dataGraph,
    .selectMonth {
      display: flex;
      flex: 1;
      width: 100%;
      flex-direction: row;
      height: 300px;
      overflow: hidden;
      margin-right: 24px;
    }
    .dataGraph > div {
      flex: 1;
      height: 300px;
    }
    .dataGraph.selectMonth > div:nth-child(1) {
      flex: 7;
    }
    .dataGraph.selectMonth > div:nth-child(2) {
      flex: 4;
    }
  }
}

.light {
  .dataGraph,
  .selectMonth {
    border-bottom: 1px solid #ececec;
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  margin-top: 10px;
  .dataGraph,
  .selectMonth {
    border-bottom: none;
  }
  :global {
    .ant-tabs .ant-tabs-ink-bar {
      background-color: $button-active;
    }
    .ant-tabs-nav .ant-tabs-tab {
      color: $fontColor;
      &:hover {
        color: $fontColor;
      }
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: $fontColor-invert;
    }
  }
}
