.flowTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  .tableTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .selectCondition {
      display: flex;
      justify-content: space-between;
      .workflow {
        z-index: 0;
        margin-left: 0px;
        margin-right: 16px;
        display: flex;
        padding: 0 15px 0 6px;
        .icon {
          margin: 0 10px 0 0;
        }
      }
    }

    .cbtn {
      z-index: 0;
      margin-right: 16px;
    }
  }

  .tableBox {
    background-color: #fff;
    box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
    flex: 1 auto;
    margin: 0 2px 4px 2px;
    .workFlowTable{
      table{
        width: 100%;
        table-layout: fixed;
      }
      .iconShow{
        display: inline;
      }
      .iconHide{
        display: none;
      }
      :global{
        .iconfont{
          font-size: 20px;
          padding: 4px;
          cursor: pointer;
          margin-right: 4px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .docketCodeText, .docketTypeNameText, .stationNameText, .docketNameText, .createTimeText, .dealUserNamesText{
        @include overflowText();
        width: calc(100% - 5px);
      }
    }
  }
  :global {
    .ant-table-placeholder {
      border: none;
    }
  }
}

.workflowDeatil {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  background: #fff;
  .header {
    line-height: 64px;
    display: flex;
    padding-left: 32px;
    align-items: center;
    border-bottom: solid 1px #d4d4d4;
    justify-content: space-between;
    .text {
      font-size: 18px;
      color: #353535;
      letter-spacing: 4px;
    }
   
  }
}

.condition {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border:1px solid #d4d4d4;
  box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
  .statusGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 28px 20px;
    .text {
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      > span:first-child {
        margin-right: 28px;
      }
    }

    :global {
      .ant-radio-group {
        .ant-radio-button-wrapper {
          &:not(:first-child)::before {
            width: 0px;
          }
          color: #199475;
          border: 1px solid #199475;
          border-right: none;
          &:first-child {
              border-radius: 2px 0 0 2px;
          }
          &:last-child {
            border-radius: 0 2px 2px 0;
            border-right: 1px solid #199475;
          }
          &:hover {
              background-color: #ceebe0;
          }
          &.ant-radio-button-wrapper-checked {
              background-color: #199475;
              color: #fff;
          }
        }
      }
    }
  }
}
