@import '../../../../../theme/theme.scss';
.workflowDeatil {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    z-index: 1;
    flex-direction: column;
    background: #fff;
    .header {
      line-height: 64px;
      display: flex;
      padding-left: 32px;
      align-items: center;
      border-bottom: solid 1px #dfdfdf;
      justify-content: space-between;
      .text {
          font-size: 18px;
          color: #666;
          letter-spacing: 4px;
      }
      .backIcon {
          color: #666;
          font-size: 20px;
          border-left: 1px solid #dfdfdf;
          height: 100%;
          line-height: 64px;
          width: 64px;
          cursor: pointer;
      }
  }
}
