
@import '../../../../theme/theme.scss';


.planDetail{
  height: 100%;
  display: flex;
  flex-direction: column;
  .detailTop{
    margin-bottom: 0;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 54px;
    .topHandle{
      display: flex;
      flex: 0 0 150px;
      justify-content: flex-end;
      align-items: center;
      button{
        margin-right: 12px;
      }
      .backIcon{
        @include backIcon();
      }
    }
  }
  .detailContent{
    flex: 1 0;
    padding: 16px 40px 24px 40px;
    overflow: auto;
    .eachContent{
      display: flex;
      line-height: 30px;
    }
    .detailTitle{
      flex: 0 0 400px;
      text-align: right;
      margin-right: 16px;
    }
    .detailValue{
      flex: 1;
      :global{
        .ant-switch{
          width: 46px;
        }
      }
      .logTip{
        margin-right: 4px;
      }
      .logValue{
        margin-right: 8px;
      }
    }
    .looger{
      display: flex;
      align-items: flex-start;
      .diffLeft{
        flex: 0 0 370px;
        display: flex;
        align-items: center;
      }
      .loggerName{
        flex: 0 0 60px;
        @include overflowText();
      }
    }
  }
}



.light.planDetail{
  
  .detailTop{
    color: var(--themeColor);
    background: #f0f2f5;
  }
  .detailContent{
    background-color: #fff;
    box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
    .detailTitle{
      color: #000;
    }
  }
}

.dark.planDetail{
  background-image: linear-gradient(-118deg, #3b55aa 0%, #132267 96%);
  .detailTop{
    background:rgba(20,33,101,0.40);
    border:1px solid #4288b5;
    color:#9cd1ff;
    margin-bottom: 10px;
  }
  .detailContent{
    background:rgba(20,33,101,0.40);
    .detailTitle{
      color: #00f0ff;
    }
    .detailValue{
      color: #9cd1ff;
    }
  }
}




