.inspectTable{
  display: flex;
  flex-direction: column;
  flex: 1;
  .action{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .add{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  .inspectStatus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .warning{
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }
  }
}