
.WindStation{
  background: #fff;
 height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  :global{ 
    .ant-progress-bg {
      border-radius: 100px;
      background-color: #199475;
  }
  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
    color: #199475;
  }
  //tab的表头的右侧附属
  .ant-tabs-extra-content {
    line-height: 51px;
   
}
  .ant-tabs-nav .ant-tabs-tab {
    display: inline-block;
    text-align: center;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    text-decoration: none;
    width: 55px;
    margin: 0;
    background: #f1f1f1;

  }
  .ant-tabs-nav-scroll{
    background: #fff;
   }
  .ant-tabs-nav-active{
    background: #199475
  }
  .ant-tabs-ink-bar .ant-tabs-ink-bar-animated{
    width: 0;
    height: 0;
  }

   width: 100%;
   //tableList的头部宽高
   .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td {
    padding: 0px 12px;
    height: 40px;
    line-height: 30px;
}
  }

  .smallTabs{
   
    :global{
      .ant-tabs-bar{
        border:none;
      }

      .ant-tabs-bar .ant-tabs-tab-active.ant-tabs-tab{
        background: #199475;
        border-color: #199475;
        color: #fff;
        margin: 0;
      }
      

    }
  }
  .provinceStationTotal{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .fontColor{
      color:#199475;
    }
  }
  .headStation{
    //color: #199475;
    border-bottom: 1px dashed #dfdfdf;
    height: 100px;
    display: flex;
    flex:1;
    .typeIcon{
      width: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .leftIcon{
        width: 60px;
        height: 60px;

        background: url('/img/wind-normal.png') no-repeat center;

      }
    }
    .progressInfo{
      display: flex;
      flex-direction: row;
      align-items: center;
      .progressData{
        width: 220px;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 25px;
        .stationValue{
          flex: 1;
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
        }
        .progressBar{
          flex: 1;
          width: 220px;
        }
        .stationType{
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 20px;
        }
      }
      .showInfo{
        background:#ffffff;
        box-shadow:0 1px 2px 0 rgba(0,0,0,0.20);
        border-radius:25px;
        width:80px;
        height:25px;
        text-align: center;
        line-height: 25px;
        color:#199475;
      }
    }

    .stationCollect{
      height: 100px;
      display: flex;
      flex-direction: row;

      .dayStation,.monthStation,.equipmentNum,.windSpeed{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        .dataValue {
          color:#199475;
          font-size: 20px;
          flex: 1;
          text-align: center;
          padding-top: 20px;
        }
        .dataWindValue{
          color:#3e97d1;
          font-size: 20px;
          flex: 1;
          text-align: center;
          padding-top: 20px;
        }
        .dataName {
          flex: 1;
          padding-bottom: 1px;

        }

       }

    }

  }
//卡片
  .stationCardContainer {
    border-top:1px dashed #dfdfdf; 
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    .stationCard {
      margin: 20px 0 10px 20px;
      padding: 8px;
      width: 215px;
      height: 132px;
      border-radius:4px;
      color: #999;
      background:#ffffff;
      box-shadow:0 1px 4px 0 ;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      a{
        text-decoration: none;
        color: #999;
      }
      i{
        color:#e08031;
      }
      .stationMark {
        color: #199475;
      }
    }
    .stationTest{
      margin: 20px 0 10px 20px;
      padding: 8px;
      width: 215px;
      height: 132px;
      border-radius:4px;  
      color: #999;
      display: flex;
      flex-direction: column;
      background:#f8f8f8;
      box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
      pointer-events: none;
      cursor: default;
      opacity: 0.6;
      a{
        text-decoration: none;
        color: #999;
      }
        
    }
    .stationCardTitle {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      .stationName{
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }
    .stationCardProgress {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .stationCardValue {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .stationCardWindSpeed {
      flex: 1;
    }
    .stationCardEquipmentNum {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .stationWarning {
      color: red;
    }
  }
  //列表
  .windStationList{
    border-top:1px dashed #dfdfdf; 
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      color:rgba(0, 0, 0, 0.65);
    }
    .pagination{
      flex:1;
      height: 45px;
      display: flex;
      justify-content: flex-end;
     line-height: 45px;

    }
    .stationName{
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        color: #199475;
      }
    }
    .stationrovince{
      width: 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .currentStation{
      .dataInterruptionColor{
        background: #e08031;
        width: 6px;
        height: 20px;
        border-radius:2px;

      }
      .unconnectionColor{
        background:#c7ceb2;
        width: 6px;
        height: 20px;
        border-radius:2px;
      }  
      .normalColor{
        background:#199475;
        width: 5px;
        height: 20px;
        border-radius:2px;

      }
    }
    
    .progressInfo{
      .progressData{
        width: 180px;
        height: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .stationValue{
          flex: 1;
          display: flex;
          justify-content: space-between;

        }
        .progressBar{
          flex: 1;
          width: 180px;
        }
        .stationType{
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

        }
      }
    }
  }


}


  .test1{
    .ant-tabs .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #199475;
      border-color: #199475;
      color: #fff;
      margin: 0;
  }
  }