@import '../../../../theme/theme.scss';

.forget{
  height: 426px;
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  .joinTop {
    padding: 28px 28px 20px;
    display: flex;
    justify-content: flex-end;
    .toLogin{
      color: $themeColor;
      cursor: pointer;
      margin-right: 8px;
    }
  }
  .stepOne, .stepTwo{
    margin: 0 auto;
    width: 220px;
    .textTip {
      line-height: 48px;
      color: #666;
    }
    :global{
      .ant-form-item{
        margin-bottom: 21px;
      }
      .ant-input-group-addon{
        background-color: #f1f1f1;
        padding: 0 7px;
      }
      .ant-input{
        padding: 4px;
      }
    }
  }
  .stepOne{
    .checkCodeBox{
      display: flex;
      justify-content: space-between;
      .verification{
        width:120px;
      }
      .queryCode{
        width: 80px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        background: #fff;
        border-color: $themeColor;
        color: $themeColor;
      }
    }
    .nextStep{
      width: 220px;
    }
  }
  .stepTwo{
    width: 330px;
    margin-left: 60px;
    .textTip{
      margin-left: 110px;
    }
    :global{
      .ant-btn {
        margin-left: 110px;
        background-color: $themeColor;
        color: #fff;
        width: 220px;
      }
    }
  }
}