@import '../../../../theme/theme.scss';

.joinIn{
  height: 426px;
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  .joinTop {
    padding: 28px 28px 20px;
    display: flex;
    justify-content: flex-end;
    .toLogin{
      color: $themeColor;
      cursor: pointer;
      margin-right: 8px;
    }
  }
  .stepOne{
    margin: 12px 32px 12px;
    .nameInput{
      width: 220px;
    }
    .checkName{
      margin-left: 33.33%;
      width: 220px;
    }
    .enterpriseInfo{
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      .enterpriseBtn{
        margin-top: 40px;
        width: 139px;
        height: 36px;
        border:1px solid #199475;
        color: #199475;
        border-radius: 0;
      }
      .enterpriseBack{
        margin-top: 50px;
        cursor: pointer;
        &:hover{
          color: $themeColor;
        }
      }
    }
    :global{
      .ant-form-item{
        margin-bottom: 21px;
      }
    }
  }
  .stepTwo, .stepThree{
    width: 220px;
    margin: 0 auto;
    .enterpriseLogo{
      text-align: center;
      margin-bottom: 16px;
      img{
        border-radius:4px;
        margin-bottom: 10px;
      }
    }
  }
  .stepTwo{
    .checkCodeBox{
      display: flex;
      justify-content: space-between;
      .verification{
        width:120px;
      }
      .queryCode{
        width: 80px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        background: #fff;
        border-color: $themeColor;
        color: $themeColor;
      }
      :global{
        .ant-input{
          width: 90px;
        }
      }
    }
    :global{
      .ant-input-group-addon{
        background-color: #f1f1f1;
        padding: 0 7px;
      }
      .ant-form-item{
        margin-bottom: 21px;
      }
      .ant-input{
        padding: 4px;
      }
      .ant-btn {
        background-color: $themeColor;
        color: #fff;
        width: 220px;
      }
    }
    .inviteInvalid{
      color: $darkColor;
      margin: 20px 0;
      text-align: center;
      span{
        color: #e08132;
      }
    }
  }
  .stepThree{
    width: 100%;
    .enterpriseLogo{
      margin-bottom: 8px;
      img{
        margin-bottom: 4px;
      }
      p{
        margin-bottom: 0;
      }
    }
    .userArgee, .joinButton{
      margin-left: 110px;
    }
    .userArgee{
      margin-bottom: 14px;
      .userAgreeTip{
        color: #449ad3;
      }
    }
    .stepThreeForm{
      width: 330px;
      margin-left: 30px;
      :global{
        .ant-input-group-addon{
          background-color: #f1f1f1;
          padding: 0 7px;
        }
        .ant-form-item{
          margin-bottom: 16px;
          .ant-form-item-label, .ant-form-item-control{
            line-height: 30px;
          }
        }
        .ant-input{
          padding: 4px;
          height: 30px;
        }
        .ant-btn {
          background-color: $themeColor;
          color: #fff;
          width: 220px;
        }
      }
    }
  }
}