@import '../../../../theme/theme.scss';

.login{
  height: 426px;
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  .joinTop {
    height: 20px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    .join {
      font-size: 14px;
      height: 20px;
      width: 86px;
      font-weight: 500;
      color: $themeColor;
      cursor: pointer;
      i {
        margin-right: 12px;
        font-size: 14px;
      }
    }
    .toLogin{
      color: $themeColor;
      cursor: pointer;
    }
  }
  .mainTitle{
    height: 66px;
    color: $themeColor;
    font-size: 18px;
    line-height: 66px;
    text-align: center;
    margin-bottom: 16px;
  }
  .loginAbnormal, .waitExamine{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    color:$darkColor;
    .abnormalIcon{
      display: block;
      margin: 0 auto;
      :global{
        .iconfont{
          font-size: 62px;
          color: $darkColor;
        }
      }
    }
  }
  .waitExamine{
    color: #e08031;
    .waitExamineIcon{
      :global{
        .iconfont{
          color: #e08031;
        }
      }
    }
  }
  .loginForm{
    width: 220px;
    margin: 0 auto;
    .checkCodeBox{
      display: flex;
      justify-content: space-between;
      .verification{
        width:120px;
      }
      .queryCode{
        width: 80px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        background: #fff;
        border-color: $themeColor;
        color: $themeColor;
      }
    }
    .loginChange{
      display: flex;
      justify-content: space-between;
      color:#199475;
      .changeText{
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        color:#199475;
        cursor: pointer;
      }
    }
    .loginError, .loseUser{
      height: 40px;
      line-height: 40px;
      color: #f5222d;
      .text{
        margin-left: 4px;
        font-weight: 700;
        cursor: pointer;
      }
    }
    :global{
      .ant-input-group-addon{
        background-color: #f1f1f1;
        padding: 0 7px;
      }
      .ant-form-item{
        margin-bottom: 21px;
      }
      .ant-input{
        padding: 4px;
      }
      .ant-btn {
        background-color: $themeColor;
        color: #fff;
        width: 220px;
      }
    }
  }
}