@import '../../../../theme/theme.scss';

.stockSearch{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:24px 35px;
  .searchLeft{
    .text,.warehouseName,.inventory{
      margin-right: 10px;
    }
    .warehouseName{
      width: 180px;
    }
  }
  .searchRight{
    .inImportBtn{
    }
  }
}

.stockList{
  .stockListTop{
    display: flex;
    justify-content: space-between;
    margin:0 0 15px 34px;

    :global {
      .ant-radio-group {
        .ant-radio-button-wrapper {
          color: #199475;
          border: 1px solid #199475;
          &:first-child {
              border: 1px solid #199475;
          }
          &:hover {
              background-color: #ceebe0;
          }
          &.ant-radio-button-wrapper-checked {
              background-color: #199475;
              color: #fff;
          }
        }
      }
    }
  }
  
}

.inRecordInfo{
  width: 320px;
  padding:10px;
  .title{
    display: flex;
    justify-content: space-between;
  }
  .title,.content{
    .text{
      font-weight: bold;
      text-align: right;
      margin: 0 10px 10px 0;
      display: inline-block;
      width: 60px;
    }
  }
}

.inRecordList{
  table{
    table-layout: fixed;
  }
  .materialCode,.goodsName,.goodsTypeName,.modeName,.warehouseName,.user{
    @include overflowText()
  }
  .moreInformation{
    cursor: pointer;
      color: var(--themeColor);
      &:hover{
         color: #f9b600;
      }
  }
}