
@import '../../../../theme/theme.scss';

.deviceManageSearch{ // 条件查询
  display: flex;
  align-items: center;
  height: 71px;
  line-height: 40px;
  border-bottom: solid 1px $promptColor;
  .titleText{
    color: $darkColor;
    margin-left: 28px;
    margin-right: 12px;
  }
  .typeSelect,.modelSelect{
    width: 198px;
    margin-right: 12px;
  }
  .typeSelect{
    margin: 0 12px;
  }
}
.deviceManageHandle{ // 导出设备， 翻页器
  display:flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  .plusButton {
    margin: 0 12px 0 32px;
    display: flex;
    padding: 0 15px 0 10px;
    .icon {
      margin: 0 16px 0 0;
    }
  }
  :global{
    .anticon-plus{
      color: #fff;
      height: 100%;
      border-radius: 2px 0 0 2px;
      width: 28px;
      text-align: center;
      line-height: 30px;
      background-color: $themeColor;
    }
  }
  .left{
    display: flex;
    flex:1;
  }
  .deletStyle,.import{
    margin:0 16px 0 0;
  }
  .import {
    margin-right: 0;
  }
  .downloadStyle{
    margin:0 16px 0 0;
  }
  .exportInfo{
    margin-left: 16px;
  }
  .deleteStationDevice{
    display: flex;
    justify-content: flex-end;
  }
}

.deviceManageList{ // 设备表格区
  border-top: 1px solid $promptColor;
  table{
    table-layout: fixed;
  }
  .deviceNameStyle,.deviceTypeName,.deviceModeName,.producerName,.madeName,.supplierName,{
    @include overflowText();
  }
  
  .deviceNameStyle,.edit,.del{
    cursor: pointer;
    color: var(--themeColor);
    &:hover{
      color:#f9b600;
    }
  }
  .editStyle{
    display: flex;
    justify-content: space-evenly;
  }
  .noEdit{
    cursor: not-allowed;
    color: var(--lightColor);
    font-size: 20px;
  }
  .edit,.del{
    font-size: 20px;
    padding: 0 6px;
  }  
}