
.loginLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  flex: 1;
  background: url("/img/bigbg.png") no-repeat center center;
  background-size: 100% 100%;
  
  .right {
    margin-top: 136px;
    width: 480px;
    height: 466px;
    background: #fff;
    opacity: 0.85;
    .rightContent {
      display: flex;
      justify-content: center;
      flex: 1;
      position: relative;
      .mainBox {
        width: 100%;
        height: 100%;        
        //登录/注册
        .login,.registerContent {
          width: 100%;
          height: 100%;
          padding: 24px 130px 0px 130px;
          :global{
            .ant-tabs-nav-wrap{
              .ant-tabs-nav-scroll{
                .ant-tabs-nav {
                  width: 100%;
                }
              }
            }
            .ant-tabs-nav .ant-tabs-tab{
              margin: 0;
              width: 50%;
              text-align: center;
              font-size: 18px;
            }
          }
          .joinTop {
            height: 20px;
            width: 220px;
            margin-bottom: 46px;
            margin-left: -108px;
            cursor: pointer;
            .fontIcon {
              float: left;
              width: 21px;
              height: 21px;
              border-radius: 3px 0 0 3px;
              text-align: center;
              margin-right: 8px;
              i {
                font-size: 14px;
                text-align: center;
                border: #999999;
                width: 22px;
                height: 22px;
              }
            }
            .join {
              font-size: 14px;
              height: 20px;
              width: 86px;
              margin-left: 8px;
              font-weight: 500;
              color: #999999;
              text-align: left;
            }
            
          }
          .joinTop:hover {
            color: #199475;
            .join:hover{
              color: #199475;
            }
          }
        }
        //忘记密码/加入企业
        .forgetPassword,.joinInContent {
          width: 100%;
          height: 100%;
          position: relative;
          .goLogin {
            margin: 40px 40px 40px 0;
            height: 20px;
            display: flex;
            justify-content: flex-end;
            span {
              color: #199475;
              font-weight: 500;
              margin-left: 10px;
              cursor: pointer;
            }
          }
        }
        :global{
          .ant-tabs-bar {
            width: 220px;
          }
          /*流程步骤的总长度*/
          .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content {
            width: 320px;
          }
          /*单个步骤流程*/
          .ant-steps-item-icon .ant-steps-item ,.ant-steps-item-finish{
            background: url("../../../assets/img/firstbg.png") no-repeat center ;
            width: 105px;
          }
          .ant-steps-item-process{
            background: url("../../../assets/img/firstbg.png") no-repeat center ;
          }
        }
      }
      //下面的联系我们
      .contactUs {
        position: absolute;
        left: 170px;
        width: 170px;
        height: 30px;
        top: 424px;
        a {
          width: 55px;
          margin-right: 30px;
          font-size: 14px;
          color: #999999;
          text-align: left;
          cursor: pointer;
        }
      } 
      .footerTitle{
        text-align: center;
        color:#fff;
        position: absolute;
        left:41px;
        top:532px;      
      }
    }
  }
  :global{
    .ant-tabs{
      overflow: visible;
    }
    //form表单Input下的提示语定位
    .ant-form-item-control-wrapper{
      .ant-form-explain{
        position: absolute;
        white-space: nowrap;
      }
    }
  }
}
