@import '../../theme/theme.scss';

.loginLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  flex: 1;
  .backgroundVideo{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .right {
    margin-top: 136px;
    width: 480px;
    height: 486px;
    background: #fff;
    opacity: 0.85;
    z-index: 99;
    .rightContent {
      display: flex;
      justify-content: center;
      flex: 1;
      position: relative;
      .mainBox {
        width: 100%;
        height: 100%;
        //登录/注册
        .login,.registerContent {
          width: 100%;
          height: 100%;
          padding: 24px 130px 0px 130px;
          :global{
            .ant-tabs-nav-wrap{
              .ant-tabs-nav-scroll{
                .ant-tabs-nav {
                  width: 100%;
                }
              }
            }
            .ant-tabs-nav .ant-tabs-tab{
              margin: 0;
              width: 100%;
              cursor: default;
              text-align: center;
              font-size: 18px;
            }
          }
          .joinTop {
            height: 20px;
            width: 430px;
            margin-bottom: 12px;
            margin-left: -108px;
            display: flex;
            justify-content: space-between;
            .fontIcon {
              float: left;
              width: 21px;
              height: 21px;
              border-radius: 3px 0 0 3px;
              text-align: center;
              margin-right: 8px;
              i {
                font-size: 14px;
                text-align: center;
                width: 22px;
                height: 22px;
              }
            }
            .join {
              cursor: pointer;
              font-size: 14px;
              height: 20px;
              width: 86px;
              margin-left: 8px;
              font-weight: 500;
              color: $darkColor;
              text-align: left;
            }

          }
          // .joinTop:hover {
          //   color: $themeColor;
          //   .join:hover{
          //     color: $themeColor;
          //   }
          // }
        }
        //忘记密码/加入企业
        .forgetPassword,.joinInContent {
          width: 100%;
          height: 100%;
          position: relative;
          .goLogin {
            margin-top: 27px;
            height: 20px;
            display: flex;
            justify-content: flex-end;
            margin-right: 35px;
            margin-bottom: 12px;
            //margin: 40px 40px 40px 0;


            span {
              color: $themeColor;
              font-weight: 500;
              margin-left: 10px;
              cursor: pointer;
            }
          }
        }
        .forgetPassword{
          .goLogin{
            margin-bottom: 36px;
          }

        }

        :global{
          .ant-tabs-bar {
            width: 220px;
            border:none;
          }
          /*流程步骤的总长度*/
          .ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content {
            width: 320px;
          }
          /*单个步骤流程*/
          .ant-steps-item-icon .ant-steps-item ,.ant-steps-item-finish{
            background: url("../../../assets/img/firstbg.png") no-repeat center ;
            width: 105px;
          }
          .ant-steps-item-process{
            background: url("../../../assets/img/firstbg.png") no-repeat center ;
          }
        }
      }
      .apk{
        position: absolute;
        right: 80px;
        bottom: -60px;
        background: url("../../../assets/img/apkbackgroud.png") no-repeat center ;
        box-shadow: #eeee 0px -1px 2px;
        width:134px;
        height:124px;
        .a{
          margin-top: 5px;
          text-align: center;
        }
        .b{
          margin-top: 3px;
          margin-left: 36px;
          width: 64px;
          height: 64px;
        }
        .c{
          margin-bottom: 3px;
          text-align: center;
        }
      }
      //下面的联系我们
      .bottomInfoAppDownload {
        position: absolute;
        left: 130px;
        width: 250px;
        height: 30px;
        top: 424px;
        display: flex;
        justify-content: space-between;
        .agreement, .contact, .appdownload {
          font-size: 14px;
          color: $darkColor;
          text-align: left;
          cursor: pointer;
        }
      }
      .bottomInfo {
        position: absolute;
        left: 170px;
        width: 250px;
        height: 30px;
        top: 444px;
        .agreement, .contact{
          width: 55px;
          margin-right: 30px;
          font-size: 14px;
          color: $darkColor;
          text-align: left;
          cursor: pointer;
        }
      }
      .footerTitle{
        text-align: center;
        color:#fff;
        position: absolute;
        left:41px;
        top:532px;
      }
      .versionTitle{
        text-align: center;
        color:#fff;
        position: absolute;
        left: 190px;
        top:560px;
      }
    }
  }
  :global{
    .ant-tabs{
      overflow: visible;
    }
    //form表单Input下的提示语定位
    .ant-form-item-control-wrapper{
      .ant-form-explain{
        position: absolute;
        white-space: nowrap;
      }
    }
  }
}
