@import '../../../../../theme/theme.scss';

@mixin top() {
  //详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;
}


.planSide {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // padding: 24px 24px 0;
  background: #f0f2f5;
  z-index: 15;
  box-shadow: 0 2px 5px 3px rgba(0,0,0,0.20);
  margin-left: -1px;
  .addPlan {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    z-index: 15;

    .editTop {
      @include top;
      justify-content: space-between;

      .text {
        font-size: 18px;
        color: $darkColor;
        letter-spacing: 4px;
      }

      .backIcon {
        @include backIcon()
      }
    }

    .mainPart {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      line-height: 40px;

      .selectTime {
        margin-left: 50px;
        margin-right: 40px;

        :global {
          .ant-input {
            width: 142px;
          }
        }

        >span {
          margin-right: 5px;

          >i {
            color: #d0021b;
            margin-right: 3px;
          }
        }
      }

      .selectStation {
        display: flex;
        flex-direction: row;

        :global {
          .ant-input {
            width: 200px;
          }
        }

        >span {
          margin-right: 5px;

          >i {
            color: #d0021b;
            margin-right: 3px;
          }
        }

        .addPlanNext {
          margin-left: 12px;
          margin-top: 4px;
        }

        .addPlanNextDisabled {
          margin-left: 12px;
          margin-top: 4px;
        }
      }
    }
  }

  .editPlan {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e1e2e2;
    z-index: 15;

    .editPlanTitle {
      height: 64px;
      border-bottom: 1px solid $promptColor;
      line-height: 64px;
      display: flex;
      justify-content: space-between;

      .sideEidtTitleTip {
        margin-left: 30px;
        font-size: 18px;
      }

      .sideEditTitleRight {
        display: flex;
        justify-content: flex-end;

        .addPlanPrev {
          margin-top: 15px;
        }

        .savePlan {
          margin: 15px 10px 0 22px;
        }

        .backIcon {
          @include backIcon();
        }
      }
    }

    .mainPart {
      .delete {
        color: $themeColor;
        cursor: pointer;
        line-height: 38px;
        display: block;
        font-size: 18px;
        &:hover{
           color: #f9b600;
        }
      }

      .save {
        color: #f9b600;
      }

      .mainPartTop {
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        color: #353535;
        margin-left: 30px;
        span {
          color: #199475;
        }
      }

      table{
        table-layout: fixed;
      }

      .regionNameText,.stationNameText,.stationCapacityText{
        @include overflowText()
        width: calc(100% - 2px);
      }


      :global {
        .ant-input {
          background: #fcffe5;
          padding: 0 2px;
          border: 1px solid #f9b600;
          text-align: right;
        }

       .ant-table .ant-table-tbody > tr > td:first-child.leftContent{
          padding-left: 10px;
        }

        .ant-input.ant-input-disabled {
          background: #f8f8f8;
          border: 1px solid #d4d4d4;
          text-align: left;
          color:var(--lightColor);
        }

        .ant-input:focus {
          background: #ffffff;
          border: 1px solid #d4d4d4;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }

  .formItem{
    margin:  0 2px;
  }

}