@import '../../../../theme/theme.scss';

.dataHistory{
  display: flex;
  flex-direction: column;
  height: 100%;
  .contentBox{
    @include contentBoxStyle();
  }
  .historyContent{
    background-color: #fff;
    flex: 1;
  }
  .dataCenter{
    display: flex;
  }
}