@import '../../../../theme/theme.scss';

.dataHistory {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex:1;

  .contentBox {
    @include contentBoxStyle();
    overflow: hidden;
  }

  .historyContent {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dataCenter {
    flex: 1;
    display: flex;
    border: 1px solid #d4d4d4;
  }
}