@import '../../../../../../theme/theme.scss';

.pvmodule{
  .pvmoduleList{
    height: 49px;
    margin: 28px 0;
    display: flex;
    flex-direction: row-reverse;
    .pvmoduleItem{
      width: 180px;
      height: 60px;
      .sightValue{
        background: #ceebe0;
        width: 22px;
        height: 14px;
        display: inline-block;
        font-size: 11px;
        color: #fff;
      }
    }
  }
}