@import '../../../../../../theme/theme.scss';

.pvmodule{
  .pvmoduleList{
    .pvmoduleItem{
      width: 205px;
      height: 60px;
      margin: 0 12px;
      display: inline-block;
      margin-bottom: 20px;
      :global{
        .iconfont{
          width: 21px;
          height: 26px;
          margin-right: 5px;
        }
      }
      .sightValue{
        background: #ceebe0;
        width: 21px;
        height: 18px;
        display: inline-block;
        font-size: 11px;
        color: #fff;
        margin: 0 2px;
      }
    }
  }
}