@import "../../../theme/theme.scss";

.breadcrumb {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  .leftText {
    .breadIcon {
      margin-left: 12px;
      margin-right: 8px;
      :global {
        .iconfont {
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }
    .eachPath {
      margin-right: 4px;
    }
  }
  .rightText {
    margin-right: 24px;
  }
}

.light {
  // background: #fff;
  :global {
    .iconfont {
      color: $themeColor;
    }
  }
  .eachPath {
    color: $darkColor;
    a {
      color: $themeColor;
    }
  }
  .rightText {
    a {
      color: $themeColor;
      &:hover{
        color: #FF9900;
      }
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  background: transparent;
  :global {
    .iconfont {
      color: $themeColor;
    }
  }
  .eachPath {
    color: #7088c3;
    a {
      color: #7088c3;
    }
  }
  .rightText {
    a {
      color: $themeColor;
    }
  }
}
