@import "../../../theme/theme.scss";
.filterCondition {
  min-height: 80px;
  height: auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 26px 28px 20px;
}

.filterConditionTitle {
  display: flex;
  .text {
    margin-right: 16px;
    line-height: 30px;
    width: 56px;
    flex-shrink: 0;
  }
  .filterlistBox {
    display: flex;
    flex-wrap: wrap;
  }

  .switch {
    line-height: 32px;
    span {
      margin-left: 4px;
    }
  }
  .filterlist {
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 4px;
    i {
      display: inline-block;
      margin-left: 8px;
    }
  }
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}
.filterItem {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  padding: 12px 24px;
  min-height: 40px;
  border-radius: 2px;

  > span {
    margin-bottom: 8px;
  }
  :global {
    .ant-input {
      width: 280px;
    }
  }
  .allCheck {
    width: 100px;
    flex: 1;
    display: flex;
  }
  .all {
    display: inline-block;
    width: 29px;
    height: 19px;
    border-bottom: none;
    cursor: pointer;
  }
  .selected {
    display: inline-block;
    width: 29px;
    height: 19px;
    cursor: pointer;
    text-align: center;
  }
  .lines {
    display: inline-block;
    padding: 0 5px;
  }
}
.filteredItems {
  display: flex;
  .selectText {
    line-height: 30px;
    height: 30px;
    width: 56px;
    margin: 8px 16px 0 0;
    flex: 0 0 56px;
  }
  .tagWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .tag {
      padding: 0 10px;
      height: 30px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-right: 16px;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .resetAll {
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    display: inline-block;
    line-height: 30px;
  }
}

.light {
  .filterConditionTitle {
    color: $themeColor;
    .text {
      color: $darkColor;
    }
    .switch {
      .switchText {
        color: var(--darkColor);
      }
    }
    .filterlist {
      border: 1px solid #d4d4d4;
      color: #353535;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $themeColor;
        color: $themeColor;
      }
    }
    .disabled {
      background: #f7f7f7;
      border: 1px solid #d9d9d9;
      color: #d4d4d4;
    }
  }
  .filteredItems {
    .tag {
      border: 1px dashed #d4d4d4;
      &:hover {
        background: #199475;
        color: #fff;
        border: 1px dashed #199475;
      }
    }
    .resetAll {
      color: #199475;
    }
  }
  .filterItem {
    background-color: #f0f2f5;
    :global {
      .ant-input {
        &:hover {
          border-color: $themeColor;
        }
      }
    }
    .all {
      color: $darkColor;
    }
    .selected {
      color: $themeColor;
      border-bottom: 1px $themeColor solid;
    }
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  background: $light-background;
  border: 1px solid $border-color;
  .filterConditionTitle {
    color: $fontColor;
    .filterlist {
      border: 1px solid $fontColor;
    }
    .disabled {
      background: #405080;
      border: 1px solid #7088c3;
      color: #7088c3;
    }
  }
  .filteredItems {
    color: $fontColor;
    .tag {
      border: 1px dashed $fontColor;
      &:hover {
        background: $fontColor;
        color: $fontColor-invert;
        border: 1px dashed $fontColor;
      }
    }
    .resetAll {
      color: #dca30b;
    }
  }
  .filterItem {
    color: $fontColor;
    background-color: #1e246e;
    :global {
      .ant-input {
        &:hover {
          border-color: $themeColor;
        }
      }
    }
    .all {
      color: $fontColor;
    }
    .selected {
      color: $themeColor;
      border-bottom: 1px $themeColor solid;
    }
  }
  :global {
    .ant-tabs-bar {
      border-bottom: 1px solid $border-color;
    }
    .ant-tabs-nav-scroll {
      background: transparent !important;
    }
    .ant-tabs-tab-prev,
    .ant-tabs-tab-next {
      color: $fontColor;
      &:hover {
        color: $fontColor-hover;
      }
    }
    .ant-tabs-nav .ant-tabs-tab {
      &:hover {
        color: $fontColor-hover;
      }
    }
  }
}
