@import '../../../../theme/theme.scss';
.singleAlarmCount {
    background: $pageGround;
    display: flex;
    flex: 1;
}

.alarmCount {
    background: $pageGround;
    display: flex;
    flex: 1;
    flex-direction: column;
    .typeSelect {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 40px;
        line-height: 40px;
        justify-content: space-between;
        background: #f8f8f8; // border-bottom:1px solid #d4d4d4;
        .type {
            display: flex;
            flex-direction: row;
            >div {
                width: 120px;
                text-align: center;
                color: $lightColor;
                border-right: 1px solid #d4d4d4;
                cursor: pointer;
            }
            .active {
                background: #fff;
                color: #000;
                position: relative;
            }
            .active::before {
                content: '';
                width: 120px;
                height: 2px;
                background: #199475;
                position: absolute;
                left: 0;
            }
        }
    }
    .serchSelect {
        display: flex;
        width: 100%;
    }
    .alarmCountCont {
        .exportData {
            margin-right: 30px;
            :global {
                button:focus {
                    outline: none;
                }
            }
            .exportBtn {
                color: $themeColor;
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid #199475;
                line-height: 30px;
                height: 30px;
                width: 66px;
                margin-top: 9px;
                cursor: pointer;
            }
            .exportBtn:hover {
                background: $themeColor;
                color: #fff;
            }
        }
        .explanation{
            height: 32px;
            line-height: 32px;
            margin: 29px 31px;
            background:#f8f8f8; 
            color: #999;
            padding-left: 24px;
        }
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 45px;
            line-height: 45px;
            margin-bottom: 10px;
        }
        :global {
            .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters {
                padding-right: 16px !important;
            }
            .ant-tabs-bar {
                background-color: #fff;
                border-bottom: 1px dashed #d4d4d4;
                border-top: 1px dashed #d4d4d4;
            }
            .ant-tabs-bar .ant-tabs-tab-active.ant-tabs-tab {
                background: $themeColor;
                border-color: $themeColor;
                color: #fff;
                margin: 0;
            }
            .ant-tabs-bar .ant-tabs-tab {
                background-color: #f1f1f1;
            }
            .ant-table-placeholder {
                border: none
            }
        }
    }
}