@import '../../../../theme/theme.scss';
.containerDiv {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.containerBg {
  @include contentBoxStyle();
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
}
