
@import '../homepageParts.scss';

@media screen and (max-width: 1919px) { // 1920以下宽度屏按1680展示
  //1. 各个盒子宽度
  //2. 完成率内容宽度
}

@media screen and (min-width: 1920px){ // 1920及以上屏幕按1920展示
  
}

.stationTypeTag{ // 全部,风,光切换样式。
  display: flex;
  .text{
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.stationGeneral{ // 电站概况
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border:1px solid #3f566c;
  box-shadow:0 0 6px 0 rgba(255,255,255,0.30);
  align-content: flex-start;
  h3{
    @include titles();
    width: 100%;
    margin: 12px 0 0;
    height: 36px;
  }
  .checkTags{
    @include typeTags();
  }
  .eachGeneral{
    width: 50%;
    margin-top: 16px;
    .value,.unit,.name{
      font-family:PingFangSC-Regular;
      color:#06bdf4;
      margin-left: 40px;
    }
    .value{
      font-size:28px;
      color:#4dde49;
    }
    .unit{
      font-size:18px;
      line-height:16px;
      margin-left: 0;
    }
    .name{
      font-size:22px;
      line-height:16px;
      margin-top: 8px;
    }
  }
}


.monthGen, .deviceStatus, .energySaving, .eqpHours, .faultList, .alarmList, .completeRate, .operationInfo{ // 每月发电量样式 + 其他所有盒子总样式。
  height: 205px;
  margin-top: 12px;
  @include boxStyle();
  position: relative;
  h3{
    @include titles();
    margin: 8px 0 0;
  }
  .checkTags{
    @include typeTags();
  }
  .monthChart{
    height: 165px;
    flex: 1;
  }
}

.completeRate, .operationInfo{ // 计划完成率 + 运维情况部分样式
  margin-top: 12px;
  width:400px;
  height: 185px;
  .text{ // 风，光提示
    display: flex;
    justify-content: space-between;
    height: 36px;
    line-height: 36px;
    .wind, .pv{
      padding-left: 16px;
      height: 21px;
      color: #48cf49;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 4px;
        top: 14px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #48cf49;
      }
    }
    .pv{
      color: #06bdf4;
      &::before{
        background-color: #06bdf4;
      }
    }
  }
  .timeComplete{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .windPercent, .pvPercent, .planName{
      font-size: 20px;
      color: #06bdf4;
    }
    .planName{
      font-size: 14px;
    }
    .windPercent{
      color: #48cf49;
    }
    :global{
      .ant-progress{
        width: 105px;
        top: -2px;
        .ant-progress-inner{
          background:#28608f;
        }
      }
    }
  }
}

.outputPower{ // 电站出力
  height: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  border:1px solid #3f566c;
  box-shadow:0 0 6px 0 rgba(255,255,255,0.30);
  h3{
    @include titles();
  }
  .checkTags{
    @include typeTags();
  }
  .outputChart{
    height: 200px;
  }
  .totalPower{
    display: flex;
    justify-content: center;
    .highlight{
      color:#4dde49;
      font-size:28px;
    }
    .text{
      color:#06bdf4;
    }
  }
}

.operationInfo{ // 运维情况
  display: flex;
  flex-direction: column;
  .ticketDetail{
    display: flex;
    justify-content: space-around;
  }
  .ticketDone, .ticketDoing{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
      color:#06bdf4;
    }
  }
  .doneData, .doingData{
    width: 82px;
    height: 82px;
    color:#4dde49;
    font-size:28px;
    text-align: center;
    line-height: 82px;
    background: url('/img/turn1.png') no-repeat center center,
      url('/img/rotate.png') no-repeat center center;
  }
  .doingData{
    background: url('/img/turn2.png') no-repeat center center,
      url('/img/rotate.png') no-repeat center center;
  }
}

.deviceStatus{ // 设备状态
  .statusBox{
    flex: 1;
    display: flex;
    .statusChart, .statusTotal{
      width: 50%;
      flex: 1;
    }
    .eachStatus{
      display: flex;
      .normalRound, .faultRound, .stopRound, .connectRound{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #145998;
      }
      .faultRound{
        background-color: #3fa9ef;
      }
      .stopRound{
        background-color:#6868b2;
      }
      .connectRound{
        background-color:#6ae3c1;
      }
      .text{
        color:#06bdf4;
      }
      .value{
        color:#4dde49;
      }
    }
  }
}

.energySaving{ // 节能减排
  width: 400px;
  .saveContent{
    display: flex;
    .eachSaving{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .savedData{
      .value{
        font-size:24px;
        color:#4dde49;
      }
      .unit{
        color:#06bdf4;
      }
    }
  }
}

.eqpHours{ // 今年等效利用小时数
  width: 420px;
  .stationProgress{
    .eachStation{
      display: flex;
      .stationName, .hour{
        color:#06bdf4;
      }
      .hourRectGroup{
        display: flex;
        .eachRect{
          background:rgba(72,207,73,0.40);
          margin-right: 2px;
          display: flex;
          .highLightRect{
            background:#48cf49;
          }
        }
      }
    }
  }
  .average{
    display: flex;
    justify-content: flex-end;
    .averageText{
      color:#06bdf4;
    }
    .averageNum{
      color: #48cf49;
    }
  }
}

.faultList{ // 本月故障台次
  .faultContent{
    display: flex;
    .list, .chart{
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .eachFault{
      .text{
        color:#06bdf4;
      }
      .value{
        color:#4dde49;
      }
    }
  }
}

.alarmList{ // 告警列表
  .alarmContent{

  }
  .alarmColumn, .eachAlarm{
    display: flex;
    .level, .stationName, .info, .time{
      color: #06bdf4;
    }
    .level{
      color: #fff;
    }
  }
}
