
@import '../../theme/theme.scss';


.loginLayout {
  :global{
    ::-webkit-scrollbar {
      width: 6px;
      height: 200px;
      background-color: #fff;
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 3px;
      background-color: #555;
      opacity: .5;
    }
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  flex: 1;
  background: url("/img/bigbg.png") no-repeat center center;
  background-size: 100% 100%;

  .right {
    border-radius: 4px;
    margin-top: 136px;
    width: 480px;
    height: 486px;
    background: #fff;
    opacity: 0.85;
    .rightContent {
      display: flex;
      justify-content: center;
      flex: 1;
      position: relative;
      .mainBox {
        width: 100%;
        height: 100%;
      }
      .contactAgreement{
        display: flex;
        justify-content: center;
        .innerContent{
          width: 480px;
          text-align: center;
          .goBackLogin{
            position:absolute;
            left: 0;
            top: 426px;
            width: 480px;
            height: 40px;
            line-height: 40px;
            background: #fff;
            opacity: .9;
            border-radius: 4px;
          }
          .footerTitle{
            text-align: center;
            color:#fff;
            position: absolute;
            left:41px;
            top:532px;
          }


          .content{
            height: 466px;
            width: 100%;
            padding: 24px;
            border: 1px solid $promptColor;
            border-radius: 4px;
            overflow: auto;
            text-align: left;
            line-height: 30px;
          }
        }
      }
    }
  }
}
