@import '../../theme/theme.scss';

.forgetPass {
  margin-left: 140px;
  .resetPassword{
    margin-left: -96px;
    .newPass{
      margin-left: 115px;
      margin-bottom: 15px;
      display: block;
    }
    :global{
      .ant-form {
        width: 330px;
        .ant-form-item {
          width: 330px;
        }
      }
      .ant-btn-primary:focus{
        background-color: $themeColor;
      }
      .ant-input-group-addon{
        background-color: #f1f1f1;
        padding: 0 7px;
      }
      .ant-input:focus {
        border-color: $themeColor;
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }
      .ant-input{
        padding: 4px 7px;
      }
      .ant-btn-primary {
        width: 100%;
      }
    }
  }
  .checkCode{
    .findPass {
      font-size: 14px;
      color: $darkColor;
      text-align: left;
      display: block;
      margin-bottom: 15px;
    }
    .checkCodeBox {
      display: flex;
      justify-content: space-between;
      width: 220px;
      .queryCode{
        width: 114px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        :global{
          button{
            width: 80px;
          }
        }
        background: #fff;
        border-color: #199475;
        color: #199475;
      }
      .queryCodeClick{
        width: 114px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        background:#f7f7f7;
        border:1px solid #d4d4d4;
        color: #d4d4d4;
        :global{
          button{
            width: 80px;
          }
        }
        
      }
      .testCode{
        width: 64px;
        :global{
          .ant-input{
            width: 90px;
          }
          .ant-btn-primary {
            width: 220px;
          }
        }
      }
    }
    :global{
      .ant-input-group-addon{
        background-color: #f1f1f1;
        padding: 0 7px;
      }
      .ant-btn-primary:focus{
        background-color: $themeColor;
        border-color: $themeColor;
      }
      .ant-input:focus {
        border-color: $themeColor;
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }
      .ant-input{
        padding: 4px 7px;
      }
      .ant-form {
        width: 220px;
        .ant-form-item {
          width: 220px;
          .ant-btn {
            width: 220px;
          }
        }
      }
    }
  }
  
}
