@import '../../theme/theme.scss';

.forgetPass {
  margin-left: 140px;
  .findPass {
    font-size: 14px;
    color: #999999;
    text-align: left;
    display: block;
    margin-bottom: 15px;
  }
  .checkCodeBox {
    display: flex;
    justify-content: space-between;
    width: 200px;
    .queryCode{
      width: 100px;
      margin-top: 6px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background: #fff;
      border-color: #199475;
      color: #199475;
    }
    .queryCodeClick{
      width: 100px;
      margin-top: 6px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background:#f7f7f7;
      border:1px solid #dfdfdf;
      color: #dfdfdf;
    }
    .testCode{
      width: 64px;
      :global{
        .ant-input{
          width: 90px;
        }
        .ant-btn-primary {
          width: 200px;
        }
      }
    }
  }
  :global{
    .ant-btn-primary:focus {
      background-color: $themeColor;
    }
    .ant-form {
      width: 200px;
      .ant-form-item {
        width: 200px;
        .ant-btn {
          width: 200px;
        }
      }
    }
  }
}
