.forgetPass {
  margin-left: 140px;
  .findPass {
    font-size: 14px;
    color: #999999;
    text-align: left;
    display: block;
    margin-bottom: 15px;
  }

  .testCode{
    width: 80px;
    :global{
      .ant-input{
        width: 90px;
      }
    }
    .checkCodeBox {
      display: flex;
      justify-content: space-between;
      width: 200px;
    }
    :global{
      .ant-btn-primary {
        width: 200px;
      }
    }
    .queryCode{
      width: 100px;
      margin-top: 4px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background: #fff;
      border-color: #199475;
      color: #199475;
    }
    .queryCodeClick{
      width: 100px;
      margin-top: 4px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background:#f7f7f7;
      border:1px solid #dfdfdf;
      color: #dfdfdf;
    }
  }
}