
@import '../../theme/theme.scss';

.infoModal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  background-color: transparent;
  // background: url("/img/bigbg.png") no-repeat center center;
  // background-size: 100% 100%;
  .modalBox{
    width: 480px;
    height: 480px;
    background-color: #f1f1f1;
    // opacity: 0.85;
    .content{
      height: 440px;
      width: 100%;
      padding: 24px;
      border-radius: 4px;
      overflow: auto;
      text-align: left;
      line-height: 30px;
      &::-webkit-scrollbar {
        width: 6px;
        height: 200px;
        background-color: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb{
        border-radius: 3px;
        background-color: #555;
        opacity: .5;
      }
    }
    .back{
      width: 100%;
      position: absolute;
      top: 436px;
      line-height: 40px;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      // background-color: #fff;
    }
    .footerTitle{
      width: 100%;
      text-align: center;
      color:#fff;
      position: absolute;
      top:532px;      
    }
  }
  :global{
    .ant-modal{
      margin-top: 136px;
      top: 0;
      .ant-modal-body{
        padding: 0;
      }
    }
  }
}