.comName{
  width: 300px;
  margin-left: 90px;
  .inviteUser{
    text-align: center;
    .inviteTip{
      margin: 20px 0;
      span{
        color: #e08031;
      }
    }
  }
  .joinCheckCode{
    width: 200px;
    margin: 0 auto;
  }
  .enterpriseInfo{
    width: 416px;
    margin-left: -40px; 
    text-align: center;
    margin-top: 60px;
    .enterpriseBack{
      margin-top: 50px;
    }
    .enterpriseBtn{
      margin-top: 40px;
      width: 139px;
      height: 36px;
      border:1px solid #199475;
      color: #199475;
    }
  }
  .checkCodeBox{
    display: flex;
    justify-content: space-between;
    width: 200px;
    .testCode{
      width: 80px;
      :global{
        .ant-input{
          width: 90px;
        }
      }
    }
    .queryCode{
      width: 100px;
      margin-top: 4px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background: #fff;
      border-color: #199475;
      color: #199475;
    }
    .queryCodeClick{
      width: 100px;
      margin-top: 4px;
      margin-right: 0;
      padding: 0 5px;
      height: 30px;
      :global{
        button{
          width: 80px;
        }
      }
      background:#f7f7f7;
      border:1px solid #dfdfdf;
      color: #dfdfdf;
    }
  }
  :global{
    .ant-btn-primary {
      width: 200px;
    }
    .ant-form-item-control-wrapper{
      padding-left: 5px;
    }
  }
}