.verificationCode{
  div{
    display: flex;
    justify-content: space-between;
  }
  
}
.loginChange{
  display: flex;
  justify-content: space-between;
  span{
    color:#199475;
    cursor: pointer;
  }
  
}