@import '../../theme/theme.scss';


.loginForm{
  :global{
    .ant-input:focus {
      border-color: $themeColor;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }
    .ant-input-group-addon{
      background-color: #f1f1f1;
      padding: 0 7px;
    }
    .ant-input{
      padding: 4px;
    }
    .ant-input:focus {
      border-color: $themeColor;
      box-shadow: 0 0 0 0;
    }
    .ant-btn:hover, .ant-btn:focus, .ant-btn::selection{
      color: #fff;
    }
    .ant-btn-primary:focus {
      background-color: $themeColor;
    }
    .ant-form {
      width: 220px;
      .ant-form-item {
        margin-bottom: 21px;
        .ant-btn {
          width: 220px;
        }
      }
    }
  }
  .usernameInput{
    margin-top: 24px;
  }
  .verificationCode{
    margin-top: 24px;
    .checkCodeBox{
      display: flex;
      justify-content: space-between;
      width: 220px;
      .testCode{
        width: 64px;
        :global{
          .ant-input{
            width:90px;
          }
        }
      }
      .queryCode{
        width: 96px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        :global{
          button{
            width: 80px;
          }
        }
        background: #fff;
        border-color: #199475;
        color: #199475;
      }
      .queryCodeClick{
        width: 96px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        :global{
          button{
            width: 80px;
          }
        }
        background:#f7f7f7;
        border:1px solid #d4d4d4;
        color: #d4d4d4;
      }
    }
  }
  .loginChange{
    width: 220px;
    display: flex;
    justify-content: space-between;
  
    span{
      font-size: 12px;
      color:#199475;
      cursor: pointer;
    }
  
  }
  .loginBtn{
    display: flex;
    flex-direction: column;
    width: 220px;
    :global{
      .ant-btn-primary {
        width: 220px;
      }
    }
    .yiLogin{
      font-size:14px;
      color:#199475;
      text-align: right;
      cursor: pointer;
    }
  }
  .loginAbnormal{
    width: 220px;
    text-align: center;
    margin-top: 60px;
    .abnormalIcon{
      display: block;
      margin: 0 auto;
      :global{
        .iconfont{
          font-size: 62px;
        }
      }
    }
  }
  .checkLoginPhone{
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 8px auto;
    background: #f1f1f1;
    border-radius:2px;
    font-size: 12px;
    p{
      text-align: left;
      text-indent: 2em;
      margin-bottom: 0;
      line-height: 24px;
      color: $darkColor;
      span{
        color: $themeColor;
        cursor: pointer;
        font-weight: 700;
      }
    }
  }
  .loseInfo .userInfo{
    cursor: pointer;
  }
}
