@import '../../theme/theme.scss';

.registerBox{
  position: relative;
  :global{
    .ant-input:focus {
      border-color: $themeColor;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }
    .ant-steps-item-icon{
      margin-right: 5px;
    }
    .ant-tabs-nav{
      width: 100%;
    }
    .ant-tabs-tab-active {
      width: 50%;
    }
    .ant-input-group-addon{
      padding: 0 7px;
      background-color: #f1f1f1;
    }
    .ant-tabs-nav .ant-tabs-tab{
      margin: 0;
      width: 50%;
      text-align: center;
      font-size: 18px;
    }
    .ant-btn-primary:focus {
      background-color: $themeColor;
    }
    .ant-steps {
      position: absolute;
      left: -56px;
      top: 0px;
      margin-bottom: 10px;
    }
    .steps-content{
      margin-top: 10px;
      padding-top: 50px;
    }
    .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
      background: url(/img/graybg.png) no-repeat 0 center;
      width: 107px;
    }
    .ant-form-item-label{
      text-align: right;
    }
    .ant-form-item-label label {
      color: $darkColor;
    }
    .ant-form-item-label label:after{
      content: "";
    }
    .ant-input{
      padding: 4px 7px;
    }
  }
  .registerTips{
    text-align: center;
    padding-top: 40px;
    width: 220px;
    font-size:12px;
    color:#d4d4d4;
  }
  .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 220px;
    text-align: center;
    padding-top: 80px;
  }
  .verificationCode{
    width:220px;
    .phoneInput{
      .login-form-button,.mobileNumber{
      }
    }
    .checkCodeBox{
      display: flex;
      justify-content: space-between;
      width: 220px;
      .testCode{
        width: 64px;
        :global{
          .ant-input{
            width: 90px;
          }
        }
      }
      .queryCode{
        width: 114px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        :global{
          button{
            width: 80px;
          }
        }
        background: #fff;
        border-color: #199475;
        color: #199475;
      }
      .queryCodeClick{
        width: 114px;
        margin-top: 6px;
        margin-right: 0;
        padding: 0 5px;
        height: 30px;
        :global{
          button{
            width: 80px;
          }
        }
        background:#f7f7f7;
        border:1px solid #d4d4d4;
        color: #d4d4d4;
      }
    }
    :global{
      .ant-btn-primary {
        width: 220px;
      }
    }
  }
  .enterpriseInfor{
    margin-left: -152px;

    .userArgee{
      .userAgreeTip{
        color: #449ad3;
      }
    }
    .domain{
      display: flex;
      flex-direction: row;
      span{
        color: $themeColor;
      }
    }
    :global{
      .ant-form input[type="checkbox"]{
        background-color: $themeColor;
      }
      .ant-input{
        width: 220px;
      }
      .is-validating.has-feedback .ant-form-item-children::after{
        content: '';
      }
      .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner{
        border-color: $themeColor;
      }
      .ant-btn-primary {
        width: 220px;
      }
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: $themeColor;
      }

    }
    .userArgee::selection{
      background-color: #199475;
    } 
  }
  .contactUs{
    position: absolute;
    top: 580px;
    left: 170px;
    width: 170px;
    height: 30px;
    span{
      width: 55px;
      margin-right: 30px;
      font-size:14px;
      color:$darkColor;
      text-align:left;
    }
  }
  .userInfor{
    :global{
      .ant-form-item, .ant-form-horizontal {
        margin-bottom: 21px;
        width: 340px;
        margin-left: -44px;
      }
      .ant-btn-primary {
        width: 100%;
        margin-left: -26px;
      }
    }
  }
}





