@import '../stationStyle.scss';

.stopAnalysis{
  display: flex;
  flex-wrap: wrap;
  .eleTypes{
    flex-basis: 100%;
    height: 60px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info{
      width: 860px;
      flex-basis: calc(100% - 260px);
      display: flex;
      height: 32px;
      line-height: 32px;
      position: relative;
    }
    .eachInfo{
      flex-shrink: 0;
      flex-grow: 0;
      text-align: center;
      cursor: pointer;
      @include overflowText();
    }
    .detail{
      position: absolute;
      border-radius: 4px;
      top: 32px;
      min-width: 150px;
      height: 76px;
      .title, .eachDetail{
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 0;
      }
      .eachDetail{
        display: flex;
        justify-content: space-between;
        .detailText{
          flex: 0 0 auto;
        }
      }
    }
    .stopTypeHanlder{
      margin-right: 4px;
    }
  }
  .modes{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 36px;
    top: 114px;
    font-size: 12px;
    .eachMode{
      margin-right: 20px;
    }
    .rect{
      margin-right: 4px;
      border-radius:2px;
      display: inline-block;
      width: 15px;
      height: 9px;
    }
    .line, .lineHour, .lineCount{
      display: inline-block;
      width:5px;
      margin: 0 10px 0 4px;
      height:5px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 1px;
        right: -6px;
        top: 1px;
      }
    }
    .modeText{
      white-space: nowrap;
    }
  }
  .stopRank, .stopTrend, .stopTypes{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: 338px;
    .top{
      width: 100%;
      flex: 0 0 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .toStop{
      padding: 0 10px;
      flex: 0 0 80px;
    }
    .title{
      font-weight: 600;
      @include overflowText();
    }
    .chart{
      flex: 1;
      width: 100%;
    }
  }
  .stopRank{
    width: 100%;
    margin-bottom: 8px;
    .handle{
      .eachHandle{
        margin-right: 24px;
      }
      .text{
        margin-right: 4px;
      }
    }
    .modes{
      right: 0;
      justify-content: center;
    }
  }
  .stopTrend, .stopTypes{
    height: 473px;
    width: calc(50% - 10px);
    position: relative;
    .handle{
      flex: 0 0 160px;
    }
  }
  .stopTrend{
    margin-right: 10px;
  }
  
}
.tooltip{
  min-width: 160px;
  .title{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 0;
    line-height: 21px;
  }
  .info{
    padding: 8px;
  }
  .eachItem{
    display: flex;
    line-height: 21px;
    justify-content: space-between;
  }
  .modeName{
    @include overflowText();
  }
}
.stopAnalysis .eleTypes{
  background-color: #fff;
  .eachInfo{
    color: #fff;
  }
  .detail{
    background-color: #fff;
    border: 1px solid $promptColor;
    color: $darkColor;
    .title{
      border-bottom: 1px solid $promptColor;
    }
  }
  .active{
    box-shadow:0 0 4px 2px rgba(0,0,0,0.20);
  }
}



.stopAnalysis{
  background-color: #ececec;
  .modes{
    .line, .lineHour{
      border:1px solid #f9b600;
      &::before {
        background-color: #f9b600;
      }
    }
    .lineCount{
      border:1px solid #2564cc;
      &::before {
        background-color: #2564cc;
      }
    }
  }
  .stopRank, .stopTrend, .stopTypes{
    background-color: #fff;
    .top .title{
      color: #000;
    }
    .top .handle{
      color: #666;
    }
  }
}
.tooltip{ // chart提示
  background-color: #fff;
  box-shadow:0 1px 4px 0 rgba(0,0,0,0.20);
  color: #666;
  .title{
    border-bottom: 1px solid #dfdfdf;
  }
}