@import "../../../../theme/theme.scss";

.topStyles {
  display: flex;
  align-content: center;

  .btn {
    display: flex;
    align-self: center;
    margin-left: 16px;
  }
}

.container {
  margin: 0 auto;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 55px;
  padding: 0 28px;
  background-color: #fff;
}

.tableStyles {
  :global {
    .ant-table-placeholder{
      border: none
    }
  }
  .regionNameText, .stationNameText, .deviceNameText, .deviceModeNameText{
    @include overflowText();
    width: 120px;
  }
  .regionName{
    width: 100px;
  }
  .regionNameText{
    width: 80px;
  }
  .stationName, .deviceName, .deviceModeName{
    width: 130px;
  }
  .shortQuota{
    width: 100px;
  }
  .longQuota{
    width: 130px;
  }
}