@import '../../../../../theme/theme';

.sideReportPage{
  background: #fff;
  flex: 1;
  border: 1px solid #e1e2e2;
  .sideReportTitle{
    height: 64px;
    border-bottom: 1px solid $promptColor;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    .sideReportTitleTip{
      margin-left: 30px;
      font-size: 18px;
    }
    .sideReportTitleRight{
      display: flex;
      justify-content: flex-end;
      .dayReportPrev{
        margin-top: 15px;
      }
      .saveDayReport{
        margin: 15px 10px 0 22px;
      }
      .backIcon{
        @include backIcon();
      }
    }
  }
  .sideReportContent{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    line-height: 40px;
    align-items: center;
    .selectTime{
      margin-left: 50px;
      margin-right: 40px;
      :global{
        .ant-input{
          width: 142px;
        }
      }
      
      >span{
        margin-right: 5px;
        >i{
          color:#d0021b;
          margin-right: 3px;
        }
      }
    }
    .selectStation{
      display: flex;
      flex-direction: row;
      align-items: center;
      :global{
        .ant-input{
          width: 200px;
        }
      }
      >span{
        margin-right: 5px;
        >i{
          color:#d0021b;
          margin-right: 3px;
        }
      }
      .dayReportNext,
      .dayReportNextDisabled{
        margin-left: 12px;
      }
    }
  }
}

.confirmBox{
  :global{
    .ant-popover-inner-content{
      width: 200px;
    }
    .ant-popover-message{
      padding-bottom: 4px;
    }
    .ant-popover-buttons{
      margin-bottom: 0;
      .ant-btn-primary{
        margin-left: 24px;
      }
      button{
        border: none;
      }
    }
  }
}

.uploadReportList{
  .uploadReportTip{
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    margin-left: 30px;
    .tip{
      margin-left: 24px;
    }
    i{
      color: $themeColor;
      font-style: normal;
    }
  }
}

.stationReportColumn{ // 上报选定电站日报列表页
  display: flex;
  border-top: 1px solid $promptColor;
  border-bottom: 1px solid $promptColor;
  height: 60px;
  background: #f4f4f4;
  align-items: center;
  .valueRequired{
    color: #d0021b;
    padding-left: 4px;
  }
  .stationName{
    flex: 0 0 9%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
    background-color: $themeColor;
  }
  .resource{
    flex: 0 0 9%;
    // align-self: stretch;
    text-align: center;
    padding-top: 10px;
    border-right: 1px solid #fff;
    background-color: $themeColor;
    color: #fff;
    height: 60px;
  }
  .eachElecPart{
    flex: 0 0 14%;
    border-right: 1px solid #fff;
    background-color: $themeColor;
    .elecTop, .elecBottom{
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
    .elecBottom{
      border-top: 1px solid #fff;
      justify-content: space-around;
    }
  }
  .handle{
    flex: 0 0 10%;
    text-align: center;
    background-color: $themeColor;
    line-height: 60px;
    color: #fff;
  }
}

.eachStationReport{ // 各电站上报数据-各行样式。
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: center;
  .stationName{
    flex: 0 0 9%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
  }
  .resource{
    text-align: center;
    flex: 0 0 9%;
  }
  .genParts, .modelParts{
    flex: 0 0 14%;
    display: flex;
    justify-content: center;
    padding: 0 8px;
    input{
      flex: 1 0 70px;
      &:first-child{
        margin-right: 3%;
      }
    }
  }
  .modelParts{
    flex: 0 0 16%;
  }
  .handle{ // 操作
    flex: 0 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .text{
      cursor: pointer;
      border-radius: 2px;
      color: $themeColor;
      &:hover{
        color: #f9b600;
      }
    }
    .removeStation{
      font-size: 18px;
      cursor: pointer;
      color:#199475;
      &:hover {
        color: #f9b600;
      }
    }
  }
  :global{
    .ant-input{
      background:#fcffe5;
      border:1px solid #f9b600;
      border-radius:2px;
      padding: 0 4px;
      text-align: center;
      width:76px;
      height:24px;
      &:hover{
        border-color: #f9b600;
      }
    }
    .ant-input:not(.ant-input-disabled):hover{
      border-color: #f9b600;
    }
    .ant-input:focus {
      box-shadow: 0 0 0 0;
      background: #fff;
      border:1px solid #d4d4d4;
    }
    .icon-alert_01:before{
      font-size: 12px;
      color: #f9b600;
      margin-left: 3px;
    }
  }
}

.addAbnormalModal{
  
  .addLimitGenHeader{
    margin-top: 30px; 
    display: flex;
  }
  .addGenLostHeader {
    display: flex;
  }
  .addPowerGenInfo{
    margin-bottom: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    .addPowerGenInfoR{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .abnormalTextArea{
        margin-top: 10px;
        height: 190px;
        width: 1000px;
        padding: 10px 20px;
      }
    }
  }
  .reportSubTitle{
    width: 100px;
    margin-top:5px;
    text-align: right;
    display: inline-block;
    svg{
      font-size: 10px;
      width: 8px;
    }
  }
  .uploadGenLost{
    margin-left: 20px;
    display: flex;
    padding: 0 15px 0 6px;
    .icon {
      margin: 0 10px 0 0;
    }
  }
  :global{
    .ant-modal{
      margin: 0;
      top: 83px;
      left: 204px;
      height: calc(100vh - 119px);
      .ant-modal-content{
        display: flex;
        height: 100%;
        flex-direction: column;
        .ant-modal-header{
          padding: 10px 24px;
        }
        .ant-modal-close-x{
          height: 42px;
          line-height: 42px;
        }
        .ant-modal-body{
          padding: 10px 20px;
          overflow-y: auto;
          overflow-x: hidden;
          flex: 1;
          .ant-form-item, .ant-form-horizontal {
            margin-bottom: 0px;
          }
          .ant-form-horizontal{
            display: flex;
            flex-direction: column;
            margin-top: 5px;
          }
        }
        .ant-modal-footer{
          background: #f1f1f1;
          padding: 25px 35px;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 6px;
      height: 200px;
      background-color: #fff;
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 3px;
      background-color: #555;
      opacity: .5;
    }
  }
}

.lostGenTable{
  padding: 20px 0px;
  .removeFaultInfo{
    color: $themeColor;
    cursor: pointer;
  }
  :global{
    .ant-table .ant-table-thead > tr > th, .ant-table .ant-table-tbody > tr > td {
      padding: 0 8px;
    }
    .ant-input{
      width: 100%;
      padding: 4px;
    }
    .ant-table .ant-table-thead{
      th, th>div{
        height: 60px;
      }
    }
    .ant-table tr {
      display: flex;
      width: calc(100vw - 285px);
      .deviceTypeName, .deviceName, .faultName, .limitPower, .reason, .startTime, .endTime, .process, .lostPower, .handle{
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .deviceTypeName, .faultName, .deviceName, .reason,  .limitPower {
        text-align: center;
        flex:1 0 110px;
      }
      .reason{
        flex: 1 0 110px;
      }
      .deviceName{
        flex: 1 0 150px;
      }
      .startTime, .endTime{
        flex: 0 0 170px;
      }
      .process{
        flex: 1 0 160px;
      }
      .lostPower{
        flex: 1 0 115px;
      }
      .handle{
        text-align: center;
        flex: 0 0 60px;
      }
    }
  }
}

.lostAddForm{
  background:#f0f2f5;
  border:1px solid #d4d4d4;
  border-radius:2px;
  margin: 0 20px;
  padding: 10px 0 15px 80px;
  margin-top: 10px;
  .infoTip{
    margin: 0 0 15px 30px;
    border-radius: 2px;
    line-height: 30px;
    height: 30px;
    width: 480px;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
    .round{
      margin: 0 8px 0 16px;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      border-radius: 50%;
      background-color: $themeColor;
      color: #fff;
    }
  }
  .dataErrorText{
    z-index: 10;
    background:#ffffff;
    box-shadow:0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius:2px;
    width:268px;
    height: auto;
    display: flex;
    padding: 10px;
    text-align: left;
    line-height: 22px;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
    left: 600px;
    :global{
      .icon-alert_01{
        margin-right: 5px;
        color: #f9b600;
      }
    }
  }
  .horizontal{
    display: flex;
    flex-direction: row;
    height: 49px;
    .lostTypeSelector{
      width: 300px;
    }
  }
  .deviceSelect{ // 设备选择单独样式。
    margin-bottom: 21px;
    :global{
      .ant-form-item{
        display: flex;
      }
      .ant-form-item-label{
        width: 11.11%;
      }
      .ant-form-item-control-wrapper{
        width: 88.88%;
        .has-error .ant-form-item-children{
          height: 40px;
        }
      }
    }
  }
  .confirmAddFault{
    margin: 0 20px 0 10px;
  }
  .reasonBox{
    margin-bottom: 21px;
    .reasonText{
      height: 60px;
      line-height: 30px;
    }
    .lostInputTip{
      margin-left: 12px;
      color: $themeColor;
    }
    :global{
      .ant-form-item-label{
        width: 11.11%;
      }
      .ant-form-item-control-wrapper{
        width: 88.88%;
        .ant-form-item-children{
          width: 800px;
        }
      }
      .ant-form-item-required{
        display: flex;
        justify-content: flex-end;
        &::before{
          line-height: 30px;
        }
      }
      .has-error{
        .ant-form-item-children{
          height: 60px;
        }
      }
    }
  }
  :global{
    .has-error{
      .ant-form-item-children{
        height: 30px;
      }
    }
    .ant-select {
      width: 200px;
    }
    .ant-select-arrow .ant-select-arrow-icon svg{
      color: #e9e9e9;
    }
    .ant-form-item-label{
      label{
        color: $darkColor;
        &::after{
          content: '';
        }
      }
    }
    //form表单Input下的提示语定位
    .ant-form-item-control-wrapper{
      .ant-form-explain{
        position: absolute;
        white-space: nowrap;
      }
    }
    .ant-form-item-children{
      display: flex;
      width: 600px;
      :local{
        .lostInputTip{
          margin:0 5px;
        }
      }
      textarea.ant-input{
        width: 520px;
        max-width: 530px;
        height: 60px;
      }
    }
    .ant-form-item{
      margin-bottom: 21px;
    }
  }
}

