/*请不要删除，展示企业列表时相关样式，后期开发恢复企业列表展示时可能会用。
.enterpriseSide {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  padding: 24px 24px 0;
}
*/
@import '../../../../theme/theme.scss';

@mixin top(){//详情，编辑通用顶部基础样式
  @include lineheight(64px);
  display: flex;
  padding-left: 32px;
  align-items: center;
  border-bottom: solid 1px $promptColor;  
}

.enterpriseDetail{//详情页
  line-height: 30px;
  background-color: #fff;
  flex: 1;
  border: 1px solid #e1e2e2;
  .detailTop{
    @include top;
    .editButton{
      border-color: $themeColor;
      color: $themeColor;
      &:hover{
        background-color: $themeColor;
        color: #fff;
      }
    }
    .infoTip{
      height: 30px;
      width: 323px;
      line-height: 30px;
      font-size: 12px;
      margin-left: 16px;
      background-color: rgb(231,243,252);
      border: 1px solid rgb(207,232,250);
      border-radius:2px;
      .toEdit,.ignore{
        color: $darkColor;
      }
      .toEdit{
        margin-left: 36px;
      }
      .ignore{
        margin-left: 60px;
      }
    }
  }
  .enterpriseName{//企业名称栏
    background: #f1f1f1;
    color: $darkColor;
    letter-spacing:4px;
    @include lineheight(62px);
    .text{
      font-size: 18px;      
      margin-left: 30px;
    }
  }
  .enterpriseInfor{//企业主要信息展示区
    margin: 24px 32px 0;
    display: flex;
    color: $darkColor;
    .promptTitle{
      color: $darkColor;
      margin-right: 24px;
      display: inline-block;
      text-align: right;
      width: 56px;
    }
    .logoPart{
      margin-right: 48px;
      .user,.time{
        height: 30px;
        span{
          display: inline-block;
          width: 56px;
          text-align: right;
          color: $darkColor;
          margin-right: 24px;
        }
      }
    }
    .textInfo{
      flex: 1;
      .buttonGroup{
        margin-left: 52px;
        button{
          margin-right: 12px;
          padding: 0 6px;
        }
        :global{
          .iconfont {
            vertical-align: middle;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
.enterpriseEdit{//编辑页
  flex:1;
  background-color: #fff;
  border: 1px solid #e1e2e2;
  .editTop{
    @include top;
    justify-content: space-between;
    .text{
      font-size:18px;
      color: $darkColor;
      letter-spacing:4px;
    }
    .backIcon{
      color: $darkColor;
      font-size: 20px;
      border-left: 1px solid $promptColor;
      height: 100%;
      line-height: 64px;
      width: 64px;
      cursor: pointer;
    }
  }
  .mainPart{
    margin: 24px 32px 0;    
    display: flex;
    .logoPart{
      margin-right: 48px;
      .instruction{
        margin-top: 12px;
        color: $promptColor;
        span{
          display: block;
        }
      }
    }
    .editPart{
      flex: 1;
      .instructionText{
        color: $promptColor;
      }
      .confirmDomain{
        .domainText{
          margin-right: 20px;
        }
        .domainButton{
          padding: 0 4px;
          width: 92px;
          @include lineheight(24px);
          &:hover{
            background: $themeColor;
            color: #fff;
          }
        }
      }
      .saveInfo{
        margin-left: 94px;
        color:#199475;
        border: 1px solid #199475;
      }
      .dealProposal {
        :global {
          .ant-form-item-control-wrapper {
            // margin-left: -60px;
            margin-top: 10px;
            margin-bottom: 16px;
          }
        }
      }
      :global{
        .ant-form-item{
          margin-bottom: 8px;
          display: flex;
          line-height: 40px;
          .ant-form-item-label{
            width: 70px;
            color: $darkColor;
            text-align: right;
            margin-right: 24px;
            label::after{
              display: none;
            }
          }
          .ant-form-item-control-wrapper{
            .ant-form-explain{
              position: absolute;
            }
            input {
              width: 200px;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}
// .cancelEdit{
//   background-color: lightblue;
//   position: fixed;
// }