@import "../../../../../theme/theme.scss";
// 提示样式
@mixin tipStyle($top, $left) {
  min-width: 150px;
  max-width: 210px;
  position: absolute;
  white-space: nowrap;
  top: $top;
  left: $left;
  background-color: #fbe6e3;
  border: 1px solid #df4b33;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  //width: 200px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.30);
  padding: 0 5px;
  font-family: PingFangSC-Regular, serif;
  font-size: 14px;
  color: #df4b33;
  user-select: none;
  z-index: 2;
  /* 箭头 - :before and :after, 一起组成了好看的气泡小箭头 */
  &:before {
    position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #df4b33;
    border-bottom: 7px solid transparent;
    left: -7px;
    top: 8px;
    content: '';
  }

  /* 背景阴影*/
  &:after {
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #fbe6e3;
    border-bottom: 6px solid transparent;
    left: -5px;
    top: 9px;
    content: '';
  }
}

.meterDisposeInfo {
  width: 100%;
  margin-top: 13px;

  .disposeBannerBox {
    width: 100%;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;

    .disposeBanner {
      width: 166px;
      color: #ffffff;
      padding-left: 17px;
      @include lineheight(36px);
      background-image: url("../../../../../../assets/img/bannerBgc.png");
      background-repeat: no-repeat;
    }

    .disposeNormalBtn {

      button {
        padding-left: 6px;

        i {
          vertical-align: bottom;
          margin-right: 20px;
        }
      }
    }

    .disposeEditBtn {
      display: flex;
      align-items: center;

      button:nth-of-type(1) {
        padding: 0;
        letter-spacing: -2px;
      }

      button:nth-of-type(2) {
        padding-left: 6px;
        margin-left: 10px;

        i {
          vertical-align: bottom;
          margin-right: 20px;
        }
      }
    }
  }

  .disposeContent {
    width: 100%;
    padding: 0 25px;

    .disposeNav {
      width: 100%;
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .navPrev {
        display: flex;
        width: 38%;
        min-width: 320px;
        background-image: linear-gradient(90deg, #caf4e5 1%, #f2fbf5 99%);
        justify-content: center;
        align-items: center;
        color: $themeColor;
        height: 36px;

        .navPrevName {
          font-family: PingFangSC-Medium, serif;
        }

        .navPrevTime {
          font-family: ArialMT, serif;
          margin-left: 15px;
        }
      }

      .navTime {
        width: 26%;
        min-width: 220px;
        height: 70px;
        background-image: linear-gradient(50deg, #36c6ad 0%, #199475 100%);
        border: 3px solid #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        border-radius: 35px;
        color: #fff;
        text-align: center;
        padding-top: 12px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }

      .navNow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38%;
        min-width: 320px;
        height: 36px;
        background-image: linear-gradient(90deg, #f2fbf5 1%, #caf4e5 99%);
        color: $themeColor;

        .navNowName {
          font-family: PingFangSC-Medium, serif;
        }

        .navNowTime {
          font-family: ArialMT, serif;
          margin-left: 15px;
        }
      }
    }

    .disposeNoDataBox {
      width: 100%;
      margin-top: 87px;

      .noDataIcon {
        font-size: 40px;
        color: #d4d4d4;
        text-align: center;

        i {
          font-size: 40px;
        }
      }

      .noDataText {
        margin-top: 20px;
        color: #353535;
        font-family: PingFangSC-Regular, serif;
        text-align: center;
      }

      .noDataRouter {
        margin-top: 20px;
        color: #353535;
        font-family: PingFangSC-Regular, serif;
        text-align: center;

        .meterRouter {
          color: #df4b33;
          text-decoration: underline;

          &:hover {
            color: $themeColor;
          }
        }
      }
    }

    .gaugeTableBox {
      width: 100%;
      padding-bottom: 24px;

      .fl {
        float: left;
      }

      .fr {
        float: right;
      }

      .clear {
        zoom: 1;

        &:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden
        }
      }

      .netGaugeTable {
        width: 100%;
        padding-top: 32px;

        .netGaugeTitle {
          width: 100%;
          color: $themeColor;
          @include lineheight(30px);
          padding-left: 12px;
          margin-bottom: 14px;
          border-left: 4px solid $themeColor;
          background-image: linear-gradient(90deg, #ceebe0 0%, #ffffff 100%);
        }

        .netWrap {
          > div {
            margin-top: 20px;
          }

          > div:nth-of-type(1),
          > div:nth-of-type(2) {
            margin-top: 0;
          }
        }

        .netGaugeListBox {
          width: 410px;
          height: 324px;
          border: 1px solid $themeColor;

          .netTitle {
            width: 100%;
            padding-top: 14px;
            @include overflowText();

            i {
              font-size: 13px;
              vertical-align: text-bottom;
              color: $themeColor;
            }

            span {
              color: #000000;
              font-family: PingFangSC-Regular, serif;
              margin-left: 6px;
              font-size: 18px;
            }
          }

          .netInfoBox {
            display: flex;
            color: #353535;
            font-family: PingFangSC-Regular, serif;
            justify-content: space-between;
            padding: 10px 20px;
          }

          .netTableBox {
            width: 100%;
            height: 240px;

            .netTableHead {
              width: 100%;
              display: flex;
              @include lineheight(40px);
              text-align: center;
              font-family: PingFangSC-Medium, serif;
              color: #000000;
              background-color: #f3f2f2;
              border-bottom: 1px solid #d4d4d4;
              border-top: 1px solid #d4d4d4;

              div:nth-of-type(1) {
                width: 50px;
                border-right: 1px dashed #d4d4d4;
              }

              div:nth-of-type(2),
              div:nth-of-type(3) {
                width: 86px;
                border-right: 1px dashed #d4d4d4;
              }

              div:nth-of-type(4) {
                width: 186px;
              }
            }

            .netTableBody {
              width: 100%;
              display: flex;

              .netTableLeft {
                width: 222px;

                .netTableTr {
                  width: 100%;
                  display: flex;
                  @include lineheight(40px);
                  border-bottom: 1px solid #d4d4d4;

                  div:nth-of-type(1) {
                    width: 50px;
                    text-align: center;
                    font-family: PingFangSC-Medium, serif;
                    color: #000000;
                    border-right: 1px dashed #d4d4d4;
                  }

                  div:nth-of-type(2) {
                    width: 86px;
                    text-align: right;
                    padding-right: 10px;
                    border-right: 1px dashed #d4d4d4;
                  }

                  .netStopCode {
                    width: 86px;
                    text-align: right;
                    padding-right: 10px;
                    border-right: 1px dashed #d4d4d4;
                    color: #3e97d1;
                    background-color: #f1f8ff;
                  }

                  .netEditStopCode {
                    width: 86px;
                    background-color: #f1f8ff;
                    padding-right: 0;
                    border-right: 1px dashed #d4d4d4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .errorTip {
                      @include tipStyle(5px, 95px);
                    }

                    input {
                      padding: 4px 6px 4px 0;
                      width: 80px;
                      height: 30px;
                      text-align: right;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                    }

                    input[type="number"] {
                      -moz-appearance: textfield;
                    }

                    .normalInput {
                      background-color: #ffffff;
                      border: 1px solid #d4d4d4;

                      &::-webkit-input-placeholder {
                        color: #999999;
                      }
                    }

                    .warnInput {
                      background-color: #fcffe5;
                      border: 1px solid #d4d4d4;

                      &::-webkit-input-placeholder {
                        color: #999999;
                      }
                    }

                    .errorInput {
                      background-color: #fbe6e3;
                      border: 1px solid #df4b33;

                      &::-webkit-input-placeholder {
                        color: #df4b33;
                      }
                    }
                  }
                }
              }

              .netTablePhoto {
                width: 186px;
                height: 200px;
                padding: 4px 13px 0 27px;

                .netPhotoBox {
                  width: 60px;
                  height: 60px;
                  cursor: pointer;
                  position: relative;
                  border-radius: 2px;
                  overflow: hidden;
                  margin-bottom: 6px;
                  margin-right: 13px;
                  border: 1px solid #d4d4d4;

                  img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                  }

                  .shadeBox {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;
                    background-color: rgba(0, 0, 0, 1);
                  }

                  &:hover {
                    img {
                      opacity: 1;
                    }

                    .shadeBox {
                      background-color: rgba(0, 0, 0, 0.50);
                      display: block;
                    }
                  }
                }

                :global {
                  .ant-upload.ant-upload-select-picture-card {
                    width: 60px;
                    height: 60px;

                    .ant-upload {
                      padding: 0;
                    }
                  }

                  .ant-upload-list-picture-card .ant-upload-list-item {
                    width: 60px;
                    height: 60px;
                    padding: 0;
                  }

                  .ant-upload-list-item-info > span {
                    width: 60px;
                    height: 60px;
                  }

                  .ant-upload-list-item-actions {
                    display: none;
                  }
                }

                .uploadButton {

                  i {
                    color: $themeColor;
                    font-size: 29px;
                  }

                  img {
                    margin-top: 2px;
                  }

                  .antLoadingText {
                    font-family: MicrosoftYaHei, serif;
                    color: #353535;
                    font-size: 12px;
                  }

                  :global {

                    .ant-upload-text {
                      margin-top: 5px;
                      font-size: 12px;
                      color: #999999;
                    }

                    .ant-progress-bg {
                      height: 2px !important;
                    }

                    .ant-progress-text {
                      display: none;
                    }

                    .ant-progress-outer {
                      margin-top: 0;
                    }

                    .ant-progress-show-info .ant-progress-outer {
                      padding: 0 5px;
                      margin: 0;
                    }
                  }
                }
              }

              .netNoPhoto {
                width: 186px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
              }
            }
          }
        }
      }

      .electricityGaugeTable {
        width: 100%;

        .electricityGaugeTitle {
          width: 100%;
          color: $themeColor;
          margin: 14px 0;
          @include lineheight(30px);
          padding-left: 12px;
          border-left: 4px solid $themeColor;
          background-image: linear-gradient(90deg, #ceebe0 0%, #ffffff 100%);
        }

        .electricityWrap {
          > div {
            margin-top: 20px;
          }

          > div:nth-of-type(1),
          > div:nth-of-type(2) {
            margin-top: 0;
          }
        }

        .electricityGaugeListBox {
          width: 410px;
          height: 324px;
          border: 1px solid $themeColor;

          .electricityTitle {
            width: 100%;
            padding-top: 14px;
            @include overflowText();

            i {
              font-size: 13px;
              vertical-align: text-bottom;
              color: $themeColor;
            }

            span {
              color: #000000;
              font-family: PingFangSC-Regular, serif;
              margin-left: 6px;
              font-size: 18px;
            }
          }

          .electricityInfoBox {
            display: flex;
            color: #353535;
            font-family: PingFangSC-Regular, serif;
            justify-content: space-between;
            padding: 10px 20px;
          }

          .electricityTableBox {
            width: 100%;
            height: 240px;

            .electricityTableHead {
              width: 100%;
              display: flex;
              @include lineheight(40px);
              text-align: center;
              font-family: PingFangSC-Medium, serif;
              color: #000000;
              background-color: #f3f2f2;
              border-bottom: 1px solid #d4d4d4;
              border-top: 1px solid #d4d4d4;

              div:nth-of-type(1) {
                width: 50px;
                border-right: 1px dashed #d4d4d4;
              }

              div:nth-of-type(2),
              div:nth-of-type(3) {
                width: 86px;
                border-right: 1px dashed #d4d4d4;
              }

              div:nth-of-type(4) {
                width: 186px;
              }
            }

            .electricityTableBody {
              width: 100%;
              display: flex;

              .electricityTableLeft {
                width: 222px;

                .electricityTableTr {
                  width: 100%;
                  display: flex;
                  @include lineheight(40px);
                  border-bottom: 1px solid #d4d4d4;

                  div:nth-of-type(1) {
                    width: 50px;
                    text-align: center;
                    font-family: PingFangSC-Medium, serif;
                    color: #000000;
                    border-right: 1px dashed #d4d4d4;
                  }

                  div:nth-of-type(2),
                  div:nth-of-type(3) {
                    width: 86px;
                    text-align: right;
                    padding-right: 10px;
                    border-right: 1px dashed #d4d4d4;
                  }

                  div:last-child {
                    color: #3e97d1;
                    background-color: #f1f8ff;
                  }
                }
              }

              .electricityTablePhoto {
                width: 186px;
                height: 200px;
                padding: 4px 20px 0;

                > div {
                  margin-top: 6px;
                }

                > div:nth-of-type(1),
                > div:nth-of-type(2) {
                  margin-top: 0;
                }

                .electricityPhotoBox {
                  width: 60px;
                  height: 60px;
                  cursor: pointer;
                  position: relative;
                  border-radius: 2px;
                  overflow: hidden;
                  border: 1px solid #d4d4d4;

                  img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                  }

                  .shadeBox {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;
                    background-color: rgba(0, 0, 0, 1);
                  }

                  &:hover {
                    img {
                      opacity: 1;
                    }

                    .shadeBox {
                      background-color: rgba(0, 0, 0, 0.50);
                      display: block;
                    }
                  }
                }
              }

              .electricityNoPhoto {
                width: 186px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
              }
            }
          }
        }
      }
    }
  }
}
