


.imgUploader{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .uploadedImg{
    position: relative;
    .bottomHandler{
      position: relative;
      top:100%;
      width: 100%;
      display: none;
    }
    &::hover{
      .bottomHandler{
        display: block;
      }
    }
    
  }
  .loaderHandler{

  }
}