@import '../../../../theme/theme';

.reportContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .topSearch {
    // background: #fff;
    display: flex;
    height: 60px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 2px 5px 3px rgba(208, 208, 208, 0.60);
    :global {
      .ant-radio-group {
          .ant-radio-button-wrapper {
              color: #199475;
              border: 1px solid #199475;
              &:first-child {
                  border: 1px solid #199475;
              }
              &:hover {
                  background-color: #ceebe0;
              }
              &.ant-radio-button-wrapper-checked {
                  background-color: #199475;
                  color: #fff;
              }
          }
      }
  }
  
    .timeStyle {
      display: flex;
      align-items: center;
      padding-left: 40px;

      .yearSelectStyle {
        :global {
          .ant-input {
            width: 115px;
          }
        }
      }


      .yearWidth {
        margin: 0 8px;
      }

      .btnStyle {
        margin-left: 24px;
      }

    }
  }

  .reportList {
    // background: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;

    .tableBox {
      flex: 1 0 auto;
      background-color: #fff;
      margin: 0 4px 4px 0;
      box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);
    }
    :global {
      .ant-table .ant-table-thead>tr>th {
        padding: 0 8px;
      }

      .ant-table .ant-table-tbody>tr>td {
        padding: 0 5px;
      }

      // .ant-table-body {
      // &::-webkit-scrollbar {
      //   width: 6px;
      //   height: 6px;
      // }

      // &::-webkit-scrollbar-thumb {
      //   border-radius: 3px;
      //   background: rgba(0, 0, 0, 0.5);
      // }
      // }

    }

    .stationName,
    .statisticsDate
    .timeStyle {
      width: 108px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .stationName {
      padding-left: 20px;
    }
    .statisticsDate{
      text-align: center;
    }

    .timeStyle {
      width: 150px;
    }

    .handlePage {
      display: flex;
      justify-content: space-between;
      height: 56px;
      align-items: center;
      padding-left: 40px;
    }

    .rightStyle {
      text-align: right;
    }
  }

}

.light {
  .topSearch {
    background: #fff;
  }

  .reportList {
    background: transparent;
  }
}

// .dark {}

// .zt {}