@import '../../../theme/theme.scss';
.deviceName {
  width: 198px;
  :global {
    .ant-select:not(.ant-select-disabled):hover {
      border-color: $themeColor
    }
    .ant-select-disabled,.ant-select-disabled:hover {
      border-color: $promptColor;
    }
    .icon-filter {
      font-size: 14px;
      color: $lightColor;
    }
  }
}

.deviceNameSelect{
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .unSelectedItem {
      background-color: #fbfbfb;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .itemLabel {
        color: #ccc;
        font-size: 14px;
        padding-left: 8px;
      }
      
    }
    .selectedItem {
      background-color: #7ec5c2;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .itemLabel {
        color: #fff;
        font-size: 14px;
        padding-left: 8px;
      }
      .icon-right{
        font-size: 8px;
      }
    }
  }
  
    
}