.buildingContainer{
  width: 100%;
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  padding: 24px 24px 0;
  background: #f0f2f5;


  .building{

    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
    background: url('/img/undo.png') no-repeat center #fff;
    box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
    margin-bottom: 4px;
  }
}