

.contentSearch{
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  .searchText{
    margin-right: 12px;
  }
  .search{
    margin-right: 12px;
  }
  .reset{
    cursor: pointer;
  }
}



.contentSearch{
  background-color: #f9f9f9;
  .search{

  }
  .reset{

  }
}