.alarmStatistic{ 
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 0;
  background-color: #ececec;
}
    
.realTimeAlarmContainer {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 0;
  background-color: #ececec;
  .realTimeAlarm {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
  }
}

.historyAlarmContainer {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 0;
  background-color: #ececec;
  .historyAlarm {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
  }
}