
@import '../../../../../theme/theme.scss';

.topSearch{
  margin-bottom: 10px;
  .dateCheck{
    display: flex;
    height: 56px; 
    align-items: center;
    
  }
  .checkText{
    text-align: center;
    flex: 0 0 80px;
    margin-right: 4px;
  }
  :global{
    .ant-radio-group{
      margin-right: 8px;
    }
  }
}




.topSearch .dateCheck{
  background-color: #fff;
  :global{
    .ant-radio-button-wrapper-checked{
      background-color: $themeColor;
      color: #fff;
    }
  }
}