@import '../../../../theme/theme.scss';
.containerDiv {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.containerBg {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
  background-color: #ececec;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  // justify-content: space-between;
  background: #fff;
  overflow: hidden;
  .allStationTitle{
    display: flex;
    line-height: 40px;
    background:#f8f8f8;
    border-bottom:  1px solid #d4d4d4;
    p{
        width:120px;
        border-right: 1px solid #d4d4d4;
        color:#999999;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
        margin-bottom: -2px;
    }
    .activeStation{
        background: #fff;
        position: relative;
        color:#000000;
        &::before{
            content: "";
            position: absolute;
            width: 120px;
            height: 2px;
            top: 0;
            left: -1px;
            background: $themeColor;
        }
    }

}
  .typeCheck {
    display: flex;

    .typeNormal,
    .typeActive {
      height: 40px;
      line-height: 40px;
      flex-basis: 120px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid $promptColor;
      border-left: none;
      color: $lightColor;
      background-color: #f8f8f8;
    }

    .typeActive {
      background-color: #fff;
      border-top: 2px solid $themeColor;
      border-bottom: none;
      color: #000;
    }

    .holder {
      flex: 1;
      background-color: #f8f8f8;
      border-top: 1px solid $promptColor;
      border-bottom: 1px solid $promptColor;
    }
  }
}