@import '../../../../theme/theme';
.PowerCurve {
    @include contentBoxStyle();
    flex-direction: initial;
    .contentMain {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 100%;
        .selectSearth {
            display: flex;
            flex-direction: row;
            height: 50px;
            border:1px solid #d4d4d4;
            box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);
            background-color: #fff;
            >span {
                margin-left: 28px;
                font-size: 14px;
                color: #353535;
                line-height: 50px;
            }
            >div {
                margin-left: 20px;
                margin-top: 4px;
                line-height: 40px;
            }
            .deviceModeName {
                margin-top: 8px;
            }
        }
        .Button {
            // line-height: 60px;
            display: flex;
            flex-direction: row;
            height: 60px;
            padding-top: 17px;
            .export{
                margin-left: 20px;
            }
            .download{
                margin-left: 20px;
                // margin-right: 20px;
            }
            .singleStationImportFileModel{
                margin-left: 20px;
            }
        }
        .pagination {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 15px;
        }
        .PowerCurveTable {
            margin-top: -45px;
            flex: 1 auto;
            display: flex;
            flex-direction: column;
            .deviceModeName, .airDensityType, .stationName{
                @include overflowText();
                width: calc(100% - 10px);
            }
            .lookIcon{
                cursor: pointer;
                padding: 4px;
                &:hover{
                    color: #ff9900;
                }
            }
            .tableBox {
                flex: 1 auto;
                background-color: #fff;
                box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);  
                margin: 0 2px 4px 2px;
            }
        }

        :global {
            .ant-table-placeholder {
                border-bottom: none
            }
        }
    }
    .powerCurveChartBox {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
        display: flex;
        flex: 1 0 auto;
        width: 50%;
        margin: 24px 24px 0;
        background: #fff;
        z-index: 15;
        padding: 25px;
        flex-direction: column;
        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            line-height: 30px;
            height: 30px;
            width: 87%;
            color: #353535;
            >span {
                cursor: pointer;
            }
        }
        .powerCurveChart {
            display: flex;
            width: 90%;
            height: 350px;
        }
    }
}
