.TableGraphContainer {
  .TableGraphContainerTitle {
    height: 31px;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  // table{
  //   table-layout: fixed;
  // }
  // .tableList{
  //   display: flex;
  //   flex: 1;
  // }
}

.light {
  .TableGraphContainerTitle {
    .unit {
      color: #666;
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .TableGraphContainerTitle {
    .title {
      display: inline-block;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from($fontColor-hover), to($fontColor));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 19px;
    }
    .unit {
      color: $fontColor;
    }
  }
}
