.TableGraphContainer {
  .TableGraphContainerTitle {
    height: 31px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    .unit {
      color: #999;
    }
  }
  .tableList {
    width: 100%;
    overflow: hidden;
    :global {
      .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
        padding: 0 0 0 8px;
      }
      .ant-table-small
        > .ant-table-content
        > .ant-table-scroll
        > .ant-table-header
        > table
        > .ant-table-thead
        > tr
        > th {
        padding: 0 8px;
      }
    }
  }
}

.light {
  .TableGraphContainerTitle {
    .unit {
      color: #999;
    }
  }
  .tableList {
    :global {
      .ant-table-small
        > .ant-table-content
        > .ant-table-scroll
        > .ant-table-header
        > table
        > .ant-table-thead
        > tr
        > th {
        background-color: #199475;
        color: #fff;
        padding: 0 8px;
      }
      .ant-table-small
        > .ant-table-content
        > .ant-table-scroll
        > .ant-table-header
        > table
        > .ant-table-thead
        > tr
        > th
        .ant-table-column-sorter {
        color: #fff;
      }
      .ant-table-thead > tr > th .ant-table-column-sorter-up.on,
      .ant-table-thead > tr > th .ant-table-column-sorter-down.on {
        color: #ddd;
      }
    }
  }
}

.dark {
  @import "../../../../../theme/darkTheme.scss";
  .TableGraphContainerTitle {
    .title {
      display: inline-block;
      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from($fontColor-hover), to($fontColor));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 19px;
    }
    .unit {
      color: $fontColor;
    }
  }
  .tableList {
    :global {
      .ant-table-header {
        background: transparent;
      }
      .ant-table-small {
        border: none;
      }
      .ant-table-small
        > .ant-table-content
        > .ant-table-scroll
        > .ant-table-header
        > table
        > .ant-table-thead
        > tr
        > th {
        background-color: transparent;
        color: $fontColor;
        padding: 0 8px;
        border-bottom: 0 !important;
      }
      .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr {
        border-bottom: 1px solid $border-color !important;
      }
      .ant-table-fixed-header .ant-table-scroll .ant-table-header {
        &::-webkit-scrollbar {
          border: 0 !important;
        }
      }
    }
  }
}
