

@import '../../../../theme/theme.scss';

.alarmManageContainer{
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  .alarmManage{
    @include contentBoxStyle();
    .alarmManageMain{
      display: flex;
      flex-direction: column;
      flex: 1;
      .alarmManageContent{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 1080px;
      }
    }
  }
}
