@import "../../../theme/theme.scss";

.casePart {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;

  .casePartBox {
    background-color: $pageBackground;
    display: flex;
    justify-content: space-between;
    flex: 1;

    .casePartMain {
      @include contentBoxStyle();

      .casePartContent {
        display: flex;
        flex-direction: column;
        // flex: 1 0 auto;
        flex: 1;
      }
    }
  }
}
