@import "../../../theme/theme.scss";
.timeSelect {
  line-height: 80px;
  display: flex;
  :global {
    .ant-input {
      width: 220px;
    }
    // .ant-radio-button-wrapper {
    //   padding: 0 8px;
    // }
  }
  .yearStyle {
    .yearSelectStyle {
      :global {
        .ant-input {
          width: 115px;
        }
      }
    }
  }

  align-items: center;
  // border-bottom: 1px solid #ececec;
  .textStyle {
    letter-spacing: 1px;
    margin-left: 24px;
    margin-right: 8px;
    color: $lightColor;
  }
  .buttonStyle {
    margin-right: 4px;
  }
}

.light {
  .textStyle {
    color: $lightColor;
  }
}

.dark {
  @import "../../../theme/darkTheme.scss";
  color: $fontColor;
  .textStyle {
    color: $fontColor;
  }
}
