@import '../../../theme/theme.scss';
.timeSelect{
  height: 100px;
  line-height: 100px;
  display: flex;

  align-items: center;
  border-bottom: 1px solid #ececec;
  .textStyle{
    letter-spacing: 1px;
    margin-left: 24px;
    margin-right: 8px;
    color:$lightColor;
  }
  .buttonStyle{
    margin-right: 7px;
  }
}