.footer {
  text-align: right;
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
  .power {
    position:relative;
    top:0;
  }
  .footerText {
    margin-left: 10px;
  }
}

.darkFooter{
  background:#0c0a3e;
  color:#7088c3;
}

.lightFooter{
 color:#999999;
 background-color: #f0f2f5;
}