.singleStationType {
  display: flex;
  flex-direction: column;
  flex: 1;

  .stationTimeFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;

    .leftFilter {
      padding-left: 30px;
      display: flex;
      flex-direction: row;

      .stationFilter {
        display: flex;
        align-items: center;

        :global {

          .ant-form-item,
          .ant-form-horizontal {
            margin-bottom: 0;
            display: flex;
          }

          .ant-form-item {
            margin-bottom: 0;
          }

          .ant-form-item-required:before {
            display: none;
          }
        }
      }
    }

    .rightContent {
      margin-right: 30px;
    }
  }

  .componentContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
    min-height: 500px;

    .componentContainerTip {
      display: flex;
      justify-content: space-between;
      line-height: 40px;
    }

    .nodata {
      display: flex;
      align-items: center;
      text-align: center;
      height: 400px;

      img {
        margin: 0 auto;
      }
    }
  }
}

.stationContrastTable {
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  overflow: auto;

  .baseNameBox {
    float: left;
    flex-direction: column;
    width: 300px;

    .baseName {
      display: flex;
      flex: 1;

      .baseClassifyName {
        display: flex;
        flex: 5;
        justify-content: center;
        align-items: center;
        writing-mode: tb-rl;
      }

      .rowName {
        display: flex;
        flex: 19;
        flex-direction: column;
        line-height: 40px;
        text-align: right;

        >div {
          flex: 1;
          padding-right: 8px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

        }

        .stationnameBg {
          text-align: right;

          >div {
            width: 200px;
            padding-right: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

        }
      }
    }
  }

  .limitWidth {
    overflow: auto;
    flex: 1;
    display: flex;
  }

  .stationOne {
    display: flex;
    flex: 1;
    flex-direction: column;
    line-height: 40px;
    text-align: center;

    .test {
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }

    .baseInfoBg {
      display: flex;
      flex: 1;
      justify-content: center;
      min-width: 150px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }


    .contrastDetailPopover {
      display: flex;
      flex-direction: row;
    }

    .stationContrastOne {
      display: flex;
      flex: 1;
      border-left: 0;
      justify-content: center;
      cursor: pointer;
      min-width: 150px;
    }

    .stationContrastTwo {
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }


}

.contrastOverlayClassName {
  :global {
    .ant-popover-content {

      width: 1186px;
      height: 564px;

      .ant-popover-inner {
        width: 100%;
        height: 100%;

        .ant-popover-inner-content {
          line-height: 560px;
          text-align: left;
          padding: 0px;
        }
      }
    }
  }
}

.stationContrastDetailBox {
  z-index: 9;
  width: 1186px;
  height: 564px;
  border-radius: 2px;
  padding-top: 20px;
  line-height: 560px;

}

.closeStyle {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: 99;
  cursor: pointer;

}