@import "../../../../theme/theme.scss";
@import "./layout.scss";

.light {
  .stationTimeFilter {
    background: #fff;
    border: 1px solid #e1e2e2;
  }

  .componentContainer {
    background: #fff;
    border: 1px solid #e1e2e2;
  }

  .stationContrastTable {
    border: 1px solid #d4d4d4;
    .stationOne {
      border-left: 1px solid #d4d4d4;
      .baseInfoBg {
        background: #f3f2f2;
        border-right: 1px solid #d4d4d4;
      }
      .stationnameBg {
        background: #199475;
        color: #fff;
      }

      >div {
        border-bottom: 1px solid #d4d4d4;
      }

      .contrastDetailPopover {

        &:hover,
        &:active,
        &:focus,
        &:visited {
          background:rgba(206,235,224,0.50);
          box-shadow:0 2px 4px 2px rgba(0,0,0,0.30);
        }
      }

      .stationContrastOne,
      .stationContrastTwo {
        border-right: 1px solid #d4d4d4;
      }

      .differHighLight {
        background: #fcffe5;

        &:hover,
        &:active,
        &:focus,
        &:visited {
          background: #ceebe0;
        }

        .stationContrastOne {
          border-right: 1px solid #d4d4d4;
        }

        .stationContrastTwo {
          border-right: 1px solid #d4d4d4;
        }
      }
    }

    .baseNameBox {
      .baseName {
         background: #f3f2f2;
        .baseClassifyName {
          border-bottom: 1px solid #d4d4d4;
          background: #199475;
          color: #fff;
        }

        .rowName {
          border-left: 1px solid #d4d4d4;
          .stationnameBg {
            background: #199475;
            color: #fff;
          }

          >div {
            border-bottom: 1px solid #d4d4d4;
          }
        }
      }
    } 
  }

  .scroll{
    .baseNameBox{
      box-shadow: 2px 0 6px -2px #199475;
    }
  }

  .tooltipBox {
    @include tooltipBox(#d4d4d4);
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";

  .stationTimeFilter {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
  }

  .componentContainer {
    background: $light-background;
    border: 1px solid $border-color;
    color: $fontColor;
  }

  .stationContrastTable {
    border: 1px solid $border-color;

    .stationOne {
      border-left: 1px solid $border-color;

      .baseInfoBg {
        background: #1f246f;
        border-right: 1px solid $border-color;
      }


      >div {
        border-bottom: 1px solid $border-color;
      }

      .contrastDetailPopover {

        &:hover,
        &:active,
        &:focus,
        &:visited {
          background: #1f246f;
        }
      }

      .stationContrastOne,
      .stationContrastTwo {
        border-right: 1px solid $border-color;
      }

      .differHighLight {
        background: #4d5fe2;
      }
    }

    .baseNameBox {
      .baseName {
        background: #1f246f;

        .baseClassifyName {
          border-bottom: 1px solid $border-color;
        }

        .rowName {
          border-left: 1px solid $border-color;

          >div {
            border-bottom: 1px solid $border-color;
          }
        }
      }
    }
  }

  .tooltipBox {
    @include tooltipBox(rgba(83, 104, 241, 0.4));
  }
}