@import '../../../../theme/theme.scss';

.singleStationType{
  display: flex;
  flex-direction: column;
  flex: 1;

  .stationTimeFilter{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border:1px solid #e1e2e2;
    height: 80px;
    .leftFilter{
      padding-left: 30px;
      display: flex;
      flex-direction: row;
      .stationFilter{
        display: flex;
        align-items: center;
        :global{
          .ant-form-item, .ant-form-horizontal{
            margin-bottom: 0;
            display: flex;

          }
          .ant-form-item{
            margin-bottom: 0;
          }
          .ant-form-item-required:before{
            display:none;
          }
        }
      }
    }
    .rightContent{
      margin-right: 30px;
    }
  }
  .componentContainer{
    background: #fff;
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 24px;
    border:1px solid #e1e2e2;
    min-height: 500px;
    .componentContainerTip{
      display: flex;
      justify-content: space-between;
      line-height: 40px;
    }
    .nodata{
      display: flex;
      align-items: center;
      text-align: center;
      height: 400px;
      img{
        margin: 0 auto;
      }
    }
   
  }
} 

.stationContrastTable{
  display: flex;
  flex-direction: row;
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  border-right: 0;
  .stationOne{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    border-left: 1px solid #dfdfdf;
    text-align: center;
    .baseInfoBg{
      background:#f8f8f8;
      border-right: 1px solid #dfdfdf; 
    }
    >div{
      border-bottom: 1px solid #dfdfdf;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      >div{
        width: 50%;
      }
      >span{
        // width: 100%;
        // height: 100%;
        //display: block;
        display:flex;
        flex:1;
      }
    }
    .contrastDetailPopover{
      display: flex;
      flex-direction: row;
      flex:1;
      &:hover,&:active,&:focus,&:visited{
        background: #ceebe0;
      }
      
    }
    .stationContrastOne{
      //width: 50%;
      display: flex;
      flex:1;

      border-right: 1px solid #dfdfdf; 
      border-left: 0;
      justify-content: center;
    }
    .stationContrastTwo{
      //width: 50%;
      display: flex;
      border-right: 1px solid #dfdfdf; 
      flex:1;
      justify-content: center;
    }
    .differHighLight{
      display: flex;
      flex-direction: row;
      background: #fcffe5;
      &:hover,&:active,&:focus,&:visited{
        background: #ceebe0;
      }
      .stationContrastOne{
        display: flex;
        border-right: 1px solid #dfdfdf; 
        flex:1;
        justify-content: center;
      }
      .stationContrastTwo{
        display: flex;
        border-right: 1px solid #dfdfdf; 
        flex:1;
        justify-content: center;
      }
    }
  }
  .baseNameBox{
    display: flex;
    flex-direction: column;
    .baseName{
      display: flex;
      flex-direction: row;
      background:#f8f8f8;
      .baseClassifyName{
        border-bottom: 1px solid #dfdfdf;
        text-align: center;
        display: flex;
        justify-content: center;
        span{
          writing-mode: vertical-rl;
        }
      }
      .rowName{
        display: flex;
        flex-direction: column;
        line-height: 40px;
        text-align: right;
        border-left: 1px solid #dfdfdf;
        >div{
          padding-right: 12px;
          border-bottom: 1px solid #dfdfdf;
        }
      }
    }
  }
  
}
.contrastOverlayClassName{
  
  :global{
    .ant-popover-content{
      width: 848px;
      height: 360px;
      .ant-popover-inner{
        width: 100%;
        height: 100%;
        .ant-popover-inner-content {
          line-height: 360px;
          text-align: center;
          padding: 0px;
        }
      }
      
    }
    
  }
}

.stationContrastDetailBox{
  width: "848px";
  height: "364px";
  border-radius: "4px";
  padding-top: "20px";
  line-height: "360px";
}
