@import '../../../../theme/theme.scss';

.dataAnalysisScatter {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .scatterMain {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0;
    background-color: #ececec;
  }

}