@import '../../../../theme/theme.scss';

.dataAnalysisScatter {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .scatterMain {
    @include contentBoxStyle();
  }
}

// .light {
//   .scatterMain {
//     background-color: #f0f2f5;
//   }
// }

// .dark {
//   @import "../../../../theme/darkTheme.scss";

//   .scatterMain {
//     background-color: $background;
//   }
// }
