@import '../../../../theme/theme.scss';

.dataAnalysisScatter {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .scatterMain {
    display: flex;
    flex: 1;
    background-color: #ececec;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0;
  }
}

// .light {
//   .scatterMain {
//     background-color: #ececec;
//   }
// }

// .dark {
//   @import "../../../../theme/darkTheme.scss";

//   .scatterMain {
//     background-color: $background;
//   }
// }