@import "../../../../theme/theme.scss";
.allDeviceBox {
  display: flex;
  flex: 1;

  flex-direction: column;
  background: #fff;
  .graphStyle {
    display: flex;
    // flex:1;
    height: 600px;
    position: relative;
    .powerCurveChart {
      // height:70%;
      width: 100%;
    }
    .switchStyle {
      position: absolute;
      top: 68%;
      right: 10%;
      button{
        margin-right:4px;
      }
    }
    .formatStyle {
      // width: 150px;
      // height: 120px;
      display: flex;
      flex-direction: column;
      .topStyle {
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        height: 20px;
      }
      .lineStyle {
        line-height: 28px;
        height: 28px;
      }
    }
  }
  .filterStyle {
    display: flex;
    flex-direction: column;
    .searchPart {
      padding: 20px 0;
      display: flex;
      flex: 1;
      .stationSelect,
      .typeSelect,
      .timeSelect {
        display: flex;
        line-height: 40px;
        height: 40px;
        align-items: center;
        .text {
          text-align: right;
          margin-right: 8px;
          margin-left: 16px;
        }
      }
      .buttonBox{
        margin-left: 10px;
      }
      .buttonStyle {
        margin-left: 10px;
        line-height: 32px;
        height: 32px;
        margin-top: 3px;
      }
    }
    .showType {
      display: flex;
      border-top: 1px dotted $promptColor;
      border-bottom: 1px dotted $promptColor;
      align-items: center;
      .tabIcons {
        font-size: 24px;
        display: flex;
        .active,
        .normal {
          cursor: pointer;
          flex: 0 0 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .active {
          color: #fff;
          background-color: $themeColor;
        }
        .normal {
          color: #999;
          background-color: #f1f1f1;
        }
      }
    }
  }
  .windDeviceList {
    .tableHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
      height: 55px;
      padding: 0 28px;
      background-color: #fff;
    }
  }
}
