@import '../../../../../theme/theme';
.deviceManageContainer{
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
}
.deviceManage{
  
  background-color: $pageBackground;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  width: 100%;

  // padding: 24px 24px 0;
  .deviceManageMain{
    padding: 15px 24px 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    
    .allStationTitle{
      display: flex;
      padding-left: 15px;
      line-height: 40px;
      background: #f0f2f5;
      border-bottom: 1px solid $borderColor;
      p{
        width: 120px;
        text-align: center;
        cursor: pointer;
        margin-bottom: -2px;
        color: $themeColor;
      }
      .activeStation{
        position: relative;
        background: $pageGround;
        border-right: 1px solid $themeColor;
        border-left: 1px solid $themeColor;
        &::before{
          content: "";
          position: absolute;
          width: 120px;
          height: 2px;
          top: 0;
          left: -1px;
          background: $themeColor;
        }
      }
  
  }
    .deviceManageContent{
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex: 1;
      box-shadow:0 2px 4px 2px rgba(0,0,0,0.20);  
      margin: 0 2px 4px 2px;
      border-top: 1px solid #199475;
    }
  }
}