
@import '../../../../theme/theme.scss';


.overview{
  min-height: 100%;
  display: flex;
  flex:1;
  flex-direction: column;
  .contentBox{
    @include contentBoxStyle();
    flex: 1;
    display: block;
  }
}

.light.overview{
  background-color: #f0f2f5;
}

.dark.overview{
  background-image:linear-gradient(-118deg, #3b55aa 0%, #132267 96%);
}
