@import '../../../../../theme/theme.scss';
.faultWarnAlgorithm{
  width: 100%;
  padding: 9px 0 0 11px;
  .title{
    padding-left: 19px;
    font-family: "STHeitiSC-Medium", serif;
    font-size: 16px;
    color: #000000;
    line-height:32px;
  }
  .noData {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #fff;
    margin-top: 48px;
  }
  .warnBox{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    .warnItem{
      width:283px;
      height:118px;
      cursor: pointer;
      padding-top: 12px;
      margin: 0 0 20px 19px;
      border:1px solid $promptColor;
      &:hover{
        background-color: #fbe6e3;
        border: 1px solid $warnColor;
      }
      div:nth-of-type(1){
        padding: 0 5px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 10px;
        color: $pageGround;
        background-color: $warnColor;
        @include lineheight(20px);
      }
      div:nth-of-type(2){
        text-align: center;
        >span>span:nth-of-type(1){
          font-family: "STHeitiSC-Light", serif;
          font-size: 36px;
        }
      }
      div:nth-of-type(3){
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
      }
    }
    .successItem{
      width:283px;
      height:118px;
      cursor: pointer;
      padding-top: 12px;
      margin: 0 0 20px 19px;
      border:1px solid $promptColor;
      &:hover{
        background-color: #ceebe0;
        border: 1px solid $themeColor;
      }
      div:nth-of-type(1){
        padding: 0 5px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 10px;
        color: $themeColor;
        background-color: $pageGround;
        @include lineheight(20px);
      }
      div:nth-of-type(2){
        text-align: center;
        >span>span:nth-of-type(1){
          font-family: "STHeitiSC-Light", serif;
          font-size: 36px;
        }
      }
      div:nth-of-type(3){
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
