@import '../../../../../theme/theme.scss';

.pvStation{
  background: #fff;
  .pvStationTop{
    display: flex;
    flex-direction: column;
    .pvStationTitle{
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #dfdfdf;
      display: flex;
      justify-content: space-between;
      .pvStationName{
        display: flex;
        flex-direction: row;
        position: relative;
        .allStationModal{
          :global{
            .ant-modal-close{
              left: 0;
            }
            .ant-modal-header{
              text-indent: 2em;
            }
          }
          .provinceName{
            color:#999;
            text-align:left;
            line-height: 30px;
            background: #f8f8f8;
            height: 30px;
            text-indent: 1em;
            
          }
          .stationName{
            display: inline-block;
            width: 120px;
            height: 56px;
            line-height: 56px;
            text-align: left;
            text-indent: 1em;
            cursor: pointer;
          }
          .currentStationName{
            display: inline-block;
            width: 120px;
            height: 56px;
            line-height: 56px;
            text-align: left;
            text-indent: 1em;
            cursor: pointer;
            color: $themeColor;
          }
          .stationName:hover,.stationName:focus{
            color: $themeColor;
          }
        }
        .stationToggle{
          display: flex;
          position: relative;
          cursor: pointer;
        }
        h3{
          font-size: 18px;
          color: #666;
          margin-right: 20px;
        }
        span{
          color: #999;
          margin-right: 15px;
        }
        :global{
          .anticon-swap{
            color: $themeColor;
            margin: 0 15px 0 20px; 
            display: inline-block;
            line-height: 60px;
          }
          .ant-modal{
            margin: 0;
            top: 0;
          }
          .ant-modal-wrap{
            position: absolute;
            overflow: unset;
            a{
              color: $themeColor;
            }
          }
          .ant-modal-body{
            padding: 10px 10px 40px 40px;
          }
        }
      }
      .backIcon{
        border-left: 1px solid #dfdfdf;
        width: 60px;
        line-height: 60px;
        text-align: center;
        color: #999;
        cursor: pointer;
      }
    }
    .trueTimeData{
      display: flex;
      padding: 16px;
      justify-content: space-around;
      color: #999;
      .pvlogo{
        :global{
          .iconfont {
            display: block;
            margin-top: 25px;
            margin-right: 30px;
            color: $themeColor;
            cursor: pointer;
          }
          .iconfont:hover{
            color: $themeColor;
          }
        }
      }
      .powerScale{
        width: 215px;
      }
      .annualEnergyScale{
        width: 230px;
      }
      div{
        
        .trueTimeValue{
          font-size: 24px;
          color: $themeColor;
          display: flex;
          justify-content: space-between;
          line-height: 24px;
        }
        .trueTimeUnit{
          margin-top: 21px;
        }
        .trueTimeDesc{
          color: #999;
          display: flex;
          justify-content: space-between;
          
        }
      }
      .yearPlanRate{
        width: 80px;
        height: 25px;
        border-radius: 25px;
        box-shadow:0 1px 2px 0 rgba(0,0,0,0.20);
        color: $themeColor;
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  .outputPowerDiagram{
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    .powerDiagramBox{
      position: relative;
      width: 50%;
      .powerRadio{
        position: absolute;
        top: 20px;
        right: 30px;
        :global{
          .ant-radio-button-wrapper-checked:first-child {
            border-color: $themeColor;
          }
          .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
            color: #999;
          }
          .ant-radio-button-wrapper-checked {
            border-color: $themeColor;
            -webkit-box-shadow: -1px 0 0 0 $themeColor;
            box-shadow: -1px 0 0 0 $themeColor;
            color: #fff;
            background: $themeColor;
          }
        }
      }
      :global{
        .iconfont{
          position: absolute;
          top: 20px;
          right: 5px;
          cursor: pointer;
        }
        .iconfont:hover{
          color: $themeColor;
        }
      }
    }
    .capabilityDiagramBox{
      position: relative;
      width: 50%;
      :global{
        .iconfont{
          position: absolute;
          top: 20px;
          right: 10px;
          cursor: pointer;
        }
        .iconfont:hover{
          color: $themeColor;
        }
      }
      
    } 
  }
  .cardSection{ 
    text-align: center;
    margin: 20px;
    .weatherList{
      border: 1px solid #dfdfdf;
      border-radius:4px;
      height: 140px;
      padding: 20px;
      position: relative;
      :global{
        .ant-btn{
          padding: 0;
        }
      }
      .noweather{
        text-align: center;
        height: 100%;
      }
      .lightGreen{
        color: #78da72;
      }
      .weatherLeft{
        position: absolute;
        left: 20px;
        top: 55px;
        width: 33px;
        height: 23px;
        text-align: center;
      }
      .weatherRight{
        position: absolute;
        right: 20px;
        top: 55px;
        width: 33px;
        height: 23px;
        text-align: center;
      }
    }
    .operatorList{
      border: 1px solid #dfdfdf;
      border-radius:4px;
      height: 140px;
      padding: 0 20px;
      position: relative;
      .blurbg{
        position: absolute;
        left: 23px;
        bottom: -23px;
      }
      .nopeople{
        div{
          display: inline-block;
          margin: 0 50px;
        }
        img{
          display: inline-block;
        }
      }
      .cardTitle{
        line-height: 40px;
        text-align: left;
        padding-left: 20px;
        .operatorContent{
          .userInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
            color: #999;
          }
        }
        :global{
          .iconfont{
            color: #666;
            cursor: pointer;
          }
        }
      }
      :global{
        .ant-carousel .slick-dots li button{
          width: 7px;
          height: 7px;
          background-color: #0e1713;
          border-radius: 7px;
        }
        .ant-carousel .slick-dots li.slick-active button {
          background-color: $themeColor;
          opacity: 1;
        }
        .ant-carousel .slick-dots{
          bottom: -15px;
        }
        .ant-carousel .slick-dots li{
          margin: 0 6px;
        }

      }
    }
    .alarmList{
      border: 1px solid #dfdfdf;
      border-radius:4px;
      height: 140px;
      padding: 10px;
      :global{
        .iconfont:hover{
          color: $themeColor;
        }
      }
      .alarmContent{
        display: flex;
        justify-content: space-around;
        line-height: 30px;
        margin-top: 10px;
        .oneWarning{
          border-bottom: 3px solid #a42b2c;
        }
        .twoWarning{
          border-bottom: 3px solid #e08031;
        }
        .threeWarning{
          border-bottom: 3px solid #f9b600;
        }
        .fourWarning{
          border-bottom: 3px solid #fbe6e3;
        }
      }
      .cardTitle{
        line-height: 30px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        :global{
          .iconfont{
            color: #666;
            cursor: pointer;
          }
        }
      }
    }
    .workList{
      padding: 10px;
      border: 1px solid #dfdfdf;
      border-radius:4px;
      height: 140px;
      :global{
        .iconfont:hover{
          color: $themeColor;
        }
      }
      .workContent{
        display: flex;
        justify-content: space-around;
        line-height: 30px;
        margin-top: 10px;
      }
      .cardTitle{
        line-height: 30px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        :global{
          .iconfont{
            color: #666;
            cursor: pointer;
          }
        }
      }
    }
  }
  .threadAndDevice{
    .deviceTypeFlow{
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      color: #dfdfdf;
      background: #f8f8f8;
      padding: 16px 25px 0;
      .deviceTypeItem{
        width: 110px;
        height: 90px;
        padding: 10px 10px 0;
        border: 0;
        color: #dfdfdf;
        .deviceTypeIcon{
          margin: 10px;
        }
      }
      :global{
        .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
          color: $themeColor;
          position: relative;
          background: #fff;
        }
        .ant-radio-button-wrapper{
          background: #f8f8f8;
        }
        .ant-radio-button-wrapper-checked {
          background: #fff;
          border-color: $themeColor;
          color: $themeColor;
          -webkit-box-shadow: none;
          box-shadow: none;
          z-index: 1;
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
          width: 0px;
        }
        .iconfont{
          font-size: 27px;
          cursor: pointer;
        }
        .iconfont:hover{
          color: $themeColor;
        }
      }
      
      .weatherStation{
        border:1px solid #dfdfdf;
        border-radius:4px;
        width:72px;
        height:72px;
        margin-right: 60px;
        cursor: pointer;
        :global{
          .icon-weather{
            display: block;
            color:#dfdfdf;
          }
          .icon-weather:hover{
            color: #fff;
          }
          .icon-weather:before {
            content: "\e68e";
            width: 30px;
            height: 31px;
          }
        }
      }
      .weatherStation:hover{
        border:1px solid $themeColor;
        background: $themeColor;
        color: #fff;
      }
    }
    .deviceList{
      background: #fff;
      
    }
    :global{
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
        height: 33px;
      }
      .ant-tabs-bar {
        border-top: 1px dashed #dfdfdf;
        border-bottom: 1px dashed #dfdfdf;
        margin: 0;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar {
        border-color: #fff;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        border: 1px solid #fff;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        background: #fff;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        width:80px;
        height:33px;
        text-align: center;
        color:#999;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        background:#f8f8f8;
        border-radius:4px 4px 0 0;
        width:80px;
        height:33px;
        text-align: center;
        color:#666;
      }
    }
    
  }
}