@mixin omit() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
}


.DeviceAccountTable {
  padding-right: 1px;
  background-color: #fff;
  flex: 1 auto;
  box-shadow:0 2px 5px 3px rgba(0,0,0,0.20);  
  margin: 0 2px 4px 2px;
  // width: 100%;
  table{
    table-layout: fixed;
    width:100%;
  }
  .madeNames,.manufactorName,.supplierNames,.deviceModeName,.assetsName{
     @include omit();
  }
  .look{
    font-size: 20px;
    color: var(--themeColor);
    cursor: pointer;
    &:hover{
          color: #ff9900;
    }
  }
}
