@mixin omit() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
}


.DeviceAccountTable {
  padding-right: 1px;
  // width: 100%;
  table{
    table-layout: fixed;
  }
  .madeNames,.manufactorName,.supplierNames,.deviceModeName,.assetsName{
     @include omit();
  }
  .look{
    font-size: 20px;
    color: var(--themeColor);
    cursor: pointer;
    &:hover{
          color: #ff9900;
    }
  }
}
