@import '../../../../theme/theme.scss';

.cneTipsBox {
  .cneTips {
    border-radius: 4px;
    padding: 15px 20px 20px 20px;
    .tipsContent {
      display: flex;
      align-items: flex-start;
      .icon {
        border-radius: 50%;
        margin-right: 8px;
        margin-top: 2px;
      }
      .tipText {
        font-size: 12px;
      }
    }
    .operationHandle {
      text-align: right;
      margin-top: 16px;
      span {
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        padding: 0 8px;
      }
      .confirmBtn {
        width: 92px;
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        margin-left: 22px;
        .confirmText{
          &:hover {
            border-radius: 55%;
            width: 64px;
            display: inline-block;
            height: 24px;
            line-height: 24px;
          }
        }
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}

.light {
  .cneTips {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    padding: 16px 16px 20px 16px;
    .tipsContent {
      .icon {
        background-color: #f9b600;
        border-radius: 50%;
        color: #fff;
        margin-right: 8px;
      }
      .tipText {
        color: $darkColor;
        font-size: 12px;
        line-height: 30px;
      }
    }
    .operationHandle {
      text-align: right;
      margin-top: 16px;
      span {
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        padding: 0 8px;
        color: $darkColor;
        &:hover {
          color: $themeColor;
        }
      }
      .cancelText{
        color: #666;
      }
      .confirmBtn {
        border: 1px solid $themeColor;
        background-color: #f0f9f5;
        color: $themeColor;
        .confirmText{
          &:hover {
            background-color: $slideSelectColor;
          }
        }
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        background-color: transparent;
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}

.dark {
  @import "../../../../theme/darkTheme.scss";
  .cneTips {
    background: $slide-backgound;
    border: 1px solid $slide-border;
    box-shadow: inset 0 0 5px 2px $slide-border-shadow;
    .tipsContent {
      .icon {
        background-color: #f8b14e;
        color: #999;
      }
      .tipText {
        color: $fontColor-invert;
      }
    }
    .operationHandle {
      span {
        color: $fontColor-invert;
        &:hover {
          color: $fontColor-hover;
        }
      }
      .confirmBtn {
        border: 1px solid $border-color;
        background: $button-active;
        &:hover {
          color: $fontColor-invert;
        }
      }
    }
  }
  :global {
    .ant-modal {
      .ant-modal-content {
        background-color: transparent;
        border: none;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}
