


@import '../../../../../theme/theme.scss';


.userMain{
  flex: 1 0 auto;
  background-color: #fff;
  width: 100%;
  .userSearchFilter{
    .userSearch{
      line-height: 50px;
      background: #fbfbfb;
      display: flex;
      padding-left: 14px;
      span{
        margin: 0 10px;
      }
      Input{
        width: 160px;
        margin:10px 30px 0 0;
      }
      Button{
        margin-top: 10px;
      }
    }
    .userFilter{
      display: flex;
      justify-content: flex-start;
      margin: 20px 0;
      .userRole{
        :global{
          .ant-select-selection__placeholder{
            display: block;
          }
          .ant-select-selection-selected-value{
            display: none;
          }
        }
        
        .filterCondition{
          margin: 30px 10px 0 26px;
        }
      }
      .userStatus{
        margin-left: 30%;
        >span{ 
          margin-right: 20px;
        }
        :global{
          .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            background-color: #199475;
            border-color: #199475;
            color: #fff;
          }
          .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
            color: #199475;
            position: relative;
          }
        }
      }
      
      .selectedRoles{
        width: 100px;
        ul.listbox{
          width: 200px;
        }
        :global{
          .ant-select-selection .ant-select-selection__rendered ul {
            // display: none;
          }
        }
      }
      
    }

    .selectedRolesBox{
      width: 100%;
      padding-left: 25px;
      Button{
        margin: 0px 5px 20px;
      }
      .emptyCodition{
        color: #199475;
      }
    }
  }
  .userList{
    .userHelper{
      display: flex;
      justify-content: space-between;
      height: 72px;
      line-height: 72px;
      Button{
        margin: 0 6px;
        color: $themeColor;
        border: 1px solid $themeColor;
      }
      .addUser{
        border: 1px solid $themeColor;
        padding : 0;
        margin-left: 24px;
        margin-right: 12px;
        i{
          background: $themeColor;
          color: #fff;
          width: 28px;
          line-height: 30px;
          height: 100%;
          display: inline-block;
        }
        .text{
          color: $themeColor;
          width: 38px;
          text-align: center;
          display: inline-block;
          margin: 0;
          height: 100%;
          line-height: 30px;
        }
        @include highLight($themeColor);
        &:hover{
          .text{
            background: $themeColor;
            color: #fff;
          }
        }
      }
      .userOperate{
        display: inline-block;
        .handleDropdown{
          width: 120px;
          :global{
            .ant-select-dropdown-menu-item{
              color:$themeColor;
            }
            .ant-select-dropdown-menu-item-disabled{
              color:$promptColor;
            }
          }
        }
        :global{
          .ant-select{
            width: 78px;
          }
        }
      }

    }
  }
  
}
.responsibleDetails{
  color: $lightColor;
  .eachStation{
    .square{
      width: 4px;
      height: 4px;
      background-color: $lightColor;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      margin-top: -4px;        
    }
    @include lineheight(30px);
  }
  :global{
    .ant-popover-title{
      color: $lightColor;
    }
  }
}


