.enterpriseContainerBox{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex:1;
.enterpriseContainer{
  display: flex;
  flex-direction: column;
  flex:1;
  //width: 100%;
  //min-height: 100%;
  padding: 24px 24px 0;
  background:#ececec;
  justify-content: space-between;
  .enterpriseFooter{
    text-align: right;
    height: 60px;
    line-height: 60px;
    color:#353535;
  }
  :global{
    .enterpriseSide-enter{
      transform: translateX(0);
    }
    .enterpriseSide-enter-active{
      transform: translateX(-100%);
      transition: all 500ms ease;
    }
    .enterpriseSide-enter-done{
      transform: translateX(-100%);
    }
    .enterpriseSide-exit{
      transform: translateX(-100%);
    }
    .enterpriseSide-exit-active{
      transform: translateX(0);
      transition: all 500ms ease;
    }
    .enterpriseSide-exit-done{
      transform: translateX(0);
    }
  }
}
}