
@import '../../../theme/theme.scss';

.singleStationImportFileModel{
  margin-left: 12px;
  .addButton {
    display: flex;
    padding: 0 15px 0 6px;
    .icon {
      margin: 0 10px 0 0;
    }
  }
}
.uploadSingleStationModal{
  .stationModalContent{
    .stationType{
      margin-top: 12px;
      :global{
        .ant-radio-button-wrapper{
          color: $darkColor;
        }
        .ant-radio-button-wrapper-checked{
          border-color: $themeColor;
          background-color: $themeColor;
          color: #fff;
          .ant-radio-button-checked{
            color: #fff;
          }
        }
      }
    }
    .provinceList{
      margin: 0 4px;
      max-height: 344px;
      height: 344px;
      overflow-y: auto;
      .provinceItem{
        margin-top: 20px;
        .name{
          color: $darkColor;
        }
        .stationList{
          display: flex;
          flex-wrap: wrap;
          margin-right: 12px;
          .eachStation{
            width: 135px;
            height: 24px;
            margin-top: 8px;
            margin-right: 8px;
            background-color: #f1f1f1;
            color:$darkColor;
            border: none;
          }
          .eachStation:nth-of-type(4){
            margin-right: 0;
          }
        }
      }
    }
  }
  :global{
    .ant-modal-close-x{
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    .ant-modal-header{
      height: 40px;
      padding: 0 12px 0 20px;
      border-bottom: 1px solid $promptColor;
      .ant-modal-title{
        color: $darkColor;
        line-height: 40px;
      }
    }
    .ant-modal-body{
      padding: 0 0 12px 20px;
    }
  }
}