@import '../../../../../theme/theme.scss';

.deviceMode {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: #f0f2f5;

    .editPart,
    .formItemStyle {
      display: flex;
      margin: 0 12px 0 14px;

      .addButton {
        margin: 4px auto;
        width: 90px;
      }
    }


  }

  .tableStyles {
    display: flex;
    flex-direction: column;
    flex: 1;

    @mixin textOverflow() {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: keep-all;
    }

    .deviceModeName{
      @include textOverflow();
      max-width: calc((100vw - 230px) * 0.24 - 10px);
    }

    .manufactorName {
      @include textOverflow();
      max-width: calc((100vw - 230px) * 0.2 - 10px);
    }

    .stationType {
      @include textOverflow();
      max-width: calc((100vw - 230px) * 0.09 - 10px);
    }

    .assetsName {
      @include textOverflow();
      max-width: calc((100vw - 230px) * 0.15 - 10px);
    }

    .editStyle {
      @include textOverflow();
      width: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;

      span{
        cursor: pointer;
        color: $themeColor;

        &:hover{
          color: #f9b600;
        }
      }
    }

    :global {

      .icon-edit,
      .icon-del,
      icon-doned {
        font-size: 20px;

        &:hover {
          color: #199475
        }
      }

      .icon-edit,
      .icon-del {
        // color:#199475;
      }
    }

    .paginationStyle {
      display: flex;
      height: 48px;
      line-height: 48px;
      border: 1px solid #e1e2e2;
      justify-content: space-between;

      .rightSeach {
        margin-left: 28px;
        width: 200px;

        :global {
          .ant-input-search-icon {
            color: #199475;
          }

          .ant-input-affix-wrapper .ant-input:not(:last-child) {
            padding-right: 47px;
          }
        }
      }
    }
  }
}

.modeModal {
  .nextButton {
    margin-left: 194px;
    width: 90px;
  }

  :global {
    .ant-form {
      .ant-form-item {
        display: flex;

        .ant-form-item-label {
          display: flex;
          flex: 1;
          justify-content: flex-end;
        }

        .ant-form-item-control-wrapper {
          display: flex;
          flex: 2;
        }
      }
    }
  }
}
