@import '../../../../../theme/theme.scss';

.stationChange{
  position: absolute;
  background-color: #fff;
  border-right: 1px solid $promptColor;
  border-bottom: 1px solid $promptColor;
  z-index: 9999;
  left: 0px;
  top: 0px;
  width: 300px;
  max-height: calc(100vh - 83px);
  overflow: auto;
  .stationTitle{
    color: $darkColor;
    font-size: 18px;
    height: 61px;
    line-height: 65px;
    margin-bottom: 0px;
    .titleIcon{
      cursor: pointer;
      margin-left: 32px;
      margin-right: 12px;
    }
  }
  .stationList{
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    .provinceName{
      color:#999;
      text-align:left;
      line-height: 30px;
      background: #f8f8f8;
      height: 30px;
      text-indent: 1em;
      
    }
    .stationName{
      display: block;
      float: left;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-align: left;
      text-indent: 1em;
      cursor: pointer;
      color:#666;
      max-width:120px;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
    }
    .currentStationName{
      display: block;
      float: left;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-align: left;
      text-indent: 1em;
      cursor: pointer;
      color: $themeColor;
      max-width:120px;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .stationName:hover,.stationName:focus{
      color: $themeColor;
    }
    .eachStation{
      width: 50%;
      padding-left: 40px;
      cursor: pointer;
      color: $darkColor;
      height: 28px;
      line-height: 28px;
      &:hover{
        background-color: #eee;
      }
    }
  }
}