@import '../../../../../theme/theme.scss';
.faultAllFanHistory{
  padding-top: 20px;
  min-height: 520px;
  .fanHistoryPagination{
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $promptColor;
  }
}
