
@import '../../../../../theme/theme.scss';


  .warningTipWrapBox{
    .warningTip{
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
      border-radius: 4px;
      background-color: #fff;
      padding: 16px 16px 0 16px;
      .textArea{
        display: flex;
        .icon{
          background-color: #f9b600;
          border-radius: 50%;
          color: #fff;
          margin-right: 8px;
          height: 14px;
        }
        .text{
          color: $darkColor;
          font-size: 12px;
        }
      }
      .handle{
        text-align: right;
        margin-top: 30px;
        span{
          cursor: pointer;
          display: inline-block;
          border-radius: 4px;
          margin-left: 24px;
          padding:0 8px;
          color: $darkColor;
          &:hover{
            background-color: $themeColor;
            color: #fff;
          }
        }
        .confirmBtn{
          background-color: $themeColor;
          color: #fff;
        }
      }
    }
    :global{
      .ant-modal{
        .ant-modal-content{
          background-color: transparent;
          border: none;
          .ant-modal-body{
            padding: 0;
          }
        }
      }
      
    }
  }
  
