@import '../../../../theme/theme.scss';
.manufacturers{
    .search{
        background: $pageGround;
        display: flex;
        flex-direction: column;
        height: 124px;
        .condition{
            display: flex;
            flex-direction: row;
            
        }
    }
}