@import "../../../../theme/theme.scss";

.manufacturers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .search {
    background: $pageGround;
    display: flex;
    flex-direction: column;
    padding: 20px 28px;
    .condition {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 42px;

      .select {
        margin-left: 15px;
      }
    }

    .antherCondition {
      margin-top: 12px;
    }

    :global {
      .ant-input {
        width: 225px;
      }
    }
  }

  .manuCont {
    display: flex;
    flex-direction: column;
    background: $pageGround;
    margin-top: 12px;

    > div {
      display: flex;
      // flex: 1;
      height: 383px;
      padding-top: 28px;
      border-bottom: 1px solid $promptColor;
    }
  }
}

.light {
  .search {
    background: $pageGround;
    box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
  }
  .manuCont {
    background: $pageGround;
    box-shadow:0 2px 5px 3px rgba(208,208,208,0.60);
    > div:not(:last-child) {
      border-bottom: 1px dashed var(--themeColor);
    }
  }

  .tooltipBox {
    @include tooltipBox(#ccc);
  }
}

.dark {
}
